EXTENSION_SERVER/n8n_diagrams/Criação de Tabelas Relacionais.json
{
  "name": "Criação de Tabelas Relacionais",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        208
      ],
      "id": "a50ff014-ef66-4443-a0d6-4a9b1d75e7c8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -880,
        48
      ],
      "id": "d884c59c-5d7e-42ce-a4f8-7a617ad907af",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02939f20-b378-4882-98db-40e232ad58fa",
              "name": "endpoints",
              "value": "={{ [ {table: 'vhs_clk_cost_center_project', id_field: 'id_centro_custos', 'tabelas_relacionadas': ['vhs_centro_custos', 'clk_projetos' ]} ] }}",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        128
      ],
      "id": "7b631e80-0e2a-442e-9be1-23b25404877a",
      "name": "Tabelas Relacionais"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM raw_data.{{ $json.tabelas_relacionadas[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -96,
        48
      ],
      "id": "cf3bdb3a-aa87-4294-a3ad-531f687dd022",
      "name": "Buscar Relações",
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "endpoints",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -336,
        128
      ],
      "id": "59af682d-84e9-4422-8119-ce5e925a4d33",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM raw_data.{{ $json.tabelas_relacionadas[1] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -96,
        224
      ],
      "id": "209a7274-cc3e-4790-8566-bb112d1d67f5",
      "name": "Buscar Relações1",
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        32
      ],
      "id": "ef18a260-3924-4645-9d64-83e39c420a5f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        224
      ],
      "id": "b60a80ee-f697-4963-bede-054457977a04",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Tabelas Relacionais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Tabelas Relacionais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tabelas Relacionais": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Buscar Relações",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Relações1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Relações": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Relações1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7e51d033-03ed-4a83-9e2d-662883bed700",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "KtRGvdk-hIdXGBI34o2GA",
  "tags": []
}