EXTENSION_SERVER/n8n_diagrams/Extensao VHSYS - CC Reset.json
{
  "name": "Extensao VHSYS - CC Reset",
  "nodes": [
    {
      "parameters": {},
      "id": "f1d54ab0-7490-4edf-8344-3ffd8cb7ca2e",
      "name": "Quando Chamado por Outro Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -2256,
        -176
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE auxiliary.update_cc_report_status\nSET\n  entries_runned = 0,\n  outputs_runned = 0,\n  updated_at = (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp\nRETURNING cc_id, entries_runned, outputs_runned, updated_at;",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "single"
        }
      },
      "id": "ecbf9a3c-9db5-4aab-a72f-182c4b5df32d",
      "name": "Resetar Status do CC Report",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -2032,
        -176
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json);\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'cc_report/reset',\n  event: 'cc_report_reset',\n  total_rows: rows.length,\n  level: 'info'\n}));\n\nreturn {\n  statusCode: 201,\n  body: { message: 'Status do CC Report resetado com sucesso' }\n};"
      },
      "id": "cb4ce876-3837-4eba-8185-4ff3848135e8",
      "name": "Montar Resposta de Sucesso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        -272
      ]
    },
    {
      "parameters": {
        "jsCode": "const errData = $input.first().json;\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'cc_report/reset',\n  event: 'db_error',\n  message: errData.message || 'Erro desconhecido no banco',\n  level: 'error'\n}));\n\nreturn {\n  statusCode: 500,\n  body: { ok: false, error: 'Erro de banco', message: 'Nao foi possivel resetar o status do cc report' }\n};"
      },
      "id": "76f5d85e-1231-4e44-95fa-9f20b0caf0a1",
      "name": "Montar Resposta de Erro de Banco",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        -80
      ]
    },
    {
      "parameters": {
        "content": "## Arquitetura do Fluxo\n\nReinicia o status de processamento de todos os CC.\n\nFluxo:\n1) update global\n2) resposta 201 no sucesso\n3) resposta 500 em erro",
        "height": 236,
        "width": 360,
        "color": 7
      },
      "id": "0b089efb-d344-40bb-bdc2-7a2a7d9c6d82",
      "name": "Arquitetura do Fluxo",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2656,
        -240
      ]
    },
    {
      "parameters": {
        "content": "## Reset de Flags\n\nExecuta UPDATE em update_cc_report_status:\n- entries_runned = 0\n- outputs_runned = 0\n- updated_at = agora",
        "height": 204,
        "color": 6
      },
      "id": "9a1cc1b4-7e4d-425d-89b7-755f43d06ace",
      "name": "Reset de Flags",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2096,
        -416
      ]
    },
    {
      "parameters": {
        "content": "## Resposta de Sucesso\n\nQuando o update conclui, retorna 201 com mensagem de reset realizado.",
        "height": 138,
        "width": 280,
        "color": 2
      },
      "id": "a88a7b46-6041-4a8a-9224-30c51cc48dbc",
      "name": "Resposta de Sucesso",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1520,
        -288
      ]
    },
    {
      "parameters": {
        "content": "## Caminho de Erro\n\nSe o Postgres falhar, usa a saida de erro e retorna 500 padrao.",
        "height": 130,
        "width": 280,
        "color": 3
      },
      "id": "bd8653de-9b94-4145-a5cb-70caa4afc231",
      "name": "Caminho de Erro",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1520,
        -96
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Quando Chamado por Outro Workflow": {
      "main": [
        [
          {
            "node": "Resetar Status do CC Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resetar Status do CC Report": {
      "main": [
        [
          {
            "node": "Montar Resposta de Sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Montar Resposta de Erro de Banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "24449b7f-3e06-49ee-b511-941d08b59904",
  "meta": {
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "FqR4ELOJHENehiJO",
  "tags": []
}