EXTENSION_SERVER/n8n_diagrams/Extensão VHSYS - Atualização de Status dos Serviços.json
{
  "name": "Extensão VHSYS - Atualização de Status dos Serviços",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Return the response data as-is\nconst response = $input.first().json;\nreturn response;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -96
      ],
      "id": "495adce8-141f-4745-99cc-a38b46570b37",
      "name": "Retornar Resposta"
    },
    {
      "parameters": {
        "jsCode": "// ── Erro do Postgres (ACTION não existe ou falha de conexão) ──\nconst errData = $input.first().json;\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'update_services',\n  event: 'db_error',\n  message: errData.message || 'Unknown DB error',\n  level: 'error'\n}));\n\nreturn {\n  statusCode: 500,\n  body: { ok: false, error: 'Database error', message: 'Could not update service status' }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        0
      ],
      "id": "3de71df8-5915-42af-aece-774545fb5726",
      "name": "Montar Resposta de Erro"
    },
    {
      "parameters": {
        "jsCode": "// ── Sucesso: ACTION foi atualizado no banco ──\nconst dbRow = $input.first().json;\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'update_services',\n  event: 'status_updated',\n  action: dbRow.ACTION,\n  run_status: dbRow.RUN_STATUS,\n  last_update: dbRow.LAST_UPDATE,\n  level: 'info'\n}));\n\nreturn {\n  statusCode: 201,\n  body: { message: 'Update extension service status' }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        -224
      ],
      "id": "e106fb83-3693-442f-9620-961a043a160e",
      "name": "Montar Resposta de Sucesso"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE auxiliary.update_extension_services\nSET\n  \"RUN_STATUS\"  = {{ $json.RUNNING_STATUS }}::integer,\n  \"LAST_UPDATE\" = (CURRENT_TIMESTAMP AT TIME ZONE 'America/Sao_Paulo')::timestamp\nWHERE \"ACTION\" = '{{ $json.ACTION }}'\nRETURNING \"ACTION\", \"RUN_STATUS\", \"LAST_UPDATE\";",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "single"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -640,
        -176
      ],
      "id": "13b2e8b1-a661-4437-911a-b716171c9e94",
      "name": "Atualizar Status do Servico",
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json._valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "8b1b030f-52a0-4f75-8d5e-c5d42ceb0900"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -864,
        -96
      ],
      "id": "4f255821-fae2-4063-9b5e-a2370454ab8c",
      "name": "Dados Estao Corretos?"
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// VHSYS :: update_services\n// Rota   : PUT /update_services\n// Fase 2 : Núcleo de status e controle\n// ─────────────────────────────────────────────\n// Input  : { ACTION: string, RUNNING_STATUS: int }\n// Output : { message: 'Update extension service status' } HTTP 201\n// Banco  : UPDATE update_extension_services SET RUN_STATUS, LAST_UPDATE\n// Chave  : ACTION (PK)\n// ─────────────────────────────────────────────\n\nconst body = $input.first().json.body || {};\nconst ACTION = (body.ACTION || '').toString().trim();\nconst RUNNING_STATUS = parseInt(body.RUNNING_STATUS, 10);\n\nconst errors = [];\n\nif (!ACTION) {\n  errors.push('Campo ACTION é obrigatório');\n}\nif (isNaN(RUNNING_STATUS)) {\n  errors.push('Campo RUNNING_STATUS deve ser número inteiro');\n} else if (![0, 1, 2, -1].includes(RUNNING_STATUS)) {\n  errors.push('RUNNING_STATUS inválido. Valores aceitos: -1 (erro), 0 (parado), 1 (em execução), 2 (finalizado)');\n}\n\nif (errors.length > 0) {\n  console.log(JSON.stringify({\n    timestamp: new Date().toISOString(),\n    route: 'update_services',\n    event: 'validation_failed',\n    errors,\n    level: 'warn'\n  }));\n  return {\n    _valid: false,\n    _errors: errors,\n    statusCode: 400,\n    body: { ok: false, error: 'Validation failed', details: errors }\n  };\n}\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'update_services',\n  event: 'input_validated',\n  action: ACTION,\n  run_status: RUNNING_STATUS,\n  level: 'info'\n}));\n\nreturn {\n  _valid: true,\n  ACTION,\n  RUNNING_STATUS\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        -96
      ],
      "id": "9a9e7c64-baaf-471d-8c4b-2744bded2c53",
      "name": "Validar Entrada"
    },
    {
      "parameters": {},
      "id": "962b5fe7-a111-4ef2-97f2-e98da7b4cb84",
      "name": "Inicio do Fluxo",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1312,
        -96
      ]
    },
    {
      "parameters": {
        "content": "## Entrada de Dados\n\nRecebe a chamada interna da rota update_services.\n\nObjetivo:\n- validar ACTION e RUNNING_STATUS\n- encaminhar apenas dados consistentes",
        "height": 216,
        "width": 420,
        "color": 6
      },
      "id": "ab810776-f927-445a-9bd6-2b97466ee868",
      "name": "Entrada de Dados",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1824,
        -144
      ]
    },
    {
      "parameters": {
        "content": "## Validacao do Payload\n\nConfere obrigatoriedade de ACTION e faixa permitida de RUNNING_STATUS.\n\nValores aceitos:\n-1, 0, 1, 2",
        "height": 184,
        "width": 308,
        "color": 7
      },
      "id": "e9da7ce5-b187-4139-b036-d49d2be465a4",
      "name": "Validacao do Payload",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1200,
        96
      ]
    },
    {
      "parameters": {
        "content": "## Persistencia no Banco\n\nAtualiza RUN_STATUS e LAST_UPDATE em auxiliary.update_extension_services.\n\nChave usada:\n- ACTION",
        "height": 184,
        "width": 356,
        "color": 2
      },
      "id": "5b0788f2-c8da-4383-acb8-ff462a0b598d",
      "name": "Persistencia no Banco",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -768,
        -400
      ]
    },
    {
      "parameters": {
        "content": "## Retorno do Fluxo\n\nConsolida o resultado para o chamador.\n\nSaidas:\n- sucesso com confirmacao\n- erro em caso de falha de validacao ou banco",
        "height": 216,
        "width": 356,
        "color": 5
      },
      "id": "f8ecf517-a620-4969-8dfa-a289eb63840e",
      "name": "Retorno do Fluxo",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        32,
        -144
      ]
    }
  ],
  "pinData": {
    "Inicio do Fluxo": [
      {
        "json": {
          "route": "update_services",
          "method": "GET",
          "body": {
            "ACTION": "EMPLOYERS",
            "RUNNING_STATUS": 2
          },
          "query": {},
          "parameters": {
            "rt_token": null
          },
          "original_request": {
            "headers": {
              "host": "n8n.srv1252717.hstgr.cloud",
              "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
              "content-length": "41",
              "accept": "*/*",
              "accept-encoding": "gzip, deflate, br, zstd",
              "accept-language": "en-US,en-GB;q=0.9,en;q=0.8,pt-BR;q=0.7,pt;q=0.6",
              "content-type": "application/json",
              "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX186CoFlNALGW5xLKha89a9b0jl8sl0uuOc%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19Tgc37yYdgQHcHM3JH5d6N0WF0ZArVUH4%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2BWx7DtR2rj2SvnapUOLQldIiuJ6igGNsbj1oYZcVQ5emWY62VoBmLg9v5i3mrxmvz3oc7Xesx8xA%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19rR8Rlur4uda09tXz4raifGPVNvnjwzO5ryWBgQ0XUHq0gWvchaoITGmsSRpJUAtZU2dcZiojUOhUSB5e%2FHgCOACCB%2Fo8zvD3M3PdMbqsBpjRwRXVTwvheS2hXy6pSMUIk2y%2BzkEmW1ENdDnU9VqzR14RrFTwcz4w%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2B9cZlV1AklI0qH4rKZXIstwN945XF4oggfiz1XgeFqnJ7m3bsy8o3DBruXR1SAdZDZxz14cJRX60YwnCDpXajcrOQV2IicHKn8e3zhRGgs3ZTLdvVXlUVsHEl5tSiIXlP6c3uIxvjupC%2FfTyVwmajPpl9mChI4a3k%3D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2FPAdVxpFtbRaW%2BAlzPMaMKLDbE6Zjd32YLFYj%2B351xhgEYcDPOhh6EjSYBM%2FH2DUtuqKkHdLSJnP9VMCmmJ0R11kzsoNwBWAYSqTQiYjF653kUNhTY2bnwtKLJZ1mK7p1JQ205KD8fAw%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22%24device_id%22%3A%22019c3304-50e2-76c3-84db-36119f648c39%22%2C%22distinct_id%22%3A%22175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c%2381f34a05-d25b-47ef-a17b-3ead2bccf5e2%22%2C%22%24sesid%22%3A%5B1774226638324%2C%22019d1825-fe9b-76d9-a6f5-f4eda0d8f5a4%22%2C1774226636442%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n.srv1252717.hstgr.cloud%2Fworkflow%2F-sHYewtSFxMznnvdHtAc8%22%7D%2C%22%24user_state%22%3A%22identified%22%7D",
              "origin": "https://n8n.srv1252717.hstgr.cloud",
              "priority": "u=1, i",
              "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
              "sec-ch-ua-mobile": "?0",
              "sec-ch-ua-platform": "\"Windows\"",
              "sec-fetch-dest": "empty",
              "sec-fetch-mode": "cors",
              "sec-fetch-site": "same-origin",
              "x-forwarded-for": "201.81.90.19",
              "x-forwarded-host": "n8n.srv1252717.hstgr.cloud",
              "x-forwarded-port": "443",
              "x-forwarded-proto": "https",
              "x-forwarded-server": "fda5ae5afd08",
              "x-real-ip": "201.81.90.19"
            },
            "params": {},
            "query": {
              "route": "update_services"
            },
            "body": {
              "ACTION": "EMPLOYERS",
              "RUNNING_STATUS": 2
            },
            "webhookUrl": "https://n8n.srv1252717.hstgr.cloud/webhook/vhsys-router",
            "executionMode": "production"
          }
        }
      }
    ]
  },
  "connections": {
    "Montar Resposta de Erro": {
      "main": [
        [
          {
            "node": "Retornar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Resposta de Sucesso": {
      "main": [
        [
          {
            "node": "Retornar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Status do Servico": {
      "main": [
        [
          {
            "node": "Montar Resposta de Sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Montar Resposta de Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Estao Corretos?": {
      "main": [
        [
          {
            "node": "Atualizar Status do Servico",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Montar Resposta de Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Entrada": {
      "main": [
        [
          {
            "node": "Dados Estao Corretos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inicio do Fluxo": {
      "main": [
        [
          {
            "node": "Validar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "77d9c678-fc1b-416d-bd67-5b6d8cb84444",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "vlGDMc64g0AUKBON",
  "tags": []
}