EXTENSION_SERVER/n8n_diagrams/Extensao VHSYS - CC Relatorio.json
{
  "name": "Extensao VHSYS - CC Relatorio",
  "nodes": [
    {
      "parameters": {
        "content": "## Consolidacao e Fechamento\n\nConverge os ramos de insert e delete.\n\nAtualiza status por tipo:\n- entrada -> entries_runned\n- saida -> outputs_runned\n\nRetorna resposta 201 de conclusao.",
        "height": 234,
        "width": 440,
        "color": 7
      },
      "id": "fff14348-5add-488d-8ec6-8b8d8b8b3fea",
      "name": "Consolidacao e Fechamento",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -23552,
        3456
      ]
    },
    {
      "parameters": {
        "content": "## Persistencia de Remocoes\n\nPrepara IDs obsoletos para exclusao em lote.\n\nGera lista segura (escaping) e executa:\nDELETE ... WHERE ID IN (...)\n\nRemove rapidamente itens fora do estado atual.",
        "height": 220,
        "width": 456,
        "color": 2
      },
      "id": "a3dc4ccb-e0f7-416e-b44f-e6c1eac86962",
      "name": "Persistencia de Remocoes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -24608,
        3808
      ]
    },
    {
      "parameters": {
        "content": "## Persistencia de Inclusoes\n\nPrepara os novos registros para INSERT em lote.\n\nAplica escaping e normalizacao numerica.\n\nExecuta um unico INSERT batch para reduzir round-trips no banco.",
        "height": 210,
        "width": 408,
        "color": 2
      },
      "id": "405d4ba5-394c-4365-b022-4b6d29b35c6b",
      "name": "Persistencia de Inclusoes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -24544,
        2928
      ]
    },
    {
      "parameters": {
        "content": "## Caminho Sem Delta\n\nSe has_changes=false:\n- pula insert/delete\n- atualiza status de processamento\n- finaliza com 201\n\nEvita operacoes de banco desnecessarias.",
        "height": 248,
        "width": 458,
        "color": 5
      },
      "id": "8fdeeeef-11b9-4de0-9f78-714dd2f9d194",
      "name": "Caminho Sem Delta",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -25280,
        4000
      ]
    },
    {
      "parameters": {
        "content": "## Motor de Reconciliacao\n\nCompara IDs da extensao com IDs do banco.\n\nCalcula:\n- Insere -> se tem na extensao mas não no banco\n- Deleta -> se tem no banco mas não na extensão",
        "height": 214,
        "width": 404,
        "color": 6
      },
      "id": "2f6cea80-21ef-400a-b420-b137a1053195",
      "name": "Motor de Reconciliacao",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -25408,
        3232
      ]
    },
    {
      "parameters": {
        "content": "## Escopo e Snapshot do Banco\n\nDefine o escopo da consulta com cc_id e type.\n\nDepois busca no banco o estado atual desse mesmo escopo.\n\nResultado:\n- menos payload trafegando\n- base pronta para o diff.",
        "height": 264,
        "width": 376,
        "color": 6
      },
      "id": "7e824440-f7ec-49b0-96d9-5a34f9967d99",
      "name": "Escopo e Snapshot do Banco",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -25856,
        3200
      ]
    },
    {
      "parameters": {
        "content": "## Normalizacao de Registros\n\nTransforma subItens em registros padrao para comparacao.\n\nAqui o fluxo:\n- extrai CC semantico\n- gera indice estavel\n- cria ID deterministico (hash)",
        "height": 216,
        "width": 428,
        "color": 4
      },
      "id": "b2fbeac2-bfda-4f7f-9811-1cb3ab7660f5",
      "name": "Normalizacao de Registros",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -26384,
        3344
      ]
    },
    {
      "parameters": {
        "content": "## Decodificacao e Early Exit\n\nSe nao houver subItens, sai cedo e manda para o caminho de pagina vazia.\n\nSe houver dados:\n- decodifica entidades HTML\n- preserva a estrutura do payload",
        "height": 220,
        "width": 392,
        "color": 4
      },
      "id": "5e3506f2-de61-417a-a16f-bdc70ab08f05",
      "name": "Decodificacao e Early Exit",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -26944,
        3408
      ]
    },
    {
      "parameters": {
        "content": "## Contrato de Entrada\n\nValida o payload recebido pelo router.\n\nCheca:\n- data, type, cc_id\n- type = entrada ou saida\n\nSe invalido: retorna 400.\nSe valido: segue com payload normalizado.",
        "height": 236,
        "width": 344,
        "color": 3
      },
      "id": "2d490e48-8ff1-4d4c-828a-df4e8b34b439",
      "name": "Contrato de Entrada",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -26912,
        3872
      ]
    },
    {
      "parameters": {
        "content": "## Arquitetura do Fluxo\n\nSincroniza o relatorio de centro de custo entre extensao e banco.\n\nEtapas:\n1) valida entrada\n2) normaliza dados\n3) calcula diff\n4) aplica insert/delete\n5) atualiza status\n6) responde ao chamador",
        "height": 314,
        "width": 574,
        "color": 7
      },
      "id": "d98f6fdf-3f65-4ea2-8e90-a65031839f19",
      "name": "Arquitetura do Fluxo",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -27792,
        3584
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE auxiliary.update_cc_report_status\nSET \n  entries_runned = CASE WHEN '{{ $json.type }}' = 'entrada' THEN 1 ELSE entries_runned END,\n  outputs_runned = CASE WHEN '{{ $json.type }}' = 'saida' THEN 1 ELSE outputs_runned END,\n  updated_at = (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp\nWHERE cc_id = '{{ $json.cc_id }}';",
        "options": {}
      },
      "id": "68907450-7ec9-4877-831f-23bfd521951a",
      "name": "No Changes Atualizar Status Final",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -24896,
        3744
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Reaproveita update de status padrão no caminho de página vazia\nconst ctx = $input.first().json;\n\nreturn {\n  json: {\n    cc_id: ctx.cc_id,\n    type: ctx.type\n  }\n};"
      },
      "id": "ccaca7f1-53e4-45a8-a2ca-f633a76975bd",
      "name": "Empty Atualizar Status Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -25120,
        3792
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\n\nreturn {\n  statusCode: ctx.statusCode || 400,\n  body: ctx.body || { error: 'Validation failed' }\n};"
      },
      "id": "a3427844-66e3-4f2c-8a4e-5504b95b595c",
      "name": "Montar Resposta de Erro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -26464,
        3792
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json || {};\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'cc_report',\n  event: 'completed',\n  cc_id: ctx.cc_id || 'unknown',\n  type: ctx.type || 'unknown',\n  level: 'info'\n}));\n\nreturn {\n  statusCode: 201,\n  body: { message: 'GET A NEW CC_REPORT BY CC id' }\n};"
      },
      "id": "57f033f0-7d71-44e8-a06e-c4e4c8857509",
      "name": "Montar Resposta de Sucesso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -23776,
        3552
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE auxiliary.update_cc_report_status\nSET \n  entries_runned = CASE WHEN '{{ $('Ha Alteracoes?').item.json.type }}' = 'entrada' THEN 1 ELSE entries_runned END,\n  outputs_runned = CASE WHEN '{{ $('Ha Alteracoes?').item.json.type }}' = 'saida' THEN 1 ELSE outputs_runned END,\n  updated_at = (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp\nWHERE cc_id = '{{ $('Ha Alteracoes?').item.json.cc_id }}';",
        "options": {}
      },
      "id": "28c8b239-47d9-45f7-bc11-7ddcef464761",
      "name": "Atualizar Status Final",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -24000,
        3328
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "4b411c56-c1bb-494b-a91e-de32b64d7df2",
      "name": "Mesclar Resultados",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -24224,
        3328
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM raw_data.\"vhx_relatorio_cc\"\nWHERE \"id\" IN ({{ $json.ids_sql }});",
        "options": {
          "queryBatching": "single"
        }
      },
      "id": "a6c75a64-f069-47cc-9ef1-81c172313b5a",
      "name": "Excluir Registros",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -24448,
        3568
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json._skip_delete }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "096f627a-98a8-49c7-aae3-be60d729be34"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f7270ba9-1ef0-4056-a602-12df45e5ec1e",
      "name": "Pular Exclusao?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -24672,
        3504
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepara delete em lote com escaping padronizado\nconst diff = $input.first().json;\nconst toDelete = diff.to_delete || [];\n\nif (toDelete.length === 0) {\n  return [{ json: { _skip_delete: true, cc_id: diff.cc_id, type: diff.type } }];\n}\n\nconst esc = (v) => String(v ?? '').replace(/'/g, \"''\");\nconst ids_sql = toDelete.map((id) => `'${esc(id)}'`).join(', ');\n\nreturn [{\n  json: {\n    _skip_delete: false,\n    cc_id: diff.cc_id,\n    type: diff.type,\n    delete_count: toDelete.length,\n    ids_sql\n  }\n}];"
      },
      "id": "f226dcc8-ad39-43c4-86cd-f7eb74359f00",
      "name": "Preparar Exclusoes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -24896,
        3504
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO raw_data.\"vhx_relatorio_cc\" (\n  \"id\", \"id_seed\", \"cc\", \"id_cc\", \"cc_label\",\n  \"vencimento\", \"fornecedor\", \"nome_despesa\", \"situacao\",\n  \"data_pagamento\", \"categoria\", \"valor\", \"type\",\n  \"created_at\", \"updated_at\"\n) VALUES\n{{ $json.values_sql }};",
        "options": {
          "queryBatching": "single"
        }
      },
      "id": "9e6ed485-66e6-4a2f-a650-89f5994d58b9",
      "name": "Inserir Registros",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -24448,
        3184
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json._skip_insert }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "5bf233be-4a90-4184-b288-e479f1803d6d"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d1f79020-f9e2-4aa4-ac21-1a475bff577a",
      "name": "Pular Insercao?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -24672,
        3264
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepara insert em lote com escaping padronizado\nconst diff = $input.first().json;\nconst toInsert = diff.to_insert || [];\n\nif (toInsert.length === 0) {\n  return [{ json: { _skip_insert: true, cc_id: diff.cc_id, type: diff.type } }];\n}\n\nconst esc = (v) => String(v ?? '').replace(/'/g, \"''\");\nconst num = (v, fallback = 0) => {\n  const n = Number(String(v ?? '').replace(',', '.'));\n  return Number.isFinite(n) ? n : fallback;\n};\n\nconst values_sql = toInsert.map((rec) => {\n  const venc = num(rec.VENCIMENTO, 0);\n  const valor = num(rec.VALOR, 0);\n  return `(\n  '${esc(rec.ID)}',\n  '${esc(rec.ID_SEED)}',\n  '${esc(rec.CC)}',\n  '${esc(rec.ID_CC)}',\n  '${esc(rec.CC_LABEL)}',\n  to_timestamp(${venc})::timestamp,\n  '${esc(rec.FORNECEDOR)}',\n  '${esc(rec.NOME_DESPESA)}',\n  '${esc(rec.SITUACAO)}',\n  (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp,\n  '${esc(rec.CATEGORIA)}',\n  ${valor},\n  '${esc(rec.TYPE)}',\n  (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp,\n  (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp\n)`;\n}).join(',\\n');\n\nreturn [{\n  json: {\n    _skip_insert: false,\n    cc_id: diff.cc_id,\n    type: diff.type,\n    insert_count: toInsert.length,\n    values_sql\n  }\n}];"
      },
      "id": "80c4abff-b147-48a9-9dc3-0d1950b2e862",
      "name": "Preparar Insercoes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -24896,
        3264
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.has_changes }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "id": "2098d75a-4eb5-4eab-b215-053a91459af1"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9a40bd2f-a49a-4dff-87c4-177a0c7f90ef",
      "name": "Ha Alteracoes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -25120,
        3504
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calcula diff entre extensão e DB com leitura direta dos nós para evitar merge custoso\nconst currentRecords = $items('Normalizar Registros', 0, 0)\n  .map(item => item.json)\n  .filter(r => r && !r._empty && r.ID);\n\nconst dbRecords = $input.all()\n  .map(item => item.json)\n  .filter(r => r && r.id);\n\nconst extensionIds = new Set(currentRecords.map(r => r.ID));\nconst currentData = Object.fromEntries(currentRecords.map(r => [r.ID, r]));\nconst dbIds = new Set(dbRecords.map(r => r.id));\n\nconst toInsert = [];\nfor (const id of extensionIds) {\n  if (!dbIds.has(id)) toInsert.push(currentData[id]);\n}\n\nconst toDelete = [];\nfor (const id of dbIds) {\n  if (!extensionIds.has(id)) toDelete.push(id);\n}\n\nconst ccId = currentRecords[0]?.ID_CC || $('Selecionar Contexto').item.json.cc_id || '';\nconst type = currentRecords[0]?.TYPE || $('Selecionar Contexto').item.json.type || '';\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'cc_report',\n  event: 'diff_calculated',\n  cc_id: ccId,\n  type: type,\n  extension_count: currentRecords.length,\n  db_count: dbRecords.length,\n  to_insert: toInsert.length,\n  to_delete: toDelete.length,\n  level: 'info'\n}));\n\nreturn {\n  json: {\n    cc_id: ccId,\n    type: type,\n    to_insert: toInsert,\n    to_delete: toDelete,\n    has_changes: toInsert.length > 0 || toDelete.length > 0\n  }\n};"
      },
      "id": "e1580816-fa03-4724-8720-844d1f1a2ac4",
      "name": "Calcular Diferencas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -25344,
        3504
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \"id\", \"id_cc\", \"type\"\nFROM raw_data.\"vhx_relatorio_cc\"\nWHERE \"id_cc\" = '{{ $json.cc_id }}' AND \"type\" = '{{ $json.type }}';",
        "options": {}
      },
      "id": "25019c3e-8e0e-4112-923d-586efff93057",
      "name": "Buscar Registros Existentes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -25568,
        3504
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Reduz execução redundante: passa apenas contexto necessário para query única no DB\nconst first = $input.first().json;\nreturn [{\n  json: {\n    cc_id: first.ID_CC,\n    type: first.TYPE\n  }\n}];"
      },
      "id": "9d5b57ca-c1ef-46d9-82c3-fa65ad960815",
      "name": "Selecionar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -25792,
        3504
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json._empty }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "7201d3cf-f4c3-4c5f-8641-32ce829d5249"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "511c7d7d-044a-482e-93de-39cb704fa792",
      "name": "Ha Registros?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -26016,
        3600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Verifica se página é válida e formata registros\nconst ctx = $input.first().json.payload;\nconst data = ctx.data;\n\nif (!data.source || !data.source.subItens || !data.source.subItens.ID1) {\n  console.log(JSON.stringify({\n    timestamp: new Date().toISOString(),\n    route: 'cc_report',\n    event: 'invalid_page',\n    cc_id: ctx.cc_id,\n    level: 'warn'\n  }));\n  return [{ json: { _empty: true, cc_id: ctx.cc_id, type: ctx.type } }];\n}\n\nconst source = data.source;\nconst ccLabel = source.itens[0].CentroCustos;\nconst subItens = source.subItens.ID1;\nconst ccId = ctx.cc_id;\nconst type = ctx.type;\n\nfunction generateIdToken(seed) {\n  let hash = 0;\n  for (let i = 0; i < seed.length; i++) {\n    const char = seed.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return Math.abs(hash).toString(16);\n}\n\nfunction extractCcValue(input) {\n  const match = String(input || '').match(/CC[-\\s]*(\\d+)/);\n  return match ? match[1] : '-1';\n}\n\nfunction extractNumericPart(input) {\n  const match = String(input || '').match(/\\b(\\d{6})\\b/);\n  return match ? match[1] : '-1';\n}\n\nfunction extractPrefix(input) {\n  const match = String(input || '').match(/^[A-Z]{2}-[A-Z0-9]{3}/);\n  return match ? match[0] : '-1';\n}\n\nfunction extractCcTextValue(input) {\n  const normalized = String(input || '');\n  const index = normalized.indexOf('CC-');\n  return index !== -1 ? normalized.slice(index + 3, index + 9) : '-1';\n}\n\nfunction extractCcTextValueExceptions(input) {\n  const normalized = String(input || '').replace(/\\//g, '');\n  const index = normalized.indexOf('CC-');\n  if (index === -1) return '-1';\n  const endIndex = normalized.indexOf('/', index);\n  return endIndex === -1 ? normalized.slice(index + 3, index + 9) : normalized.slice(index + 3, endIndex);\n}\n\nfunction getCcLabel(labelText) {\n  if (labelText === 'RT - Vendas') return 'Vendas';\n  if (labelText === 'Marketing') return 'Marketing';\n  if (labelText === 'Vendas') return 'Vendas';\n  if (labelText === 'Administração') return 'Administração';\n\n  let label = extractCcValue(labelText);\n  if (label === '-1') {\n    label = extractNumericPart(labelText);\n    if (label === '-1') {\n      label = extractPrefix(labelText);\n      if (label === '-1') {\n        label = extractCcTextValue(labelText);\n        if (label === '-1') {\n          label = extractCcTextValueExceptions(labelText);\n        }\n      }\n    }\n  }\n  return label;\n}\n\n// Mantém a mesma semântica de índice para itens idênticos, porém em O(n)\nfunction annotateWithStableIndex(arr) {\n  const signatureToIndex = new Map();\n  let nextIndex = 0;\n\n  return arr.map((item) => {\n    const signature = JSON.stringify(item);\n    if (!signatureToIndex.has(signature)) {\n      signatureToIndex.set(signature, nextIndex++);\n    }\n\n    return { index: signatureToIndex.get(signature), ...item };\n  });\n}\n\nconst flattened = annotateWithStableIndex(subItens);\nconst ccSemantic = getCcLabel(ccLabel);\n\nconst formattedRecords = flattened.map(item => {\n  const INDEX = item.index;\n  const VENCIMENTO = item.Vencimento;\n  const FORNECEDOR = item.Fornecedor;\n  const NOME_DESPESA = item.NomeDespesa;\n  const SITUACAO = item.Situacao;\n  const VALOR = item.Valor;\n  const CATEGORIA = item.Categoria;\n\n  const SEED = `${INDEX}-${ccId}-${NOME_DESPESA}-${VENCIMENTO}-${FORNECEDOR}-${VALOR}-${SITUACAO}-${type}-${CATEGORIA}`;\n  const TOKEN = generateIdToken(SEED);\n\n  return {\n    json: {\n      ID: TOKEN,\n      ID_SEED: SEED,\n      CC: ccSemantic,\n      CC_LABEL: ccLabel,\n      ID_CC: ccId,\n      VENCIMENTO: VENCIMENTO,\n      FORNECEDOR: FORNECEDOR,\n      NOME_DESPESA: NOME_DESPESA,\n      SITUACAO: SITUACAO,\n      CATEGORIA: CATEGORIA,\n      VALOR: VALOR,\n      TYPE: type\n    }\n  };\n});\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'cc_report',\n  event: 'records_formatted',\n  cc_id: ccId,\n  type: type,\n  count: formattedRecords.length,\n  level: 'info'\n}));\n\nif (formattedRecords.length === 0) {\n  return [{ json: { _empty: true, cc_id: ccId, type: type } }];\n}\n\nreturn formattedRecords;"
      },
      "id": "672ab2ce-1e91-4109-a9ab-599ad21874ab",
      "name": "Normalizar Registros",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -26240,
        3600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Guard de early-exit antes de decode profundo\nconst ctx = $input.first().json;\nconst payload = ctx.payload || {};\n\nif (!payload.data || !payload.data.source || !payload.data.source.subItens || !payload.data.source.subItens.ID1) {\n  console.log(JSON.stringify({\n    timestamp: new Date().toISOString(),\n    route: 'cc_report',\n    event: 'early_empty_before_decode',\n    cc_id: payload.cc_id || 'unknown',\n    level: 'info'\n  }));\n\n  return {\n    payload: {\n      cc_id: payload.cc_id,\n      type: payload.type,\n      data: { source: null }\n    }\n  };\n}\n\nfunction decodeHtml(obj) {\n  if (typeof obj === 'string') {\n    return obj\n      .replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n      .replace(/&quot;/g, '\"').replace(/&#39;/g, \"'\").replace(/&#x27;/g, \"'\")\n      .replace(/&#x2F;/g, '/').replace(/&nbsp;/g, ' ');\n  }\n  if (Array.isArray(obj)) return obj.map(decodeHtml);\n  if (typeof obj === 'object' && obj !== null) {\n    const out = {};\n    for (const k in obj) out[k] = decodeHtml(obj[k]);\n    return out;\n  }\n  return obj;\n}\n\nconst decoded = decodeHtml(payload);\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'cc_report',\n  event: 'decoded_html',\n  cc_id: decoded.cc_id,\n  level: 'info'\n}));\n\nreturn { payload: decoded };"
      },
      "id": "a0f5aed7-f37c-435e-907d-dbb0e8a8a517",
      "name": "Decodificar HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -26464,
        3600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Valida payload da extensão\nconst input = $input.first().json;\nconst body = input.body || input;\n\nif (!body.data || !body.type || !body.cc_id) {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { error: 'Missing required fields: data, type, cc_id' }\n  };\n}\n\nif (body.type !== 'entrada' && body.type !== 'saida') {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { error: 'Invalid type: must be entrada or saida' }\n  };\n}\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'cc_report',\n  event: 'input_validated',\n  cc_id: body.cc_id,\n  type: body.type,\n  level: 'info'\n}));\n\nreturn { _valid: true, payload: body };"
      },
      "id": "b5f21b08-daec-4e58-9ace-8397b69f236e",
      "name": "Validar Entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -26912,
        3696
      ]
    },
    {
      "parameters": {},
      "id": "415268f6-d287-4cff-9583-060c4f3e8764",
      "name": "Quando Chamado por Outro Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -27136,
        3696
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json._valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "5c6a6b7d-b749-4db7-93c2-e997aa6dab73"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "779e5ac0-8200-4622-b1fb-659858e981d5",
      "name": "Entrada Válida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -26688,
        3696
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Empty Atualizar Status Final": {
      "main": [
        [
          {
            "node": "No Changes Atualizar Status Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Changes Atualizar Status Final": {
      "main": [
        [
          {
            "node": "Montar Resposta de Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Status Final": {
      "main": [
        [
          {
            "node": "Montar Resposta de Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mesclar Resultados": {
      "main": [
        [
          {
            "node": "Atualizar Status Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excluir Registros": {
      "main": [
        [
          {
            "node": "Mesclar Resultados",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Pular Exclusao?": {
      "main": [
        [
          {
            "node": "Mesclar Resultados",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Excluir Registros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Exclusoes": {
      "main": [
        [
          {
            "node": "Pular Exclusao?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir Registros": {
      "main": [
        [
          {
            "node": "Mesclar Resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pular Insercao?": {
      "main": [
        [
          {
            "node": "Mesclar Resultados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inserir Registros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Insercoes": {
      "main": [
        [
          {
            "node": "Pular Insercao?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ha Alteracoes?": {
      "main": [
        [
          {
            "node": "No Changes Atualizar Status Final",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Exclusoes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar Insercoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Diferencas": {
      "main": [
        [
          {
            "node": "Ha Alteracoes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Registros Existentes": {
      "main": [
        [
          {
            "node": "Calcular Diferencas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selecionar Contexto": {
      "main": [
        [
          {
            "node": "Buscar Registros Existentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ha Registros?": {
      "main": [
        [
          {
            "node": "Empty Atualizar Status Final",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Selecionar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Registros": {
      "main": [
        [
          {
            "node": "Ha Registros?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decodificar HTML": {
      "main": [
        [
          {
            "node": "Normalizar Registros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Entrada": {
      "main": [
        [
          {
            "node": "Entrada Válida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quando Chamado por Outro Workflow": {
      "main": [
        [
          {
            "node": "Validar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrada Válida?": {
      "main": [
        [
          {
            "node": "Decodificar HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Montar Resposta de Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f58bbf16-261b-4956-99f5-7e7e3812234b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "DoAXp1U7yQ5UOjgZ",
  "tags": []
}