EXTENSION_SERVER/n8n_diagrams/Fluxo de Criação de Tabelas do Banco de Dados.json
{
  "name": "Fluxo de Criação de Tabelas do Banco de Dados",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7d082870-b0a8-44d6-ba8e-874f155d4320",
              "leftValue": "={{ $('Definir Constantes').item.json['Deve incluir chaves estranggeiras'] }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        256,
        -368
      ],
      "id": "f3b50dad-98e5-43a6-8c49-cac4da6f2911",
      "name": "If - Criar Foreign Keys?",
      "notes": "✅ SIM → Cria ALTER TABLE ADD CONSTRAINT FOREIGN KEY\n❌ NÃO → Finaliza processamento e itera para próxima tabela"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7d082870-b0a8-44d6-ba8e-874f155d4320",
              "leftValue": "={{ $('Definir Constantes').item.json['Deve incluir comentários'] }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        272,
        -544
      ],
      "id": "cb01aca3-1eb8-40d5-a538-d8d00e1c055c",
      "name": "If - Adicionar Comentários?",
      "notes": "✅ SIM → Adiciona COMMENT ON TABLE/COLUMN para documentação\n❌ NÃO → Pula documentação e vai para próxima etapa"
    },
    {
      "parameters": {},
      "id": "83515fca-4dc7-4805-b69a-e09bc8aac52a",
      "name": "Gatilho Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1856,
        -544
      ],
      "notes": "Inicia o fluxo manualmente quando o usuário executa o workflow"
    },
    {
      "parameters": {
        "fieldToSplitOut": "tables",
        "options": {}
      },
      "id": "93ada08b-bbef-408e-9e74-15d508d67618",
      "name": "Separar Tabelas",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -736,
        -560
      ],
      "notes": "Separa o array de tabelas em itens individuais para processamento"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c1214e35-bfd9-4937-aa61-e9e605accb17",
      "name": "Iterar Sobre Tabelas",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -512,
        -560
      ],
      "notes": "Itera sobre cada tabela para executar as operações de criação sequencialmente"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DROP TABLE IF EXISTS {{$json.schema}}.{{$json.table_name}} CASCADE",
        "options": {}
      },
      "id": "caf2af6c-9385-47c3-9490-ffc25874ff53",
      "name": "Excluir Tabela",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -256,
        -544
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "notes": "Remove a tabela existente antes de recriá-la (DROP TABLE IF EXISTS CASCADE)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE {{ $('Iterar Sobre Tabelas').item.json.schema }}.{{ $('Iterar Sobre Tabelas').item.json.table_name }} (\n  {{ $('Iterar Sobre Tabelas').item.json.fields.map(f => f.name + ' ' + f.type + (f.not_null ? ' NOT NULL' : '') + (f.default ? ' DEFAULT ' + f.default : '') + (f.unique ? ' UNIQUE' : '') + (f.primary_key ? ' PRIMARY KEY' : '')).join(',\\n  ') }}{{ ($('Iterar Sobre Tabelas').item.json.checks && $('Iterar Sobre Tabelas').item.json.checks.length > 0) ? ',\\n  ' + $('Iterar Sobre Tabelas').item.json.checks.map(c => 'CHECK (' + c.constraint + ')').join(',\\n  ') : '' }}{{ ($('Iterar Sobre Tabelas').item.json.unique && $('Iterar Sobre Tabelas').item.json.unique.length > 0) ? ',\\n  ' + $('Iterar Sobre Tabelas').item.json.unique.map(u => 'UNIQUE (' + u.columns.join(', ') + ')').join(',\\n  ') : '' }}\n)",
        "options": {}
      },
      "id": "fb6b54f4-8012-4e6b-909b-79d871cfecf4",
      "name": "Criar Tabela",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        0,
        -544
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "notes": "Cria a tabela com todos os campos, tipos de dados, constraints e chaves primárias"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ ($('Iterar Sobre Tabelas').item.json.indexes && $('Iterar Sobre Tabelas').item.json.indexes.length > 0) ? $('Iterar Sobre Tabelas').item.json.indexes.map(idx => 'CREATE INDEX ' + idx.name + ' ON ' + $('Iterar Sobre Tabelas').item.json.schema + '.' + $('Iterar Sobre Tabelas').item.json.table_name + ' (' + idx.columns.join(', ') + ')').join(';\\n') : 'SELECT 1' }}",
        "options": {}
      },
      "id": "b83eede7-d05f-4b67-a70e-5ed23a39ec37",
      "name": "Criar Índices",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        480,
        -720
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "notes": "Cria todos os índices definidos para otimizar consultas na tabela"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ ($('Iterar Sobre Tabelas').item.json.comments && $('Iterar Sobre Tabelas').item.json.comments.length > 0) ? $('Iterar Sobre Tabelas').item.json.comments.map(c => c.type === 'table' ? 'COMMENT ON TABLE ' + $('Iterar Sobre Tabelas').item.json.schema + '.' + $('Iterar Sobre Tabelas').item.json.table_name + \" IS '\" + c.comment.replace(/'/g, \"''\") + \"'\" : 'COMMENT ON COLUMN ' + $('Iterar Sobre Tabelas').item.json.schema + '.' + $('Iterar Sobre Tabelas').item.json.table_name + '.' + c.column + \" IS '\" + c.comment.replace(/'/g, \"''\") + \"'\").join(';\\n') : 'SELECT 1' }}",
        "options": {}
      },
      "id": "4ca6d4e8-c9e6-46ef-a64f-2a1f83fe961e",
      "name": "Criar Comentários",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        480,
        -560
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "notes": "💬 Adiciona comentários de documentação\n\nExecuta COMMENT ON TABLE e COMMENT ON COLUMN para cada comentário definido.\nEscapa aspas simples (') com duplo ('') para compatibilidade PostgreSQL.\n\nRetorna 'SELECT 1' se não houver comentários para evitar erro de query vazia."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ ($('Iterar Sobre Tabelas').item.json.relationships && $('Iterar Sobre Tabelas').item.json.relationships.length > 0) ? $('Iterar Sobre Tabelas').item.json.relationships.map((rel, idx) => 'ALTER TABLE ' + $('Iterar Sobre Tabelas').item.json.schema + '.' + $('Iterar Sobre Tabelas').item.json.table_name + ' ADD CONSTRAINT fk_' + $('Iterar Sobre Tabelas').item.json.table_name + '_' + rel.from_column + ' FOREIGN KEY (' + rel.from_column + ') REFERENCES ' + rel.to_schema + '.' + rel.to_table + '(' + rel.to_column + ') ON DELETE CASCADE').join(';\\n') : 'SELECT 1' }}",
        "options": {}
      },
      "id": "e80c2898-bda6-4530-99dd-d346e38dd30c",
      "name": "Criar Chaves Estrangeiras",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        480,
        -384
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n    \"tables\": [\n        {\n            \"schema\": \"raw_data\",\n            \"table_name\": \"clk_time_entries\",\n            \"fields\": [\n                {\n                    \"name\": \"id\",\n                    \"type\": \"VARCHAR(255)\",\n                    \"primary_key\": true\n                },\n                {\n                    \"name\": \"description\",\n                    \"type\": \"TEXT\"\n                },\n                {\n                    \"name\": \"userId\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"userName\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"userEmail\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"projectId\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"projectName\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"projectColor\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"clientId\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"clientName\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"taskId\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"approvalRequestId\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"time_start\",\n                    \"type\": \"TIMESTAMPTZ\"\n                },\n                {\n                    \"name\": \"time_end\",\n                    \"type\": \"TIMESTAMPTZ\"\n                },\n                {\n                    \"name\": \"time_duration\",\n                    \"type\": \"INTEGER\"\n                },\n                {\n                    \"name\": \"time_timezone\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"time_zoned_start\",\n                    \"type\": \"TIMESTAMP\"\n                },\n                {\n                    \"name\": \"time_zoned_end\",\n                    \"type\": \"TIMESTAMP\"\n                },\n                {\n                    \"name\": \"time_off_start\",\n                    \"type\": \"INTEGER\"\n                },\n                {\n                    \"name\": \"time_off_end\",\n                    \"type\": \"INTEGER\"\n                },\n                {\n                    \"name\": \"billable\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"type\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"isLocked\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"currency\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"amount\",\n                    \"type\": \"NUMERIC(15,2)\"\n                },\n                {\n                    \"name\": \"rate\",\n                    \"type\": \"NUMERIC(15,2)\"\n                },\n                {\n                    \"name\": \"earnedAmount\",\n                    \"type\": \"NUMERIC(15,2)\"\n                },\n                {\n                    \"name\": \"earnedRate\",\n                    \"type\": \"NUMERIC(15,2)\"\n                },\n                {\n                    \"name\": \"costAmount\",\n                    \"type\": \"NUMERIC(15,2)\"\n                },\n                {\n                    \"name\": \"costRate\",\n                    \"type\": \"NUMERIC(15,2)\"\n                }\n            ],\n            \"checks\": [\n                {\n                    \"constraint\": \"type IN ('REGULAR', 'BREAK') OR type IS NULL\"\n                },\n                {\n                    \"constraint\": \"time_duration >= 0\"\n                }\n            ],\n            \"indexes\": [\n                {\n                    \"name\": \"idx_clk_time_entries_user\",\n                    \"columns\": [\n                        \"userId\"\n                    ]\n                },\n                {\n                    \"name\": \"idx_clk_time_entries_project\",\n                    \"columns\": [\n                        \"projectId\"\n                    ]\n                },\n                {\n                    \"name\": \"idx_clk_time_entries_client\",\n                    \"columns\": [\n                        \"clientId\"\n                    ]\n                },\n                {\n                    \"name\": \"idx_clk_time_entries_task\",\n                    \"columns\": [\n                        \"taskId\"\n                    ]\n                }\n            ],\n            \"comments\": [\n                {\n                    \"type\": \"table\",\n                    \"comment\": \"Lançamentos de horas do Clockify\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"id\",\n                    \"comment\": \"Chave primária - ID do lançamento de horas\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"description\",\n                    \"comment\": \"Descrição da atividade realizada\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"userId\",\n                    \"comment\": \"Referência ao usuário\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"userName\",\n                    \"comment\": \"Nome do usuário (desnormalizado para performance)\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"userEmail\",\n                    \"comment\": \"Email do usuário (desnormalizado para performance)\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"projectId\",\n                    \"comment\": \"Referência ao projeto\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"projectName\",\n                    \"comment\": \"Nome do projeto (desnormalizado para performance)\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"projectColor\",\n                    \"comment\": \"Cor do projeto em hexadecimal\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"clientId\",\n                    \"comment\": \"Referência ao cliente\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"clientName\",\n                    \"comment\": \"Nome do cliente (desnormalizado para performance)\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"taskId\",\n                    \"comment\": \"Referência à tarefa (se aplicável)\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"approvalRequestId\",\n                    \"comment\": \"ID da solicitação de aprovação (se aplicável)\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"time_start\",\n                    \"comment\": \"Data/hora de início com timezone\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"time_end\",\n                    \"comment\": \"Data/hora de término com timezone\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"time_duration\",\n                    \"comment\": \"Duração em segundos\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"time_timezone\",\n                    \"comment\": \"Fuso horário (ex: America/Sao_Paulo)\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"time_zoned_start\",\n                    \"comment\": \"Hora de início no fuso local (sem timezone)\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"time_zoned_end\",\n                    \"comment\": \"Hora de término no fuso local (sem timezone)\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"time_off_start\",\n                    \"comment\": \"Offset UTC em segundos no início\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"time_off_end\",\n                    \"comment\": \"Offset UTC em segundos no término\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"billable\",\n                    \"comment\": \"Se o lançamento é faturável\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"type\",\n                    \"comment\": \"Tipo de lançamento: REGULAR ou BREAK\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"isLocked\",\n                    \"comment\": \"Se o lançamento está bloqueado para edição\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"currency\",\n                    \"comment\": \"Moeda utilizada\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"amount\",\n                    \"comment\": \"Valor cobrado\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"rate\",\n                    \"comment\": \"Taxa horária cobrada\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"earnedAmount\",\n                    \"comment\": \"Valor ganho/faturado\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"earnedRate\",\n                    \"comment\": \"Taxa horária de ganho\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"costAmount\",\n                    \"comment\": \"Valor de custo\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"costRate\",\n                    \"comment\": \"Taxa horária de custo\"\n                }\n            ]\n        },\n        {\n            \"schema\": \"raw_data\",\n            \"table_name\": \"clk_projetos\",\n            \"fields\": [\n                {\n                    \"name\": \"id\",\n                    \"type\": \"VARCHAR(255)\",\n                    \"primary_key\": true\n                },\n                {\n                    \"name\": \"name\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                 \"name\":\"ref_centros_custo\",\n                 \"type\":\"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"clientId\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"workspaceId\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"system\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"billable\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"archived\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"color\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"duration\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                 \"name\":\"duration_minutes\",\n                 \"type\":\"NUMERIC(15,2)\"\n                },\n                {\n                    \"name\": \"clientName\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"note\",\n                    \"type\": \"TEXT\"\n                },\n                {\n                    \"name\": \"public\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"template\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"hourly_amount\",\n                    \"type\": \"NUMERIC(15,2)\"\n                },\n                {\n                    \"name\": \"hourly_currency\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"cost_amount\",\n                    \"type\": \"NUMERIC(15,2)\"\n                },\n                {\n                    \"name\": \"cost_currency\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"estimate_value\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"estimate_type\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"time_est_estimate\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"time_est_type\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"time_est_reset_option\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"time_est_active\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"time_est_include_non_billable\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"budget_est_estimate\",\n                    \"type\": \"NUMERIC(15,2)\"\n                },\n                {\n                    \"name\": \"budget_est_type\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"budget_est_reset_option\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"budget_est_active\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"memberships\",\n                    \"type\": \"JSONB\"\n                }\n            ],\n            \"checks\": [\n                {\n                    \"constraint\": \"estimate_type IN ('AUTO', 'MANUAL') OR estimate_type IS NULL\"\n                },\n                {\n                    \"constraint\": \"time_est_type IN ('AUTO', 'MANUAL') OR time_est_type IS NULL\"\n                },\n                {\n                    \"constraint\": \"budget_est_type IN ('AUTO', 'MANUAL') OR budget_est_type IS NULL\"\n                }\n            ],\n            \"indexes\": [\n                {\n                    \"name\": \"idx_clk_projetos_workspace\",\n                    \"columns\": [\n                        \"workspaceId\"\n                    ]\n                },\n                {\n                    \"name\": \"idx_clk_projetos_client\",\n                    \"columns\": [\n                        \"clientId\"\n                    ]\n                },\n                {\n                    \"name\": \"idx_clk_projetos_archived\",\n                    \"columns\": [\n                        \"archived\"\n                    ]\n                },\n                {\n                    \"name\": \"idx_clk_projetos_billable\",\n                    \"columns\": [\n                        \"billable\"\n                    ]\n                },\n                {\n                    \"name\": \"idx_clk_projetos_template\",\n                    \"columns\": [\n                        \"template\"\n                    ]\n                },\n                {\n                    \"name\": \"idx_clk_projetos_name\",\n                    \"columns\": [\n                        \"name\"\n                    ]\n                },\n                {\n                    \"name\": \"idx_clk_projetos_client_name\",\n                    \"columns\": [\n                        \"clientName\"\n                    ]\n                }\n            ],\n            \"comments\": [\n                {\n                    \"type\": \"table\",\n                    \"comment\": \"Projetos do Clockify\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"id\",\n                    \"comment\": \"Chave primária - ID do projeto\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"name\",\n                    \"comment\": \"Nome do projeto\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"clientId\",\n                    \"comment\": \"Referência ao cliente\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"workspaceId\",\n                    \"comment\": \"Referência ao workspace\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"billable\",\n                    \"comment\": \"Se o projeto é faturável\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"archived\",\n                    \"comment\": \"Se o projeto está arquivado\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"color\",\n                    \"comment\": \"Cor do projeto em hexadecimal\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"duration\",\n                    \"comment\": \"Duração total rastreada (formato ISO 8601)\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"clientName\",\n                    \"comment\": \"Nome do cliente para referência\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"public\",\n                    \"comment\": \"Se o projeto é público\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"template\",\n                    \"comment\": \"Se o projeto é um template\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"hourly_amount\",\n                    \"comment\": \"Valor da taxa horária\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"hourly_currency\",\n                    \"comment\": \"Moeda da taxa horária\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"cost_amount\",\n                    \"comment\": \"Valor da taxa de custo\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"cost_currency\",\n                    \"comment\": \"Moeda da taxa de custo\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"estimate_value\",\n                    \"comment\": \"Estimativa legada (duração ISO 8601)\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"estimate_type\",\n                    \"comment\": \"Tipo de estimativa legada: AUTO ou MANUAL\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"time_est_estimate\",\n                    \"comment\": \"Estimativa de tempo moderna (duração ISO 8601)\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"time_est_type\",\n                    \"comment\": \"Tipo de estimativa moderna: AUTO ou MANUAL\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"time_est_reset_option\",\n                    \"comment\": \"Opção de reset da estimativa\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"time_est_active\",\n                    \"comment\": \"Se estimativa de tempo está ativa\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"time_est_include_non_billable\",\n                    \"comment\": \"Incluir tempo não faturável\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"budget_est_estimate\",\n                    \"comment\": \"Valor estimado do orçamento\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"budget_est_type\",\n                    \"comment\": \"Tipo de estimativa de orçamento: AUTO ou MANUAL\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"budget_est_reset_option\",\n                    \"comment\": \"Opção de reset do orçamento\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"budget_est_active\",\n                    \"comment\": \"Se estimativa de orçamento está ativa\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"memberships\",\n                    \"comment\": \"Membros do projeto com funções e taxas (array JSONB N:1)\"\n                }\n            ]\n        },\n        {\n            \"schema\": \"raw_data\",\n            \"table_name\": \"clk_clientes\",\n            \"fields\": [\n                {\n                    \"name\": \"id\",\n                    \"type\": \"VARCHAR(255)\",\n                    \"primary_key\": true\n                },\n                {\n                    \"name\": \"name\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"email\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"ccEmails\",\n                    \"type\": \"JSONB\"\n                },\n                {\n                    \"name\": \"workspaceId\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"archived\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"address\",\n                    \"type\": \"TEXT\"\n                },\n                {\n                    \"name\": \"note\",\n                    \"type\": \"TEXT\"\n                },\n                {\n                    \"name\": \"currencyId\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"currencyCode\",\n                    \"type\": \"VARCHAR(255)\"\n                }\n            ],\n            \"checks\": [],\n            \"indexes\": [\n                {\n                    \"name\": \"idx_clk_clientes_workspace\",\n                    \"columns\": [\n                        \"workspaceId\"\n                    ]\n                },\n                {\n                    \"name\": \"idx_clk_clientes_archived\",\n                    \"columns\": [\n                        \"archived\"\n                    ]\n                },\n                {\n                    \"name\": \"idx_clk_clientes_name\",\n                    \"columns\": [\n                        \"name\"\n                    ]\n                },\n                {\n                    \"name\": \"idx_clk_clientes_currency_code\",\n                    \"columns\": [\n                        \"currencyCode\"\n                    ]\n                },\n                {\n                    \"name\": \"idx_clk_clientes_email\",\n                    \"columns\": [\n                        \"email\"\n                    ]\n                }\n            ],\n            \"comments\": [\n                {\n                    \"type\": \"table\",\n                    \"comment\": \"Clientes do Clockify\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"id\",\n                    \"comment\": \"Chave primária - ID do cliente\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"name\",\n                    \"comment\": \"Nome do cliente\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"email\",\n                    \"comment\": \"Email principal do cliente\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"ccEmails\",\n                    \"comment\": \"Emails em cópia (array JSONB)\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"workspaceId\",\n                    \"comment\": \"Referência ao workspace\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"archived\",\n                    \"comment\": \"Se o cliente está arquivado\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"address\",\n                    \"comment\": \"Endereço do cliente\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"note\",\n                    \"comment\": \"Notas adicionais (geralmente inclui CNPJ)\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"currencyId\",\n                    \"comment\": \"Identificador da moeda\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"currencyCode\",\n                    \"comment\": \"Código da moeda (ex: R$, USD)\"\n                }\n            ]\n        },\n        {\n            \"schema\": \"raw_data\",\n            \"table_name\": \"clk_usuarios\",\n            \"fields\": [\n                {\n                    \"name\": \"id\",\n                    \"type\": \"VARCHAR(255)\",\n                    \"primary_key\": true\n                },\n                {\n                    \"name\": \"email\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"name\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"profilePicture\",\n                    \"type\": \"TEXT\"\n                },\n                {\n                    \"name\": \"activeWorkspace\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"defaultWorkspace\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"status\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"weekStart\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"timeZone\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"timeFormat\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"dateFormat\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"sendNewsletter\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"weeklyUpdates\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"longRunning\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"scheduledReports\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"approval\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"pto\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"alerts\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"reminders\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"timeTrackingManual\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"isCompactViewOn\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"dashboardSelection\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"dashboardViewType\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"dashboardPinToTop\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"projectListCollapse\",\n                    \"type\": \"INTEGER\"\n                },\n                {\n                    \"name\": \"collapseAllProjectLists\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"groupSimilarEntriesDisabled\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"myStartOfDay\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"projectPickerTaskFilter\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"lang\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"multiFactorEnabled\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"theme\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"scheduling\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"onboarding\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"invoiceReminders\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"showOnlyWorkingDays\",\n                    \"type\": \"BOOLEAN\"\n                },\n                {\n                    \"name\": \"memberships\",\n                    \"type\": \"JSONB\"\n                },\n                {\n                    \"name\": \"summaryReportSettings\",\n                    \"type\": \"JSONB\"\n                },\n                {\n                    \"name\": \"customFields\",\n                    \"type\": \"JSONB\"\n                }\n            ],\n            \"checks\": [\n                {\n                    \"constraint\": \"status IN ('ACTIVE', 'PENDING_EMAIL_VERIFICATION', 'DELETED', 'DECLINED') OR status IS NULL\"\n                },\n                {\n                    \"constraint\": \"weekStart IN ('MONDAY', 'SUNDAY', 'SATURDAY') OR weekStart IS NULL\"\n                },\n                {\n                    \"constraint\": \"timeFormat IN ('HOUR12', 'HOUR24') OR timeFormat IS NULL\"\n                },\n                {\n                    \"constraint\": \"dashboardSelection IN ('ME', 'TEAM') OR dashboardSelection IS NULL\"\n                },\n                {\n                    \"constraint\": \"dashboardViewType IN ('PROJECT', 'BILLABILITY') OR dashboardViewType IS NULL\"\n                },\n                {\n                    \"constraint\": \"lang IN ('PT', 'EN', 'ES', 'FR', 'DE') OR lang IS NULL\"\n                },\n                {\n                    \"constraint\": \"theme IN ('DEFAULT', 'DARK', 'LIGHT') OR theme IS NULL\"\n                }\n            ],\n            \"indexes\": [\n                {\n                    \"name\": \"idx_clk_usuarios_workspace_active\",\n                    \"columns\": [\n                        \"activeWorkspace\"\n                    ]\n                },\n                {\n                    \"name\": \"idx_clk_usuarios_workspace_default\",\n                    \"columns\": [\n                        \"defaultWorkspace\"\n                    ]\n                },\n                {\n                    \"name\": \"idx_clk_usuarios_status\",\n                    \"columns\": [\n                        \"status\"\n                    ]\n                },\n                {\n                    \"name\": \"idx_clk_usuarios_email\",\n                    \"columns\": [\n                        \"email\"\n                    ]\n                },\n                {\n                    \"name\": \"idx_clk_usuarios_name\",\n                    \"columns\": [\n                        \"name\"\n                    ]\n                },\n                {\n                    \"name\": \"idx_clk_usuarios_lang\",\n                    \"columns\": [\n                        \"lang\"\n                    ]\n                },\n                {\n                    \"name\": \"idx_clk_usuarios_theme\",\n                    \"columns\": [\n                        \"theme\"\n                    ]\n                }\n            ],\n            \"comments\": [\n                {\n                    \"type\": \"table\",\n                    \"comment\": \"Usuários do Clockify\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"id\",\n                    \"comment\": \"Chave primária - ID do usuário\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"email\",\n                    \"comment\": \"Email do usuário\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"name\",\n                    \"comment\": \"Nome do usuário\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"profilePicture\",\n                    \"comment\": \"URL da foto de perfil\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"activeWorkspace\",\n                    \"comment\": \"ID do workspace ativo\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"defaultWorkspace\",\n                    \"comment\": \"ID do workspace padrão\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"status\",\n                    \"comment\": \"Status do usuário: ACTIVE, PENDING_EMAIL_VERIFICATION, etc\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"weekStart\",\n                    \"comment\": \"Dia de início da semana: MONDAY, SUNDAY, SATURDAY\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"timeZone\",\n                    \"comment\": \"Fuso horário do usuário (ex: America/Sao_Paulo)\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"timeFormat\",\n                    \"comment\": \"Formato de hora: HOUR12 ou HOUR24\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"dateFormat\",\n                    \"comment\": \"Formato de data (ex: DD/MM/YYYY)\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"sendNewsletter\",\n                    \"comment\": \"Receber emails de newsletter\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"weeklyUpdates\",\n                    \"comment\": \"Receber atualizações semanais\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"longRunning\",\n                    \"comment\": \"Habilitar timer de longa duração\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"scheduledReports\",\n                    \"comment\": \"Habilitar relatórios agendados\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"approval\",\n                    \"comment\": \"Habilitar aprovação de entradas\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"pto\",\n                    \"comment\": \"Habilitar tempo livre pago (PTO)\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"alerts\",\n                    \"comment\": \"Habilitar alertas\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"reminders\",\n                    \"comment\": \"Habilitar lembretes\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"timeTrackingManual\",\n                    \"comment\": \"Modo de rastreamento manual\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"isCompactViewOn\",\n                    \"comment\": \"Usar visualização compacta\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"dashboardSelection\",\n                    \"comment\": \"Seleção do dashboard: ME ou TEAM\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"dashboardViewType\",\n                    \"comment\": \"Tipo de visualização: PROJECT ou BILLABILITY\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"dashboardPinToTop\",\n                    \"comment\": \"Fixar dashboard no topo\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"projectListCollapse\",\n                    \"comment\": \"Limite de colapso da lista de projetos\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"collapseAllProjectLists\",\n                    \"comment\": \"Colapsar todas as listas de projetos\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"groupSimilarEntriesDisabled\",\n                    \"comment\": \"Desabilitar agrupamento de entradas similares\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"myStartOfDay\",\n                    \"comment\": \"Horário de início do dia (ex: 09:00)\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"projectPickerTaskFilter\",\n                    \"comment\": \"Filtro de tarefas no seletor de projetos\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"lang\",\n                    \"comment\": \"Idioma do usuário: PT, EN, ES, etc\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"multiFactorEnabled\",\n                    \"comment\": \"Autenticação multi-fator habilitada\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"theme\",\n                    \"comment\": \"Tema da interface: DEFAULT, DARK, LIGHT\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"scheduling\",\n                    \"comment\": \"Habilitar recurso de agendamento\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"onboarding\",\n                    \"comment\": \"Mostrar telas de integração\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"invoiceReminders\",\n                    \"comment\": \"Lembretes de fatura habilitados\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"showOnlyWorkingDays\",\n                    \"comment\": \"Mostrar apenas dias úteis\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"memberships\",\n                    \"comment\": \"Membros dos workspaces (array JSONB)\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"summaryReportSettings\",\n                    \"comment\": \"Configurações de relatório resumido (objeto JSONB)\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"customFields\",\n                    \"comment\": \"Campos personalizados (array JSONB)\"\n                }\n            ]\n        },\n        {\n            \"schema\": \"raw_data\",\n            \"table_name\": \"clk_tags\",\n            \"fields\": [\n                {\n                    \"name\": \"id\",\n                    \"type\": \"VARCHAR(255)\",\n                    \"primary_key\": true\n                },\n                {\n                    \"name\": \"name\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"workspaceId\",\n                    \"type\": \"VARCHAR(255)\"\n                },\n                {\n                    \"name\": \"archived\",\n                    \"type\": \"BOOLEAN\"\n                }\n            ],\n            \"checks\": [],\n            \"indexes\": [\n                {\n                    \"name\": \"idx_clk_tags_workspace\",\n                    \"columns\": [\n                        \"workspaceId\"\n                    ]\n                },\n                {\n                    \"name\": \"idx_clk_tags_archived\",\n                    \"columns\": [\n                        \"archived\"\n                    ]\n                },\n                {\n                    \"name\": \"idx_clk_tags_name\",\n                    \"columns\": [\n                        \"name\"\n                    ]\n                }\n            ],\n            \"comments\": [\n                {\n                    \"type\": \"table\",\n                    \"comment\": \"Tags do Clockify\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"id\",\n                    \"comment\": \"Chave primária - ID da tag\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"name\",\n                    \"comment\": \"Nome da tag\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"workspaceId\",\n                    \"comment\": \"Referência ao workspace\"\n                },\n                {\n                    \"type\": \"column\",\n                    \"column\": \"archived\",\n                    \"comment\": \"Se a tag está arquivada\"\n                }\n            ]\n        }\n    ]\n}",
        "options": {}
      },
      "id": "7d40218b-24e0-4dcc-bbf1-9120a937bfc7",
      "name": "Definir Tabelas CLOCKIFY",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -1248,
        -736
      ],
      "onError": "continueRegularOutput",
      "notes": "⏱️ TABELAS CLOCKIFY (raw_data)\n\nContém 4 tabelas do sistema de rastreamento de horas Clockify:\n- Projetos (clk_projetos) - projetos com estimativas e orçamentos\n- Clientes (clk_clientes) - dados dos clientes\n- Usuários (clk_usuarios) - configurações e preferências\n- Tags (clk_tags) - etiquetas para categorização\n\nCada tabela inclui: campos, constraints, índices, comentários e schema"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -960,
        -560
      ],
      "id": "441acf3e-986c-46c5-b9ee-da341a1a532e",
      "name": "Mesclar",
      "notes": "🔀 Combina definições de tabelas VHSYS (financeiro) + Clockify (horas) em um único fluxo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f1c0aa5-2a87-4c17-b496-34c940715ca1",
              "name": "Deve excluir tabela",
              "value": "true",
              "type": "string"
            },
            {
              "id": "ae04f6c6-cec7-45ca-8840-232025b27287",
              "name": "Deve incluir comentários",
              "value": "true",
              "type": "string"
            },
            {
              "id": "22a3c821-d23b-4c7e-9b2b-8c741810bbc5",
              "name": "Deve incluir tabela relacionada",
              "value": "true",
              "type": "string"
            },
            {
              "id": "1802e961-192d-42b4-b9e3-007196e25e4a",
              "name": "Deve incluir chaves estranggeiras",
              "value": "true",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1568,
        -544
      ],
      "id": "f23218a6-09fa-4c51-83f7-813d1750aff0",
      "name": "Definir Constantes",
      "notes": "⚙️ CONFIGURAÇÕES GLOBAIS\n\nDefine os parâmetros que controlam o comportamento do workflow:\n- Deve excluir tabela? (DROP antes de CREATE)\n- Deve incluir comentários? (COMMENT ON)\n- Deve incluir chaves estrangeiras? (FK)\n- Deve incluir tabelas relacionadas? (Analytics)\n\nEssas configurações são verificadas pelos nós IF ao longo do fluxo."
    },
    {
      "parameters": {
        "content": "## ⚙️ CONTROLES CONDICIONAIS\n\n**IFs verificam configurações:**\n- ✅ Deve excluir tabela existente?\n- ✅ Deve incluir comentários?\n- ✅ Deve incluir chaves estrangeiras?\n- ✅ Deve incluir tabelas relacionadas?\n\nPermite execução flexível do workflow.",
        "height": 218,
        "width": 302,
        "color": 3
      },
      "id": "3388b792-e7aa-4c72-88d8-e05fc5600778",
      "name": "Sticky Note - Controles",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1744,
        -832
      ]
    },
    {
      "parameters": {
        "content": "## 🔄 PROCESSAMENTO PRINCIPAL\n\n**Fluxo para cada tabela:**\n1. **Exclusão** (se configurado)\n2. **Criação** da estrutura\n3. **Índices** para otimização\n4. **Comentários** de documentação\n5. **Chaves estrangeiras** para integridade\n\nCada etapa é controlada por condições IF baseadas nas configurações.",
        "height": 277,
        "width": 427,
        "color": 4
      },
      "id": "877102f3-1f40-47ef-8abc-c236a7e8d53c",
      "name": "Sticky Note - Processamento",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -640,
        -896
      ]
    },
    {
      "parameters": {
        "content": "## 📋 INÍCIO DO FLUXO\n\n**Objetivo:** Criar automaticamente as tabelas do banco de dados incluindo:\n- Tabelas VHSYS (sistema financeiro)\n- Tabelas Clockify (controle de horas)\n- Tabelas Analytics (relacionamentos)\n\n**Processo:**\n1. Define constantes de configuração\n2. Mescla definições de ambos os sistemas\n3. Processa tabelas principais\n4. Processa tabelas de relacionamento (analytics)",
        "height": 367.65003662109365,
        "width": 475.3165817260742,
        "color": 7
      },
      "id": "d4ed943a-526a-4bf3-8c44-3ac97c659d05",
      "name": "Sticky Note - Início",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2416,
        -672
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        752,
        -544
      ],
      "id": "0b0c3f2e-75a9-45ad-aab1-63843e25da7c",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n   \"tables\":[\n      {\n         \"schema\":\"raw_data\",\n         \"table_name\":\"vhs_produtos\",\n         \"fields\":[\n            {\n               \"name\":\"id_produto\",\n               \"type\":\"INTEGER\",\n               \"primary_key\":true\n            },\n            {\n               \"name\":\"id_registro\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_empresa\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_categoria\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"cod_produto\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"marca_produto\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"desc_produto\",\n               \"type\":\"VARCHAR(500)\"\n            },\n            {\n               \"name\":\"atalho_produto\",\n               \"type\":\"VARCHAR(500)\"\n            },\n            {\n               \"name\":\"fornecedor_produto\",\n               \"type\":\"VARCHAR(255)\"\n            },\n           {\n               \"name\":\"migrado_opensearch\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"fornecedor_produto_id\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"produto_variado\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_produto_parent\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"minimo_produto\",\n               \"type\":\"DECIMAL(15,6)\"\n            },\n            {\n               \"name\":\"maximo_produto\",\n               \"type\":\"DECIMAL(15,6)\"\n            },\n            {\n               \"name\":\"estoque_produto\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"unidade_produto\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"valor_produto\",\n               \"type\":\"DECIMAL(15,6)\"\n            },\n            {\n               \"name\":\"valor_custo_produto\",\n               \"type\":\"DECIMAL(15,6)\"\n            },\n            {\n               \"name\":\"peso_produto\",\n               \"type\":\"DECIMAL(15,6)\"\n            },\n            {\n               \"name\":\"peso_liq_produto\",\n               \"type\":\"DECIMAL(15,6)\"\n            },\n            {\n               \"name\":\"icms_produto\",\n               \"type\":\"DECIMAL(5,2)\"\n            },\n            {\n               \"name\":\"ipi_produto\",\n               \"type\":\"DECIMAL(5,2)\"\n            },\n            {\n               \"name\":\"pis_produto\",\n               \"type\":\"DECIMAL(5,2)\"\n            },\n            {\n               \"name\":\"cofins_produto\",\n               \"type\":\"DECIMAL(5,2)\"\n            },\n            {\n               \"name\":\"unidade_tributavel\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"cest_produto\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"beneficio_fiscal\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"ncm_produto\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"origem_produto\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"codigo_barra_produto\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"codigo_barras_internos\",\n               \"type\":\"VARCHAR(500)\"\n            },\n            {\n               \"name\":\"obs_produto\",\n               \"type\":\"TEXT\"\n            },\n            {\n               \"name\":\"tipo_produto\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"tamanho_produto\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"localizacao_produto\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"kit_produto\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"baixar_kit\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"desmembrar_kit\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"loja_visivel\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"loja_video_url\",\n               \"type\":\"VARCHAR(500)\"\n            },\n            {\n               \"name\":\"valor_tributos\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_tributosEst\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"status_produto\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"id_comissionamento\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_regra_comissionamento_servico\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"data_cad_produto\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"data_mod_produto\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"data_mod_estoque\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"lixeira\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"multiempresa\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"endereco_fixo\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"controla_lote\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"controla_validade\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"lista_preco\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"subcategoria\",\n               \"type\":\"JSONB\"\n            },\n            {\n               \"name\":\"grades\",\n               \"type\":\"JSONB\"\n            },\n            {\n               \"name\":\"variacoes\",\n               \"type\":\"JSONB\"\n            },\n            {\n               \"name\":\"imagens\",\n               \"type\":\"JSONB\"\n            }\n         ],\n         \"checks\":[\n            {\n               \"constraint\":\"lixeira IN ('Sim', 'Nao')\"\n            },\n            {\n               \"constraint\":\"kit_produto IN ('Sim', 'Nao')\"\n            },\n            {\n               \"constraint\":\"tipo_produto IN ('Produto', 'Servico')\"\n            }\n         ],\n         \"indexes\":[\n            {\n               \"name\":\"idx_vhs_produtos_empresa\",\n               \"columns\":[\n                  \"id_empresa\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_produtos_categoria\",\n               \"columns\":[\n                  \"id_categoria\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_produtos_codigo\",\n               \"columns\":[\n                  \"cod_produto\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_produtos_tipo\",\n               \"columns\":[\n                  \"tipo_produto\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_produtos_status\",\n               \"columns\":[\n                  \"status_produto\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_produtos_lixeira\",\n               \"columns\":[\n                  \"lixeira\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_produtos_fornecedor\",\n               \"columns\":[\n                  \"fornecedor_produto_id\"\n               ]\n            }\n         ],\n         \"comments\":[\n            {\n               \"type\":\"table\",\n               \"comment\":\"Produtos e Serviços do VHSYS\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"id_produto\",\n               \"comment\":\"Chave primária - ID do produto\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"tipo_produto\",\n               \"comment\":\"Tipo de produto: Produto ou Servico\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"lixeira\",\n               \"comment\":\"Flag de exclusão lógica: Sim=excluído, Nao=ativo\"\n            }\n         ]\n      },\n      {\n         \"schema\":\"raw_data\",\n         \"table_name\":\"vhs_categorias_financeiras\",\n         \"fields\":[\n            {\n               \"name\":\"id_categoria\",\n               \"type\":\"INTEGER\",\n               \"primary_key\":true\n            },\n            {\n               \"name\":\"id_grupo\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_categoria_pai\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"tipo_categoria\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"desc_categoria\",\n               \"type\":\"VARCHAR(500)\"\n            },\n            {\n               \"name\":\"visivel_dre\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"id_contabilizacao\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"lixeira\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"created_at\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"updated_at\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"grupo_financeiro\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"categoria_pai\",\n               \"type\":\"VARCHAR(500)\"\n            }\n         ],\n         \"checks\":[\n            {\n               \"constraint\":\"lixeira IN ('Sim', 'Nao')\"\n            },\n            {\n               \"constraint\":\"visivel_dre IN ('Sim', 'Nao')\"\n            },\n            {\n               \"constraint\":\"tipo_categoria IN ('Despesa', 'Receita')\"\n            }\n         ],\n         \"indexes\":[\n            {\n               \"name\":\"idx_vhs_categorias_tipo\",\n               \"columns\":[\n                  \"tipo_categoria\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_categorias_grupo\",\n               \"columns\":[\n                  \"id_grupo\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_categorias_lixeira\",\n               \"columns\":[\n                  \"lixeira\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_categorias_pai\",\n               \"columns\":[\n                  \"id_categoria_pai\"\n               ]\n            }\n         ],\n         \"comments\":[\n            {\n               \"type\":\"table\",\n               \"comment\":\"Categorias Financeiras do VHSYS\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"id_categoria\",\n               \"comment\":\"Chave primária - ID da categoria\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"tipo_categoria\",\n               \"comment\":\"Tipo de categoria: Despesa ou Receita\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"lixeira\",\n               \"comment\":\"Flag de exclusão lógica: Sim=excluído, Nao=ativo\"\n            }\n         ]\n      },\n      {\n         \"schema\":\"raw_data\",\n         \"table_name\":\"vhs_bancos\",\n         \"fields\":[\n            {\n               \"name\":\"id_banco_cad\",\n               \"type\":\"INTEGER\",\n               \"primary_key\":true\n            },\n            {\n               \"name\":\"nome_banco_cad\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"gerar_boletos\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"conta_tipo\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_carteira\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"carteira_banco\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"convenio_banco\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"cedente_banco\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"agencia_banco\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"agencia_dv_banco\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"conta_banco\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"conta_dv_banco\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"codigo_cedente\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"instrucoes_boleto\",\n               \"type\":\"TEXT\"\n            },\n            {\n               \"name\":\"dias_multa\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"correcao_dia\",\n               \"type\":\"DECIMAL(10,3)\"\n            },\n            {\n               \"name\":\"taxa_boleto\",\n               \"type\":\"DECIMAL(10,2)\"\n            },\n            {\n               \"name\":\"cobrar_juros\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"dias_juros\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"msg_juros\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"tipo_desconto\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"status_banco\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"com_registro\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"especie_cobranca\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"numero_contrato\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"data_cad_banco\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"data_mod_banco\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"sequencia\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"padrao_receita\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"padrao_despesa\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"open_finance\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_item_pluggy\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"id_conta_pluggy\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"trampolin\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_plugboleto_conta\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"id_plugboleto_convenio\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"plugboleto_api_id\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"plugboleto_secret\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"plugboleto_certificado_vencimento\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"plugboleto_credenciais_status\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"conta_externa_dda\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"gerencianet\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"layout_cobranca_cad\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"protesto_codigo\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"juros_codigo\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"multa_codigo\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"aceite_banco\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"lixeira\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"id_conta_ob\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"consentimento_ob\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"hash_ob\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"liquida_taxa\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_especie_titulo\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"criar_conta_stone\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"conta_stone\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"data_consentimento\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"boleto_facil_observacao_boleto\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"segmento_S\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"open_finance_updated_at\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"titulo_caucionavel\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"saldo_inicial_open_finance\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"saldo_inicial_open_finance_data\",\n               \"type\":\"DATE\"\n            },\n            {\n               \"name\":\"saldo_atual_open_finance\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"numero_banco\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"multa_atraso\",\n               \"type\":\"DECIMAL(10,2)\"\n            }\n         ],\n         \"checks\":[\n            {\n               \"constraint\":\"lixeira IN ('Sim', 'Nao')\"\n            },\n            {\n               \"constraint\":\"aceite_banco IN ('S', 'N')\"\n            },\n            {\n               \"constraint\":\"consentimento_ob IN ('S', 'N')\"\n            },\n            {\n               \"constraint\":\"titulo_caucionavel IN ('S', 'N')\"\n            }\n         ],\n         \"indexes\":[\n            {\n               \"name\":\"idx_vhs_bancos_status\",\n               \"columns\":[\n                  \"status_banco\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_bancos_lixeira\",\n               \"columns\":[\n                  \"lixeira\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_bancos_numero\",\n               \"columns\":[\n                  \"numero_banco\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_bancos_padrao_receita\",\n               \"columns\":[\n                  \"padrao_receita\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_bancos_padrao_despesa\",\n               \"columns\":[\n                  \"padrao_despesa\"\n               ]\n            }\n         ],\n         \"comments\":[\n            {\n               \"type\":\"table\",\n               \"comment\":\"Contas Bancárias do VHSYS\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"id_banco_cad\",\n               \"comment\":\"Chave primária - ID da conta bancária\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"lixeira\",\n               \"comment\":\"Flag de exclusão lógica: Sim=excluído, Nao=ativo\"\n            }\n         ]\n      },\n      {\n         \"schema\":\"raw_data\",\n         \"table_name\":\"vhs_contas_pagar\",\n         \"fields\":[\n            {\n               \"name\":\"id_conta_pag\",\n               \"type\":\"INTEGER\",\n               \"primary_key\":true\n            },\n            {\n               \"name\":\"id_empresa\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_registro\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"identificacao\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"nome_conta\",\n               \"type\":\"VARCHAR(500)\"\n            },\n           {\n               \"name\":\"id_meio_pagamento\",\n               \"type\":\"VARCHAR(500)\"\n            },\n            {\n               \"name\":\"id_categoria\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"categoria_pag\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"id_banco\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_fornecedor\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"nome_fornecedor\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"vencimento_pag\",\n               \"type\":\"DATE\"\n            },\n            {\n               \"name\":\"valor_pag\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_pago\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"data_emissao\",\n               \"type\":\"DATE\"\n            },\n            {\n               \"name\":\"n_documento_pag\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"observacoes_pag\",\n               \"type\":\"TEXT\"\n            },\n            {\n               \"name\":\"id_centro_custos\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"centro_custos_pag\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"liquidado_pag\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"data_pagamento\",\n               \"type\":\"DATE\"\n            },\n            {\n               \"name\":\"obs_pagamento\",\n               \"type\":\"TEXT\"\n            },\n            {\n               \"name\":\"forma_pagamento\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"valor_juros\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_desconto\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_acrescimo\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_taxa\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"vinculo_dda\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"data_cad_pag\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"data_mod_pag\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"agrupado\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"agrupado_data\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"agrupado_user\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"agrupamento\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"lixeira\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"situacao\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"status\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_pagamento_ob\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"codigo_barras\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"descricao_ob\",\n               \"type\":\"TEXT\"\n            },\n            {\n               \"name\":\"valor_baixa\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"codigo_pagamento\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"agendamento_vh_conta\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"centro_custo\",\n               \"type\":\"JSONB\"\n            },\n            {\n               \"name\":\"parciais\",\n               \"type\":\"JSONB\"\n            }\n         ],\n         \"checks\":[\n            {\n               \"constraint\":\"lixeira IN ('Sim', 'Nao')\"\n            },\n            {\n               \"constraint\":\"liquidado_pag IN ('Sim', 'Nao')\"\n            }\n         ],\n         \"indexes\":[\n            {\n               \"name\":\"idx_vhs_contas_pagar_empresa\",\n               \"columns\":[\n                  \"id_empresa\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_contas_pagar_categoria\",\n               \"columns\":[\n                  \"id_categoria\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_contas_pagar_banco\",\n               \"columns\":[\n                  \"id_banco\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_contas_pagar_fornecedor\",\n               \"columns\":[\n                  \"id_fornecedor\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_contas_pagar_vencimento\",\n               \"columns\":[\n                  \"vencimento_pag\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_contas_pagar_liquidado\",\n               \"columns\":[\n                  \"liquidado_pag\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_contas_pagar_lixeira\",\n               \"columns\":[\n                  \"lixeira\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_contas_pagar_centro_custos\",\n               \"columns\":[\n                  \"id_centro_custos\"\n               ]\n            }\n         ],\n         \"comments\":[\n            {\n               \"type\":\"table\",\n               \"comment\":\"Contas a Pagar do VHSYS\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"id_conta_pag\",\n               \"comment\":\"Chave primária - ID da conta a pagar\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"liquidado_pag\",\n               \"comment\":\"Status de pagamento: Sim=pago, Nao=pendente\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"lixeira\",\n               \"comment\":\"Flag de exclusão lógica: Sim=excluído, Nao=ativo\"\n            }\n         ]\n      },\n      {\n         \"schema\":\"raw_data\",\n         \"table_name\":\"vhs_contas_receber\",\n         \"fields\":[\n            {\n               \"name\":\"id_conta_rec\",\n               \"type\":\"INTEGER\",\n               \"primary_key\":true\n            },\n            {\n               \"name\":\"id_empresa\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_registro\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"identificacao\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"nome_conta\",\n               \"type\":\"VARCHAR(500)\"\n            },\n            {\n               \"name\":\"id_categoria\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_meio_pagamento\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"categoria_rec\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"id_banco\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_cliente\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_boleto\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"nome_cliente\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"vencimento_rec\",\n               \"type\":\"DATE\"\n            },\n            {\n               \"name\":\"valor_rec\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_pago\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"data_emissao\",\n               \"type\":\"DATE\"\n            },\n            {\n               \"name\":\"vencimento_original\",\n               \"type\":\"DATE\"\n            },\n            {\n               \"name\":\"n_documento_rec\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"observacoes_rec\",\n               \"type\":\"TEXT\"\n            },\n            {\n               \"name\":\"id_centro_custos\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"centro_custos_rec\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"praca_pagamento\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"liquidado_rec\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"data_pagamento\",\n               \"type\":\"DATE\"\n            },\n            {\n               \"name\":\"obs_pagamento\",\n               \"type\":\"TEXT\"\n            },\n            {\n               \"name\":\"forma_pagamento\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"valor_juros\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_desconto\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_acrescimo\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_taxa\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"retorno_pagamento\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"tipo_conta\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"data_cad_rec\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"data_mod_rec\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"boleto_enviado\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"boleto_original\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"duplicata_enviado\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"remetido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"registrado\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"protestar\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"dias_protestar\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"NossoNumero\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"agrupado\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"agrupado_data\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"agrupado_user\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"agrupamento\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"fluxo\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"lixeira\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"id_pagamento_ob\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"situacao\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"status\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"valor_baixa\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"link_boleto\",\n               \"type\":\"VARCHAR(500)\"\n            },\n            {\n               \"name\":\"brcode\",\n               \"type\":\"TEXT\"\n            }\n         ],\n         \"checks\":[\n            {\n               \"constraint\":\"lixeira IN ('Sim', 'Nao')\"\n            },\n            {\n               \"constraint\":\"liquidado_rec IN ('Sim', 'Nao')\"\n            }\n         ],\n         \"indexes\":[\n            {\n               \"name\":\"idx_vhs_contas_receber_empresa\",\n               \"columns\":[\n                  \"id_empresa\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_contas_receber_categoria\",\n               \"columns\":[\n                  \"id_categoria\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_contas_receber_banco\",\n               \"columns\":[\n                  \"id_banco\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_contas_receber_cliente\",\n               \"columns\":[\n                  \"id_cliente\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_contas_receber_vencimento\",\n               \"columns\":[\n                  \"vencimento_rec\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_contas_receber_liquidado\",\n               \"columns\":[\n                  \"liquidado_rec\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_contas_receber_lixeira\",\n               \"columns\":[\n                  \"lixeira\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_contas_receber_centro_custos\",\n               \"columns\":[\n                  \"id_centro_custos\"\n               ]\n            }\n         ],\n         \"comments\":[\n            {\n               \"type\":\"table\",\n               \"comment\":\"Contas a Receber do VHSYS\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"id_conta_rec\",\n               \"comment\":\"Chave primária - ID da conta a receber\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"liquidado_rec\",\n               \"comment\":\"Status de pagamento: Sim=recebido, Nao=pendente\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"lixeira\",\n               \"comment\":\"Flag de exclusão lógica: Sim=excluído, Nao=ativo\"\n            }\n         ]\n      },\n      {\n         \"schema\":\"raw_data\",\n         \"table_name\":\"vhs_extratos\",\n         \"fields\":[\n            {\n               \"name\":\"id_fluxo\",\n               \"type\":\"INTEGER\",\n               \"primary_key\":true\n            },\n            {\n               \"name\":\"id_banco\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"nome_conta\",\n               \"type\":\"VARCHAR(500)\"\n            },\n            {\n               \"name\":\"id_cliente\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"nome_cliente\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"data_fluxo\",\n               \"type\":\"DATE\"\n            },\n            {\n               \"name\":\"valor_fluxo\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"observacoes_fluxo\",\n               \"type\":\"TEXT\"\n            },\n            {\n               \"name\":\"id_centro_custos\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"centro_custos_fluxo\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"id_categoria\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"categoria_fluxo\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"forma_pagamento\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"tipo_fluxo\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"data_cad_fluxo\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"data_mod_fluxo\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"lixeira\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"id_transferencia\",\n               \"type\":\"INTEGER\"\n            }\n         ],\n         \"checks\":[\n            {\n               \"constraint\":\"lixeira IN ('Sim', 'Nao')\"\n            },\n            {\n               \"constraint\":\"tipo_fluxo IN ('Entrada', 'Saida')\"\n            }\n         ],\n         \"indexes\":[\n            {\n               \"name\":\"idx_vhs_extratos_banco\",\n               \"columns\":[\n                  \"id_banco\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_extratos_cliente\",\n               \"columns\":[\n                  \"id_cliente\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_extratos_data\",\n               \"columns\":[\n                  \"data_fluxo\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_extratos_tipo\",\n               \"columns\":[\n                  \"tipo_fluxo\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_extratos_categoria\",\n               \"columns\":[\n                  \"id_categoria\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_extratos_lixeira\",\n               \"columns\":[\n                  \"lixeira\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_extratos_centro_custos\",\n               \"columns\":[\n                  \"id_centro_custos\"\n               ]\n            }\n         ],\n         \"comments\":[\n            {\n               \"type\":\"table\",\n               \"comment\":\"Extratos Bancários do VHSYS\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"id_fluxo\",\n               \"comment\":\"Chave primária - ID do fluxo de transação\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"tipo_fluxo\",\n               \"comment\":\"Tipo de transação: Entrada=receita, Saida=despesa\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"lixeira\",\n               \"comment\":\"Flag de exclusão lógica: Sim=excluído, Nao=ativo\"\n            }\n         ]\n      },\n      {\n         \"schema\":\"raw_data\",\n         \"table_name\":\"vhs_centro_custos\",\n         \"fields\":[\n            {\n               \"name\":\"id_centro_custos\",\n               \"type\":\"INTEGER\",\n               \"primary_key\":true\n            },\n            {\n               \"name\":\"ref_centros_custo\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"desc_centro_custos\",\n               \"type\":\"VARCHAR(500)\"\n            },\n            {\n               \"name\":\"status_centro_custos\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"data_cad_centro\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"data_mod_centro\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"lixeira\",\n               \"type\":\"VARCHAR(255)\"\n            }\n         ],\n         \"checks\":[\n            {\n               \"constraint\":\"lixeira IN ('Sim', 'Nao')\"\n            },\n            {\n               \"constraint\":\"status_centro_custos IN ('Ativo', 'Inativo')\"\n            }\n         ],\n         \"indexes\":[\n            {\n               \"name\":\"idx_vhs_centro_custos_status\",\n               \"columns\":[\n                  \"status_centro_custos\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_centro_custos_lixeira\",\n               \"columns\":[\n                  \"lixeira\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_centro_custos_data_cad\",\n               \"columns\":[\n                  \"data_cad_centro\"\n               ]\n            }\n         ],\n         \"comments\":[\n            {\n               \"type\":\"table\",\n               \"comment\":\"Centros de Custo do VHSYS\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"id_centro_custos\",\n               \"comment\":\"Chave primária - ID do centro de custo\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"status_centro_custos\",\n               \"comment\":\"Status do centro de custo: Ativo ou Inativo\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"lixeira\",\n               \"comment\":\"Flag de exclusão lógica: Sim=excluído, Nao=ativo\"\n            }\n         ]\n      },\n      {\n         \"schema\":\"raw_data\",\n         \"table_name\":\"vhs_pedidos\",\n         \"fields\":[\n            {\n               \"name\":\"id_ped\",\n               \"type\":\"INTEGER\",\n               \"primary_key\":true\n            },\n            {\n               \"name\":\"id_pedido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_cliente\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"nome_cliente\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"id_local_retirada\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_local_cobranca\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"vendedor_pedido\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"vendedor_pedido_id\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"listapreco_produtos\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"valor_total_produtos\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"desconto_pedido\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"desconto_pedido_porc\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"peso_total_nota\",\n               \"type\":\"DECIMAL(15,6)\"\n            },\n            {\n               \"name\":\"peso_total_nota_liq\",\n               \"type\":\"DECIMAL(15,6)\"\n            },\n            {\n               \"name\":\"frete_pedido\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_total_nota\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_baseICMS\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_ICMS\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_baseST\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_ST\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_IPI\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"condicao_pagamento_id\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"condicao_pagamento\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"frete_por_pedido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"transportadora_pedido\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"id_transportadora\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"data_pedido\",\n               \"type\":\"DATE\"\n            },\n            {\n               \"name\":\"prazo_entrega\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"ref_centros_custo\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"referencia_pedido\",\n               \"type\":\"VARCHAR(500)\"\n            },\n            {\n               \"name\":\"obs_pedido\",\n               \"type\":\"TEXT\"\n            },\n            {\n               \"name\":\"obs_interno_pedido\",\n               \"type\":\"TEXT\"\n            },\n            {\n               \"name\":\"status_pedido\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"contas_pedido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"comissao_pedido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"estoque_pedido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"pdv_emitido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"ordemc_emitido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"data_cad_pedido\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"data_mod_pedido\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"id_aplicativo\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_pedido_aplicativo\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_almoxarifado\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"situacao\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"pagamento_com_vhpay\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"pagamento_com_conta_integrada\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"pagamento_com_pagar_me\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"link_pgto_gerado\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"lixeira\",\n               \"type\":\"VARCHAR(255)\"\n            }\n         ],\n         \"checks\":[\n            {\n               \"constraint\":\"lixeira IN ('Sim', 'Nao')\"\n            }\n         ],\n         \"indexes\":[\n            {\n               \"name\":\"idx_vhs_pedidos_id_pedido\",\n               \"columns\":[\n                  \"id_pedido\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_pedidos_cliente\",\n               \"columns\":[\n                  \"id_cliente\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_pedidos_data_pedido\",\n               \"columns\":[\n                  \"data_pedido\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_pedidos_status\",\n               \"columns\":[\n                  \"status_pedido\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_pedidos_lixeira\",\n               \"columns\":[\n                  \"lixeira\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_pedidos_vendedor\",\n               \"columns\":[\n                  \"vendedor_pedido_id\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_pedidos_data_cad\",\n               \"columns\":[\n                  \"data_cad_pedido\"\n               ]\n            }\n         ],\n         \"comments\":[\n            {\n               \"type\":\"table\",\n               \"comment\":\"Pedidos de Venda do VHSYS\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"id_ped\",\n               \"comment\":\"Chave primária - ID do pedido\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"status_pedido\",\n               \"comment\":\"Status do pedido: Em Aberto, Em Andamento, Atendido, etc\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"lixeira\",\n               \"comment\":\"Flag de exclusão lógica: Sim=excluído, Nao=ativo\"\n            }\n         ]\n      },\n      {\n         \"schema\":\"raw_data\",\n         \"table_name\":\"vhs_notas_fiscais\",\n         \"fields\":[\n            {\n               \"name\":\"id_venda\",\n               \"type\":\"INTEGER\",\n               \"primary_key\":true\n            },\n            {\n               \"name\":\"tp_nfe\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"serie_nota\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_pedido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_cliente\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"nome_cliente\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"id_local_cobranca\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"vendedor_pedido\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"vendedor_pedido_id\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"valor_total_produtos\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"desconto_pedido\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"desconto_pedido_porc\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"peso_total_nota\",\n               \"type\":\"DECIMAL(15,4)\"\n            },\n            {\n               \"name\":\"peso_total_nota_liq\",\n               \"type\":\"DECIMAL(15,4)\"\n            },\n            {\n               \"name\":\"frete_pedido\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_total_nota\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_baseICMS\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_ICMS\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_vICMSDeson_icms\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_baseST\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_ST\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_IPI\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_despesas\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_desconto_blocked\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"valor_despesas_blocked\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"valor_frete_blocked\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"condicao_pagamento\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"frete_por_pedido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"transportadora_pedido\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"id_transportadora\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"volumes_transporta\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"especie_transporta\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"marca_transporta\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"numeracao_transporta\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"placa_transporta\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"uf_placa_transporta\",\n               \"type\":\"VARCHAR(2)\"\n            },\n            {\n               \"name\":\"uf_embarque\",\n               \"type\":\"VARCHAR(2)\"\n            },\n            {\n               \"name\":\"rntc_transporta\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"local_embarque\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"data_pedido\",\n               \"type\":\"DATE\"\n            },\n            {\n               \"name\":\"data_pedido_hora\",\n               \"type\":\"TIME\"\n            },\n            {\n               \"name\":\"data_emissao\",\n               \"type\":\"DATE\"\n            },\n            {\n               \"name\":\"indPres_pedido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"natureza_pedido\",\n               \"type\":\"VARCHAR(500)\"\n            },\n            {\n               \"name\":\"finalidade_nfe\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"tipo_nota_debito\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"tipo_nota_credito\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"cnpj_cpf_participantes_comerciais\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"obs_pedido\",\n               \"type\":\"TEXT\"\n            },\n            {\n               \"name\":\"obs_interno_pedido\",\n               \"type\":\"TEXT\"\n            },\n            {\n               \"name\":\"status_pedido\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"contas_pedido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"comissao_pedido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"boletos_pedido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"estoque_pedido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"nota_emitida\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"nota_chave\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"nota_protocolo\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"nota_codigov\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"nota_recibo\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"nota_data_autorizacao\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"nota_usuario_autorizacao\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"nota_data_cancelamento\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"nota_usuario_cancelamento\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"nota_motivo_cancelamento\",\n               \"type\":\"TEXT\"\n            },\n            {\n               \"name\":\"nota_denegada\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"nota_importada\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"nota_scan\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"xml_importado\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_almoxarifado\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"data_cad_pedido\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"data_mod_pedido\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"ambiente\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"seguro_pedido\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"lixeira\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"valor_seguro_blocked\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_pedido_ref\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"chave_ref_produtos\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"cnpj_intermediador\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"ident_no_intermediador\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"tipo_intermediador\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"qBCMono\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"vICMSMono\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"qBCMonoReten\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"vICMSMonoReten\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"qBCMonoRet\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"vICMSMonoRet\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"PagAntecipado_refNFe\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"data_prev_entrega\",\n               \"type\":\"DATE\"\n            },\n            {\n               \"name\":\"vNFTot\",\n               \"type\":\"DECIMAL(15,2)\"\n            }\n         ],\n         \"checks\":[\n            {\n               \"constraint\":\"lixeira IN ('Sim', 'Nao')\"\n            }\n         ],\n         \"indexes\":[\n            {\n               \"name\":\"idx_vhs_notas_fiscais_pedido\",\n               \"columns\":[\n                  \"id_pedido\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_notas_fiscais_cliente\",\n               \"columns\":[\n                  \"id_cliente\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_notas_fiscais_data_pedido\",\n               \"columns\":[\n                  \"data_pedido\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_notas_fiscais_data_emissao\",\n               \"columns\":[\n                  \"data_emissao\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_notas_fiscais_status\",\n               \"columns\":[\n                  \"status_pedido\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_notas_fiscais_lixeira\",\n               \"columns\":[\n                  \"lixeira\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_notas_fiscais_nota_chave\",\n               \"columns\":[\n                  \"nota_chave\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_notas_fiscais_data_cad\",\n               \"columns\":[\n                  \"data_cad_pedido\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_notas_fiscais_nota_emitida\",\n               \"columns\":[\n                  \"nota_emitida\"\n               ]\n            }\n         ],\n         \"comments\":[\n            {\n               \"type\":\"table\",\n               \"comment\":\"Notas Fiscais (NFe) do VHSYS\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"id_venda\",\n               \"comment\":\"Chave primária - ID da venda/nota fiscal\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"nota_chave\",\n               \"comment\":\"Chave de acesso da nota fiscal eletrônica (NFe)\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"status_pedido\",\n               \"comment\":\"Status da nota: Em Aberto, Atendido, Cancelado, etc\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"lixeira\",\n               \"comment\":\"Flag de exclusão lógica: Sim=excluído, Nao=ativo\"\n            }\n         ]\n      },\n      {\n         \"schema\":\"raw_data\",\n         \"table_name\":\"vhs_ordens_compra\",\n         \"fields\":[\n            {\n               \"name\":\"id_ordem\",\n               \"type\":\"INTEGER\",\n               \"primary_key\":true\n            },\n            {\n               \"name\":\"id_pedido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_cliente\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"solicitante\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"solicitante_tipo\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"nome_cliente\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"id_vendedor\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"vendedor_pedido\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"valor_total_produtos\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"desconto_pedido\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"peso_total_nota\",\n               \"type\":\"DECIMAL(15,6)\"\n            },\n            {\n               \"name\":\"frete_pedido\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_total_nota\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_baseICMS\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_ICMS\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_baseST\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_ST\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_IPI\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"condicao_pagamento_id\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"condicao_pagamento\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"transportadora_pedido\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"id_transportadora\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"data_pedido\",\n               \"type\":\"DATE\"\n            },\n            {\n               \"name\":\"prazo_entrega\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"obs_pedido\",\n               \"type\":\"TEXT\"\n            },\n            {\n               \"name\":\"obs_interno_pedido\",\n               \"type\":\"TEXT\"\n            },\n            {\n               \"name\":\"status_pedido\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"contas_pedido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"estoque_pedido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"entrada_emitida\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"usuario_cad_pedido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"usuario_mod_pedido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"data_cad_pedido\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"data_mod_pedido\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"lixeira\",\n               \"type\":\"VARCHAR(255)\"\n            }\n         ],\n         \"checks\":[\n            {\n               \"constraint\":\"lixeira IN ('Sim', 'Nao')\"\n            }\n         ],\n         \"indexes\":[\n            {\n               \"name\":\"idx_vhs_ordens_compra_pedido\",\n               \"columns\":[\n                  \"id_pedido\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_ordens_compra_cliente\",\n               \"columns\":[\n                  \"id_cliente\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_ordens_compra_vendedor\",\n               \"columns\":[\n                  \"id_vendedor\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_ordens_compra_data_pedido\",\n               \"columns\":[\n                  \"data_pedido\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_ordens_compra_status\",\n               \"columns\":[\n                  \"status_pedido\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_ordens_compra_lixeira\",\n               \"columns\":[\n                  \"lixeira\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_ordens_compra_data_cad\",\n               \"columns\":[\n                  \"data_cad_pedido\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_ordens_compra_entrada\",\n               \"columns\":[\n                  \"entrada_emitida\"\n               ]\n            }\n         ],\n         \"comments\":[\n            {\n               \"type\":\"table\",\n               \"comment\":\"Ordens de Compra do VHSYS\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"id_ordem\",\n               \"comment\":\"Chave primária - ID da ordem de compra\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"status_pedido\",\n               \"comment\":\"Status da ordem: Em Aberto, Atendido, etc\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"lixeira\",\n               \"comment\":\"Flag de exclusão lógica: Sim=excluído, Nao=ativo\"\n            }\n         ]\n      },\n      {\n         \"schema\":\"raw_data\",\n         \"table_name\":\"vhs_entradas_mercadoria\",\n         \"fields\":[\n            {\n               \"name\":\"id_entrada\",\n               \"type\":\"INTEGER\",\n               \"primary_key\":true\n            },\n            {\n               \"name\":\"id_pedido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_cliente\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"nome_cliente\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"vendedor_pedido\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"valor_total_produtos\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"desconto_pedido\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"peso_total_nota\",\n               \"type\":\"DECIMAL(15,6)\"\n            },\n            {\n               \"name\":\"frete_pedido\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_total_nota\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_baseICMS\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_ICMS\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_baseST\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_ST\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_IPI\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_PIS\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_COFINS\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"condicao_pagamento\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"transportadora_pedido\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"id_transportadora\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"data_pedido\",\n               \"type\":\"DATE\"\n            },\n            {\n               \"name\":\"id_centro_custos\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"centro_custos_pedido\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"obs_pedido\",\n               \"type\":\"TEXT\"\n            },\n            {\n               \"name\":\"obs_interno_pedido\",\n               \"type\":\"TEXT\"\n            },\n            {\n               \"name\":\"status_pedido\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"contas_pedido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"estoque_pedido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"nota_numero\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"nota_chave\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"nota_protocolo\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"nota_data_autorizacao\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"data_cad_pedido\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"data_mod_pedido\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"modelo_nota\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"serie_nota\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"importacao\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"almoxarifado\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"lixeira\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"usuario_cad_pedido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"usuario_mod_pedido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"valor_seguros\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_outros\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"importacao_automatica\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"produtos_cadastrados\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"data_cadastro_produto\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"usuario_cadastro_produto\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"fornecedor_cadastrado\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"data_cadastro_fornecedor\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"usuario_cadastro_fornecedor\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"manifestacao\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"tipo_manifestacao\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"data_manisfestacao\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"usuario_manifestacao\",\n               \"type\":\"INTEGER\"\n            }\n         ],\n         \"checks\":[\n            {\n               \"constraint\":\"lixeira IN ('Sim', 'Nao')\"\n            }\n         ],\n         \"indexes\":[\n            {\n               \"name\":\"idx_vhs_entradas_mercadoria_pedido\",\n               \"columns\":[\n                  \"id_pedido\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_entradas_mercadoria_cliente\",\n               \"columns\":[\n                  \"id_cliente\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_entradas_mercadoria_data_pedido\",\n               \"columns\":[\n                  \"data_pedido\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_entradas_mercadoria_status\",\n               \"columns\":[\n                  \"status_pedido\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_entradas_mercadoria_lixeira\",\n               \"columns\":[\n                  \"lixeira\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_entradas_mercadoria_nota_chave\",\n               \"columns\":[\n                  \"nota_chave\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_entradas_mercadoria_data_cad\",\n               \"columns\":[\n                  \"data_cad_pedido\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_entradas_mercadoria_centro_custos\",\n               \"columns\":[\n                  \"id_centro_custos\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_entradas_mercadoria_estoque\",\n               \"columns\":[\n                  \"estoque_pedido\"\n               ]\n            }\n         ],\n         \"comments\":[\n            {\n               \"type\":\"table\",\n               \"comment\":\"Entradas de Mercadoria do VHSYS\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"id_entrada\",\n               \"comment\":\"Chave primária - ID da entrada de mercadoria\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"nota_chave\",\n               \"comment\":\"Chave de acesso da nota fiscal eletrônica (NFe)\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"status_pedido\",\n               \"comment\":\"Status da entrada: Em Aberto, Atendido, etc\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"lixeira\",\n               \"comment\":\"Flag de exclusão lógica: Sim=excluído, Nao=ativo\"\n            }\n         ]\n      },\n      {\n         \"schema\":\"raw_data\",\n         \"table_name\":\"vhs_ordens_servico\",\n         \"fields\":[\n            {\n               \"name\":\"id_ordem\",\n               \"type\":\"INTEGER\",\n               \"primary_key\":true\n            },\n            {\n               \"name\":\"id_pedido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_cliente\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"nome_cliente\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"nome_contato_cliente\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"id_local_retirada\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_local_cobranca\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"tipo_atendimento\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_tecnico\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"nome_tecnico\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"id_cliente_veiculo\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"tipo_servico\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"vendedor_pedido\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"vendedor_pedido_id\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"listapreco_produtos\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"valor_total_servicos\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_total_pecas\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_total_despesas\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_total_desconto\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"valor_total_os\",\n               \"type\":\"DECIMAL(15,2)\"\n            },\n            {\n               \"name\":\"condicao_pagamento_id\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"condicao_pagamento\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"data_pedido\",\n               \"type\":\"DATE\"\n            },\n            {\n               \"name\":\"data_entrega\",\n               \"type\":\"DATE\"\n            },\n            {\n               \"name\":\"data_realizacao\",\n               \"type\":\"DATE\"\n            },\n            {\n               \"name\":\"data_realizacao_hora\",\n               \"type\":\"TIME\"\n            },\n            {\n               \"name\":\"garantia_ordem\",\n               \"type\":\"TEXT\"\n            },\n            {\n               \"name\":\"equipamento_ordem\",\n               \"type\":\"TEXT\"\n            },\n            {\n               \"name\":\"problema_ordem\",\n               \"type\":\"TEXT\"\n            },\n            {\n               \"name\":\"recebimento_ordem\",\n               \"type\":\"TEXT\"\n            },\n            {\n               \"name\":\"referencia_ordem\",\n               \"type\":\"TEXT\"\n            },\n            {\n               \"name\":\"obs_pedido\",\n               \"type\":\"TEXT\"\n            },\n            {\n               \"name\":\"ref_centros_custo\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"obs_interno_pedido\",\n               \"type\":\"TEXT\"\n            },\n            {\n               \"name\":\"laudo_ordem\",\n               \"type\":\"TEXT\"\n            },\n            {\n               \"name\":\"status_pedido\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"contas_pedido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"comissao_pedido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"estoque_pedido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"pdv_emitido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"nota_servico_emitida\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"nota_venda_emitida\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"nota_consumidor_emitida\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"funil_emitido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"loja_emitido\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"id_almoxarifado\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"situacao\",\n               \"type\":\"VARCHAR(255)\"\n            },\n            {\n               \"name\":\"link_pgto_gerado\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"pagamento_com_vhpay\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"pagamento_com_conta_integrada\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"pagamento_com_pagar_me\",\n               \"type\":\"INTEGER\"\n            },\n            {\n               \"name\":\"data_cad_pedido\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"data_mod_pedido\",\n               \"type\":\"TIMESTAMP\"\n            },\n            {\n               \"name\":\"lixeira\",\n               \"type\":\"VARCHAR(255)\"\n            }\n         ],\n         \"checks\":[\n            {\n               \"constraint\":\"lixeira IN ('Sim', 'Nao')\"\n            }\n         ],\n         \"indexes\":[\n            {\n               \"name\":\"idx_vhs_ordens_servico_cliente\",\n               \"columns\":[\n                  \"id_cliente\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_ordens_servico_pedido\",\n               \"columns\":[\n                  \"id_pedido\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_ordens_servico_status\",\n               \"columns\":[\n                  \"status_pedido\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_ordens_servico_data_pedido\",\n               \"columns\":[\n                  \"data_pedido\"\n               ]\n            },\n            {\n               \"name\":\"idx_vhs_ordens_servico_lixeira\",\n               \"columns\":[\n                  \"lixeira\"\n               ]\n            }\n         ],\n         \"comments\":[\n            {\n               \"type\":\"table\",\n               \"comment\":\"Ordens de Serviço do VHSYS\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"id_ordem\",\n               \"comment\":\"Chave primária - ID da ordem de serviço\"\n            },\n            {\n               \"type\":\"column\",\n               \"column\":\"lixeira\",\n               \"comment\":\"Flag de exclusão lógica: Sim=excluído, Nao=ativo\"\n            }\n         ]\n      },\n      {\n  \"schema\": \"raw_data\",\n  \"table_name\": \"vhs_clientes\",\n  \"fields\": [\n    {\n      \"name\": \"id_cliente\",\n      \"type\": \"INTEGER\",\n      \"unique\": true\n    },\n    {\n      \"name\": \"id_registro\",\n      \"type\": \"INTEGER\"\n    },\n    {\n      \"name\": \"tipo_pessoa\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"tipo_cadastro\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"cnpj_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"rg_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"data_emissao_rg_cliente\",\n      \"type\": \"DATE\"\n    },\n    {\n      \"name\": \"orgao_expedidor_rg_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"passaporte_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"estrangeiro_cliente\",\n      \"type\": \"INTEGER\"\n    },\n    {\n      \"name\": \"negativado\",\n      \"type\": \"INTEGER\"\n    },\n    {\n      \"name\": \"negativado_serasa\",\n      \"type\": \"INTEGER\"\n    },\n    {\n      \"name\": \"razao_cliente\",\n      \"type\": \"VARCHAR(500)\"\n    },\n    {\n      \"name\": \"fantasia_cliente\",\n      \"type\": \"VARCHAR(500)\"\n    },\n    {\n      \"name\": \"endereco_cliente\",\n      \"type\": \"VARCHAR(500)\"\n    },\n    {\n      \"name\": \"numero_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"bairro_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"complemento_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"referencia_cliente\",\n      \"type\": \"VARCHAR(1024)\"\n    },\n    {\n      \"name\": \"cep_cliente\",\n      \"type\": \"VARCHAR(20)\"\n    },\n    {\n      \"name\": \"cidade_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"cidade_cliente_cod\",\n      \"type\": \"INTEGER\"\n    },\n    {\n      \"name\": \"uf_cliente\",\n      \"type\": \"VARCHAR(2)\"\n    },\n    {\n      \"name\": \"tel_destinatario_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"doc_destinatario_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"nome_destinatario_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"contato_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"fone_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"fone_contato_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"fone_ramal_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"fax_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"celular_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"email_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"email_contato_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"celular_contato_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"estado_civil_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"website_cliente\",\n      \"type\": \"VARCHAR(1024)\"\n    },\n    {\n      \"name\": \"aposentado_cliente\",\n      \"type\": \"INTEGER\"\n    },\n    {\n      \"name\": \"empregador_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"profissao_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"genero_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"insc_estadual_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"insc_municipal_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"insc_produtor_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"insc_suframa_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"nif\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"id_categoria\",\n      \"type\": \"INTEGER\"\n    },\n    {\n      \"name\": \"situacao_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"vendedor_cliente\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"vendedor_cliente_id\",\n      \"type\": \"INTEGER\"\n    },\n    {\n      \"name\": \"modalidade_frete\",\n      \"type\": \"INTEGER\"\n    },\n    {\n      \"name\": \"id_transportadora\",\n      \"type\": \"INTEGER\"\n    },\n    {\n      \"name\": \"desc_transportadora\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"observacoes_cliente\",\n      \"type\": \"TEXT\"\n    },\n    {\n      \"name\": \"listapreco_cliente\",\n      \"type\": \"INTEGER\"\n    },\n    {\n      \"name\": \"condicaopag_cliente\",\n      \"type\": \"INTEGER\"\n    },\n    {\n      \"name\": \"limite_credito\",\n      \"type\": \"DECIMAL(15,2)\"\n    },\n    {\n      \"name\": \"ultrapassar_limite_credito\",\n      \"type\": \"INTEGER\"\n    },\n    {\n      \"name\": \"consumidor_final\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"contribuinte_icms\",\n      \"type\": \"INTEGER\"\n    },\n    {\n      \"name\": \"atividade_encerrada_cliente\",\n      \"type\": \"INTEGER\"\n    },\n    {\n      \"name\": \"data_nasc_cliente\",\n      \"type\": \"DATE\"\n    },\n    {\n      \"name\": \"data_cad_cliente\",\n      \"type\": \"TIMESTAMP\"\n    },\n    {\n      \"name\": \"data_mod_cliente\",\n      \"type\": \"TIMESTAMP\"\n    },\n    {\n      \"name\": \"lixeira\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"tpEnteGov\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"pRedutor\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"tpOperGov\",\n      \"type\": \"VARCHAR(255)\"\n    },\n    {\n      \"name\": \"multiempresa\",\n      \"type\": \"INTEGER\"\n    },\n    {\n      \"name\": \"nome_categoria\",\n      \"type\": \"VARCHAR(255)\"\n    }\n  ],\n  \"checks\": [\n    {\n      \"constraint\": \"lixeira IN ('Sim', 'Nao', 'Não')\"\n    },\n    {\n      \"constraint\": \"tipo_pessoa IN ('PF', 'PJ')\"\n    },\n    {\n      \"constraint\": \"tipo_cadastro IN ('Cliente', 'Fornecedor', 'Ambos')\"\n    },\n    {\n      \"constraint\": \"situacao_cliente IN ('Ativo', 'Inativo')\"\n    },\n    {\n      \"constraint\": \"genero_cliente IN ('Masculino', 'Feminino', 'Outro', '')\"\n    }\n  ],\n  \"indexes\": [\n    {\n      \"name\": \"idx_vhs_clientes_registro\",\n      \"columns\": [\"id_registro\"]\n    },\n    {\n      \"name\": \"idx_vhs_clientes_lixeira\",\n      \"columns\": [\"lixeira\"]\n    },\n    {\n      \"name\": \"idx_vhs_clientes_tipo_pessoa\",\n      \"columns\": [\"tipo_pessoa\"]\n    },\n    {\n      \"name\": \"idx_vhs_clientes_tipo_cadastro\",\n      \"columns\": [\"tipo_cadastro\"]\n    },\n    {\n      \"name\": \"idx_vhs_clientes_situacao\",\n      \"columns\": [\"situacao_cliente\"]\n    },\n    {\n      \"name\": \"idx_vhs_clientes_data_cad\",\n      \"columns\": [\"data_cad_cliente\"]\n    },\n    {\n      \"name\": \"idx_vhs_clientes_categoria\",\n      \"columns\": [\"id_categoria\"]\n    },\n    {\n      \"name\": \"idx_vhs_clientes_vendedor\",\n      \"columns\": [\"vendedor_cliente_id\"]\n    }\n  ],\n  \"comments\": [\n    {\n      \"type\": \"table\",\n      \"comment\": \"Tabela de clientes e fornecedores do VHSYS\"\n    },\n    {\n      \"type\": \"column\",\n      \"column\": \"id_cliente\",\n      \"comment\": \"ID único do cliente (UNIQUE constraint para FK)\"\n    },\n    {\n      \"type\": \"column\",\n      \"column\": \"id_categoria\",\n      \"comment\": \"ID da categoria do cliente (ex: Funcionario)\"\n    },\n    {\n      \"type\": \"column\",\n      \"column\": \"nome_categoria\",\n      \"comment\": \"Nome da categoria do cliente\"\n    },\n    {\n      \"type\": \"column\",\n      \"column\": \"lixeira\",\n      \"comment\": \"Exclusão lógica: Sim=excluído, Nao=ativo\"\n    },\n    {\n      \"type\": \"column\",\n      \"column\": \"consumidor_final\",\n      \"comment\": \"Indica se é consumidor final: 1=sim, 0=não\"\n    },\n    {\n      \"type\": \"column\",\n      \"column\": \"limite_credito\",\n      \"comment\": \"Limite de crédito disponível para o cliente\"\n    }\n  ]\n}\n\n\n   ]\n}",
        "options": {}
      },
      "id": "f420e320-e46d-40a4-8b73-e18ad08f7c49",
      "name": "Definir Tabelas VHSYS",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -1248,
        -544
      ],
      "onError": "continueRegularOutput",
      "notes": "📦 TABELAS VHSYS (raw_data)\n\nContém 12 tabelas do sistema financeiro VHSYS:\n- Produtos, Categorias Financeiras, Bancos\n- Contas a Pagar/Receber, Extratos\n- Centro de Custos, Pedidos, Notas Fiscais\n- Ordens de Compra, Entradas de Mercadoria\n- Ordens de Serviço, Clientes\n\nCada tabela inclui: campos, constraints, índices, comentários e schema"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"tables\": [\n    {\n      \"schema\": \"raw_data\",\n      \"table_name\": \"vhx_relatorio_cc\",\n      \"fields\": [\n        {\n          \"name\": \"id\",\n          \"type\": \"VARCHAR(255)\",\n          \"primary_key\": true\n        },\n        {\n          \"name\": \"id_seed\",\n          \"type\": \"TEXT\"\n        },\n        {\n          \"name\": \"id_cc\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"cc\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"cc_label\",\n          \"type\": \"VARCHAR(500)\"\n        },\n        {\n          \"name\": \"vencimento\",\n          \"type\": \"TIMESTAMP\"\n        },\n        {\n          \"name\": \"fornecedor\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"nome_despesa\",\n          \"type\": \"VARCHAR(500)\"\n        },\n        {\n          \"name\": \"situacao\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"data_pagamento\",\n          \"type\": \"TIMESTAMP\"\n        },\n        {\n          \"name\": \"categoria\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"valor\",\n          \"type\": \"DECIMAL(15,2)\"\n        },\n        {\n          \"name\": \"type\",\n          \"type\": \"VARCHAR(50)\"\n        },\n        {\n          \"name\": \"created_at\",\n          \"type\": \"TIMESTAMP\"\n        },\n        {\n          \"name\": \"updated_at\",\n          \"type\": \"TIMESTAMP\"\n        }\n      ],\n      \"checks\": [\n        {\n          \"constraint\": \"type IN ('entrada', 'saida')\"\n        }\n      ],\n      \"indexes\": [\n        {\n          \"name\": \"idx_vhx_relatorio_cc_cc\",\n          \"columns\": [\n            \"cc\"\n          ]\n        },\n        {\n          \"name\": \"idx_vhx_relatorio_cc_categoria\",\n          \"columns\": [\n            \"categoria\"\n          ]\n        },\n        {\n          \"name\": \"idx_vhx_relatorio_cc_situacao\",\n          \"columns\": [\n            \"situacao\"\n          ]\n        },\n        {\n          \"name\": \"idx_vhx_relatorio_cc_type\",\n          \"columns\": [\n            \"type\"\n          ]\n        }\n      ],\n      \"comments\": [\n        {\n          \"type\": \"table\",\n          \"comment\": \"Relatório de Centro de Custos extraído do VHSYS via Extensão do Chrome\"\n        },\n        {\n          \"type\": \"column\",\n          \"column\": \"id\",\n          \"comment\": \"Identificador único deterministico (hash) do registro\"\n        },\n        {\n          \"type\": \"column\",\n          \"column\": \"id_seed\",\n          \"comment\": \"Semente para geração do hash\"\n        },\n        {\n          \"type\": \"column\",\n          \"column\": \"valor\",\n          \"comment\": \"Valor numérico normalizado (sem vírgula)\"\n        },\n        {\n          \"type\": \"column\",\n          \"column\": \"type\",\n          \"comment\": \"Tipo: 'entrada' ou 'saida'\"\n        }\n      ]\n    },\n    {\n      \"schema\": \"raw_data\",\n      \"table_name\": \"vhx_despesas_recorrentes\",\n      \"fields\": [\n        {\n          \"name\": \"id_custo\",\n          \"type\": \"VARCHAR(255)\",\n          \"primary_key\": true\n        },\n        {\n          \"name\": \"id_empresa\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"nome_conta\",\n          \"type\": \"VARCHAR(500)\"\n        },\n        {\n          \"name\": \"id_categoria\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"categoria_custo\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"id_banco\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"id_fornecedor\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"nome_fornecedor\",\n          \"type\": \"VARCHAR(500)\"\n        },\n        {\n          \"name\": \"vencimento_custo\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"valor_custo\",\n          \"type\": \"DECIMAL(15,2)\"\n        },\n        {\n          \"name\": \"observacoes_custo\",\n          \"type\": \"TEXT\"\n        },\n        {\n          \"name\": \"id_centro_custos\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"status_custo\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"forma_pagamento\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"periodicidade\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"dia_semana_ocorrencia\",\n          \"type\": \"VARCHAR(50)\"\n        },\n        {\n          \"name\": \"dia_mes_ocorrencia\",\n          \"type\": \"VARCHAR(50)\"\n        },\n        {\n          \"name\": \"intervalo_dias_ocorrencia\",\n          \"type\": \"VARCHAR(50)\"\n        },\n        {\n          \"name\": \"data_inicio_ocorrencia\",\n          \"type\": \"TIMESTAMP\"\n        },\n        {\n          \"name\": \"data_fim_ocorrencia\",\n          \"type\": \"TIMESTAMP\"\n        },\n        {\n          \"name\": \"data_cad_custo\",\n          \"type\": \"TIMESTAMP\"\n        },\n        {\n          \"name\": \"lixeira\",\n          \"type\": \"VARCHAR(16)\"\n        }\n      ],\n      \"checks\": [\n        {\n          \"constraint\": \"lixeira IN ('Sim', 'Nao')\"\n        }\n      ],\n      \"indexes\": [\n        {\n          \"name\": \"idx_vhx_desp_rec_empresa\",\n          \"columns\": [\n            \"id_empresa\"\n          ]\n        },\n        {\n          \"name\": \"idx_vhx_desp_rec_categoria\",\n          \"columns\": [\n            \"id_categoria\"\n          ]\n        },\n        {\n          \"name\": \"idx_vhx_desp_rec_fornecedor\",\n          \"columns\": [\n            \"id_fornecedor\"\n          ]\n        },\n        {\n          \"name\": \"idx_vhx_desp_rec_centro_custos\",\n          \"columns\": [\n            \"id_centro_custos\"\n          ]\n        },\n        {\n          \"name\": \"idx_vhx_desp_rec_status\",\n          \"columns\": [\n            \"status_custo\"\n          ]\n        }\n      ],\n      \"comments\": [\n        {\n          \"type\": \"table\",\n          \"comment\": \"Tabela principal de despesas recorrentes extraídas do VHSYS via Extensão Chrome.\"\n        },\n        {\n          \"type\": \"column\",\n          \"column\": \"id_custo\",\n          \"comment\": \"Chave primária - Identificador da despesa recorrente\"\n        },\n        {\n          \"type\": \"column\",\n          \"column\": \"observacoes_custo\",\n          \"comment\": \"HTML decoded, armazena observações detalhadas (pode ser NULL)\"\n        },\n        {\n          \"type\": \"column\",\n          \"column\": \"data_inicio_ocorrencia\",\n          \"comment\": \"Data de início convertida de string para TIMESTAMP\"\n        },\n        {\n          \"type\": \"column\",\n          \"column\": \"data_fim_ocorrencia\",\n          \"comment\": \"Data de término convertida de string para TIMESTAMP\"\n        },\n        {\n          \"type\": \"column\",\n          \"column\": \"lixeira\",\n          \"comment\": \"Flag de exclusão lógica (geralmente 'Sim' ou 'Nao')\"\n        }\n      ]\n    },\n    {\n      \"schema\": \"raw_data\",\n      \"table_name\": \"vhx_funcionarios\",\n      \"fields\": [\n        {\n          \"name\": \"id_funcionario\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"nome_funcionario\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"rg_funcionario\",\n          \"type\": \"VARCHAR(50)\"\n        },\n        {\n          \"name\": \"cpf_funcionario\",\n          \"type\": \"VARCHAR(20)\"\n        },\n        {\n          \"name\": \"matricula_funcionario\",\n          \"type\": \"VARCHAR(50)\",\n          \"primary_key\": true\n        },\n        {\n          \"name\": \"sexo_funcionario\",\n          \"type\": \"VARCHAR(50)\"\n        },\n        {\n          \"name\": \"local_nascimento_funcionario\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"orgao_emissor_rg\",\n          \"type\": \"VARCHAR(50)\"\n        },\n        {\n          \"name\": \"serie_ctps_funcionario\",\n          \"type\": \"VARCHAR(50)\"\n        },\n        {\n          \"name\": \"cep_funcionario\",\n          \"type\": \"VARCHAR(20)\"\n        },\n        {\n          \"name\": \"endereco_funcionario\",\n          \"type\": \"VARCHAR(500)\"\n        },\n        {\n          \"name\": \"numero_funcionario\",\n          \"type\": \"VARCHAR(50)\"\n        },\n        {\n          \"name\": \"bairro_funcionario\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"cidade_funcionario\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"uf_funcionario\",\n          \"type\": \"VARCHAR(2)\"\n        },\n        {\n          \"name\": \"complemento_funcionario\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"celular_funcionario\",\n          \"type\": \"VARCHAR(50)\"\n        },\n        {\n          \"name\": \"fone_funcionario\",\n          \"type\": \"VARCHAR(50)\"\n        },\n        {\n          \"name\": \"email_funcionario\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"nome_pai_funcionario\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"nome_mae_funcionario\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"observacoes_funcionario\",\n          \"type\": \"TEXT\"\n        },\n        {\n          \"name\": \"pis_funcionario\",\n          \"type\": \"VARCHAR(50)\"\n        },\n        {\n          \"name\": \"ctps_funcionario\",\n          \"type\": \"VARCHAR(50)\"\n        },\n        {\n          \"name\": \"uf_ctps_funcionario\",\n          \"type\": \"VARCHAR(2)\"\n        },\n        {\n          \"name\": \"banco_funcionario\",\n          \"type\": \"VARCHAR(100)\"\n        },\n        {\n          \"name\": \"agencia_funcionario\",\n          \"type\": \"VARCHAR(50)\"\n        },\n        {\n          \"name\": \"conta_funcionario\",\n          \"type\": \"VARCHAR(50)\"\n        },\n        {\n          \"name\": \"cargo_funcionario\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"nome_cargo_funcionario\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"cbo_funcionario\",\n          \"type\": \"VARCHAR(50)\"\n        },\n        {\n          \"name\": \"departamento_funcionario\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"trabalho_inicio\",\n          \"type\": \"VARCHAR(50)\"\n        },\n        {\n          \"name\": \"trabalho_termino\",\n          \"type\": \"VARCHAR(50)\"\n        },\n        {\n          \"name\": \"intervalo_inicio\",\n          \"type\": \"VARCHAR(50)\"\n        },\n        {\n          \"name\": \"intervalo_termino\",\n          \"type\": \"VARCHAR(50)\"\n        },\n        {\n          \"name\": \"salario_funcionario\",\n          \"type\": \"DECIMAL(15,2)\"\n        },\n        {\n          \"name\": \"status_funcionario\",\n          \"type\": \"VARCHAR(50)\"\n        },\n        {\n          \"name\": \"data_admissao_funcionario\",\n          \"type\": \"TIMESTAMP\"\n        },\n        {\n          \"name\": \"data_demissao_funcionario\",\n          \"type\": \"TIMESTAMP\"\n        },\n        {\n          \"name\": \"data_nascimento_funcionario\",\n          \"type\": \"TIMESTAMP\"\n        },\n        {\n          \"name\": \"data_cadastro\",\n          \"type\": \"TIMESTAMP\"\n        },\n        {\n          \"name\": \"data_modificacao\",\n          \"type\": \"TIMESTAMP\"\n        },\n        {\n          \"name\": \"created_at\",\n          \"type\": \"TIMESTAMP\"\n        },\n        {\n          \"name\": \"updated_at\",\n          \"type\": \"TIMESTAMP\"\n        }\n      ],\n      \"checks\": [\n        {\n          \"constraint\": \"sexo_funcionario IN ('Masculino', 'Feminino', 'Outro')\"\n        }\n      ],\n      \"indexes\": [\n        {\n          \"name\": \"idx_vhx_funcionarios_matricula\",\n          \"columns\": [\n            \"matricula_funcionario\"\n          ],\n          \"unique\": true\n        },\n        {\n          \"name\": \"idx_vhx_funcionarios_cpf\",\n          \"columns\": [\n            \"cpf_funcionario\"\n          ]\n        },\n        {\n          \"name\": \"idx_vhx_funcionarios_status\",\n          \"columns\": [\n            \"status_funcionario\"\n          ]\n        },\n        {\n          \"name\": \"idx_vhx_funcionarios_cargo\",\n          \"columns\": [\n            \"cargo_funcionario\"\n          ]\n        },\n        {\n          \"name\": \"idx_vhx_funcionarios_departamento\",\n          \"columns\": [\n            \"departamento_funcionario\"\n          ]\n        }\n      ],\n      \"comments\": [\n        {\n          \"type\": \"table\",\n          \"comment\": \"Cadastro principal de funcionários extraído do VHSYS via Extensão Chrome.\"\n        },\n        {\n          \"type\": \"column\",\n          \"column\": \"id_funcionario\",\n          \"comment\": \"Chave primária - Identificador do funcionário\"\n        },\n        {\n          \"type\": \"column\",\n          \"column\": \"matricula_funcionario\",\n          \"comment\": \"Matrícula única do funcionário (usada para upsert no N8N)\"\n        },\n        {\n          \"type\": \"column\",\n          \"column\": \"salario_funcionario\",\n          \"comment\": \"Salário convertido para formato numérico DECIMAL(15,2)\"\n        },\n        {\n          \"type\": \"column\",\n          \"column\": \"status_funcionario\",\n          \"comment\": \"Status atual do funcionário (ex: Ativo, Desligado)\"\n        },\n        {\n          \"type\": \"column\",\n          \"column\": \"data_demissao_funcionario\",\n          \"comment\": \"Data de desligamento do funcionário (pode ser NULL)\"\n        }\n      ]\n    },\n    {\n      \"schema\": \"raw_data\",\n      \"table_name\": \"vhx_beneficios_funcionarios\",\n      \"fields\": [\n        {\n          \"name\": \"benefit_id\",\n          \"type\": \"VARCHAR(255)\",\n          \"primary_key\": true\n        },\n        {\n          \"name\": \"id_funcionario\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"nome_funcionario\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"nome\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"valor\",\n          \"type\": \"DECIMAL(15,2)\"\n        },\n        {\n          \"name\": \"created_at\",\n          \"type\": \"TIMESTAMP\"\n        },\n        {\n          \"name\": \"updated_at\",\n          \"type\": \"TIMESTAMP\"\n        }\n      ],\n      \"checks\": [],\n      \"indexes\": [\n        {\n          \"name\": \"idx_vhx_beneficios_funcionario\",\n          \"columns\": [\n            \"id_funcionario\"\n          ]\n        },\n        {\n          \"name\": \"idx_vhx_beneficios_nome\",\n          \"columns\": [\n            \"nome\"\n          ]\n        }\n      ],\n      \"comments\": [\n        {\n          \"type\": \"table\",\n          \"comment\": \"Benefícios vinculados aos funcionários extraídos do VHSYS via Extensão Chrome.\"\n        },\n        {\n          \"type\": \"column\",\n          \"column\": \"benefit_id\",\n          \"comment\": \"Chave primária - Identificador único do registro de benefício (geralmente um hash)\"\n        },\n        {\n          \"type\": \"column\",\n          \"column\": \"id_funcionario\",\n          \"comment\": \"Chave estrangeira lógica para a tabela vhx_funcionarios\"\n        },\n        {\n          \"type\": \"column\",\n          \"column\": \"nome\",\n          \"comment\": \"Nome ou tipo do benefício (Ex: Transporte, Plano de Saúde, Refeição)\"\n        },\n        {\n          \"type\": \"column\",\n          \"column\": \"valor\",\n          \"comment\": \"Valor monetário do benefício (numérico)\"\n        }\n      ]\n    },\n    {\n      \"schema\": \"raw_data\",\n      \"table_name\": \"vhx_dependentes\",\n      \"fields\": [\n        {\n          \"name\": \"dependents_id\",\n          \"type\": \"VARCHAR(255)\",\n          \"primary_key\": true\n        },\n        {\n          \"name\": \"id_funcionario\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"nome_funcionario\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"nome_dependente\",\n          \"type\": \"VARCHAR(255)\"\n        },\n        {\n          \"name\": \"tipo_dependente\",\n          \"type\": \"VARCHAR(100)\"\n        },\n        {\n          \"name\": \"fone_dependente\",\n          \"type\": \"VARCHAR(50)\"\n        },\n        {\n          \"name\": \"rg\",\n          \"type\": \"VARCHAR(50)\"\n        },\n        {\n          \"name\": \"cpf\",\n          \"type\": \"VARCHAR(20)\"\n        },\n        {\n          \"name\": \"data_nascimento\",\n          \"type\": \"TIMESTAMP\"\n        },\n        {\n          \"name\": \"created_at\",\n          \"type\": \"TIMESTAMP\"\n        },\n        {\n          \"name\": \"updated_at\",\n          \"type\": \"TIMESTAMP\"\n        }\n      ],\n      \"checks\": [],\n      \"indexes\": [\n        {\n          \"name\": \"idx_vhx_dependentes_funcionario\",\n          \"columns\": [\n            \"id_funcionario\"\n          ]\n        },\n        {\n          \"name\": \"idx_vhx_dependentes_tipo\",\n          \"columns\": [\n            \"tipo_dependente\"\n          ]\n        },\n        {\n          \"name\": \"idx_vhx_dependentes_cpf\",\n          \"columns\": [\n            \"cpf\"\n          ]\n        }\n      ],\n      \"comments\": [\n        {\n          \"type\": \"table\",\n          \"comment\": \"Cadastro de dependentes dos funcionários extraído do VHSYS via Extensão Chrome.\"\n        },\n        {\n          \"type\": \"column\",\n          \"column\": \"dependents_id\",\n          \"comment\": \"Chave primária - Identificador único do registro de dependente (hash)\"\n        },\n        {\n          \"type\": \"column\",\n          \"column\": \"id_funcionario\",\n          \"comment\": \"Chave estrangeira lógica para a tabela vhx_funcionarios\"\n        },\n        {\n          \"type\": \"column\",\n          \"column\": \"tipo_dependente\",\n          \"comment\": \"Grau de parentesco ou tipo de dependência (Ex: Conjuge, Filho)\"\n        },\n        {\n          \"type\": \"column\",\n          \"column\": \"data_nascimento\",\n          \"comment\": \"Data de nascimento do dependente convertida para TIMESTAMP\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "27b5b831-4342-40c0-aa2f-2e3cc4cf7fcc",
      "name": "Definir Tabelas Extensões",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -1248,
        -352
      ],
      "onError": "continueRegularOutput",
      "notes": "📦 TABELAS VHSYS (raw_data)\n\nContém 12 tabelas do sistema financeiro VHSYS:\n- Produtos, Categorias Financeiras, Bancos\n- Contas a Pagar/Receber, Extratos\n- Centro de Custos, Pedidos, Notas Fiscais\n- Ordens de Compra, Entradas de Mercadoria\n- Ordens de Serviço, Clientes\n\nCada tabela inclui: campos, constraints, índices, comentários e schema"
    }
  ],
  "pinData": {},
  "connections": {
    "Gatilho Manual": {
      "main": [
        [
          {
            "node": "Definir Constantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar Tabelas": {
      "main": [
        [
          {
            "node": "Iterar Sobre Tabelas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excluir Tabela": {
      "main": [
        [
          {
            "node": "Criar Tabela",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Tabela": {
      "main": [
        [
          {
            "node": "Criar Índices",
            "type": "main",
            "index": 0
          },
          {
            "node": "If - Criar Foreign Keys?",
            "type": "main",
            "index": 0
          },
          {
            "node": "If - Adicionar Comentários?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Chaves Estrangeiras": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Definir Tabelas CLOCKIFY": {
      "main": [
        [
          {
            "node": "Mesclar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mesclar": {
      "main": [
        [
          {
            "node": "Separar Tabelas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definir Constantes": {
      "main": [
        [
          {
            "node": "Definir Tabelas CLOCKIFY",
            "type": "main",
            "index": 0
          },
          {
            "node": "Definir Tabelas VHSYS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Definir Tabelas Extensões",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterar Sobre Tabelas": {
      "main": [
        [],
        [
          {
            "node": "Excluir Tabela",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Comentários": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If - Criar Foreign Keys?": {
      "main": [
        [
          {
            "node": "Criar Chaves Estrangeiras",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "If - Adicionar Comentários?": {
      "main": [
        [
          {
            "node": "Criar Comentários",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Criar Índices": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Iterar Sobre Tabelas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definir Tabelas VHSYS": {
      "main": [
        [
          {
            "node": "Mesclar",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Definir Tabelas Extensões": {
      "main": [
        [
          {
            "node": "Mesclar",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c758a79a-d876-4288-9c8e-9464d4cd2e31",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "SZnOPAYZV4PZH4dbeHvcV",
  "tags": []
}