EXTENSION_SERVER/n8n_diagrams/VHSYS-sales_nf_report.json
{
  "name": "VHSYS-sales_nf_report",
  "nodes": [
    {
      "parameters": {},
      "id": "722b3371-ac55-4c67-acf1-ba45cfcc9758",
      "name": "When called by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// VHSYS :: sales_nf_report\n// Rota   : POST /sales_nf_report\n// Fase 5 : Fluxos NF\n// ─────────────────────────────────────────────\n// Input  : { data: { source: { itens: [...] } } }\n// Output : { message: 'Sales NF report processed successfully', invoices_updated: number } HTTP 201\n// Banco  : UPSERT sales_nf por chave natural (numero + serie + data_emissao)\n// Chave  : numero_nf + serie_nf + data_emissao + cnpj_cliente\n// ─────────────────────────────────────────────\n\nconst body = $input.first().json.body || $input.first().json;\n\nif (!body.data) {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { ok: false, error: 'Missing required field: data' }\n  };\n}\n\nif (!body.data.source || !body.data.source.itens) {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { ok: false, error: 'Missing required structure: data.source.itens' }\n  };\n}\n\nif (!Array.isArray(body.data.source.itens)) {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { ok: false, error: 'itens must be an array' }\n  };\n}\n\nconst itens = body.data.source.itens;\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'sales_nf_report',\n  event: 'input_validated',\n  itens_count: itens.length,\n  level: 'info'\n}));\n\nreturn { _valid: true, itens };"
      },
      "id": "bdd0f7cc-d9c0-46e9-8cd7-7149adec9d6d",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "290d57a0-8369-4cde-b0cb-432d9099c402",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -720,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Decode HTML entities + Transform NF data\nconst ctx = $input.first().json;\nconst itens = ctx.itens;\n\n// Decode HTML entities recursivamente\nfunction decodeHtml(obj) {\n  if (typeof obj === 'string') {\n    return obj\n      .replace(/&amp;/g,  '&')\n      .replace(/&lt;/g,   '<')\n      .replace(/&gt;/g,   '>')\n      .replace(/&quot;/g, '\"')\n      .replace(/&#39;/g,  \"'\")\n      .replace(/&#x27;/g, \"'\")\n      .replace(/&#x2F;/g, '/')\n      .replace(/&nbsp;/g, ' ');\n  }\n  if (Array.isArray(obj)) return obj.map(decodeHtml);\n  if (typeof obj === 'object' && obj !== null) {\n    const out = {};\n    for (const k in obj) out[k] = decodeHtml(obj[k]);\n    return out;\n  }\n  return obj;\n}\n\n// Helper para converter data\nfunction parseDate(dateStr) {\n  if (!dateStr) return null;\n  // Remove barras e hífens, tenta vários formatos\n  const cleaned = String(dateStr).replace(/[^0-9]/g, '');\n  if (cleaned.length === 8) {\n    // DDMMYYYY ou YYYYMMDD\n    const year1 = cleaned.substring(0, 4);\n    const year2 = cleaned.substring(4, 8);\n    if (year1.startsWith('20') || year1.startsWith('19')) {\n      // YYYYMMDD\n      return `${year1}-${cleaned.substring(4, 6)}-${cleaned.substring(6, 8)}`;\n    } else {\n      // DDMMYYYY  \n      return `${year2}-${cleaned.substring(2, 4)}-${cleaned.substring(0, 2)}`;\n    }\n  }\n  return dateStr;\n}\n\n// Helper para converter valor\nfunction parseValue(value) {\n  if (!value) return 0;\n  const cleaned = String(value).replace(/[^0-9.,]/g, '').replace(',', '.');\n  const num = parseFloat(cleaned);\n  return isNaN(num) ? 0 : num;\n}\n\n// Helper para gerar chave única\nfunction generateKey(item) {\n  const numero = String(item.NumeroNF || item.Numero || '').trim();\n  const serie = String(item.SerieNF || item.Serie || '').trim();\n  const dataEmissao = parseDate(item.DataEmissao || item.Data || '');\n  const cnpjCliente = String(item.CnpjCliente || item.CNPJ || '').replace(/\\D/g, '');\n  \n  return `${numero}-${serie}-${dataEmissao}-${cnpjCliente}`;\n}\n\nconst decodedItens = decodeHtml(itens);\n\nconst transformedNFs = decodedItens.map((item, index) => {\n  const key = generateKey(item);\n  \n  if (!key || key === '---') {\n    console.log(JSON.stringify({\n      timestamp: new Date().toISOString(),\n      route: 'sales_nf_report',\n      event: 'nf_skipped_invalid_key',\n      item_index: index,\n      item_data: item,\n      level: 'warn'\n    }));\n    return null;\n  }\n\n  return {\n    chave_nf: key,\n    numero_nf: String(item.NumeroNF || item.Numero || '').trim(),\n    serie_nf: String(item.SerieNF || item.Serie || '').trim(),\n    data_emissao: parseDate(item.DataEmissao || item.Data || ''),\n    cnpj_cliente: String(item.CnpjCliente || item.CNPJ || '').replace(/\\D/g, ''),\n    razao_social_cliente: String(item.RazaoSocial || item.Cliente || '').trim(),\n    valor_total: parseValue(item.ValorTotal || item.Valor || 0),\n    valor_produtos: parseValue(item.ValorProdutos || 0),\n    valor_servicos: parseValue(item.ValorServicos || 0),\n    icms: parseValue(item.ICMS || 0),\n    ipi: parseValue(item.IPI || 0),\n    pis: parseValue(item.PIS || 0),\n    cofins: parseValue(item.COFINS || 0),\n    situacao: String(item.Situacao || item.Status || 'Normal').trim(),\n    observacoes: String(item.Observacoes || item.Obs || '').trim()\n  };\n}).filter(nf => nf !== null);\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'sales_nf_report',\n  event: 'nfs_transformed',\n  valid_nfs: transformedNFs.length,\n  total_input: decodedItens.length,\n  level: 'info'\n}));\n\nreturn transformedNFs;"
      },
      "id": "b3966f8a-0b33-4dda-83c3-283db158ac6c",
      "name": "Decode + Transform NFs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO auxiliary.sales_nf (\n  chave_nf, numero_nf, serie_nf, data_emissao, \n  cnpj_cliente, razao_social_cliente, valor_total,\n  valor_produtos, valor_servicos, icms, ipi, pis, cofins,\n  situacao, observacoes, created_at, updated_at\n) VALUES (\n  $1, $2, $3, $4::date, $5, $6, $7::numeric,\n  $8::numeric, $9::numeric, $10::numeric, $11::numeric, \n  $12::numeric, $13::numeric, $14, $15,\n  (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp,\n  (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp\n)\nON CONFLICT (chave_nf)\nDO UPDATE SET \n  razao_social_cliente = EXCLUDED.razao_social_cliente,\n  valor_total = EXCLUDED.valor_total,\n  valor_produtos = EXCLUDED.valor_produtos,\n  valor_servicos = EXCLUDED.valor_servicos,\n  icms = EXCLUDED.icms,\n  ipi = EXCLUDED.ipi,\n  pis = EXCLUDED.pis,\n  cofins = EXCLUDED.cofins,\n  situacao = EXCLUDED.situacao,\n  observacoes = EXCLUDED.observacoes,\n  updated_at = (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp\nWHERE \n  sales_nf.razao_social_cliente IS DISTINCT FROM EXCLUDED.razao_social_cliente\n  OR sales_nf.valor_total IS DISTINCT FROM EXCLUDED.valor_total\n  OR sales_nf.valor_produtos IS DISTINCT FROM EXCLUDED.valor_produtos\n  OR sales_nf.valor_servicos IS DISTINCT FROM EXCLUDED.valor_servicos\n  OR sales_nf.icms IS DISTINCT FROM EXCLUDED.icms\n  OR sales_nf.ipi IS DISTINCT FROM EXCLUDED.ipi\n  OR sales_nf.pis IS DISTINCT FROM EXCLUDED.pis\n  OR sales_nf.cofins IS DISTINCT FROM EXCLUDED.cofins\n  OR sales_nf.situacao IS DISTINCT FROM EXCLUDED.situacao\n  OR sales_nf.observacoes IS DISTINCT FROM EXCLUDED.observacoes\nRETURNING chave_nf, numero_nf, valor_total, situacao;",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "independently"
        }
      },
      "id": "eae2d94d-ad58-42e1-89f2-8aacc91fef65",
      "name": "Upsert Sales NF",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -240,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Conta registros afetados e constrói resposta\nconst affectedRecords = $input.all()\n  .filter(item => item.json && item.json.chave_nf)\n  .length;\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'sales_nf_report',\n  event: 'sales_nf_upserted',\n  invoices_updated: affectedRecords,\n  level: 'info'\n}));\n\n// statusCode 201 — preserva compatibilidade com Flask original\nreturn {\n  statusCode: 201,\n  body: {\n    message: 'Sales NF report processed successfully',\n    invoices_updated: affectedRecords\n  }\n};"
      },
      "id": "7d5c71d1-f094-4fdf-86ec-e15f6ba86875",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Erro de validação\nconst input = $input.first().json;\nreturn {\n  statusCode: input.statusCode || 400,\n  body: input.body || { ok: false, error: 'Validation failed' }\n};"
      },
      "id": "59ccbcbe-da9f-4340-b701-698bb51aac02",
      "name": "Build Validation Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Erro de banco\nconst errData = $input.first().json;\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'sales_nf_report',\n  event: 'db_error',\n  message: errData.message || 'Unknown DB error',\n  level: 'error'\n}));\n\nreturn {\n  statusCode: 500,\n  body: { ok: false, error: 'Database error', message: 'Could not process sales NF report' }\n};"
      },
      "id": "c5cbc937-3457-4b8d-9da5-37e7a40e8d38",
      "name": "Build DB Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "// Return the response data as-is\nconst response = $input.first().json;\nreturn response;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        208
      ],
      "id": "fee1969b-ffa2-46ba-aeab-bd5edc94917e",
      "name": "Return Response"
    }
  ],
  "pinData": {},
  "connections": {
    "When called by another workflow": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Decode + Transform NFs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Validation Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode + Transform NFs": {
      "main": [
        [
          {
            "node": "Upsert Sales NF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Sales NF": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build DB Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Validation Error Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build DB Error Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8d33785d-d2e0-4bbb-a3bd-19ed1acf04a5",
  "meta": {
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "ti5vujrnafguyYzG",
  "tags": []
}