EXTENSION_SERVER/n8n_diagrams/VHSYS-regular_bills.json
{
  "name": "Extensao VHSYS - Despesas Recorrentes",
  "nodes": [
    {
      "parameters": {},
      "id": "a12aa59e-be06-4dda-b63a-420dd26e8f29",
      "name": "Quando chamado por outro fluxo",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -5392,
        768
      ]
    },
    {
      "parameters": {
        "content": "## Visao Geral\n\nFluxo da extensao VHSYS para sincronizar despesas recorrentes no banco.\n\nEtapas:\n1) valida entrada\n2) transforma dados\n3) faz upsert\n4) retorna resposta",
        "height": 236,
        "width": 364,
        "color": 7
      },
      "id": "a5c9b428-923f-4df8-87f8-08fcf7a3060b",
      "name": "Arquitetura do Fluxo",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5776,
        720
      ]
    },
    {
      "parameters": {
        "content": "## Entrada e Validacao\n\nRecebe payload do router e garante que o body e um array nao vazio.\n\nSe invalido: retorna 400.",
        "height": 164,
        "width": 360,
        "color": 3
      },
      "id": "c9fb501e-5952-41d8-8320-10866ee65f18",
      "name": "Entrada e Validacao",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5168,
        944
      ]
    },
    {
      "parameters": {
        "content": "## Transformacao\n\nDecodifica entidades HTML e normaliza campos para persistencia.\n\nTambem converte datas para timestamp.",
        "height": 168,
        "width": 320,
        "color": 4
      },
      "id": "26c1e36d-3fbb-4142-8791-a611d4485a38",
      "name": "Transformacao",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4816,
        496
      ]
    },
    {
      "parameters": {
        "content": "## Persistencia\n\nExecuta UPSERT em raw_data.vhx_despesas_recorrentes usando id_custo como chave.\n\nMantem sincronismo sem duplicar registros.",
        "height": 222,
        "width": 292,
        "color": 2
      },
      "id": "b9c95b90-c484-41d1-959b-de6a15fd0fa8",
      "name": "Persistencia",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4464,
        864
      ]
    },
    {
      "parameters": {
        "content": "## Fechamento e Erros\n\nSucesso: retorna 201 no formato esperado pela extensao.\n\nFalhas: responde erro de validacao (400) ou erro de banco (500).",
        "height": 198,
        "width": 396,
        "color": 5
      },
      "id": "bd2fcb17-8ba7-4a60-bda5-a054c77fb773",
      "name": "Fechamento e Erros",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3856,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// VHSYS :: regular_bills  —  POST /regular_bills\n// ─────────────────────────────────────────────\n// A extensão envia allBills como ARRAY DIRETO: [{...}, ...]\n// O Router encapsula em .body; testes diretos podem chegar sem .body\n// ─────────────────────────────────────────────\n\nconst input = $input.first().json;\nconst body = (input.body !== undefined) ? input.body : input;\n\nif (!Array.isArray(body)) {\n  return { _valid: false, statusCode: 400, body: { ok: false, error: 'Expected array of regular bills' } };\n}\nif (body.length === 0) {\n  return { _valid: false, statusCode: 400, body: { ok: false, error: 'Empty array provided' } };\n}\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'regular_bills',\n  event: 'input_validated',\n  items_count: body.length,\n  level: 'info'\n}));\n\nreturn { _valid: true, items: body };"
      },
      "id": "5cf2f883-765a-40f0-96c3-1f1960a8e631",
      "name": "Validar entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5168,
        768
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json._valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "b8889cdd-bbbb-40ba-82ad-146d6a96a11d"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "14a34769-bf30-4d5b-b13c-7f9d965acc20",
      "name": "Entrada valida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4944,
        768
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// Decode HTML entities + Transform\n// Espelha: decode_html_entities() + verify_elements()\n// ─────────────────────────────────────────────\n// PK     : id_custo (Text)\n// Datas  : 'YYYY-MM-DD' (10) → + ' 00:00:00' | 'YYYY-MM-DD HH:MM:SS' (19)\n// ATENÇÃO: created_at e updated_at COMENTADOS no model — não existem na tabela\n// ─────────────────────────────────────────────\n\nconst ctx = $input.first().json;\nconst items = ctx.items;\n\nfunction decodeHtml(obj) {\n  if (typeof obj === 'string') {\n    return obj\n      .replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n      .replace(/&quot;/g, '\"').replace(/&#39;/g, \"'\").replace(/&#x27;/g, \"'\")\n      .replace(/&#x2F;/g, '/').replace(/&nbsp;/g, ' ');\n  }\n  if (Array.isArray(obj)) return obj.map(decodeHtml);\n  if (typeof obj === 'object' && obj !== null) {\n    const out = {};\n    for (const k in obj) out[k] = decodeHtml(obj[k]);\n    return out;\n  }\n  return obj;\n}\n\nfunction transformToDatetime(val) {\n  if (val === null || val === undefined || val === '') return null;\n  const s = String(val).trim();\n  if (s.length === 10) return s + ' 00:00:00';\n  if (s.length === 19) return s;\n  return s;\n}\n\n// Sanitiza string para SQL — retorna '' se null/undefined\n// ESCAPE $ para evitar problemas com expressões n8n\nfunction safe(val) {\n  if (val === null || val === undefined) return '';\n  return String(val).replace(/\\$/g, '$ ');\n}\n\nconst decodedItems = decodeHtml(items);\nconst result = [];\n\nfor (let i = 0; i < decodedItems.length; i++) {\n  const reg = decodedItems[i];\n\n  const id_custo = reg.id_custo !== undefined ? String(reg.id_custo).trim() : null;\n  if (!id_custo) {\n    console.log(JSON.stringify({\n      timestamp: new Date().toISOString(),\n      route: 'regular_bills',\n      event: 'item_skipped_missing_id_custo',\n      item_index: i,\n      level: 'warn'\n    }));\n    continue;\n  }\n\n  // id_empresa e nome_conta são NOT NULL no model — garantir string não vazia\n  const id_empresa = String(reg.id_empresa ?? '').trim() || 'N/D';\n  const nome_conta = String(reg.nome_conta ?? '').trim() || 'N/D';\n\n  result.push({\n    json: {\n      id_custo,\n      id_empresa,\n      nome_conta,\n      id_categoria:              String(reg.id_categoria ?? ''),\n      categoria_custo:           safe(reg.categoria_custo),\n      id_banco:                  String(reg.id_banco ?? ''),\n      id_fornecedor:             String(reg.id_fornecedor ?? ''),\n      nome_fornecedor:           safe(reg.nome_fornecedor),\n      vencimento_custo:          String(reg.vencimento_custo ?? ''),\n      valor_custo:               String(reg.valor_custo ?? ''),\n      observacoes_custo:         safe(reg.observacoes_custo),\n      id_centro_custos:          String(reg.id_centro_custos ?? ''),\n      status_custo:              safe(reg.status_custo),\n      forma_pagamento:           safe(reg.forma_pagamento),\n      periodicidade:             String(reg.periodicidade ?? ''),\n      dia_semana_ocorrencia:     String(reg.dia_semana_ocorrencia ?? ''),\n      dia_mes_ocorrencia:        String(reg.dia_mes_ocorrencia ?? ''),\n      intervalo_dias_ocorrencia: reg.intervalo_dias_ocorrencia ?? null,\n      data_inicio_ocorrencia:    transformToDatetime(reg.data_inicio_ocorrencia),\n      data_fim_ocorrencia:       transformToDatetime(reg.data_fim_ocorrencia),\n      data_cad_custo:            transformToDatetime(reg.data_cad_custo),\n      // lixeira é db.Column(db.String(16)) — pode vir null da API\n      lixeira:                   reg.lixeira ?? null\n    }\n  });\n}\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'regular_bills',\n  event: 'items_transformed',\n  valid_items: result.length,\n  total_input: decodedItems.length,\n  level: 'info'\n}));\n\nif (result.length === 0) {\n  return [{ json: { _empty: true } }];\n}\n\nreturn result;"
      },
      "id": "ef8edfdf-9ca6-440b-a92e-712a3234d966",
      "name": "Decodificar e transformar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4720,
        672
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- VHSYS regular_bills UPSERT\n-- Tabela: raw_data.vhx_despesas_recorrentes\n-- PK: id_custo\nINSERT INTO raw_data.vhx_despesas_recorrentes (\n  id_custo, id_empresa, nome_conta, id_categoria, categoria_custo,\n  id_banco, id_fornecedor, nome_fornecedor, vencimento_custo, valor_custo,\n  observacoes_custo, id_centro_custos, status_custo, forma_pagamento,\n  periodicidade, dia_semana_ocorrencia, dia_mes_ocorrencia,\n  intervalo_dias_ocorrencia, data_inicio_ocorrencia, data_fim_ocorrencia,\n  data_cad_custo, lixeira\n) VALUES (\n  '{{ $json.id_custo.replace(/'/g, \"''\") }}',\n  '{{ $json.id_empresa.replace(/'/g, \"''\") }}',\n  '{{ $json.nome_conta.replace(/'/g, \"''\") }}',\n  '{{ $json.id_categoria.replace(/'/g, \"''\") }}',\n  {{ $json.categoria_custo ? \"'\" + $json.categoria_custo.replace(/\\$/g, \"$$\").replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ $json.id_banco.replace(/'/g, \"''\") }}',\n  '{{ $json.id_fornecedor.replace(/'/g, \"''\") }}',\n  {{ $json.nome_fornecedor ? \"'\" + $json.nome_fornecedor.replace(/\\$/g, \"$$\").replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ $json.vencimento_custo.replace(/'/g, \"''\") }}',\n  {{ $json.valor_custo !== '' && $json.valor_custo !== null ? Number(String($json.valor_custo).replace(',', '.')) : 'NULL' }},\n  {{ $json.observacoes_custo ? \"'\" + $json.observacoes_custo.replace(/\\$/g, \"$$\").replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ $json.id_centro_custos.replace(/'/g, \"''\") }}',\n  {{ $json.status_custo ? \"'\" + $json.status_custo.replace(/\\$/g, \"$$\").replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.forma_pagamento ? \"'\" + $json.forma_pagamento.replace(/\\$/g, \"$$\").replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ $json.periodicidade.replace(/'/g, \"''\") }}',\n  '{{ $json.dia_semana_ocorrencia.replace(/'/g, \"''\") }}',\n  '{{ $json.dia_mes_ocorrencia.replace(/'/g, \"''\") }}',\n  {{ $json.intervalo_dias_ocorrencia ? \"'\" + String($json.intervalo_dias_ocorrencia).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.data_inicio_ocorrencia ? \"'\" + $json.data_inicio_ocorrencia + \"'::timestamp\" : 'NULL' }},\n  {{ $json.data_fim_ocorrencia ? \"'\" + $json.data_fim_ocorrencia + \"'::timestamp\" : 'NULL' }},\n  {{ $json.data_cad_custo ? \"'\" + $json.data_cad_custo + \"'::timestamp\" : 'NULL' }},\n  {{ $json.lixeira ? \"'\" + String($json.lixeira).replace(/\\$/g, \"$$\").replace(/'/g, \"''\") + \"'\" : 'NULL' }}\n)\nON CONFLICT (id_custo) DO UPDATE SET\n  id_empresa = EXCLUDED.id_empresa,\n  nome_conta = EXCLUDED.nome_conta,\n  id_categoria = EXCLUDED.id_categoria,\n  categoria_custo = EXCLUDED.categoria_custo,\n  id_banco = EXCLUDED.id_banco,\n  id_fornecedor = EXCLUDED.id_fornecedor,\n  nome_fornecedor = EXCLUDED.nome_fornecedor,\n  vencimento_custo = EXCLUDED.vencimento_custo,\n  valor_custo = EXCLUDED.valor_custo,\n  observacoes_custo = EXCLUDED.observacoes_custo,\n  id_centro_custos = EXCLUDED.id_centro_custos,\n  status_custo = EXCLUDED.status_custo,\n  forma_pagamento = EXCLUDED.forma_pagamento,\n  periodicidade = EXCLUDED.periodicidade,\n  dia_semana_ocorrencia = EXCLUDED.dia_semana_ocorrencia,\n  dia_mes_ocorrencia = EXCLUDED.dia_mes_ocorrencia,\n  intervalo_dias_ocorrencia = EXCLUDED.intervalo_dias_ocorrencia,\n  data_inicio_ocorrencia = EXCLUDED.data_inicio_ocorrencia,\n  data_fim_ocorrencia = EXCLUDED.data_fim_ocorrencia,\n  data_cad_custo = EXCLUDED.data_cad_custo,\n  lixeira = EXCLUDED.lixeira\nRETURNING id_custo;",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "independently"
        }
      },
      "id": "68b67375-8513-45aa-bae2-f2c8c919a4e0",
      "name": "Inserir ou atualizar despesas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -4368,
        672
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Flask retorna: { 'message': 'GET A NEW regular_bills status ' } HTTP 201\nconst allRows = $input.all();\nconst upserted = allRows.filter(item => item.json && item.json.id_custo).length;\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'regular_bills',\n  event: 'upsert_complete',\n  records_upserted: upserted,\n  level: 'info'\n}));\n\nreturn { statusCode: 201, body: { message: 'GET A NEW regular_bills status ' } };"
      },
      "id": "a6a63718-e498-42a9-b614-09219318b24b",
      "name": "Resposta de sucesso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4064,
        592
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn { statusCode: input.statusCode || 400, body: input.body || { ok: false, error: 'Validation failed' } };"
      },
      "id": "c55821ba-eece-4447-855c-f41bef5d06b7",
      "name": "Resposta de erro de validacao",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4720,
        864
      ]
    },
    {
      "parameters": {
        "jsCode": "const errData = $input.first().json;\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'regular_bills',\n  event: 'db_error',\n  message: errData.message || 'Unknown DB error',\n  level: 'error'\n}));\nreturn { statusCode: 500, body: { ok: false, error: 'Database error', message: 'Could not process regular bills' } };"
      },
      "id": "d8b70d5f-2d95-4768-81fc-cc8d10a332fe",
      "name": "Resposta de erro do banco",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4064,
        784
      ]
    }
  ],
  "pinData": {
    "Quando chamado por outro fluxo": [
      {
        "json": {
          "route": "regular_bills",
          "method": "POST",
          "body": [
            {
              "id_custo": 54135,
              "id_empresa": 67941,
              "nome_conta": "Cartao RT_VHSYS - XX",
              "id_categoria": 597588,
              "categoria_custo": "Licença ou Aluguel de Softwares",
              "id_banco": 1010599,
              "id_fornecedor": 0,
              "nome_fornecedor": "",
              "vencimento_custo": 5,
              "valor_custo": 65.81,
              "observacoes_custo": "VHSYS SISTEMAS       \t\t\t\t\t\t\tR$35,91\nVHSYS SISTEMAS\t\t\t\t\t\t\t\tR$29,90",
              "id_centro_custos": 35335,
              "centro_custos": "RT-ADM / Administrativo",
              "status_custo": "Ativo",
              "forma_pagamento": "Cartão de Crédito",
              "id_meio_pagamento": null,
              "periodicidade": 3,
              "dia_semana_ocorrencia": null,
              "dia_mes_ocorrencia": 5,
              "intervalo_dias_ocorrencia": null,
              "data_inicio_ocorrencia": "2024-07-05",
              "data_fim_ocorrencia": "2099-12-31",
              "data_cad_custo": "2017-10-17 13:05:57",
              "lixeira": "Nao"
            }
          ],
          "webhookUrl": "https://n8n.srv1252717.hstgr.cloud/webhook/vhsys-router",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Quando chamado por outro fluxo": {
      "main": [
        [
          {
            "node": "Validar entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar entrada": {
      "main": [
        [
          {
            "node": "Entrada valida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrada valida?": {
      "main": [
        [
          {
            "node": "Decodificar e transformar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta de erro de validacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decodificar e transformar": {
      "main": [
        [
          {
            "node": "Inserir ou atualizar despesas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir ou atualizar despesas": {
      "main": [
        [
          {
            "node": "Resposta de sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta de erro do banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7f9318ab-bb4d-42b8-a3c5-452507b929f9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "FzPagGsvwuKAIHwM",
  "tags": []
}