EXTENSION_SERVER/n8n_diagrams/VHSYS-Router.json
{
  "name": "VHSYS-Router",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "EP5jvsjGYWMEROje",
          "mode": "list",
          "cachedResultUrl": "/workflow/EP5jvsjGYWMEROje",
          "cachedResultName": "VHSYS-nf_service_info"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -7904,
        6208
      ],
      "id": "7908c489-5739-460c-8713-405b1a60a391",
      "name": "Execute: NF Service"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vEyfgH4ys8g1pu2E",
          "mode": "list",
          "cachedResultUrl": "/workflow/vEyfgH4ys8g1pu2E",
          "cachedResultName": "VHSYS-nf_service_labels_ids"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -7904,
        6016
      ],
      "id": "d55373e1-ec72-4e15-b9d4-3e8ad146367d",
      "name": "Execute: NF label Id's"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AKxeodqxnWTSbis3",
          "mode": "list",
          "cachedResultUrl": "/workflow/AKxeodqxnWTSbis3",
          "cachedResultName": "VHSYS-nf_service_labels"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -7904,
        5824
      ],
      "id": "26690060-ca34-4112-a17e-83ddf5aa8bbd",
      "name": "Execute: NF label"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ti5vujrnafguyYzG",
          "mode": "list",
          "cachedResultUrl": "/workflow/ti5vujrnafguyYzG",
          "cachedResultName": "VHSYS-sales_nf_report"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -7904,
        5440
      ],
      "id": "c51c22db-84ba-405d-8a31-d54355b17500",
      "name": "Execute: NF Sales"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "21NZxIQ62yae77mQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/21NZxIQ62yae77mQ",
          "cachedResultName": "VHSYS-service_nf_report"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -7904,
        5632
      ],
      "id": "bca093b2-6e65-460b-8a5a-cf59f46be7f0",
      "name": "Execute: Service NF"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "PUT",
          "GET",
          "POST"
        ],
        "path": "vhsys-router",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "04a2e04b-a9cf-4d1c-a221-63d3b92c2314",
      "name": "Webhook Router",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -8848,
        5424
      ],
      "webhookId": "vhsys-router-webhook"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FzPagGsvwuKAIHwM",
          "mode": "list",
          "cachedResultUrl": "/workflow/FzPagGsvwuKAIHwM",
          "cachedResultName": "VHSYS-regular_bills"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -7904,
        5248
      ],
      "id": "6667d3a2-a9a3-4bad-b7cf-e4b8e3203a0a",
      "name": "Execute: Regular Bills"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ul7KFJNXYYJCida6",
          "mode": "list",
          "cachedResultUrl": "/workflow/ul7KFJNXYYJCida6",
          "cachedResultName": "VHSYS-employers_general_data"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "6e74c827-9ea0-4416-9d5f-3ca386755bf0",
      "name": "Execute: Employers General",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -7904,
        6592
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "XyUhAyUZ3Io9Rne4",
          "mode": "list",
          "cachedResultUrl": "/workflow/XyUhAyUZ3Io9Rne4",
          "cachedResultName": "VHSYS-employers_plus"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "39df1f94-5e9a-47b6-ab90-e4fed5a9da6f",
      "name": "Execute: Employers Plus",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -7904,
        6784
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Is8AcAK4ePg3oCM2",
          "mode": "list",
          "cachedResultUrl": "/workflow/Is8AcAK4ePg3oCM2",
          "cachedResultName": "VHSYS-employers_plus_info"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "ffdad0b9-2b17-43d9-97ad-7fe18e313ee8",
      "name": "Execute: Employers Plus Info",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -7904,
        6976
      ]
    },
    {
      "parameters": {
        "jsCode": "// ── 404 Not Found ──\nconst route = $input.item.json.route || 'unknown';\nconsole.log(JSON.stringify({ timestamp: new Date().toISOString(), event: 'route_not_found', route, level: 'error' }));\nreturn {\n  statusCode: 404,\n  body: {\n    error: 'Route not found',\n    route,\n    available_routes: [\n      'health','update_services','get_update_extension_service_data',\n      'cc_report_manage/status','cc_report_manage/next_url','cc_report',\n      'regular_bills','sales_nf_report','service_nf_report',\n      'nf_service_labels','nf_service_labels_ids','nf_service_info',\n      'employers_general_data','employers_plus','employers_plus_info'\n    ]\n  }\n};"
      },
      "id": "63781029-aaea-4727-bc05-263380c5237f",
      "name": "404 Not Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7904,
        6400
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// Respond to Webhook — Serializador universal\n// Suporta:\n//   body = array  → serializa como JSON array direto\n//   body = object → serializa como JSON object\n//   body = string → serializa como string\n// Preserva statusCode de cada sub-workflow.\n// ─────────────────────────────────────────────\nconst result = $input.first().json;\nconst statusCode = result.statusCode || 200;\nconst body = result.body !== undefined ? result.body : result;\n\nreturn {\n  statusCode,\n  body\n};"
      },
      "id": "e8691cca-cc3b-4ef5-812f-a3ee37e44b2b",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7264,
        5408
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.body }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "id": "76cc5446-7e9a-4cdc-b81d-1afb994a09d2",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -7056,
        5408
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UkWE6rMcSqAwTgKB",
          "mode": "list",
          "cachedResultUrl": "/workflow/UkWE6rMcSqAwTgKB",
          "cachedResultName": "VHSYS-cc_status"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -7904,
        4672
      ],
      "id": "a6c47abf-0bae-4c74-b8a2-7d5d2e559048",
      "name": "Execute: CC Status"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vlGDMc64g0AUKBON",
          "mode": "list",
          "cachedResultUrl": "/workflow/vlGDMc64g0AUKBON",
          "cachedResultName": "VHSYS-update_services"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -7904,
        4288
      ],
      "id": "8327ca83-2f42-4781-bd10-5cbd8ae45937",
      "name": "Execute: Update Services"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sjWsEoIsUa8qrPcp",
          "mode": "list",
          "cachedResultUrl": "/workflow/sjWsEoIsUa8qrPcp",
          "cachedResultName": "VHSYS-health"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -7904,
        4096
      ],
      "id": "6494e473-3ce4-4083-862c-4ea80f88b119",
      "name": "Execute: Health"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YPMQGm7hD5eBn1da",
          "mode": "list",
          "cachedResultUrl": "/workflow/YPMQGm7hD5eBn1da",
          "cachedResultName": "VHSYS-cc_next_url"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -7904,
        4864
      ],
      "id": "9038f8a2-dccb-4bfa-b84d-3a727c7e2eb0",
      "name": "Execute: CC Next URL"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DoAXp1U7yQ5UOjgZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/DoAXp1U7yQ5UOjgZ",
          "cachedResultName": "VHSYS-cc_report"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -7904,
        5056
      ],
      "id": "a7163a82-5660-406f-bfa5-aabd263cb8e5",
      "name": "Execute: CC Report"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ul6IjUpAqixCTDc3",
          "mode": "list",
          "cachedResultUrl": "/workflow/ul6IjUpAqixCTDc3",
          "cachedResultName": "VHSYS-get_update_extension_service_data"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -7904,
        4480
      ],
      "id": "10ce6c72-d9c8-4937-b784-2a67da19d9ac",
      "name": "Call 'VHSYS-get_update_extension_service_data-v1'"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "health",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a6fcc763-f8c4-4e23-bf63-1ddbb4e5b544"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "health"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9667381f-7951-4ad0-b127-de93291420a8",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "update_services",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "update_services"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4bce8d92-72a4-407a-af6b-086bd88998bd",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "get_update_extension_service_data",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "74e20558-1a1b-4550-9eec-bbb4e8e1a858",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cc_report_manage/status",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cc_status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b1258e89-f648-4ddf-8a04-24554c867e88",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cc_report_manage/next_url",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cc_next_url"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "72bca3e5-8322-4220-9049-5491b2f3ccf2",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cc_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cc_report"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6a5803f1-b81c-4ec8-bf52-26e55c79be45",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "regular_bills",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "regular_bills"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a9828eb8-246f-4156-9c30-ffe2ac2f7365",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "sales_nf_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sales_nf_report"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "service-nf-001",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "service_nf_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "service_nf_report"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6b99f32b-e7cd-45a4-ad24-f69cc38480cc",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "nf_service_labels",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nf_labels"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a9ce97ec-fbef-460f-bb08-b7a1738c9962",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "nf_service_labels_ids",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nf_labels_ids"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8120abf5-cba5-425b-8556-4974d38302f7",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "nf_service_info",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nf_info"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7b442430-e51c-4f23-a6ec-b1dc9bdbf790",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "employers_general_data",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "employers_general_data"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a064bfd5-7959-4475-b6ef-77c969daf96d",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "employers_plus",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "employers_plus"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c923b735-3846-4419-b29a-7f5717f22234",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "employers_plus_info",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "employers_info"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bc9af070-e4e1-4246-885c-48f0de503268",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "clean_up",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "clean_up"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -8336,
        5232
      ],
      "id": "adc8997f-78ff-4320-8f82-bac5e43357d6",
      "name": "Switch"
    },
    {
      "parameters": {
        "errorMessage": "Route not found"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -7472,
        6400
      ],
      "id": "42fb0b19-7542-4e40-abdc-63b0a8761f8e",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b2074c7e-5494-4fac-9e7e-937eff9ceab1",
              "leftValue": "={{ $json.statusCode == 200 || $json.statusCode == 201 || $json.body.ok }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -6832,
        5408
      ],
      "id": "c7105927-71a3-4812-bb9a-da6d8cbc7019",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.body.message }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -6592,
        5504
      ],
      "id": "9a9b63e5-259c-40ac-b4d4-4db594a4541c",
      "name": "Stop and Error1"
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// VHSYS Router — Extract Route & Parameters\n// Extrai rota lógica, parâmetros de query e monta\n// envelope canônico para todos os sub-workflows.\n// ─────────────────────────────────────────────\nconst req   = $input.item.json;\nconst method = ('PUT').toString().toUpperCase();\nconst body   = req.body  || {};\nconst query  = req.query || {};\n\n// Extrair rota de múltiplas fontes possíveis\nlet route = 'unknown';\n\n// 1. Verificar query parameter ?route=\nif (query.route) {\n  route = query.route.toString().trim();\n} \n// 2. Verificar body.route (para POST)\nelse if (body.route) {\n  route = body.route.toString().trim();\n}\n// 3. Verificar path da URL (para /webhook/vhsys-router/employers_general_data)\nelse if (req.params && req.params.path) {\n  const pathParts = req.params.path.split('/');\n  const lastPart = pathParts[pathParts.length - 1];\n  if (lastPart && lastPart !== 'vhsys-router') {\n    route = lastPart.toString().trim();\n  }\n}\n// 4. Tentar extrair do webhook path completo\nelse if (req.webhookUrl || req.url) {\n  const url = req.webhookUrl || req.url;\n  const match = url.match(/\\/([^/?]+)(\\?|$)/);\n  if (match && match[1] && match[1] !== 'vhsys-router') {\n    route = match[1].toString().trim();\n  }\n}\n\n// Limpar a rota de qualquer parâmetro que possa ter \"grudado\"\nroute = route.split('?')[0].split('&')[0];\n\n// Extrair parâmetros específicos comuns\nconst parameters = {\n  rt_token: query.rt_token || 'YfdDQlECBBBXTwAqsrCLU88jds465VbPIevKuZnKLP9N4OwFl',\n  // Outros parâmetros podem ser adicionados aqui conforme necessário\n};\n\n// Remover parâmetros já extraídos do query object para evitar duplicação\nconst cleanQuery = { ...query };\ndelete cleanQuery.route;\ndelete cleanQuery.rt_token;\n\n// Log estruturado — sem campos sensíveis (mascarar token)\nconst logData = {\n  timestamp: new Date().toISOString(),\n  event:     'router_request',\n  route,\n  method,\n  has_body:  Object.keys(body).length > 0,\n  has_rt_token: !!parameters.rt_token,\n  other_params: Object.keys(cleanQuery).length,\n  url: req.webhookUrl || req.url || 'unknown',\n  level:     'info'\n};\n\n// Log com token mascarado para segurança\nif (parameters.rt_token) {\n  logData.rt_token_prefix = parameters.rt_token.substring(0, 8) + '...';\n}\n\nconsole.log(JSON.stringify(logData));\n\nreturn { \n  route, \n  method, \n  body, \n  query: cleanQuery, \n  parameters, \n  original_request: req \n};"
      },
      "id": "526d53a9-282c-4eb2-b7d6-1c8ed638e2c8",
      "name": "Extract Route & Parameters (PUT)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8560,
        5312
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// VHSYS Router — Extract Route & Parameters\n// Extrai rota lógica, parâmetros de query e monta\n// envelope canônico para todos os sub-workflows.\n// ─────────────────────────────────────────────\nconst req   = $input.item.json;\nconst method = ('GET').toString().toUpperCase();\nconst body   = req.body  || {};\nconst query  = req.query || {};\n\n// Extrair rota de múltiplas fontes possíveis\nlet route = 'unknown';\n\n// 1. Verificar query parameter ?route=\nif (query.route) {\n  route = query.route.toString().trim();\n} \n// 2. Verificar body.route (para POST)\nelse if (body.route) {\n  route = body.route.toString().trim();\n}\n// 3. Verificar path da URL (para /webhook/vhsys-router/employers_general_data)\nelse if (req.params && req.params.path) {\n  const pathParts = req.params.path.split('/');\n  const lastPart = pathParts[pathParts.length - 1];\n  if (lastPart && lastPart !== 'vhsys-router') {\n    route = lastPart.toString().trim();\n  }\n}\n// 4. Tentar extrair do webhook path completo\nelse if (req.webhookUrl || req.url) {\n  const url = req.webhookUrl || req.url;\n  const match = url.match(/\\/([^/?]+)(\\?|$)/);\n  if (match && match[1] && match[1] !== 'vhsys-router') {\n    route = match[1].toString().trim();\n  }\n}\n\n// Limpar a rota de qualquer parâmetro que possa ter \"grudado\"\nroute = route.split('?')[0].split('&')[0];\n\n// Extrair parâmetros específicos comuns\nconst parameters = {\n  rt_token: query.rt_token || 'YfdDQlECBBBXTwAqsrCLU88jds465VbPIevKuZnKLP9N4OwFl',\n  // Outros parâmetros podem ser adicionados aqui conforme necessário\n};\n\n// Remover parâmetros já extraídos do query object para evitar duplicação\nconst cleanQuery = { ...query };\ndelete cleanQuery.route;\ndelete cleanQuery.rt_token;\n\n// Log estruturado — sem campos sensíveis (mascarar token)\nconst logData = {\n  timestamp: new Date().toISOString(),\n  event:     'router_request',\n  route,\n  method,\n  has_body:  Object.keys(body).length > 0,\n  has_rt_token: !!parameters.rt_token,\n  other_params: Object.keys(cleanQuery).length,\n  url: req.webhookUrl || req.url || 'unknown',\n  level:     'info'\n};\n\n// Log com token mascarado para segurança\nif (parameters.rt_token) {\n  logData.rt_token_prefix = parameters.rt_token.substring(0, 8) + '...';\n}\n\nconsole.log(JSON.stringify(logData));\n\nreturn { \n  route, \n  method, \n  body, \n  query: cleanQuery, \n  parameters, \n  original_request: req \n};"
      },
      "id": "2aaeb19e-a7e3-46e9-ae14-b04048d727dd",
      "name": "Extract Route & Parameters (GET)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8560,
        5472
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// VHSYS Router — Extract Route & Parameters\n// Extrai rota lógica, parâmetros de query e monta\n// envelope canônico para todos os sub-workflows.\n// ─────────────────────────────────────────────\nconst req   = $input.item.json;\nconst method = ('POST').toString().toUpperCase();\nconst body   = req.body  || {};\nconst query  = req.query || {};\n\n// Extrair rota de múltiplas fontes possíveis\nlet route = 'unknown';\n\n// 1. Verificar query parameter ?route=\nif (query.route) {\n  route = query.route.toString().trim();\n} \n// 2. Verificar body.route (para POST)\nelse if (body.route) {\n  route = body.route.toString().trim();\n}\n// 3. Verificar path da URL (para /webhook/vhsys-router/employers_general_data)\nelse if (req.params && req.params.path) {\n  const pathParts = req.params.path.split('/');\n  const lastPart = pathParts[pathParts.length - 1];\n  if (lastPart && lastPart !== 'vhsys-router') {\n    route = lastPart.toString().trim();\n  }\n}\n// 4. Tentar extrair do webhook path completo\nelse if (req.webhookUrl || req.url) {\n  const url = req.webhookUrl || req.url;\n  const match = url.match(/\\/([^/?]+)(\\?|$)/);\n  if (match && match[1] && match[1] !== 'vhsys-router') {\n    route = match[1].toString().trim();\n  }\n}\n\n// Limpar a rota de qualquer parâmetro que possa ter \"grudado\"\nroute = route.split('?')[0].split('&')[0];\n\n// Extrair parâmetros específicos comuns\nconst parameters = {\n  rt_token: query.rt_token || 'YfdDQlECBBBXTwAqsrCLU88jds465VbPIevKuZnKLP9N4OwFl',\n  // Outros parâmetros podem ser adicionados aqui conforme necessário\n};\n\n// Remover parâmetros já extraídos do query object para evitar duplicação\nconst cleanQuery = { ...query };\ndelete cleanQuery.route;\ndelete cleanQuery.rt_token;\n\n// Log estruturado — sem campos sensíveis (mascarar token)\nconst logData = {\n  timestamp: new Date().toISOString(),\n  event:     'router_request',\n  route,\n  method,\n  has_body:  Object.keys(body).length > 0,\n  has_rt_token: !!parameters.rt_token,\n  other_params: Object.keys(cleanQuery).length,\n  url: req.webhookUrl || req.url || 'unknown',\n  level:     'info'\n};\n\n// Log com token mascarado para segurança\nif (parameters.rt_token) {\n  logData.rt_token_prefix = parameters.rt_token.substring(0, 8) + '...';\n}\n\nconsole.log(JSON.stringify(logData));\n\nreturn { \n  route, \n  method, \n  body, \n  query: cleanQuery, \n  parameters, \n  original_request: req \n};"
      },
      "id": "ce561645-7eb3-4c3b-aa95-06b133434a0b",
      "name": "Extract Route & Parameters (POST)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8560,
        5632
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VQsdVpBigGsHo5Eo",
          "mode": "list",
          "cachedResultUrl": "/workflow/VQsdVpBigGsHo5Eo",
          "cachedResultName": "VHSYS-clean_up"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -7904,
        7168
      ],
      "id": "d7eaa8a1-6bec-4ff9-9051-d1aded1e6142",
      "name": "Call 'VHSYS-clean_up'"
    }
  ],
  "pinData": {
    "Webhook Router": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv1252717.hstgr.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
            "content-length": "4",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en-GB;q=0.9,en;q=0.8,pt-BR;q=0.7,pt;q=0.6",
            "content-type": "application/json",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX186CoFlNALGW5xLKha89a9b0jl8sl0uuOc%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19Tgc37yYdgQHcHM3JH5d6N0WF0ZArVUH4%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2FGj%2BUwwuo3%2B3kG87vp4Zk2DqclMS3KurC1X98MaeemG45LutQK67hj4wyMpgLDg8a%2B%2Be5R9RbjAw%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BbBS9yxclpyVh3hkJld4cJtu9TbeMT8jxoBw0Ovm8t519cQtn%2B52ZlbIknwdUa4fmOmTXZZQZSOTVpAwCHkr6tRLaXWSAYlI8hYIr6igYQvmfs5KKnJFl%2BhPMB5%2Fctltv2CmBW2of0lpRvjCXGDCdUA88io0zYj14%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX19DiW4WMrOQ%2BLGstGFa1j5gXx0TiTnfyQ1nt%2FebmkWnTWbNljeVEycDtrfwoMq8J5R0Z0vl3YsJqpjYPrfmlgCxtSloR%2B166IDjED2wSXeQYbqjJWvXKOt%2Bomm8fcxIQhVrv4fqnderdH3%2FkWyUzFBDd2J%2FqOnEuZ0%3D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2B%2BpyRzuOjZOpwhwAWWRvXInXxoIOjXR5d37RpTh%2BqDGYjmb0RygH%2BkjlCGxQSmhoWSkKjGgzsIRX2iq44eRd6qx63wq4VP4zCHcMtu0Ps7IUpeyV7qai4ScYmkKto%2FmEC7XwSVfPA2yA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22%24device_id%22%3A%22019c3304-50e2-76c3-84db-36119f648c39%22%2C%22distinct_id%22%3A%22175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c%2381f34a05-d25b-47ef-a17b-3ead2bccf5e2%22%2C%22%24sesid%22%3A%5B1774260152718%2C%22019d1a23-ccd1-7bf7-8ebe-459eb5454e7e%22%2C1774260047057%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n.srv1252717.hstgr.cloud%2Fworkflow%2F-sHYewtSFxMznnvdHtAc8%22%7D%2C%22%24user_state%22%3A%22identified%22%7D",
            "origin": "https://n8n.srv1252717.hstgr.cloud",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "same-origin",
            "x-forwarded-for": "201.81.90.19",
            "x-forwarded-host": "n8n.srv1252717.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "fda5ae5afd08",
            "x-real-ip": "201.81.90.19"
          },
          "params": {},
          "query": {
            "route": "service_nf_report"
          },
          "body": {},
          "webhookUrl": "https://n8n.srv1252717.hstgr.cloud/webhook/vhsys-router",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook Router": {
      "main": [
        [
          {
            "node": "Extract Route & Parameters (PUT)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Route & Parameters (GET)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Route & Parameters (POST)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: NF Service": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: NF label Id's": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: NF label": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: NF Sales": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Service NF": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Regular Bills": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Employers General": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Employers Plus": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Employers Plus Info": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "404 Not Found": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: CC Status": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Update Services": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Health": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: CC Next URL": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: CC Report": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'VHSYS-get_update_extension_service_data-v1'": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Execute: Health",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: Update Services",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'VHSYS-get_update_extension_service_data-v1'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: CC Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: CC Next URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: CC Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: Regular Bills",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: NF Sales",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: Service NF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: NF label",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: NF label Id's",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: NF Service",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: Employers General",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: Employers Plus",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: Employers Plus Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'VHSYS-clean_up'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "404 Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Route & Parameters (PUT)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Route & Parameters (GET)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Route & Parameters (POST)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'VHSYS-clean_up'": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "22b87bcb-5de4-4c6a-bb40-62d3f365f26a",
  "meta": {
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "8z3TTNgiuypY3Nca",
  "tags": []
}