EXTENSION_SERVER/n8n_diagrams/VHSYS-service_nf_report.json
{
  "name": "VHSYS-service_nf_report",
  "nodes": [
    {
      "parameters": {},
      "id": "81a7afb8-95c1-4ef6-8636-17f956c795b9",
      "name": "When called by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -15024,
        3360
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\n\nfunction parseIfJsonString(value) {\n  if (typeof value !== 'string') return value;\n  try {\n    return JSON.parse(value);\n  } catch {\n    return value;\n  }\n}\n\nfunction asObject(value) {\n  const parsed = parseIfJsonString(value);\n  if (parsed && typeof parsed === 'object' && !Array.isArray(parsed)) return parsed;\n  return null;\n}\n\nconst candidates = [\n  asObject(input.body),\n  asObject(input),\n  asObject(input.original_request?.body),\n  asObject(input.original_request),\n  asObject(input.query),\n  asObject(input.parameters)\n].filter(Boolean);\n\nlet payload = null;\nfor (const candidate of candidates) {\n  if (candidate.data?.source?.itens) {\n    payload = candidate;\n    break;\n  }\n}\n\nif (!payload) {\n  const bodyObj = asObject(input.body) || {};\n  const originalBodyObj = asObject(input.original_request?.body) || {};\n\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: {\n      ok: false,\n      error: 'Missing required field: data',\n      message: 'Payload is empty or does not include data.source.itens',\n      diagnostics: {\n        received_top_level_keys: Object.keys(asObject(input) || {}),\n        body_keys: Object.keys(bodyObj),\n        original_body_keys: Object.keys(originalBodyObj),\n        content_length: input.original_request?.headers?.['content-length'] || null\n      }\n    }\n  };\n}\n\nif (!payload.data?.source || !payload.data.source.itens) {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { ok: false, error: 'Missing required structure: data.source.itens' }\n  };\n}\n\nif (!Array.isArray(payload.data.source.itens)) {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { ok: false, error: 'itens must be an array' }\n  };\n}\n\nconst itens = payload.data.source.itens;\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'service_nf_report',\n  event: 'input_validated',\n  itens_count: itens.length,\n  level: 'info'\n}));\n\nreturn { _valid: true, itens };"
      },
      "id": "58d57183-b052-4950-bb56-9da632dcfbb1",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14800,
        3360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json._valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "2422c9a1-43bd-4598-8111-8fe3e4c80972"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5841db92-93b5-4c32-87f4-e0b47ea1e1dc",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -14576,
        3360
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\nconst itens = Array.isArray(ctx.itens) ? ctx.itens : [];\n\nfunction decodeHtml(value) {\n  if (typeof value !== 'string') return value;\n  return value\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&#x27;/g, \"'\")\n    .replace(/&#x2F;/g, '/')\n    .replace(/&nbsp;/g, ' ');\n}\n\nfunction sanitizeForQuery(value) {\n  if (typeof value !== 'string') return value;\n  return value.replace(/\\$/g, '$ ');\n}\n\nconst transformed = itens\n  .map((item) => {\n    const data = {};\n    for (const key of Object.keys(item || {})) {\n      data[key] = sanitizeForQuery(decodeHtml(item[key]));\n    }\n\n    const rps = String(data.RPS || '').trim();\n    if (!rps) return null;\n\n    return {\n      ID: data.ID || null,\n      RPS: rps,\n      Nota: data.Nota || null,\n      Cliente: data.Cliente || null,\n      CNPJ: data.CNPJ || null,\n      Endereco: data.Endereco || null,\n      Numero: data.Numero || null,\n      Complemento: data.Complemento || null,\n      Bairro: data.Bairro || null,\n      Cidade: data.Cidade || null,\n      Estado: data.Estado || null,\n      CEP: data.CEP || null,\n      Email: data.Email || null,\n      Telefone: data.Telefone || null,\n      Vendedor: data.Vendedor || null,\n      ValorServicos: data.ValorServicos || '0',\n      ValorTotal: data.ValorTotal || '0',\n      TotalParcelas: data.TotalParcelas || null,\n      ValorDeducoes: data.ValorDeducoes || null,\n      Aliquota: data.Aliquota || null,\n      ValorISS: data.ValorISS || '0',\n      ISSRetido: data.ISSRetido || null,\n      ValorCOFINS: data.ValorCOFINS || '0',\n      ValorPIS: data.ValorPIS || '0',\n      ValorCSLL: data.ValorCSLL || '0',\n      ValorIR: data.ValorIR || '0',\n      ValorINSS: data.ValorINSS || '0',\n      ValorTributos: data.ValorTributos || '0',\n      DataPedido: data.DataPedido || null,\n      LocalPrestacao: data.LocalPrestacao || null,\n      Contas: data.Contas || null,\n      Chave: data.Chave || null,\n      Protocolo: data.Protocolo || null,\n      Descricao: data.Descricao || null,\n      DataEmissao: data.DataEmissao || null,\n      Situacao: data.Situacao || null,\n      DataCad: data.DataCad || null,\n      DataMod: data.DataMod || null\n    };\n  })\n  .filter(Boolean);\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'service_nf_report',\n  event: 'nfs_transformed',\n  valid_nfs: transformed.length,\n  total_input: itens.length,\n  level: 'info'\n}));\n\nreturn transformed;"
      },
      "id": "ac70bfde-5a07-49f8-a5ea-7cb78a7ef7de",
      "name": "Decode + Transform Service NFs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14352,
        3264
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO auxiliary.\"ServiceNFReport\" (\n  \"ID\", \"RPS\", \"Nota\", \"Cliente\", \"CNPJ\",\n  \"Endereco\", \"Numero\", \"Complemento\", \"Bairro\", \"Cidade\",\n  \"Estado\", \"CEP\", \"Email\", \"Telefone\", \"Vendedor\",\n  \"ValorServicos\", \"ValorTotal\", \"TotalParcelas\", \"ValorDeducoes\", \"Aliquota\",\n  \"ValorISS\", \"ISSRetido\", \"ValorCOFINS\", \"ValorPIS\", \"ValorCSLL\",\n  \"ValorIR\", \"ValorINSS\", \"ValorTributos\", \"DataPedido\", \"LocalPrestacao\",\n  \"Contas\", \"Chave\", \"Protocolo\", \"Descricao\", \"DataEmissao\",\n  \"Situacao\", \"DataCad\", \"DataMod\",\n  \"created_at\", \"updated_at\"\n) VALUES (\n  {{ $json.ID ? \"'\" + String($json.ID).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ String($json.RPS).replace(/'/g, \"''\") }}',\n  {{ $json.Nota ? \"'\" + String($json.Nota).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.Cliente ? \"'\" + String($json.Cliente).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.CNPJ ? \"'\" + String($json.CNPJ).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.Endereco ? \"'\" + String($json.Endereco).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.Numero ? \"'\" + String($json.Numero).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.Complemento ? \"'\" + String($json.Complemento).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.Bairro ? \"'\" + String($json.Bairro).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.Cidade ? \"'\" + String($json.Cidade).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.Estado ? \"'\" + String($json.Estado).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.CEP ? \"'\" + String($json.CEP).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.Email ? \"'\" + String($json.Email).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.Telefone ? \"'\" + String($json.Telefone).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.Vendedor ? \"'\" + String($json.Vendedor).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.ValorServicos ? \"'\" + String($json.ValorServicos).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.ValorTotal ? \"'\" + String($json.ValorTotal).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.TotalParcelas ? \"'\" + String($json.TotalParcelas).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.ValorDeducoes ? \"'\" + String($json.ValorDeducoes).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.Aliquota ? \"'\" + String($json.Aliquota).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.ValorISS ? \"'\" + String($json.ValorISS).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.ISSRetido ? \"'\" + String($json.ISSRetido).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.ValorCOFINS ? \"'\" + String($json.ValorCOFINS).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.ValorPIS ? \"'\" + String($json.ValorPIS).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.ValorCSLL ? \"'\" + String($json.ValorCSLL).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.ValorIR ? \"'\" + String($json.ValorIR).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.ValorINSS ? \"'\" + String($json.ValorINSS).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.ValorTributos ? \"'\" + String($json.ValorTributos).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.DataPedido ? \"'\" + String($json.DataPedido).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.LocalPrestacao ? \"'\" + String($json.LocalPrestacao).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.Contas ? \"'\" + String($json.Contas).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.Chave ? \"'\" + String($json.Chave).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.Protocolo ? \"'\" + String($json.Protocolo).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.Descricao ? \"'\" + String($json.Descricao).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.DataEmissao ? \"'\" + String($json.DataEmissao).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.Situacao ? \"'\" + String($json.Situacao).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.DataCad ? \"'\" + String($json.DataCad).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.DataMod ? \"'\" + String($json.DataMod).replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp,\n  (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp\n)\nON CONFLICT (\"RPS\")\nDO UPDATE SET\n  \"ID\" = EXCLUDED.\"ID\",\n  \"Nota\" = EXCLUDED.\"Nota\",\n  \"Cliente\" = EXCLUDED.\"Cliente\",\n  \"CNPJ\" = EXCLUDED.\"CNPJ\",\n  \"Endereco\" = EXCLUDED.\"Endereco\",\n  \"Numero\" = EXCLUDED.\"Numero\",\n  \"Complemento\" = EXCLUDED.\"Complemento\",\n  \"Bairro\" = EXCLUDED.\"Bairro\",\n  \"Cidade\" = EXCLUDED.\"Cidade\",\n  \"Estado\" = EXCLUDED.\"Estado\",\n  \"CEP\" = EXCLUDED.\"CEP\",\n  \"Email\" = EXCLUDED.\"Email\",\n  \"Telefone\" = EXCLUDED.\"Telefone\",\n  \"Vendedor\" = EXCLUDED.\"Vendedor\",\n  \"ValorServicos\" = EXCLUDED.\"ValorServicos\",\n  \"ValorTotal\" = EXCLUDED.\"ValorTotal\",\n  \"TotalParcelas\" = EXCLUDED.\"TotalParcelas\",\n  \"ValorDeducoes\" = EXCLUDED.\"ValorDeducoes\",\n  \"Aliquota\" = EXCLUDED.\"Aliquota\",\n  \"ValorISS\" = EXCLUDED.\"ValorISS\",\n  \"ISSRetido\" = EXCLUDED.\"ISSRetido\",\n  \"ValorCOFINS\" = EXCLUDED.\"ValorCOFINS\",\n  \"ValorPIS\" = EXCLUDED.\"ValorPIS\",\n  \"ValorCSLL\" = EXCLUDED.\"ValorCSLL\",\n  \"ValorIR\" = EXCLUDED.\"ValorIR\",\n  \"ValorINSS\" = EXCLUDED.\"ValorINSS\",\n  \"ValorTributos\" = EXCLUDED.\"ValorTributos\",\n  \"DataPedido\" = EXCLUDED.\"DataPedido\",\n  \"LocalPrestacao\" = EXCLUDED.\"LocalPrestacao\",\n  \"Contas\" = EXCLUDED.\"Contas\",\n  \"Chave\" = EXCLUDED.\"Chave\",\n  \"Protocolo\" = EXCLUDED.\"Protocolo\",\n  \"Descricao\" = EXCLUDED.\"Descricao\",\n  \"DataEmissao\" = EXCLUDED.\"DataEmissao\",\n  \"Situacao\" = EXCLUDED.\"Situacao\",\n  \"DataCad\" = EXCLUDED.\"DataCad\",\n  \"DataMod\" = EXCLUDED.\"DataMod\",\n  \"updated_at\" = (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp\nRETURNING \"RPS\";",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "independently"
        }
      },
      "id": "56f34567-3215-442f-925a-6762fad0763d",
      "name": "Upsert Service NF",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -14128,
        3264
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const upsertRows = $items('Upsert Service NF', 0, 0).map(item => item.json).filter(row => row && row.RPS);\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'service_nf_report',\n  event: 'workflow_completed',\n  service_nf_upserted: upsertRows.length,\n  level: 'info'\n}));\n\nreturn {\n  statusCode: 201,\n  body: {\n    message: 'GET A NEW regular_bills status '\n  }\n};"
      },
      "id": "29e64ff0-f4eb-4441-b432-11b6c3a57d37",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13456,
        3264
      ]
    },
    {
      "parameters": {
        "jsCode": "// Erro de validação\nconst input = $input.first().json;\nreturn {\n  statusCode: input.statusCode || 400,\n  body: input.body || { ok: false, error: 'Validation failed' }\n};"
      },
      "id": "d62908d2-330b-4b20-a586-34d48cd8e6ef",
      "name": "Build Validation Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13456,
        3456
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract aggregates with fallback for multiple payload shapes\nconst upstreamRows = $input.all().map(item => item.json || {});\nconst transformedRows = $items('Decode + Transform Service NFs', 0, 0).map(item => item.json || {});\n\nconst sourceRows = upstreamRows.length ? upstreamRows : transformedRows;\n\nfunction firstNonEmpty(...values) {\n  for (const value of values) {\n    const text = String(value || '').trim();\n    if (text) return text;\n  }\n  return '';\n}\n\nconst codigoCount = {};\nfor (const row of sourceRows) {\n  const codigo = firstNonEmpty(\n    row.codigo,\n    row.codigo_servico,\n    row.id_servico,\n    row.RPS,\n    row.numero_nf,\n    row.Nota\n  );\n\n  if (!codigo) continue;\n  codigoCount[codigo] = (codigoCount[codigo] || 0) + 1;\n}\n\nconst aggregates = Object.entries(codigoCount).map(([codigo, count]) => ({\n  codigo,\n  numeronfs: String(count)\n}));\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'service_nf_report',\n  event: 'aggregates_extracted',\n  input_rows: sourceRows.length,\n  output_rows: aggregates.length,\n  level: 'info'\n}));\n\nreturn aggregates;"
      },
      "id": "bf979a9c-3ca0-41a3-bbac-c055ca8717ef",
      "name": "Extract Aggregates for Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13904,
        3264
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO auxiliary.\"NF_ServiceMetadata\" (\n  \"codigo\",\n  \"numeronfs\",\n  \"created_at\",\n  \"updated_at\"\n) VALUES (\n  '{{ $json.codigo }}',\n  '{{ $json.numeronfs }}',\n  (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp,\n  (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp\n)\nON CONFLICT (\"codigo\")\nDO UPDATE SET\n  \"numeronfs\" = EXCLUDED.\"numeronfs\",\n  \"updated_at\" = (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp\nWHERE\n  \"NF_ServiceMetadata\".\"numeronfs\" IS DISTINCT FROM EXCLUDED.\"numeronfs\"\nRETURNING \"codigo\", \"numeronfs\", \"cliente\", \"status\";",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "independently"
        }
      },
      "id": "8de96af1-9cc0-4814-a435-efefcc13358a",
      "name": "Update Service Metadata",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -13680,
        3264
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Return the response data as-is\nconst response = $input.first().json;\nreturn response;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13232,
        3360
      ],
      "id": "d72d8435-c314-4393-a31e-d6edc5dbfe92",
      "name": "Return Response"
    }
  ],
  "pinData": {},
  "connections": {
    "When called by another workflow": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Decode + Transform Service NFs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Validation Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode + Transform Service NFs": {
      "main": [
        [
          {
            "node": "Upsert Service NF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Service NF": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Aggregates for Metadata": {
      "main": [
        [
          {
            "node": "Update Service Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Service Metadata": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Validation Error Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6b0291be-96e2-41ee-b353-552826f238eb",
  "meta": {
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "21NZxIQ62yae77mQ",
  "tags": []
}