EXTENSION_SERVER/n8n_diagrams/VHSYS-regular_bills.json
{
  "name": "VHSYS-regular_bills",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-regular-bills-001",
      "name": "When called by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [-400, 200]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// VHSYS :: regular_bills\n// Rota   : POST /regular_bills  \n// Fase 6 : Regular Bills\n// ─────────────────────────────────────────────\n// Input  : Array de objetos com dados estruturados\n// Output : { message: 'GET A NEW regular_bills status' } HTTP 201\n// Banco  : UPSERT DespesasRecorrentes\n// Chave  : id_custo\n// ─────────────────────────────────────────────\n\nconst input = $input.first().json;\nconst body = input.body || input;\n\n// Validar input\nif (!Array.isArray(body)) {\n  return {\n    statusCode: 400,\n    body: { error: 'Expected array of regular bills' }\n  };\n}\n\nif (body.length === 0) {\n  return {\n    statusCode: 400,\n    body: { error: 'Empty array provided' }\n  };\n}\n\n// Log inicial\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'regular_bills',\n  event: 'input_received',\n  items_count: body.length,\n  level: 'info'\n}));\n\n// Transformar todos os itens\nconst processedBills = body.map((item, index) => {\n  if (!item.id_custo) {\n    console.log(JSON.stringify({\n      timestamp: new Date().toISOString(),\n      route: 'regular_bills',\n      event: 'item_skipped_missing_id',\n      item_index: index,\n      level: 'warn'\n    }));\n    return null;\n  }\n\n  return {\n    id_custo: String(item.id_custo),\n    id_empresa: String(item.id_empresa || '1'),\n    nome_conta: String(item.nome_conta || ''),\n    id_categoria: String(item.id_categoria || '1'),\n    categoria_custo: String(item.categoria_custo || ''),\n    id_banco: String(item.id_banco || '1'),\n    id_fornecedor: String(item.id_fornecedor || '1'),\n    nome_fornecedor: String(item.nome_fornecedor || ''),\n    vencimento_custo: String(item.vencimento_custo || ''),\n    valor_custo: String(item.valor_custo || '0'),\n    observacoes_custo: String(item.observacoes_custo || ''),\n    id_centro_custos: String(item.id_centro_custos || '1'),\n    status_custo: String(item.status_custo || 'ATIVO'),\n    forma_pagamento: String(item.forma_pagamento || 'DINHEIRO'),\n    periodicidade: String(item.periodicidade || 'MENSAL'),\n    dia_semana_ocorrencia: String(item.dia_semana_ocorrencia || ''),\n    dia_mes_ocorrencia: String(item.dia_mes_ocorrencia || ''),\n    intervalo_dias_ocorrencia: String(item.intervalo_dias_ocorrencia || ''),\n    data_inicio_ocorrencia: item.data_inicio_ocorrencia || null,\n    data_fim_ocorrencia: item.data_fim_ocorrencia || null,\n    data_cad_custo: item.data_cad_custo || (new Date()).toISOString().split('T')[0],\n    lixeira: String(item.lixeira || 'NAO')\n  };\n}).filter(item => item !== null);\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'regular_bills',\n  event: 'input_processed',\n  valid_items: processedBills.length,\n  total_items: body.length,\n  level: 'info'\n}));\n\nreturn { processedBills };"
      },
      "id": "validate-transform-001",
      "name": "Validate & Transform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-160, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ range($json.processedBills) }}\nINSERT INTO auxiliary.despesas_recorrentes (\n  id_custo, id_empresa, nome_conta, id_categoria, categoria_custo,\n  id_banco, id_fornecedor, nome_fornecedor, vencimento_custo, valor_custo,\n  observacoes_custo, id_centro_custos, status_custo, forma_pagamento,\n  periodicidade, dia_semana_ocorrencia, dia_mes_ocorrencia, intervalo_dias_ocorrencia,\n  data_inicio_ocorrencia, data_fim_ocorrencia, data_cad_custo, lixeira\n) VALUES (\n  '{{ $item.id_custo }}', '{{ $item.id_empresa }}', '{{ $item.nome_conta }}', '{{ $item.id_categoria }}', '{{ $item.categoria_custo }}',\n  '{{ $item.id_banco }}', '{{ $item.id_fornecedor }}', '{{ $item.nome_fornecedor }}', '{{ $item.vencimento_custo }}', '{{ $item.valor_custo }}',\n  '{{ $item.observacoes_custo }}', '{{ $item.id_centro_custos }}', '{{ $item.status_custo }}', '{{ $item.forma_pagamento }}',\n  '{{ $item.periodicidade }}', '{{ $item.dia_semana_ocorrencia }}', '{{ $item.dia_mes_ocorrencia }}', '{{ $item.intervalo_dias_ocorrencia }}',\n  {{ if $item.data_inicio_ocorrencia }}'{{ $item.data_inicio_ocorrencia }}'::date{{ else }}NULL{{ /if }},\n  {{ if $item.data_fim_ocorrencia }}'{{ $item.data_fim_ocorrencia }}'::date{{ else }}NULL{{ /if }},\n  {{ if $item.data_cad_custo }}'{{ $item.data_cad_custo }}'::date{{ else }}CURRENT_TIMESTAMP{{ /if }},\n  '{{ $item.lixeira }}'\n)\nON CONFLICT (id_custo)\nDO UPDATE SET\n  id_empresa = EXCLUDED.id_empresa,\n  nome_conta = EXCLUDED.nome_conta,\n  categoria_custo = EXCLUDED.categoria_custo,\n  nome_fornecedor = EXCLUDED.nome_fornecedor,\n  vencimento_custo = EXCLUDED.vencimento_custo,\n  valor_custo = EXCLUDED.valor_custo,\n  observacoes_custo = EXCLUDED.observacoes_custo,\n  status_custo = EXCLUDED.status_custo,\n  forma_pagamento = EXCLUDED.forma_pagamento,\n  periodicidade = EXCLUDED.periodicidade,\n  data_inicio_ocorrencia = EXCLUDED.data_inicio_ocorrencia,\n  data_fim_ocorrencia = EXCLUDED.data_fim_ocorrencia,\n  lixeira = EXCLUDED.lixeira\nWHERE (\n  despesas_recorrentes.nome_conta IS DISTINCT FROM EXCLUDED.nome_conta OR\n  despesas_recorrentes.vencimento_custo IS DISTINCT FROM EXCLUDED.vencimento_custo OR\n  despesas_recorrentes.valor_custo IS DISTINCT FROM EXCLUDED.valor_custo OR\n  despesas_recorrentes.status_custo IS DISTINCT FROM EXCLUDED.status_custo OR\n  despesas_recorrentes.forma_pagamento IS DISTINCT FROM EXCLUDED.forma_pagamento OR\n  despesas_recorrentes.lixeira IS DISTINCT FROM EXCLUDED.lixeira\n);\n{{ /range }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "id": "upsert-all-bills-001",
      "name": "Upsert All Bills",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [80, 200],
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// VHSYS :: regular_bills - Success Response\n// ─────────────────────────────────────────────\nconst result = $input.first().json;\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'regular_bills',\n  event: 'bulk_upsert_success',\n  level: 'info'\n}));\n\nreturn {\n  statusCode: 201,\n  body: { \n    message: 'GET A NEW regular_bills status'\n  }\n};"
      },
      "id": "build-success-response-001",
      "name": "Build Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 200]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// VHSYS :: regular_bills - Error Response\n// ─────────────────────────────────────────────\nconst errData = $input.first().json;\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'regular_bills',\n  event: 'db_error',\n  message: errData.message || 'Unknown DB error',\n  level: 'error'\n}));\n\nreturn {\n  statusCode: 500,\n  body: { error: errData.message || 'Database error' }\n};"
      },
      "id": "build-error-response-001",
      "name": "Build Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [80, 380]
    }
  ],
  "connections": {
    "When called by another workflow": {
      "main": [
        [
          {
            "node": "Validate & Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Transform": {
      "main": [
        [
          {
            "node": "Upsert All Bills",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert All Bills": {
      "main": [
        [
          {
            "node": "Build Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-03-22T22:59:00.000Z"
}