EXTENSION_SERVER/n8n_diagrams/VHSYS-cc_report.json
{
  "name": "VHSYS-cc_report",
  "nodes": [
    {
      "parameters": {
        "content": "## Consolidacao e Fechamento\n\nConverge os ramos de insert e delete.\n\nAtualiza status por tipo:\n- entrada -> entries_runned\n- saida -> outputs_runned\n\nRetorna resposta 201 de conclusao.",
        "height": 234,
        "width": 440,
        "color": 7
      },
      "id": "fce7c59d-746e-438f-b56a-0258972228ed",
      "name": "Consolidacao e Fechamento",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16576,
        2928
      ]
    },
    {
      "parameters": {
        "content": "## Persistencia de Remocoes\n\nPrepara IDs obsoletos para exclusao em lote.\n\nGera lista segura (escaping) e executa:\nDELETE ... WHERE ID IN (...)\n\nRemove rapidamente itens fora do estado atual.",
        "height": 220,
        "width": 456,
        "color": 2
      },
      "id": "33ad9cd4-a950-4a73-884e-0c4a328d7991",
      "name": "Persistencia de Remocoes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -17632,
        3280
      ]
    },
    {
      "parameters": {
        "content": "## Persistencia de Inclusoes\n\nPrepara os novos registros para INSERT em lote.\n\nAplica escaping e normalizacao numerica.\n\nExecuta um unico INSERT batch para reduzir round-trips no banco.",
        "height": 210,
        "width": 408,
        "color": 2
      },
      "id": "b98664d4-405c-420a-9981-b2d411524347",
      "name": "Persistencia de Inclusoes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -17568,
        2400
      ]
    },
    {
      "parameters": {
        "content": "## Caminho Sem Delta\n\nSe has_changes=false:\n- pula insert/delete\n- atualiza status de processamento\n- finaliza com 201\n\nEvita operacoes de banco desnecessarias.",
        "height": 248,
        "width": 458,
        "color": 5
      },
      "id": "4fb55fb1-9a26-4bb7-a170-f5bfc6148ade",
      "name": "Caminho Sem Delta",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -18304,
        3472
      ]
    },
    {
      "parameters": {
        "content": "## Motor de Reconciliacao\n\nCompara IDs da extensao com IDs do banco.\n\nCalcula:\n- Insere -> se tem na extensao mas não no banco\n- Deleta -> se tem no banco mas não na extensão",
        "height": 214,
        "width": 404,
        "color": 6
      },
      "id": "e8b66a28-633c-48aa-9ac5-6518023cda39",
      "name": "Motor de Reconciliacao",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -18432,
        2704
      ]
    },
    {
      "parameters": {
        "content": "## Escopo e Snapshot do Banco\n\nDefine o escopo da consulta com cc_id e type.\n\nDepois busca no banco o estado atual desse mesmo escopo.\n\nResultado:\n- menos payload trafegando\n- base pronta para o diff.",
        "height": 264,
        "width": 376,
        "color": 6
      },
      "id": "5ab276a6-a0b8-46d8-944e-7f7f74445bbf",
      "name": "Escopo e Snapshot do Banco",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -18880,
        2672
      ]
    },
    {
      "parameters": {
        "content": "## Normalizacao de Registros\n\nTransforma subItens em registros padrao para comparacao.\n\nAqui o fluxo:\n- extrai CC semantico\n- gera indice estavel\n- cria ID deterministico (hash)",
        "height": 216,
        "width": 428,
        "color": 4
      },
      "id": "66570626-ff55-4029-942a-62e68da8c738",
      "name": "Normalizacao de Registros",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -19408,
        2816
      ]
    },
    {
      "parameters": {
        "content": "## Decodificacao e Early Exit\n\nSe nao houver subItens, sai cedo e manda para o caminho de pagina vazia.\n\nSe houver dados:\n- decodifica entidades HTML\n- preserva a estrutura do payload",
        "height": 220,
        "width": 392,
        "color": 4
      },
      "id": "0bc1568e-5325-45c8-a784-0e8c868e50d2",
      "name": "Decodificacao e Early Exit",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -19968,
        2880
      ]
    },
    {
      "parameters": {
        "content": "## Contrato de Entrada\n\nValida o payload recebido pelo router.\n\nCheca:\n- data, type, cc_id\n- type = entrada ou saida\n\nSe invalido: retorna 400.\nSe valido: segue com payload normalizado.",
        "height": 236,
        "width": 344,
        "color": 3
      },
      "id": "68fb2e71-52c7-4bd5-8212-c2eb0721d9d3",
      "name": "Contrato de Entrada",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -19936,
        3344
      ]
    },
    {
      "parameters": {
        "content": "## Arquitetura do Fluxo\n\nSincroniza o relatorio de centro de custo entre extensao e banco.\n\nEtapas:\n1) valida entrada\n2) normaliza dados\n3) calcula diff\n4) aplica insert/delete\n5) atualiza status\n6) responde ao chamador",
        "height": 314,
        "width": 574,
        "color": 7
      },
      "id": "25379523-c5f1-4ab0-902c-ea276c5d2a33",
      "name": "Arquitetura do Fluxo",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -20816,
        3056
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE auxiliary.update_cc_report_status\nSET \n  entries_runned = CASE WHEN '{{ $json.type }}' = 'entrada' THEN 1 ELSE entries_runned END,\n  outputs_runned = CASE WHEN '{{ $json.type }}' = 'saida' THEN 1 ELSE outputs_runned END,\n  updated_at = (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp\nWHERE cc_id = '{{ $json.cc_id }}';",
        "options": {}
      },
      "id": "f7de807d-e600-450a-b1b4-08fbb70b8563",
      "name": "No Changes Update Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -17920,
        3216
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Reaproveita update de status padrão no caminho de página vazia\nconst ctx = $input.first().json;\n\nreturn {\n  json: {\n    cc_id: ctx.cc_id,\n    type: ctx.type\n  }\n};"
      },
      "id": "f1564938-c8eb-4050-a0f2-7e4eb7c8cfe3",
      "name": "Empty Update Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -18144,
        3264
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\n\nreturn {\n  statusCode: ctx.statusCode || 400,\n  body: ctx.body || { error: 'Validation failed' }\n};"
      },
      "id": "dad86b0a-7e29-4a7e-89c5-940e912da225",
      "name": "Build Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -19488,
        3264
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json || {};\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'cc_report',\n  event: 'completed',\n  cc_id: ctx.cc_id || 'unknown',\n  type: ctx.type || 'unknown',\n  level: 'info'\n}));\n\nreturn {\n  statusCode: 201,\n  body: { message: 'GET A NEW CC_REPORT BY CC id' }\n};"
      },
      "id": "ab9c8b78-bbd8-4084-8fbb-bea8169be00d",
      "name": "Build Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16800,
        3024
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE auxiliary.update_cc_report_status\nSET \n  entries_runned = CASE WHEN '{{ $('Has Changes?').item.json.type }}' = 'entrada' THEN 1 ELSE entries_runned END,\n  outputs_runned = CASE WHEN '{{ $('Has Changes?').item.json.type }}' = 'saida' THEN 1 ELSE outputs_runned END,\n  updated_at = (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp\nWHERE cc_id = '{{ $('Has Changes?').item.json.cc_id }}';",
        "options": {}
      },
      "id": "53262b5c-b97c-412e-a642-c572fd4977a6",
      "name": "Update Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -17024,
        2800
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "478f0aba-2eee-41dd-960c-53899a4c9159",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -17248,
        2800
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM auxiliary.\"Relatorio_CC\"\nWHERE \"ID\" IN ({{ $json.ids_sql }});",
        "options": {
          "queryBatching": "single"
        }
      },
      "id": "32d95284-f5af-4961-b870-41d59cd8e7d4",
      "name": "Delete Records",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -17472,
        3040
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json._skip_delete }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "096f627a-98a8-49c7-aae3-be60d729be34"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cfb31c4f-0f56-469f-a7c8-48435bdb6249",
      "name": "Skip Delete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -17696,
        2976
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepara delete em lote com escaping padronizado\nconst diff = $input.first().json;\nconst toDelete = diff.to_delete || [];\n\nif (toDelete.length === 0) {\n  return [{ json: { _skip_delete: true, cc_id: diff.cc_id, type: diff.type } }];\n}\n\nconst esc = (v) => String(v ?? '').replace(/'/g, \"''\");\nconst ids_sql = toDelete.map((id) => `'${esc(id)}'`).join(', ');\n\nreturn [{\n  json: {\n    _skip_delete: false,\n    cc_id: diff.cc_id,\n    type: diff.type,\n    delete_count: toDelete.length,\n    ids_sql\n  }\n}];"
      },
      "id": "c2e0a53d-dec5-497a-9b0c-6f33f96cc812",
      "name": "Split Deletes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -17920,
        2976
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO auxiliary.\"Relatorio_CC\" (\n  \"ID\", \"ID_SEED\", \"CC\", \"ID_CC\", \"CC_LABEL\",\n  \"VENCIMENTO\", \"FORNECEDOR\", \"NOME_DESPESA\", \"SITUACAO\",\n  \"DATA_PAGAMENTO\", \"CATEGORIA\", \"VALOR\", \"TYPE\",\n  \"created_at\", \"updated_at\"\n) VALUES\n{{ $json.values_sql }};",
        "options": {
          "queryBatching": "single"
        }
      },
      "id": "238e5cb3-82df-4358-bc45-d45fedec60ae",
      "name": "Insert Records",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -17472,
        2656
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json._skip_insert }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "5bf233be-4a90-4184-b288-e479f1803d6d"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3b39aef5-d64a-4444-b439-9524220db5b2",
      "name": "Skip Insert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -17696,
        2736
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepara insert em lote com escaping padronizado\nconst diff = $input.first().json;\nconst toInsert = diff.to_insert || [];\n\nif (toInsert.length === 0) {\n  return [{ json: { _skip_insert: true, cc_id: diff.cc_id, type: diff.type } }];\n}\n\nconst esc = (v) => String(v ?? '').replace(/'/g, \"''\");\nconst num = (v, fallback = 0) => {\n  const n = Number(String(v ?? '').replace(',', '.'));\n  return Number.isFinite(n) ? n : fallback;\n};\n\nconst values_sql = toInsert.map((rec) => {\n  const venc = num(rec.VENCIMENTO, 0);\n  const valor = num(rec.VALOR, 0);\n  return `(\n  '${esc(rec.ID)}',\n  '${esc(rec.ID_SEED)}',\n  '${esc(rec.CC)}',\n  '${esc(rec.ID_CC)}',\n  '${esc(rec.CC_LABEL)}',\n  to_timestamp(${venc})::timestamp,\n  '${esc(rec.FORNECEDOR)}',\n  '${esc(rec.NOME_DESPESA)}',\n  '${esc(rec.SITUACAO)}',\n  (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp,\n  '${esc(rec.CATEGORIA)}',\n  ${valor},\n  '${esc(rec.TYPE)}',\n  (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp,\n  (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp\n)`;\n}).join(',\\n');\n\nreturn [{\n  json: {\n    _skip_insert: false,\n    cc_id: diff.cc_id,\n    type: diff.type,\n    insert_count: toInsert.length,\n    values_sql\n  }\n}];"
      },
      "id": "c8f3f18f-4b43-4567-a91f-e7a078add922",
      "name": "Split Inserts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -17920,
        2736
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.has_changes }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "id": "2098d75a-4eb5-4eab-b215-053a91459af1"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9a309862-edff-495d-b249-77d5f57528cf",
      "name": "Has Changes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -18144,
        2976
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calcula diff entre extensão e DB com leitura direta dos nós para evitar merge custoso\nconst currentRecords = $items('Format Records', 0, 0)\n  .map(item => item.json)\n  .filter(r => r && !r._empty && r.ID);\n\nconst dbRecords = $input.all()\n  .map(item => item.json)\n  .filter(r => r && r.ID);\n\nconst extensionIds = new Set(currentRecords.map(r => r.ID));\nconst currentData = Object.fromEntries(currentRecords.map(r => [r.ID, r]));\nconst dbIds = new Set(dbRecords.map(r => r.ID));\n\nconst toInsert = [];\nfor (const id of extensionIds) {\n  if (!dbIds.has(id)) toInsert.push(currentData[id]);\n}\n\nconst toDelete = [];\nfor (const id of dbIds) {\n  if (!extensionIds.has(id)) toDelete.push(id);\n}\n\nconst ccId = currentRecords[0]?.ID_CC || $('Pick Context').item.json.cc_id || '';\nconst type = currentRecords[0]?.TYPE || $('Pick Context').item.json.type || '';\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'cc_report',\n  event: 'diff_calculated',\n  cc_id: ccId,\n  type: type,\n  extension_count: currentRecords.length,\n  db_count: dbRecords.length,\n  to_insert: toInsert.length,\n  to_delete: toDelete.length,\n  level: 'info'\n}));\n\nreturn {\n  json: {\n    cc_id: ccId,\n    type: type,\n    to_insert: toInsert,\n    to_delete: toDelete,\n    has_changes: toInsert.length > 0 || toDelete.length > 0\n  }\n};"
      },
      "id": "cffe2dd7-8414-4d31-b572-7a6296ed76fb",
      "name": "Calculate Diff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -18368,
        2976
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \"ID\", \"ID_CC\", \"TYPE\"\nFROM auxiliary.\"Relatorio_CC\"\nWHERE \"ID_CC\" = '{{ $json.cc_id }}' AND \"TYPE\" = '{{ $json.type }}';",
        "options": {}
      },
      "id": "62e1c11e-7d60-4c84-8d6c-c5c8d893ec23",
      "name": "Get Existing Records",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -18592,
        2976
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Reduz execução redundante: passa apenas contexto necessário para query única no DB\nconst first = $input.first().json;\nreturn [{\n  json: {\n    cc_id: first.ID_CC,\n    type: first.TYPE\n  }\n}];"
      },
      "id": "7f43fa42-244a-443f-94b6-d395b476fbc4",
      "name": "Pick Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -18816,
        2976
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json._empty }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "7201d3cf-f4c3-4c5f-8641-32ce829d5249"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b82cf36a-a67b-4888-a7a3-fb40b23697c8",
      "name": "Has Records?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -19040,
        3072
      ]
    },
    {
      "parameters": {
        "jsCode": "// Verifica se página é válida e formata registros\nconst ctx = $input.first().json.payload;\nconst data = ctx.data;\n\nif (!data.source || !data.source.subItens || !data.source.subItens.ID1) {\n  console.log(JSON.stringify({\n    timestamp: new Date().toISOString(),\n    route: 'cc_report',\n    event: 'invalid_page',\n    cc_id: ctx.cc_id,\n    level: 'warn'\n  }));\n  return [{ json: { _empty: true, cc_id: ctx.cc_id, type: ctx.type } }];\n}\n\nconst source = data.source;\nconst ccLabel = source.itens[0].CentroCustos;\nconst subItens = source.subItens.ID1;\nconst ccId = ctx.cc_id;\nconst type = ctx.type;\n\nfunction generateIdToken(seed) {\n  let hash = 0;\n  for (let i = 0; i < seed.length; i++) {\n    const char = seed.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return Math.abs(hash).toString(16);\n}\n\nfunction extractCcValue(input) {\n  const match = String(input || '').match(/CC[-\\s]*(\\d+)/);\n  return match ? match[1] : '-1';\n}\n\nfunction extractNumericPart(input) {\n  const match = String(input || '').match(/\\b(\\d{6})\\b/);\n  return match ? match[1] : '-1';\n}\n\nfunction extractPrefix(input) {\n  const match = String(input || '').match(/^[A-Z]{2}-[A-Z0-9]{3}/);\n  return match ? match[0] : '-1';\n}\n\nfunction extractCcTextValue(input) {\n  const normalized = String(input || '');\n  const index = normalized.indexOf('CC-');\n  return index !== -1 ? normalized.slice(index + 3, index + 9) : '-1';\n}\n\nfunction extractCcTextValueExceptions(input) {\n  const normalized = String(input || '').replace(/\\//g, '');\n  const index = normalized.indexOf('CC-');\n  if (index === -1) return '-1';\n  const endIndex = normalized.indexOf('/', index);\n  return endIndex === -1 ? normalized.slice(index + 3, index + 9) : normalized.slice(index + 3, endIndex);\n}\n\nfunction getCcLabel(labelText) {\n  if (labelText === 'RT - Vendas') return 'Vendas';\n  if (labelText === 'Marketing') return 'Marketing';\n  if (labelText === 'Vendas') return 'Vendas';\n  if (labelText === 'Administração') return 'Administração';\n\n  let label = extractCcValue(labelText);\n  if (label === '-1') {\n    label = extractNumericPart(labelText);\n    if (label === '-1') {\n      label = extractPrefix(labelText);\n      if (label === '-1') {\n        label = extractCcTextValue(labelText);\n        if (label === '-1') {\n          label = extractCcTextValueExceptions(labelText);\n        }\n      }\n    }\n  }\n  return label;\n}\n\n// Mantém a mesma semântica de índice para itens idênticos, porém em O(n)\nfunction annotateWithStableIndex(arr) {\n  const signatureToIndex = new Map();\n  let nextIndex = 0;\n\n  return arr.map((item) => {\n    const signature = JSON.stringify(item);\n    if (!signatureToIndex.has(signature)) {\n      signatureToIndex.set(signature, nextIndex++);\n    }\n\n    return { index: signatureToIndex.get(signature), ...item };\n  });\n}\n\nconst flattened = annotateWithStableIndex(subItens);\nconst ccSemantic = getCcLabel(ccLabel);\n\nconst formattedRecords = flattened.map(item => {\n  const INDEX = item.index;\n  const VENCIMENTO = item.Vencimento;\n  const FORNECEDOR = item.Fornecedor;\n  const NOME_DESPESA = item.NomeDespesa;\n  const SITUACAO = item.Situacao;\n  const VALOR = item.Valor;\n  const CATEGORIA = item.Categoria;\n\n  const SEED = `${INDEX}-${ccId}-${NOME_DESPESA}-${VENCIMENTO}-${FORNECEDOR}-${VALOR}-${SITUACAO}-${type}-${CATEGORIA}`;\n  const TOKEN = generateIdToken(SEED);\n\n  return {\n    json: {\n      ID: TOKEN,\n      ID_SEED: SEED,\n      CC: ccSemantic,\n      CC_LABEL: ccLabel,\n      ID_CC: ccId,\n      VENCIMENTO: VENCIMENTO,\n      FORNECEDOR: FORNECEDOR,\n      NOME_DESPESA: NOME_DESPESA,\n      SITUACAO: SITUACAO,\n      CATEGORIA: CATEGORIA,\n      VALOR: VALOR,\n      TYPE: type\n    }\n  };\n});\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'cc_report',\n  event: 'records_formatted',\n  cc_id: ccId,\n  type: type,\n  count: formattedRecords.length,\n  level: 'info'\n}));\n\nif (formattedRecords.length === 0) {\n  return [{ json: { _empty: true, cc_id: ccId, type: type } }];\n}\n\nreturn formattedRecords;"
      },
      "id": "dcef011b-c6b4-4c1b-997c-aac96ffb8d4a",
      "name": "Format Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -19264,
        3072
      ]
    },
    {
      "parameters": {
        "jsCode": "// Guard de early-exit antes de decode profundo\nconst ctx = $input.first().json;\nconst payload = ctx.payload || {};\n\nif (!payload.data || !payload.data.source || !payload.data.source.subItens || !payload.data.source.subItens.ID1) {\n  console.log(JSON.stringify({\n    timestamp: new Date().toISOString(),\n    route: 'cc_report',\n    event: 'early_empty_before_decode',\n    cc_id: payload.cc_id || 'unknown',\n    level: 'info'\n  }));\n\n  return {\n    payload: {\n      cc_id: payload.cc_id,\n      type: payload.type,\n      data: { source: null }\n    }\n  };\n}\n\nfunction decodeHtml(obj) {\n  if (typeof obj === 'string') {\n    return obj\n      .replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n      .replace(/&quot;/g, '\"').replace(/&#39;/g, \"'\").replace(/&#x27;/g, \"'\")\n      .replace(/&#x2F;/g, '/').replace(/&nbsp;/g, ' ');\n  }\n  if (Array.isArray(obj)) return obj.map(decodeHtml);\n  if (typeof obj === 'object' && obj !== null) {\n    const out = {};\n    for (const k in obj) out[k] = decodeHtml(obj[k]);\n    return out;\n  }\n  return obj;\n}\n\nconst decoded = decodeHtml(payload);\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'cc_report',\n  event: 'decoded_html',\n  cc_id: decoded.cc_id,\n  level: 'info'\n}));\n\nreturn { payload: decoded };"
      },
      "id": "ff12f21e-482f-4693-9917-112d7b4bb344",
      "name": "Decode HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -19488,
        3072
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json._valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "5c6a6b7d-b749-4db7-93c2-e997aa6dab73"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "36cc8746-8bdb-4727-b9ad-dc7d45c79d4f",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -19712,
        3168
      ]
    },
    {
      "parameters": {
        "jsCode": "// Valida payload da extensão\nconst input = $input.first().json;\nconst body = input.body || input;\n\nif (!body.data || !body.type || !body.cc_id) {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { error: 'Missing required fields: data, type, cc_id' }\n  };\n}\n\nif (body.type !== 'entrada' && body.type !== 'saida') {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { error: 'Invalid type: must be entrada or saida' }\n  };\n}\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'cc_report',\n  event: 'input_validated',\n  cc_id: body.cc_id,\n  type: body.type,\n  level: 'info'\n}));\n\nreturn { _valid: true, payload: body };"
      },
      "id": "8c5762ac-7f7b-4e5e-a213-4b2fa818728e",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -19936,
        3168
      ]
    },
    {
      "parameters": {},
      "id": "8c33da4d-c734-44b8-8328-1b1f9f163bb5",
      "name": "When called by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -20160,
        3168
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Empty Update Status": {
      "main": [
        [
          {
            "node": "No Changes Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Changes Update Status": {
      "main": [
        [
          {
            "node": "Build Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status": {
      "main": [
        [
          {
            "node": "Build Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Records": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Skip Delete?": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Delete Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Deletes": {
      "main": [
        [
          {
            "node": "Skip Delete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Records": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Insert?": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Inserts": {
      "main": [
        [
          {
            "node": "Skip Insert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Changes?": {
      "main": [
        [
          {
            "node": "No Changes Update Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Deletes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Inserts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Diff": {
      "main": [
        [
          {
            "node": "Has Changes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Records": {
      "main": [
        [
          {
            "node": "Calculate Diff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Context": {
      "main": [
        [
          {
            "node": "Get Existing Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Records?": {
      "main": [
        [
          {
            "node": "Empty Update Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pick Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Records": {
      "main": [
        [
          {
            "node": "Has Records?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode HTML": {
      "main": [
        [
          {
            "node": "Format Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Decode HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When called by another workflow": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b358aab5-bb94-45ce-88cb-ffb70305e179",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "DoAXp1U7yQ5UOjgZ",
  "tags": []
}