EXTENSION_SERVER/n8n_diagrams/VHSYS-employers_general_data.json
{
  "name": "VHSYS-employers_general_data",
  "nodes": [
    {
      "parameters": {},
      "id": "00b2710e-99a2-49a0-a72b-a488aa60b591",
      "name": "When called by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -7168,
        1424
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// VHSYS :: employers_general_data\n// Rota   : POST /employers_general_data\n// Fase 4 : Fluxo EMPLOYERS completo\n// ─────────────────────────────────────────────\n// Input  : { data: { source: { itens: [{ ID, Nome, CPF, DataAdmissao, ... }] } } }\n// Output : { message: string, employees_updated: number } HTTP 201\n// Banco  : UPSERT funcionarios por id_funcionario\n// Chave  : id_funcionario (campo ID da API)\n// ─────────────────────────────────────────────\n\nconst body = $input.first().json.body || $input.first().json;\n\nif (!body.data) {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { ok: false, error: 'Missing required field: data' }\n  };\n}\n\n// Verificar se os dados estão em data.source.itens (formato da extensão)\nlet employees = [];\nif (body.data.source && body.data.source.itens && Array.isArray(body.data.source.itens)) {\n  employees = body.data.source.itens;\n} else if (body.data.employees && Array.isArray(body.data.employees)) {\n  // Formato alternativo para compatibilidade\n  employees = body.data.employees;\n} else {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { ok: false, error: 'Missing or invalid employees array in data.source.itens or data.employees' }\n  };\n}\n\nif (employees.length === 0) {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { ok: false, error: 'Employees array cannot be empty' }\n  };\n}\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'employers_general_data',\n  event: 'input_validated',\n  employees_count: employees.length,\n  data_format: body.data.source ? 'source.itens' : 'employees',\n  level: 'info'\n}));\n\nreturn { _valid: true, employees };"
      },
      "id": "828e971a-c96d-4e65-942f-1ff2315c8f79",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6928,
        1424
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json._valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "7537aac8-e5a9-4d0b-8b20-d3c9755426c6"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9ef756f3-b131-4fe1-b430-f753e700e01c",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -6688,
        1424
      ]
    },
    {
      "parameters": {
        "jsCode": "// Transform e normaliza dados dos funcionários\n// Expande cada funcionário para um item separado\nconst ctx = $input.first().json;\nconst employees = ctx.employees;\n\n// Helper para formatar CPF\nfunction formatCpf(cpf) {\n  if (!cpf) return '';\n  const cleaned = String(cpf).replace(/\\D/g, '');\n  if (cleaned.length === 11) {\n    return cleaned.replace(/(\\d{3})(\\d{3})(\\d{3})(\\d{2})/, '$1.$2.$3-$4');\n  }\n  return cpf;\n}\n\n// Helper para converter data Unix timestamp\nfunction parseDate(dateStr) {\n  if (!dateStr) return null;\n  \n  // Se é um timestamp Unix (número)\n  const timestamp = parseInt(dateStr);\n  if (!isNaN(timestamp)) {\n    const date = new Date(timestamp * 1000); // Unix timestamp em segundos\n    return isNaN(date.getTime()) ? null : date.toISOString().split('T')[0];\n  }\n  \n  // Fallback para outros formatos\n  const date = new Date(dateStr);\n  return isNaN(date.getTime()) ? null : date.toISOString().split('T')[0];\n}\n\n// Helper para converter salário\nfunction parseSalary(salary) {\n  if (!salary) return 0;\n  const cleaned = String(salary).replace(/[^0-9.,]/g, '').replace(',', '.');\n  const num = parseFloat(cleaned);\n  return isNaN(num) ? 0 : num;\n}\n\nconst transformedEmployees = employees.map(emp => {\n  // Use ID (maiúsculo) como no formato real dos dados\n  const id = String(emp.ID || '').trim();\n  \n  if (!id) {\n    console.log(JSON.stringify({\n      timestamp: new Date().toISOString(),\n      route: 'employers_general_data',\n      event: 'employee_skipped_no_id',\n      employee_data: emp,\n      level: 'warn'\n    }));\n    return null;\n  }\n\n  return {\n    id_funcionario: id,\n    nome_funcionario: String(emp.Nome || '').trim(),\n    matricula: String(emp.Matricula || '').trim(),\n    cargo: String(emp.Cargo || '').trim(),\n    cbo: String(emp.CBO || '').trim(),\n    rg: String(emp.Rg || '').trim(),\n    cpf: formatCpf(emp.CPF),\n    data_nascimento: parseDate(emp.DataNascimento),\n    salario: parseSalary(emp.Salario),\n    data_admissao: parseDate(emp.DataAdmissao),\n    data_demissao: parseDate(emp.DataDemissao),\n    status: String(emp.Status || '').trim(),\n    data_cadastro: parseDate(emp.DataCad),\n    data_modificacao: parseDate(emp.DataMod),\n    departamento: String(emp.Depto || '').trim()\n  };\n}).filter(emp => emp !== null);\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'employers_general_data',\n  event: 'employees_transformed',\n  valid_employees: transformedEmployees.length,\n  level: 'info'\n}));\n\nreturn transformedEmployees;"
      },
      "id": "a45c7312-7673-4872-98fd-6fbae05754ea",
      "name": "Transform Employees",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6448,
        1312
      ]
    },
    {
      "parameters": {},
      "id": "loop-employees-node-id",
      "name": "Loop Over Employees",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -6328,
        1312
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Upsert employee data using N8N expressions\nINSERT INTO auxiliary.\"employersData\" (\n  id_funcionario, nome_funcionario, matricula, cargo, cbo, rg, cpf, \n  data_nascimento, salario, data_admissao, data_demissao, status, \n  data_cadastro, data_modificacao, departamento, created_at, updated_at\n) VALUES (\n  '{{ $json.id_funcionario }}', '{{ $json.nome_funcionario }}', '{{ $json.matricula }}', \n  '{{ $json.cargo }}', '{{ $json.cbo }}', '{{ $json.rg }}', '{{ $json.cpf }}',\n  {{ $json.data_nascimento ? \"'\" + $json.data_nascimento + \"'::date\" : \"NULL\" }}, \n  {{ $json.salario }}, \n  {{ $json.data_admissao ? \"'\" + $json.data_admissao + \"'::date\" : \"NULL\" }}, \n  {{ $json.data_demissao ? \"'\" + $json.data_demissao + \"'::date\" : \"NULL\" }}, \n  '{{ $json.status }}', \n  {{ $json.data_cadastro ? \"'\" + $json.data_cadastro + \"'::date\" : \"NULL\" }}, \n  {{ $json.data_modificacao ? \"'\" + $json.data_modificacao + \"'::date\" : \"NULL\" }}, \n  '{{ $json.departamento }}', '{{ $now.toString() }}', '{{ $now.toString() }}'\n)\nON CONFLICT (id_funcionario) \nDO UPDATE SET \n  nome_funcionario = EXCLUDED.nome_funcionario,\n  matricula = EXCLUDED.matricula,\n  cargo = EXCLUDED.cargo,\n  cbo = EXCLUDED.cbo,\n  rg = EXCLUDED.rg,\n  cpf = EXCLUDED.cpf,\n  data_nascimento = EXCLUDED.data_nascimento,\n  salario = EXCLUDED.salario,\n  data_admissao = EXCLUDED.data_admissao,\n  data_demissao = EXCLUDED.data_demissao,\n  status = EXCLUDED.status,\n  data_cadastro = EXCLUDED.data_cadastro,\n  data_modificacao = EXCLUDED.data_modificacao,\n  departamento = EXCLUDED.departamento,\n  updated_at = '{{ $now.toString() }}';",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "independently"
        }
      },
      "id": "529847c8-78b5-4961-a7e2-cd84d6fa5fb8",
      "name": "Upsert Employees",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -6208,
        1312
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Conta registros afetados e constrói resposta\nconst affectedRecords = $input.all()\n  .filter(item => item.json && item.json.id_funcionario)\n  .length;\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'employers_general_data',\n  event: 'employees_upserted',\n  employees_updated: affectedRecords,\n  level: 'info'\n}));\n\n// statusCode 201 — preserva compatibilidade com Flask original\nreturn {\n  statusCode: 201,\n  body: {\n    message: 'Employees data updated successfully',\n    employees_updated: affectedRecords\n  }\n};"
      },
      "id": "5a70a04b-7efa-4101-917f-8d4b88a330b7",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5968,
        1232
      ]
    },
    {
      "parameters": {
        "jsCode": "// Erro de validação\nconst input = $input.first().json;\nreturn {\n  statusCode: input.statusCode || 400,\n  body: input.body || { ok: false, error: 'Validation failed' }\n};"
      },
      "id": "422fe5ab-4b7e-4b9f-ba0f-5a6f1ff9d8a7",
      "name": "Build Validation Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6448,
        1520
      ]
    },
    {
      "parameters": {
        "jsCode": "// Erro de banco\nconst errData = $input.first().json;\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'employers_general_data',\n  event: 'db_error',\n  message: errData.message || 'Unknown DB error',\n  level: 'error'\n}));\n\nreturn {\n  statusCode: 500,\n  body: { ok: false, error: 'Database error', message: 'Could not update employees data' }\n};"
      },
      "id": "35277037-3445-4de8-99a3-408d673fa2e6",
      "name": "Build DB Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5968,
        1392
      ]
    },
    {
      "parameters": {
        "jsCode": "// Return the response data as-is\nconst response = $input.first().json;\nreturn response;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5728,
        1424
      ],
      "id": "3a955ab6-6b10-4024-a10c-e0d5b71ff000",
      "name": "Return Response"
    }
  ],
  "pinData": {
    "When called by another workflow": [
      {
        "json": {
          "route": "employers_general_data",
          "method": "GET",
          "body": {
            "data": {
              "options": {
                "orientation": "Landscape",
                "sort": [
                  {
                    "parent": "0",
                    "field": "Nome",
                    "order": "asc"
                  }
                ],
                "logo": "logo.php?Empresa=67941",
                "nomeRelatorio": "Funcionarios",
                "descRelatorio": "Relat&oacute;rio de Funcion&aacute;rios"
              },
              "columns": [
                {
                  "text": "Matr&iacute;cula",
                  "dataField": "Matricula",
                  "type": "string",
                  "width": "80",
                  "display": "",
                  "disabled": "1"
                },
                {
                  "text": "Nome do Funcion&aacute;rio",
                  "dataField": "Nome",
                  "type": "string",
                  "width": "180",
                  "display": ""
                },
                {
                  "text": "Cargo",
                  "dataField": "Cargo",
                  "type": "string",
                  "width": "150",
                  "display": ""
                },
                {
                  "text": "CBO",
                  "dataField": "CBO",
                  "type": "string",
                  "width": "150",
                  "display": "none"
                },
                {
                  "text": "Rg",
                  "dataField": "Rg",
                  "type": "string",
                  "width": "105",
                  "display": ""
                },
                {
                  "text": "CPF",
                  "dataField": "CPF",
                  "type": "string",
                  "width": "105",
                  "display": "none"
                },
                {
                  "text": "Data de Nascimento",
                  "dataField": "DataNascimento",
                  "type": "date",
                  "width": "120",
                  "display": "none"
                },
                {
                  "text": "Sal&aacute;rio",
                  "dataField": "Salario",
                  "type": "moeda",
                  "width": "110",
                  "display": ""
                },
                {
                  "text": "Data de Admiss&atilde;o",
                  "dataField": "DataAdmissao",
                  "type": "date",
                  "width": "120",
                  "display": "none"
                },
                {
                  "text": "Data de Demiss&atilde;o",
                  "dataField": "DataDemissao",
                  "type": "date",
                  "width": "120",
                  "display": "none"
                },
                {
                  "text": "Status",
                  "dataField": "Status",
                  "type": "string",
                  "width": "70",
                  "display": ""
                },
                {
                  "text": "Data de Cadastro",
                  "dataField": "DataCad",
                  "type": "date",
                  "width": "120",
                  "display": "none"
                },
                {
                  "text": "Data de Altera&ccedil;&atilde;o",
                  "dataField": "DataMod",
                  "type": "date",
                  "width": "120",
                  "display": "none"
                },
                {
                  "text": "Departamento",
                  "dataField": "Depto",
                  "type": "string",
                  "width": "120",
                  "display": "none"
                }
              ],
              "subColumns": null,
              "source": {
                "itens": [
                  {
                    "ID": "1",
                    "Matricula": "1",
                    "Nome": "Ricardo Hideki Tuboi",
                    "Cargo": "A0",
                    "CBO": "",
                    "Rg": "18.987.278-0",
                    "CPF": "118.033.998-30",
                    "DataNascimento": "-6123600",
                    "Salario": "1621",
                    "DataAdmissao": "1092193200",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718161200",
                    "DataMod": "1770865200",
                    "Depto": "RT-ADM"
                  },
                  {
                    "ID": "2",
                    "Matricula": "2",
                    "Nome": "Diego Arduino Marques",
                    "Cargo": "T4.3",
                    "CBO": "",
                    "Rg": "33.984.1667",
                    "CPF": "357.621.808-40",
                    "DataNascimento": "534650400",
                    "Salario": "1621",
                    "DataAdmissao": "1351735200",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718247600",
                    "DataMod": "1770865200",
                    "Depto": "RT-DIG"
                  },
                  {
                    "ID": "3",
                    "Matricula": "3",
                    "Nome": "Alberto Silveira Mendes",
                    "Cargo": "C1",
                    "CBO": "",
                    "Rg": "42.838.486-9",
                    "CPF": "347.711.968-18",
                    "DataNascimento": "552884400",
                    "Salario": "1621",
                    "DataAdmissao": "1378436400",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718247600",
                    "DataMod": "1770865200",
                    "Depto": "RT-COM"
                  },
                  {
                    "ID": "4",
                    "Matricula": "4",
                    "Nome": "Juscelio Silva Damascena",
                    "Cargo": "T3.1",
                    "CBO": "",
                    "Rg": "13.705.888",
                    "CPF": "087.784.816-51",
                    "DataNascimento": "551502000",
                    "Salario": "1621",
                    "DataAdmissao": "1406430000",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718247600",
                    "DataMod": "1770865200",
                    "Depto": "RT-ENG"
                  },
                  {
                    "ID": "5",
                    "Matricula": "20",
                    "Nome": "Everton Nascimento da Assunção",
                    "Cargo": "T3.3",
                    "CBO": "",
                    "Rg": "28421106",
                    "CPF": "173.094.018-83",
                    "DataNascimento": "314938800",
                    "Salario": "1621",
                    "DataAdmissao": "1590980400",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718247600",
                    "DataMod": "1770865200",
                    "Depto": "RT-ENG"
                  },
                  {
                    "ID": "6",
                    "Matricula": "22",
                    "Nome": "Hugo Alves da Silva",
                    "Cargo": "T8.1",
                    "CBO": "",
                    "Rg": "140763016",
                    "CPF": "045.457.338-32",
                    "DataNascimento": "-182466000",
                    "Salario": "5679.26",
                    "DataAdmissao": "1606791600",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718334000",
                    "DataMod": "1770865200",
                    "Depto": "RT-ENG"
                  },
                  {
                    "ID": "7",
                    "Matricula": "23",
                    "Nome": "Jefferson Rodrigues dos Santos",
                    "Cargo": "C4.3",
                    "CBO": "202120",
                    "Rg": "455884626",
                    "CPF": "360.566.328-14",
                    "DataNascimento": "573188400",
                    "Salario": "7377.49",
                    "DataAdmissao": "1612494000",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718679600",
                    "DataMod": "1770865200",
                    "Depto": "RT-ATT"
                  },
                  {
                    "ID": "8",
                    "Matricula": "25",
                    "Nome": "Marcos Mordente Junior",
                    "Cargo": "Sócio Gerente",
                    "CBO": "",
                    "Rg": "49.109.636-7",
                    "CPF": "405.897.598-92",
                    "DataNascimento": "715662000",
                    "Salario": "1412",
                    "DataAdmissao": "1619406000",
                    "DataDemissao": "",
                    "Status": "Inativo",
                    "DataCad": "1718247600",
                    "DataMod": "1756868400",
                    "Depto": "RT-ADM"
                  },
                  {
                    "ID": "9",
                    "Matricula": "26",
                    "Nome": "Evandro Henrique Ortega",
                    "Cargo": "T4.1",
                    "CBO": "",
                    "Rg": "49604687",
                    "CPF": "371.518.118-45",
                    "DataNascimento": "618894000",
                    "Salario": "1621",
                    "DataAdmissao": "1617246000",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718247600",
                    "DataMod": "1770865200",
                    "Depto": "RT-DIG"
                  },
                  {
                    "ID": "10",
                    "Matricula": "27",
                    "Nome": "Paulo Sabino da Silva",
                    "Cargo": "Intermitente",
                    "CBO": "",
                    "Rg": "451597916",
                    "CPF": "316.216.978-00",
                    "DataNascimento": "447735600",
                    "Salario": "0",
                    "DataAdmissao": "1630551600",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718766000",
                    "DataMod": "1759806000",
                    "Depto": "RT - ATT"
                  },
                  {
                    "ID": "11",
                    "Matricula": "28",
                    "Nome": "Lucas Arruda",
                    "Cargo": "T7.6",
                    "CBO": "300105",
                    "Rg": "485430629",
                    "CPF": "419.010.178-85",
                    "DataNascimento": "708404400",
                    "Salario": "4104.45",
                    "DataAdmissao": "1639537200",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718679600",
                    "DataMod": "1770865200",
                    "Depto": "RT-ENG"
                  },
                  {
                    "ID": "12",
                    "Matricula": "30",
                    "Nome": "Reginaldo Izael da Silva",
                    "Cargo": "Tec Automação Pl",
                    "CBO": "",
                    "Rg": "175808971",
                    "CPF": "118.767.238-66",
                    "DataNascimento": "-37486800",
                    "Salario": "2777.92",
                    "DataAdmissao": "1641438000",
                    "DataDemissao": "",
                    "Status": "Inativo",
                    "DataCad": "1718766000",
                    "DataMod": "1756868400",
                    "Depto": "RT-COM"
                  },
                  {
                    "ID": "13",
                    "Matricula": "31",
                    "Nome": "William Santos Araujo",
                    "Cargo": "T7.2",
                    "CBO": "300105",
                    "Rg": "446188001",
                    "CPF": "372.921.088-22",
                    "DataNascimento": "616906800",
                    "Salario": "5670",
                    "DataAdmissao": "1642647600",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718766000",
                    "DataMod": "1770865200",
                    "Depto": "RT-ENG"
                  },
                  {
                    "ID": "14",
                    "Matricula": "32",
                    "Nome": "Luiz Henrique Luziano",
                    "Cargo": "Tecnologo Automação Pl",
                    "CBO": "",
                    "Rg": "529795553",
                    "CPF": "485.877.938-61",
                    "DataNascimento": "956458800",
                    "Salario": "2777.92",
                    "DataAdmissao": "1647831600",
                    "DataDemissao": "",
                    "Status": "Inativo",
                    "DataCad": "1718679600",
                    "DataMod": "1728961200",
                    "Depto": ""
                  },
                  {
                    "ID": "15",
                    "Matricula": "33",
                    "Nome": "Marcelo Sena Conceição",
                    "Cargo": "T5.3",
                    "CBO": "",
                    "Rg": "0858258838",
                    "CPF": "016.330.595-10",
                    "DataNascimento": "469508400",
                    "Salario": "0",
                    "DataAdmissao": "1649732400",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718679600",
                    "DataMod": "1763002800",
                    "Depto": "RT-ENG"
                  },
                  {
                    "ID": "16",
                    "Matricula": "34",
                    "Nome": "Julio Emerson de Carvalho",
                    "Cargo": "T7.5",
                    "CBO": "",
                    "Rg": "0457377704",
                    "CPF": "918.725.535-91",
                    "DataNascimento": "186030000",
                    "Salario": "0",
                    "DataAdmissao": "1658718000",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718679600",
                    "DataMod": "1763002800",
                    "Depto": "RT-ENG"
                  },
                  {
                    "ID": "17",
                    "Matricula": "35",
                    "Nome": "Denis Quachio Olmeda",
                    "Cargo": "",
                    "CBO": "",
                    "Rg": "",
                    "CPF": "317.746.808-74",
                    "DataNascimento": "",
                    "Salario": "0",
                    "DataAdmissao": "1661742000",
                    "DataDemissao": "1685588400",
                    "Status": "Inativo",
                    "DataCad": "1758682800",
                    "DataMod": "1759806000",
                    "Depto": ""
                  },
                  {
                    "ID": "18",
                    "Matricula": "36",
                    "Nome": "Gidevaldo Silva dos Santos",
                    "Cargo": "",
                    "CBO": "",
                    "Rg": "",
                    "CPF": "320.984.305-82",
                    "DataNascimento": "",
                    "Salario": "0",
                    "DataAdmissao": "1661742000",
                    "DataDemissao": "1704769200",
                    "Status": "Inativo",
                    "DataCad": "1758682800",
                    "DataMod": "1758682800",
                    "Depto": ""
                  },
                  {
                    "ID": "19",
                    "Matricula": "37",
                    "Nome": "Marcel Ribeiro de Oliveira",
                    "Cargo": "",
                    "CBO": "",
                    "Rg": "",
                    "CPF": "441.929.778-69",
                    "DataNascimento": "",
                    "Salario": "0",
                    "DataAdmissao": "1661742000",
                    "DataDemissao": "1664593200",
                    "Status": "Inativo",
                    "DataCad": "1758682800",
                    "DataMod": "1758682800",
                    "Depto": ""
                  },
                  {
                    "ID": "20",
                    "Matricula": "38",
                    "Nome": "Leandro Camargo dos Santos",
                    "Cargo": "T7.7",
                    "CBO": "951105",
                    "Rg": "45349643",
                    "CPF": "390.090.448-07",
                    "DataNascimento": "569901600",
                    "Salario": "3800.42",
                    "DataAdmissao": "1666580400",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718679600",
                    "DataMod": "1770865200",
                    "Depto": "RT-ENG"
                  },
                  {
                    "ID": "21",
                    "Matricula": "39",
                    "Nome": "Nathan Vergilio de Souza",
                    "Cargo": "Tecnologo Automação Jr",
                    "CBO": "",
                    "Rg": "559614913",
                    "CPF": "448.601.288-77",
                    "DataNascimento": "1092625200",
                    "Salario": "2552.53",
                    "DataAdmissao": "1673838000",
                    "DataDemissao": "",
                    "Status": "Inativo",
                    "DataCad": "1718766000",
                    "DataMod": "1742958000",
                    "Depto": "RT-ENG"
                  },
                  {
                    "ID": "22",
                    "Matricula": "40",
                    "Nome": "Marcos Fernandes Meni",
                    "Cargo": "T7.2",
                    "CBO": "313215",
                    "Rg": "255666755",
                    "CPF": "248.914.858-33",
                    "DataNascimento": "180154800",
                    "Salario": "0",
                    "DataAdmissao": "1674442800",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718679600",
                    "DataMod": "1770865200",
                    "Depto": "RT-DIG"
                  },
                  {
                    "ID": "23",
                    "Matricula": "41",
                    "Nome": "Lui Cometti Silva",
                    "Cargo": "T7.9",
                    "CBO": "300105",
                    "Rg": "582117690",
                    "CPF": "525.297.488-88",
                    "DataNascimento": "1056337200",
                    "Salario": "3319.43",
                    "DataAdmissao": "1675220400",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718679600",
                    "DataMod": "1770865200",
                    "Depto": "RT-ENG"
                  },
                  {
                    "ID": "24",
                    "Matricula": "42",
                    "Nome": "Renan Zaratine",
                    "Cargo": "T7.10",
                    "CBO": "313215",
                    "Rg": "532068129",
                    "CPF": "497.580.818-88",
                    "DataNascimento": "899866800",
                    "Salario": "3131.54",
                    "DataAdmissao": "1678417200",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718766000",
                    "DataMod": "1770865200",
                    "Depto": "RT-ENG"
                  },
                  {
                    "ID": "25",
                    "Matricula": "43",
                    "Nome": "Leonardo Fortes Alcantara",
                    "Cargo": "Tec Automação CLT",
                    "CBO": "",
                    "Rg": "594209122",
                    "CPF": "474.427.108-16",
                    "DataNascimento": "1010109600",
                    "Salario": "2552.53",
                    "DataAdmissao": "1678417200",
                    "DataDemissao": "",
                    "Status": "Inativo",
                    "DataCad": "1718679600",
                    "DataMod": "1751857200",
                    "Depto": "RT-ATT"
                  },
                  {
                    "ID": "26",
                    "Matricula": "44",
                    "Nome": "Nicolas Vergilio de Souza",
                    "Cargo": "T7.9",
                    "CBO": "300105",
                    "Rg": "559803835",
                    "CPF": "448.600.848-02",
                    "DataNascimento": "1057892400",
                    "Salario": "3319.43",
                    "DataAdmissao": "1680490800",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718766000",
                    "DataMod": "1770865200",
                    "Depto": "RT-ENG"
                  },
                  {
                    "ID": "27",
                    "Matricula": "46",
                    "Nome": "João Carlos da Silva Lima",
                    "Cargo": "T8.5",
                    "CBO": "313215",
                    "Rg": "4769614",
                    "CPF": "164.000.074-74",
                    "DataNascimento": "1077678000",
                    "Salario": "3008.72",
                    "DataAdmissao": "1683082800",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718679600",
                    "DataMod": "1770865200",
                    "Depto": "RT-ENG"
                  },
                  {
                    "ID": "28",
                    "Matricula": "47",
                    "Nome": "Henrico Stoppa",
                    "Cargo": "T7.9",
                    "CBO": "300105",
                    "Rg": "395705423",
                    "CPF": "525.305.228-39",
                    "DataNascimento": "1075687200",
                    "Salario": "3319.43",
                    "DataAdmissao": "1688353200",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718334000",
                    "DataMod": "1770865200",
                    "Depto": "RT-ENG"
                  },
                  {
                    "ID": "29",
                    "Matricula": "48",
                    "Nome": "Marcela Rimoldi Carollo",
                    "Cargo": "A5.2",
                    "CBO": "252105",
                    "Rg": "545837108",
                    "CPF": "498.351.588-78",
                    "DataNascimento": "989982000",
                    "Salario": "3173.47",
                    "DataAdmissao": "1698807600",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718679600",
                    "DataMod": "1770865200",
                    "Depto": "RT-ADM"
                  },
                  {
                    "ID": "30",
                    "Matricula": "50",
                    "Nome": "Jonathan Dos Santos Moreira Matos",
                    "Cargo": "T5.1",
                    "CBO": "",
                    "Rg": "2258464110",
                    "CPF": "023.358.070-05",
                    "DataNascimento": "727668000",
                    "Salario": "0",
                    "DataAdmissao": "1704769200",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718679600",
                    "DataMod": "1763002800",
                    "Depto": "RT-ENG"
                  },
                  {
                    "ID": "31",
                    "Matricula": "51",
                    "Nome": "Ere Alcantara Souza",
                    "Cargo": "A4.8",
                    "CBO": "",
                    "Rg": "46.021.645-4",
                    "CPF": "230.399.698-89",
                    "DataNascimento": "600314400",
                    "Salario": "1621",
                    "DataAdmissao": "1706842800",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718247600",
                    "DataMod": "1770865200",
                    "Depto": "RT-ADM"
                  },
                  {
                    "ID": "32",
                    "Matricula": "52",
                    "Nome": "Lucas Torres Pinto",
                    "Cargo": "C2.4",
                    "CBO": "",
                    "Rg": "34.395.850-8",
                    "CPF": "413.648.178-02",
                    "DataNascimento": "730090800",
                    "Salario": "1621",
                    "DataAdmissao": "1706842800",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718247600",
                    "DataMod": "1770865200",
                    "Depto": "RT-COM"
                  },
                  {
                    "ID": "33",
                    "Matricula": "53",
                    "Nome": "Caio Cesar Campelo",
                    "Cargo": "T2.3",
                    "CBO": "",
                    "Rg": "38.835.545-1",
                    "CPF": "356.528.188-08",
                    "DataNascimento": "823744800",
                    "Salario": "1621",
                    "DataAdmissao": "1706842800",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718247600",
                    "DataMod": "1770865200",
                    "Depto": "RT-ATT"
                  },
                  {
                    "ID": "34",
                    "Matricula": "54",
                    "Nome": "Emilio Rodrigues Magalhaes Sanches Haro",
                    "Cargo": "A4.3",
                    "CBO": "212405",
                    "Rg": "412830577",
                    "CPF": "432.401.918-57",
                    "DataNascimento": "848368800",
                    "Salario": "0",
                    "DataAdmissao": "1714359600",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718247600",
                    "DataMod": "1770865200",
                    "Depto": "RT-ADM"
                  },
                  {
                    "ID": "35",
                    "Matricula": "55",
                    "Nome": "Julia Correia de Oliveira",
                    "Cargo": "Tecnologo Automação Jr CLT",
                    "CBO": "",
                    "Rg": "542666881",
                    "CPF": "475.363.438-84",
                    "DataNascimento": "936759600",
                    "Salario": "3385",
                    "DataAdmissao": "1716346800",
                    "DataDemissao": "",
                    "Status": "Inativo",
                    "DataCad": "1718679600",
                    "DataMod": "1730948400",
                    "Depto": ""
                  },
                  {
                    "ID": "36",
                    "Matricula": "56",
                    "Nome": "Fábio Caluza de Medeiros",
                    "Cargo": "Intermitente",
                    "CBO": "",
                    "Rg": "299282831",
                    "CPF": "280.917.198-09",
                    "DataNascimento": "291438000",
                    "Salario": "0",
                    "DataAdmissao": "1714186800",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718334000",
                    "DataMod": "1751857200",
                    "Depto": "RT-ENG"
                  },
                  {
                    "ID": "37",
                    "Matricula": "57",
                    "Nome": "Mauro Antonio Rodrigues",
                    "Cargo": "",
                    "CBO": "",
                    "Rg": "75164718",
                    "CPF": "035.851.469-02",
                    "DataNascimento": "334292400",
                    "Salario": "0",
                    "DataAdmissao": "1718074800",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718679600",
                    "DataMod": "1763089200",
                    "Depto": "RT-ATT"
                  },
                  {
                    "ID": "38",
                    "Matricula": "58",
                    "Nome": "Ayron Afonso Rosini",
                    "Cargo": "Intermitente",
                    "CBO": "",
                    "Rg": "17208699",
                    "CPF": "096.346.026-90",
                    "DataNascimento": "749790000",
                    "Salario": "0",
                    "DataAdmissao": "1718161200",
                    "DataDemissao": "",
                    "Status": "Inativo",
                    "DataCad": "1718334000",
                    "DataMod": "1731898800",
                    "Depto": ""
                  },
                  {
                    "ID": "39",
                    "Matricula": "60",
                    "Nome": "Eduardo Gomes Silva",
                    "Cargo": "",
                    "CBO": "",
                    "Rg": "17.807.145",
                    "CPF": "021.059.866-25",
                    "DataNascimento": "921726000",
                    "Salario": "0",
                    "DataAdmissao": "1719198000",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1719457200",
                    "DataMod": "1763089200",
                    "Depto": "RT-ATT"
                  },
                  {
                    "ID": "40",
                    "Matricula": "61",
                    "Nome": "Lucas Mabruno dos Santos Goncalves",
                    "Cargo": "",
                    "CBO": "",
                    "Rg": "17.049.427",
                    "CPF": "107.314.136-52",
                    "DataNascimento": "655614000",
                    "Salario": "0",
                    "DataAdmissao": "1719198000",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1719457200",
                    "DataMod": "1763089200",
                    "Depto": "RT-ATT"
                  },
                  {
                    "ID": "41",
                    "Matricula": "62",
                    "Nome": "Geraldo Candido de Azevedo Neto",
                    "Cargo": "Intermitente",
                    "CBO": "",
                    "Rg": "113879118",
                    "CPF": "038.355.078-50",
                    "DataNascimento": "-228171600",
                    "Salario": "0",
                    "DataAdmissao": "1719889200",
                    "DataDemissao": "",
                    "Status": "Inativo",
                    "DataCad": "1720062000",
                    "DataMod": "1758682800",
                    "Depto": ""
                  },
                  {
                    "ID": "42",
                    "Matricula": "63",
                    "Nome": "Erik Anderson de Paulo",
                    "Cargo": "Tec Automação Jr CLT",
                    "CBO": "",
                    "Rg": "464722299",
                    "CPF": "379.532.238-30",
                    "DataNascimento": "620622000",
                    "Salario": "3000",
                    "DataAdmissao": "1722999600",
                    "DataDemissao": "",
                    "Status": "Inativo",
                    "DataCad": "1724641200",
                    "DataMod": "1730948400",
                    "Depto": ""
                  },
                  {
                    "ID": "43",
                    "Matricula": "64",
                    "Nome": "Moacir Rogerio de Souza",
                    "Cargo": "T9.2",
                    "CBO": "514310",
                    "Rg": "22.616.648-X",
                    "CPF": "180.212.778-07",
                    "DataNascimento": "216615600",
                    "Salario": "2461.68",
                    "DataAdmissao": "1725246000",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718766000",
                    "DataMod": "1770865200",
                    "Depto": "RT-ENG"
                  },
                  {
                    "ID": "44",
                    "Matricula": "65",
                    "Nome": "Helton Silva Ferreira",
                    "Cargo": "T7.2",
                    "CBO": "300105",
                    "Rg": "441079490",
                    "CPF": "317.404.448-09",
                    "DataNascimento": "400734000",
                    "Salario": "0",
                    "DataAdmissao": "1728874800",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1728961200",
                    "DataMod": "1762916400",
                    "Depto": "RT-ATT"
                  },
                  {
                    "ID": "45",
                    "Matricula": "66",
                    "Nome": "Andre Ramos Mordente",
                    "Cargo": "T9.2",
                    "CBO": "",
                    "Rg": "494785391",
                    "CPF": "405.787.338-46",
                    "DataNascimento": "648183600",
                    "Salario": "0",
                    "DataAdmissao": "",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1758164400",
                    "DataMod": "1763089200",
                    "Depto": "RT-ENG"
                  },
                  {
                    "ID": "46",
                    "Matricula": "67",
                    "Nome": "Gabriel Alves de Souza",
                    "Cargo": "T9.1",
                    "CBO": "313215",
                    "Rg": "626991079",
                    "CPF": "239.075.828-29",
                    "DataNascimento": "1128481200",
                    "Salario": "2556.36",
                    "DataAdmissao": "1737342000",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1737342000",
                    "DataMod": "1770865200",
                    "Depto": "RT-ENG"
                  },
                  {
                    "ID": "47",
                    "Matricula": "68",
                    "Nome": "Vanderlei Cipriano",
                    "Cargo": "Intermitente",
                    "CBO": "",
                    "Rg": "82402896",
                    "CPF": "007.348.429-61",
                    "DataNascimento": "335934000",
                    "Salario": "0",
                    "DataAdmissao": "1738551600",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1741748400",
                    "DataMod": "1751857200",
                    "Depto": "RT-ENG"
                  },
                  {
                    "ID": "48",
                    "Matricula": "69",
                    "Nome": "Haiton Kayky Rocha Carvalho",
                    "Cargo": "T6.4",
                    "CBO": "300105",
                    "Rg": "538323838",
                    "CPF": "538.876.238-60",
                    "DataNascimento": "1094439600",
                    "Salario": "5956.06",
                    "DataAdmissao": "1741575600",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1741748400",
                    "DataMod": "1770865200",
                    "Depto": "RT-ENG"
                  },
                  {
                    "ID": "49",
                    "Matricula": "70",
                    "Nome": "Wellington Fernando Voltarel",
                    "Cargo": "Intermitente",
                    "CBO": "",
                    "Rg": "446071754",
                    "CPF": "385.517.698-12",
                    "DataNascimento": "605156400",
                    "Salario": "0",
                    "DataAdmissao": "1741662000",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1745809200",
                    "DataMod": "1751857200",
                    "Depto": "RT-ENG"
                  },
                  {
                    "ID": "50",
                    "Matricula": "71",
                    "Nome": "Hugo Leonardo Ferreira",
                    "Cargo": "T7.3",
                    "CBO": "300105",
                    "Rg": "37201429",
                    "CPF": "441.551.658-05",
                    "DataNascimento": "862196400",
                    "Salario": "0",
                    "DataAdmissao": "606279600",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1742958000",
                    "DataMod": "1770865200",
                    "Depto": "RT-DIG"
                  },
                  {
                    "ID": "51",
                    "Matricula": "72",
                    "Nome": "João Araujo da Silva",
                    "Cargo": "T6.4",
                    "CBO": "300105",
                    "Rg": "430061924",
                    "CPF": "026.161.933-02",
                    "DataNascimento": "540874800",
                    "Salario": "0",
                    "DataAdmissao": "1743476400",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1743649200",
                    "DataMod": "1770865200",
                    "Depto": "RT-ENG"
                  },
                  {
                    "ID": "52",
                    "Matricula": "73",
                    "Nome": "Alipio Tadeu Teixeira",
                    "Cargo": "T3.3",
                    "CBO": "142705",
                    "Rg": "91851397",
                    "CPF": "053.292.538-61",
                    "DataNascimento": "-294526800",
                    "Salario": "0",
                    "DataAdmissao": "1745809200",
                    "DataDemissao": "",
                    "Status": "Inativo",
                    "DataCad": "1745550000",
                    "DataMod": "1770865200",
                    "Depto": "RT-ADM"
                  },
                  {
                    "ID": "53",
                    "Matricula": "76",
                    "Nome": "Lucca Ocleciano Bisacchi",
                    "Cargo": "T9.1",
                    "CBO": "",
                    "Rg": "557604126",
                    "CPF": "480.236.838-02",
                    "DataNascimento": "1149130800",
                    "Salario": "2556.36",
                    "DataAdmissao": "1733108400",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1734318000",
                    "DataMod": "1770865200",
                    "Depto": "RT-DIG"
                  },
                  {
                    "ID": "54",
                    "Matricula": "915",
                    "Nome": "Giovani Roriz de Abreu",
                    "Cargo": "",
                    "CBO": "",
                    "Rg": "",
                    "CPF": "121.230.936-70",
                    "DataNascimento": "",
                    "Salario": "0",
                    "DataAdmissao": "1538967600",
                    "DataDemissao": "1565319600",
                    "Status": "Inativo",
                    "DataCad": "1758682800",
                    "DataMod": "1758682800",
                    "Depto": ""
                  },
                  {
                    "ID": "55",
                    "Matricula": "992",
                    "Nome": "Matheus Carvalho da Silva",
                    "Cargo": "T3.6",
                    "CBO": "",
                    "Rg": "",
                    "CPF": "449.728.938-93",
                    "DataNascimento": "",
                    "Salario": "0",
                    "DataAdmissao": "",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1770087600",
                    "DataMod": "1770951600",
                    "Depto": ""
                  },
                  {
                    "ID": "56",
                    "Matricula": "993",
                    "Nome": "Luis Carlos Voltolini",
                    "Cargo": "C3.2",
                    "CBO": "",
                    "Rg": "234370099",
                    "CPF": "365.258.555-00",
                    "DataNascimento": "-126655200",
                    "Salario": "0",
                    "DataAdmissao": "1701399600",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718679600",
                    "DataMod": "1770865200",
                    "Depto": "RT-COM"
                  },
                  {
                    "ID": "57",
                    "Matricula": "995",
                    "Nome": "Gabriel Rimoldi Carollo",
                    "Cargo": "A4.7",
                    "CBO": "",
                    "Rg": "54583717",
                    "CPF": "473.285.288-26",
                    "DataNascimento": "913687200",
                    "Salario": "0",
                    "DataAdmissao": "1753066800",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1754017200",
                    "DataMod": "1770865200",
                    "Depto": "RT-ADM"
                  },
                  {
                    "ID": "58",
                    "Matricula": "996",
                    "Nome": "Thais Cuelhar Paes",
                    "Cargo": "T2.2",
                    "CBO": "",
                    "Rg": "37.459.102-7",
                    "CPF": "322.229.798-38",
                    "DataNascimento": "",
                    "Salario": "0",
                    "DataAdmissao": "",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1750129200",
                    "DataMod": "1770865200",
                    "Depto": "RT-DIG"
                  },
                  {
                    "ID": "59",
                    "Matricula": "997",
                    "Nome": "Mileny Cristine Silva Damico",
                    "Cargo": "A3.3",
                    "CBO": "",
                    "Rg": "448984878",
                    "CPF": "367.071.748-00",
                    "DataNascimento": "606279600",
                    "Salario": "0",
                    "DataAdmissao": "1681700400",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718766000",
                    "DataMod": "1770865200",
                    "Depto": "RT-ADM"
                  },
                  {
                    "ID": "60",
                    "Matricula": "998",
                    "Nome": "Barbara Calixto Pinto",
                    "Cargo": "C9.1",
                    "CBO": "",
                    "Rg": "47.436.991 - 2",
                    "CPF": "389.513.528-38",
                    "DataNascimento": "676868400",
                    "Salario": "0",
                    "DataAdmissao": "1667271600",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718766000",
                    "DataMod": "1770865200",
                    "Depto": "RT-COM"
                  },
                  {
                    "ID": "61",
                    "Matricula": "999",
                    "Nome": "Rita de Cassia Rimoldi Carollo",
                    "Cargo": "A3.4",
                    "CBO": "",
                    "Rg": "16.848,200-9",
                    "CPF": "080.016.438-59",
                    "DataNascimento": "-86821200",
                    "Salario": "0",
                    "DataAdmissao": "1555297200",
                    "DataDemissao": "",
                    "Status": "Ativo",
                    "DataCad": "1718766000",
                    "DataMod": "1770865200",
                    "Depto": "RT-ADM"
                  }
                ]
              },
              "total": {
                "ID0": [
                  {
                    "name": "Total de Funcion&aacute;rios",
                    "value": "61",
                    "type": "string"
                  }
                ]
              }
            }
          },
          "query": {},
          "parameters": {
            "rt_token": null
          },
          "original_request": {
            "headers": {
              "host": "n8n.srv1252717.hstgr.cloud",
              "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
              "content-length": "19984",
              "accept": "*/*",
              "accept-encoding": "gzip, deflate, br, zstd",
              "accept-language": "en-US,en-GB;q=0.9,en;q=0.8,pt-BR;q=0.7,pt;q=0.6",
              "content-type": "application/json",
              "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX186CoFlNALGW5xLKha89a9b0jl8sl0uuOc%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19Tgc37yYdgQHcHM3JH5d6N0WF0ZArVUH4%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2B4dKEfpk2Y5P6KouwFmtxKwYtpZjw4c2w8hBo7Z5X7DzoOU4WMRzu2eTLmVXjAukMHm6RPxaZQ3Q%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19ulXWmX99s7tEpFORHqskTYoV62ex4b0OkDAkCn3ZwhZCDE8HCI6Nl2mHl1g4h8KnbUy96LBSvq8uvkUDS%2BolWmIAPy8yUbMq87ratDQSwHM9UuKPiPhBVbI%2FvK%2FJ0o%2BWJu7o237m4hf%2Fvj2W3H8JNsW%2F1ZJS8Jvo%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2Brhr%2BNPCF0HPlw0PReZ5NOKWl3IvRgJbDD8yOhLiVaxIAIf3gNAEruMXdMYbAGUVE1BXoRttJgUoApTxYqhKjHHVaD2yJljUBZOhnprf%2FXn89A0jjNV4XTJlYQ%2BvZ8XJlVaiX%2BbBoFddxjAjjHHki8xn%2Fg41fM468%3D; rl_session=RudderEncrypt%3AU2FsdGVkX19Gh42oQpnpJkgz0o5jbrJwNgcsWnzRNQjCTr%2FH2RUIO3T4anRlfKutUp50orePs%2FhS7MLcsSODio5OZWDnpBM0rGLjEWFnnGeBEORcel7LvD3%2BaW6%2BXHw%2FQeUSK645JgvjyLYu3xVPUg%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22%24device_id%22%3A%22019c3304-50e2-76c3-84db-36119f648c39%22%2C%22distinct_id%22%3A%22175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c%2381f34a05-d25b-47ef-a17b-3ead2bccf5e2%22%2C%22%24sesid%22%3A%5B1774229496498%2C%22019d1825-fe9b-76d9-a6f5-f4eda0d8f5a4%22%2C1774226636442%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n.srv1252717.hstgr.cloud%2Fworkflow%2F-sHYewtSFxMznnvdHtAc8%22%7D%2C%22%24user_state%22%3A%22identified%22%7D",
              "origin": "chrome-extension://hpiaaochclhppoichfmfpecghflmflil",
              "priority": "u=1, i",
              "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
              "sec-ch-ua-mobile": "?0",
              "sec-ch-ua-platform": "\"Windows\"",
              "sec-fetch-dest": "empty",
              "sec-fetch-mode": "cors",
              "sec-fetch-site": "none",
              "sec-fetch-storage-access": "active",
              "x-forwarded-for": "201.81.90.19",
              "x-forwarded-host": "n8n.srv1252717.hstgr.cloud",
              "x-forwarded-port": "443",
              "x-forwarded-proto": "https",
              "x-forwarded-server": "fda5ae5afd08",
              "x-real-ip": "201.81.90.19"
            },
            "params": {},
            "query": {
              "route": "employers_general_data?rt_token=YfdDQlECBBBXTwAqsrCLU88jds465VbPIevKuZnKLP9N4OwFl"
            },
            "body": {
              "data": {
                "options": {
                  "orientation": "Landscape",
                  "sort": [
                    {
                      "parent": "0",
                      "field": "Nome",
                      "order": "asc"
                    }
                  ],
                  "logo": "logo.php?Empresa=67941",
                  "nomeRelatorio": "Funcionarios",
                  "descRelatorio": "Relat&oacute;rio de Funcion&aacute;rios"
                },
                "columns": [
                  {
                    "text": "Matr&iacute;cula",
                    "dataField": "Matricula",
                    "type": "string",
                    "width": "80",
                    "display": "",
                    "disabled": "1"
                  },
                  {
                    "text": "Nome do Funcion&aacute;rio",
                    "dataField": "Nome",
                    "type": "string",
                    "width": "180",
                    "display": ""
                  },
                  {
                    "text": "Cargo",
                    "dataField": "Cargo",
                    "type": "string",
                    "width": "150",
                    "display": ""
                  },
                  {
                    "text": "CBO",
                    "dataField": "CBO",
                    "type": "string",
                    "width": "150",
                    "display": "none"
                  },
                  {
                    "text": "Rg",
                    "dataField": "Rg",
                    "type": "string",
                    "width": "105",
                    "display": ""
                  },
                  {
                    "text": "CPF",
                    "dataField": "CPF",
                    "type": "string",
                    "width": "105",
                    "display": "none"
                  },
                  {
                    "text": "Data de Nascimento",
                    "dataField": "DataNascimento",
                    "type": "date",
                    "width": "120",
                    "display": "none"
                  },
                  {
                    "text": "Sal&aacute;rio",
                    "dataField": "Salario",
                    "type": "moeda",
                    "width": "110",
                    "display": ""
                  },
                  {
                    "text": "Data de Admiss&atilde;o",
                    "dataField": "DataAdmissao",
                    "type": "date",
                    "width": "120",
                    "display": "none"
                  },
                  {
                    "text": "Data de Demiss&atilde;o",
                    "dataField": "DataDemissao",
                    "type": "date",
                    "width": "120",
                    "display": "none"
                  },
                  {
                    "text": "Status",
                    "dataField": "Status",
                    "type": "string",
                    "width": "70",
                    "display": ""
                  },
                  {
                    "text": "Data de Cadastro",
                    "dataField": "DataCad",
                    "type": "date",
                    "width": "120",
                    "display": "none"
                  },
                  {
                    "text": "Data de Altera&ccedil;&atilde;o",
                    "dataField": "DataMod",
                    "type": "date",
                    "width": "120",
                    "display": "none"
                  },
                  {
                    "text": "Departamento",
                    "dataField": "Depto",
                    "type": "string",
                    "width": "120",
                    "display": "none"
                  }
                ],
                "subColumns": null,
                "source": {
                  "itens": [
                    {
                      "ID": "1",
                      "Matricula": "1",
                      "Nome": "Ricardo Hideki Tuboi",
                      "Cargo": "A0",
                      "CBO": "",
                      "Rg": "18.987.278-0",
                      "CPF": "118.033.998-30",
                      "DataNascimento": "-6123600",
                      "Salario": "1621",
                      "DataAdmissao": "1092193200",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718161200",
                      "DataMod": "1770865200",
                      "Depto": "RT-ADM"
                    },
                    {
                      "ID": "2",
                      "Matricula": "2",
                      "Nome": "Diego Arduino Marques",
                      "Cargo": "T4.3",
                      "CBO": "",
                      "Rg": "33.984.1667",
                      "CPF": "357.621.808-40",
                      "DataNascimento": "534650400",
                      "Salario": "1621",
                      "DataAdmissao": "1351735200",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718247600",
                      "DataMod": "1770865200",
                      "Depto": "RT-DIG"
                    },
                    {
                      "ID": "3",
                      "Matricula": "3",
                      "Nome": "Alberto Silveira Mendes",
                      "Cargo": "C1",
                      "CBO": "",
                      "Rg": "42.838.486-9",
                      "CPF": "347.711.968-18",
                      "DataNascimento": "552884400",
                      "Salario": "1621",
                      "DataAdmissao": "1378436400",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718247600",
                      "DataMod": "1770865200",
                      "Depto": "RT-COM"
                    },
                    {
                      "ID": "4",
                      "Matricula": "4",
                      "Nome": "Juscelio Silva Damascena",
                      "Cargo": "T3.1",
                      "CBO": "",
                      "Rg": "13.705.888",
                      "CPF": "087.784.816-51",
                      "DataNascimento": "551502000",
                      "Salario": "1621",
                      "DataAdmissao": "1406430000",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718247600",
                      "DataMod": "1770865200",
                      "Depto": "RT-ENG"
                    },
                    {
                      "ID": "5",
                      "Matricula": "20",
                      "Nome": "Everton Nascimento da Assunção",
                      "Cargo": "T3.3",
                      "CBO": "",
                      "Rg": "28421106",
                      "CPF": "173.094.018-83",
                      "DataNascimento": "314938800",
                      "Salario": "1621",
                      "DataAdmissao": "1590980400",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718247600",
                      "DataMod": "1770865200",
                      "Depto": "RT-ENG"
                    },
                    {
                      "ID": "6",
                      "Matricula": "22",
                      "Nome": "Hugo Alves da Silva",
                      "Cargo": "T8.1",
                      "CBO": "",
                      "Rg": "140763016",
                      "CPF": "045.457.338-32",
                      "DataNascimento": "-182466000",
                      "Salario": "5679.26",
                      "DataAdmissao": "1606791600",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718334000",
                      "DataMod": "1770865200",
                      "Depto": "RT-ENG"
                    },
                    {
                      "ID": "7",
                      "Matricula": "23",
                      "Nome": "Jefferson Rodrigues dos Santos",
                      "Cargo": "C4.3",
                      "CBO": "202120",
                      "Rg": "455884626",
                      "CPF": "360.566.328-14",
                      "DataNascimento": "573188400",
                      "Salario": "7377.49",
                      "DataAdmissao": "1612494000",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718679600",
                      "DataMod": "1770865200",
                      "Depto": "RT-ATT"
                    },
                    {
                      "ID": "8",
                      "Matricula": "25",
                      "Nome": "Marcos Mordente Junior",
                      "Cargo": "Sócio Gerente",
                      "CBO": "",
                      "Rg": "49.109.636-7",
                      "CPF": "405.897.598-92",
                      "DataNascimento": "715662000",
                      "Salario": "1412",
                      "DataAdmissao": "1619406000",
                      "DataDemissao": "",
                      "Status": "Inativo",
                      "DataCad": "1718247600",
                      "DataMod": "1756868400",
                      "Depto": "RT-ADM"
                    },
                    {
                      "ID": "9",
                      "Matricula": "26",
                      "Nome": "Evandro Henrique Ortega",
                      "Cargo": "T4.1",
                      "CBO": "",
                      "Rg": "49604687",
                      "CPF": "371.518.118-45",
                      "DataNascimento": "618894000",
                      "Salario": "1621",
                      "DataAdmissao": "1617246000",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718247600",
                      "DataMod": "1770865200",
                      "Depto": "RT-DIG"
                    },
                    {
                      "ID": "10",
                      "Matricula": "27",
                      "Nome": "Paulo Sabino da Silva",
                      "Cargo": "Intermitente",
                      "CBO": "",
                      "Rg": "451597916",
                      "CPF": "316.216.978-00",
                      "DataNascimento": "447735600",
                      "Salario": "0",
                      "DataAdmissao": "1630551600",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718766000",
                      "DataMod": "1759806000",
                      "Depto": "RT - ATT"
                    },
                    {
                      "ID": "11",
                      "Matricula": "28",
                      "Nome": "Lucas Arruda",
                      "Cargo": "T7.6",
                      "CBO": "300105",
                      "Rg": "485430629",
                      "CPF": "419.010.178-85",
                      "DataNascimento": "708404400",
                      "Salario": "4104.45",
                      "DataAdmissao": "1639537200",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718679600",
                      "DataMod": "1770865200",
                      "Depto": "RT-ENG"
                    },
                    {
                      "ID": "12",
                      "Matricula": "30",
                      "Nome": "Reginaldo Izael da Silva",
                      "Cargo": "Tec Automação Pl",
                      "CBO": "",
                      "Rg": "175808971",
                      "CPF": "118.767.238-66",
                      "DataNascimento": "-37486800",
                      "Salario": "2777.92",
                      "DataAdmissao": "1641438000",
                      "DataDemissao": "",
                      "Status": "Inativo",
                      "DataCad": "1718766000",
                      "DataMod": "1756868400",
                      "Depto": "RT-COM"
                    },
                    {
                      "ID": "13",
                      "Matricula": "31",
                      "Nome": "William Santos Araujo",
                      "Cargo": "T7.2",
                      "CBO": "300105",
                      "Rg": "446188001",
                      "CPF": "372.921.088-22",
                      "DataNascimento": "616906800",
                      "Salario": "5670",
                      "DataAdmissao": "1642647600",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718766000",
                      "DataMod": "1770865200",
                      "Depto": "RT-ENG"
                    },
                    {
                      "ID": "14",
                      "Matricula": "32",
                      "Nome": "Luiz Henrique Luziano",
                      "Cargo": "Tecnologo Automação Pl",
                      "CBO": "",
                      "Rg": "529795553",
                      "CPF": "485.877.938-61",
                      "DataNascimento": "956458800",
                      "Salario": "2777.92",
                      "DataAdmissao": "1647831600",
                      "DataDemissao": "",
                      "Status": "Inativo",
                      "DataCad": "1718679600",
                      "DataMod": "1728961200",
                      "Depto": ""
                    },
                    {
                      "ID": "15",
                      "Matricula": "33",
                      "Nome": "Marcelo Sena Conceição",
                      "Cargo": "T5.3",
                      "CBO": "",
                      "Rg": "0858258838",
                      "CPF": "016.330.595-10",
                      "DataNascimento": "469508400",
                      "Salario": "0",
                      "DataAdmissao": "1649732400",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718679600",
                      "DataMod": "1763002800",
                      "Depto": "RT-ENG"
                    },
                    {
                      "ID": "16",
                      "Matricula": "34",
                      "Nome": "Julio Emerson de Carvalho",
                      "Cargo": "T7.5",
                      "CBO": "",
                      "Rg": "0457377704",
                      "CPF": "918.725.535-91",
                      "DataNascimento": "186030000",
                      "Salario": "0",
                      "DataAdmissao": "1658718000",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718679600",
                      "DataMod": "1763002800",
                      "Depto": "RT-ENG"
                    },
                    {
                      "ID": "17",
                      "Matricula": "35",
                      "Nome": "Denis Quachio Olmeda",
                      "Cargo": "",
                      "CBO": "",
                      "Rg": "",
                      "CPF": "317.746.808-74",
                      "DataNascimento": "",
                      "Salario": "0",
                      "DataAdmissao": "1661742000",
                      "DataDemissao": "1685588400",
                      "Status": "Inativo",
                      "DataCad": "1758682800",
                      "DataMod": "1759806000",
                      "Depto": ""
                    },
                    {
                      "ID": "18",
                      "Matricula": "36",
                      "Nome": "Gidevaldo Silva dos Santos",
                      "Cargo": "",
                      "CBO": "",
                      "Rg": "",
                      "CPF": "320.984.305-82",
                      "DataNascimento": "",
                      "Salario": "0",
                      "DataAdmissao": "1661742000",
                      "DataDemissao": "1704769200",
                      "Status": "Inativo",
                      "DataCad": "1758682800",
                      "DataMod": "1758682800",
                      "Depto": ""
                    },
                    {
                      "ID": "19",
                      "Matricula": "37",
                      "Nome": "Marcel Ribeiro de Oliveira",
                      "Cargo": "",
                      "CBO": "",
                      "Rg": "",
                      "CPF": "441.929.778-69",
                      "DataNascimento": "",
                      "Salario": "0",
                      "DataAdmissao": "1661742000",
                      "DataDemissao": "1664593200",
                      "Status": "Inativo",
                      "DataCad": "1758682800",
                      "DataMod": "1758682800",
                      "Depto": ""
                    },
                    {
                      "ID": "20",
                      "Matricula": "38",
                      "Nome": "Leandro Camargo dos Santos",
                      "Cargo": "T7.7",
                      "CBO": "951105",
                      "Rg": "45349643",
                      "CPF": "390.090.448-07",
                      "DataNascimento": "569901600",
                      "Salario": "3800.42",
                      "DataAdmissao": "1666580400",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718679600",
                      "DataMod": "1770865200",
                      "Depto": "RT-ENG"
                    },
                    {
                      "ID": "21",
                      "Matricula": "39",
                      "Nome": "Nathan Vergilio de Souza",
                      "Cargo": "Tecnologo Automação Jr",
                      "CBO": "",
                      "Rg": "559614913",
                      "CPF": "448.601.288-77",
                      "DataNascimento": "1092625200",
                      "Salario": "2552.53",
                      "DataAdmissao": "1673838000",
                      "DataDemissao": "",
                      "Status": "Inativo",
                      "DataCad": "1718766000",
                      "DataMod": "1742958000",
                      "Depto": "RT-ENG"
                    },
                    {
                      "ID": "22",
                      "Matricula": "40",
                      "Nome": "Marcos Fernandes Meni",
                      "Cargo": "T7.2",
                      "CBO": "313215",
                      "Rg": "255666755",
                      "CPF": "248.914.858-33",
                      "DataNascimento": "180154800",
                      "Salario": "0",
                      "DataAdmissao": "1674442800",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718679600",
                      "DataMod": "1770865200",
                      "Depto": "RT-DIG"
                    },
                    {
                      "ID": "23",
                      "Matricula": "41",
                      "Nome": "Lui Cometti Silva",
                      "Cargo": "T7.9",
                      "CBO": "300105",
                      "Rg": "582117690",
                      "CPF": "525.297.488-88",
                      "DataNascimento": "1056337200",
                      "Salario": "3319.43",
                      "DataAdmissao": "1675220400",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718679600",
                      "DataMod": "1770865200",
                      "Depto": "RT-ENG"
                    },
                    {
                      "ID": "24",
                      "Matricula": "42",
                      "Nome": "Renan Zaratine",
                      "Cargo": "T7.10",
                      "CBO": "313215",
                      "Rg": "532068129",
                      "CPF": "497.580.818-88",
                      "DataNascimento": "899866800",
                      "Salario": "3131.54",
                      "DataAdmissao": "1678417200",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718766000",
                      "DataMod": "1770865200",
                      "Depto": "RT-ENG"
                    },
                    {
                      "ID": "25",
                      "Matricula": "43",
                      "Nome": "Leonardo Fortes Alcantara",
                      "Cargo": "Tec Automação CLT",
                      "CBO": "",
                      "Rg": "594209122",
                      "CPF": "474.427.108-16",
                      "DataNascimento": "1010109600",
                      "Salario": "2552.53",
                      "DataAdmissao": "1678417200",
                      "DataDemissao": "",
                      "Status": "Inativo",
                      "DataCad": "1718679600",
                      "DataMod": "1751857200",
                      "Depto": "RT-ATT"
                    },
                    {
                      "ID": "26",
                      "Matricula": "44",
                      "Nome": "Nicolas Vergilio de Souza",
                      "Cargo": "T7.9",
                      "CBO": "300105",
                      "Rg": "559803835",
                      "CPF": "448.600.848-02",
                      "DataNascimento": "1057892400",
                      "Salario": "3319.43",
                      "DataAdmissao": "1680490800",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718766000",
                      "DataMod": "1770865200",
                      "Depto": "RT-ENG"
                    },
                    {
                      "ID": "27",
                      "Matricula": "46",
                      "Nome": "João Carlos da Silva Lima",
                      "Cargo": "T8.5",
                      "CBO": "313215",
                      "Rg": "4769614",
                      "CPF": "164.000.074-74",
                      "DataNascimento": "1077678000",
                      "Salario": "3008.72",
                      "DataAdmissao": "1683082800",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718679600",
                      "DataMod": "1770865200",
                      "Depto": "RT-ENG"
                    },
                    {
                      "ID": "28",
                      "Matricula": "47",
                      "Nome": "Henrico Stoppa",
                      "Cargo": "T7.9",
                      "CBO": "300105",
                      "Rg": "395705423",
                      "CPF": "525.305.228-39",
                      "DataNascimento": "1075687200",
                      "Salario": "3319.43",
                      "DataAdmissao": "1688353200",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718334000",
                      "DataMod": "1770865200",
                      "Depto": "RT-ENG"
                    },
                    {
                      "ID": "29",
                      "Matricula": "48",
                      "Nome": "Marcela Rimoldi Carollo",
                      "Cargo": "A5.2",
                      "CBO": "252105",
                      "Rg": "545837108",
                      "CPF": "498.351.588-78",
                      "DataNascimento": "989982000",
                      "Salario": "3173.47",
                      "DataAdmissao": "1698807600",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718679600",
                      "DataMod": "1770865200",
                      "Depto": "RT-ADM"
                    },
                    {
                      "ID": "30",
                      "Matricula": "50",
                      "Nome": "Jonathan Dos Santos Moreira Matos",
                      "Cargo": "T5.1",
                      "CBO": "",
                      "Rg": "2258464110",
                      "CPF": "023.358.070-05",
                      "DataNascimento": "727668000",
                      "Salario": "0",
                      "DataAdmissao": "1704769200",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718679600",
                      "DataMod": "1763002800",
                      "Depto": "RT-ENG"
                    },
                    {
                      "ID": "31",
                      "Matricula": "51",
                      "Nome": "Ere Alcantara Souza",
                      "Cargo": "A4.8",
                      "CBO": "",
                      "Rg": "46.021.645-4",
                      "CPF": "230.399.698-89",
                      "DataNascimento": "600314400",
                      "Salario": "1621",
                      "DataAdmissao": "1706842800",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718247600",
                      "DataMod": "1770865200",
                      "Depto": "RT-ADM"
                    },
                    {
                      "ID": "32",
                      "Matricula": "52",
                      "Nome": "Lucas Torres Pinto",
                      "Cargo": "C2.4",
                      "CBO": "",
                      "Rg": "34.395.850-8",
                      "CPF": "413.648.178-02",
                      "DataNascimento": "730090800",
                      "Salario": "1621",
                      "DataAdmissao": "1706842800",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718247600",
                      "DataMod": "1770865200",
                      "Depto": "RT-COM"
                    },
                    {
                      "ID": "33",
                      "Matricula": "53",
                      "Nome": "Caio Cesar Campelo",
                      "Cargo": "T2.3",
                      "CBO": "",
                      "Rg": "38.835.545-1",
                      "CPF": "356.528.188-08",
                      "DataNascimento": "823744800",
                      "Salario": "1621",
                      "DataAdmissao": "1706842800",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718247600",
                      "DataMod": "1770865200",
                      "Depto": "RT-ATT"
                    },
                    {
                      "ID": "34",
                      "Matricula": "54",
                      "Nome": "Emilio Rodrigues Magalhaes Sanches Haro",
                      "Cargo": "A4.3",
                      "CBO": "212405",
                      "Rg": "412830577",
                      "CPF": "432.401.918-57",
                      "DataNascimento": "848368800",
                      "Salario": "0",
                      "DataAdmissao": "1714359600",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718247600",
                      "DataMod": "1770865200",
                      "Depto": "RT-ADM"
                    },
                    {
                      "ID": "35",
                      "Matricula": "55",
                      "Nome": "Julia Correia de Oliveira",
                      "Cargo": "Tecnologo Automação Jr CLT",
                      "CBO": "",
                      "Rg": "542666881",
                      "CPF": "475.363.438-84",
                      "DataNascimento": "936759600",
                      "Salario": "3385",
                      "DataAdmissao": "1716346800",
                      "DataDemissao": "",
                      "Status": "Inativo",
                      "DataCad": "1718679600",
                      "DataMod": "1730948400",
                      "Depto": ""
                    },
                    {
                      "ID": "36",
                      "Matricula": "56",
                      "Nome": "Fábio Caluza de Medeiros",
                      "Cargo": "Intermitente",
                      "CBO": "",
                      "Rg": "299282831",
                      "CPF": "280.917.198-09",
                      "DataNascimento": "291438000",
                      "Salario": "0",
                      "DataAdmissao": "1714186800",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718334000",
                      "DataMod": "1751857200",
                      "Depto": "RT-ENG"
                    },
                    {
                      "ID": "37",
                      "Matricula": "57",
                      "Nome": "Mauro Antonio Rodrigues",
                      "Cargo": "",
                      "CBO": "",
                      "Rg": "75164718",
                      "CPF": "035.851.469-02",
                      "DataNascimento": "334292400",
                      "Salario": "0",
                      "DataAdmissao": "1718074800",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718679600",
                      "DataMod": "1763089200",
                      "Depto": "RT-ATT"
                    },
                    {
                      "ID": "38",
                      "Matricula": "58",
                      "Nome": "Ayron Afonso Rosini",
                      "Cargo": "Intermitente",
                      "CBO": "",
                      "Rg": "17208699",
                      "CPF": "096.346.026-90",
                      "DataNascimento": "749790000",
                      "Salario": "0",
                      "DataAdmissao": "1718161200",
                      "DataDemissao": "",
                      "Status": "Inativo",
                      "DataCad": "1718334000",
                      "DataMod": "1731898800",
                      "Depto": ""
                    },
                    {
                      "ID": "39",
                      "Matricula": "60",
                      "Nome": "Eduardo Gomes Silva",
                      "Cargo": "",
                      "CBO": "",
                      "Rg": "17.807.145",
                      "CPF": "021.059.866-25",
                      "DataNascimento": "921726000",
                      "Salario": "0",
                      "DataAdmissao": "1719198000",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1719457200",
                      "DataMod": "1763089200",
                      "Depto": "RT-ATT"
                    },
                    {
                      "ID": "40",
                      "Matricula": "61",
                      "Nome": "Lucas Mabruno dos Santos Goncalves",
                      "Cargo": "",
                      "CBO": "",
                      "Rg": "17.049.427",
                      "CPF": "107.314.136-52",
                      "DataNascimento": "655614000",
                      "Salario": "0",
                      "DataAdmissao": "1719198000",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1719457200",
                      "DataMod": "1763089200",
                      "Depto": "RT-ATT"
                    },
                    {
                      "ID": "41",
                      "Matricula": "62",
                      "Nome": "Geraldo Candido de Azevedo Neto",
                      "Cargo": "Intermitente",
                      "CBO": "",
                      "Rg": "113879118",
                      "CPF": "038.355.078-50",
                      "DataNascimento": "-228171600",
                      "Salario": "0",
                      "DataAdmissao": "1719889200",
                      "DataDemissao": "",
                      "Status": "Inativo",
                      "DataCad": "1720062000",
                      "DataMod": "1758682800",
                      "Depto": ""
                    },
                    {
                      "ID": "42",
                      "Matricula": "63",
                      "Nome": "Erik Anderson de Paulo",
                      "Cargo": "Tec Automação Jr CLT",
                      "CBO": "",
                      "Rg": "464722299",
                      "CPF": "379.532.238-30",
                      "DataNascimento": "620622000",
                      "Salario": "3000",
                      "DataAdmissao": "1722999600",
                      "DataDemissao": "",
                      "Status": "Inativo",
                      "DataCad": "1724641200",
                      "DataMod": "1730948400",
                      "Depto": ""
                    },
                    {
                      "ID": "43",
                      "Matricula": "64",
                      "Nome": "Moacir Rogerio de Souza",
                      "Cargo": "T9.2",
                      "CBO": "514310",
                      "Rg": "22.616.648-X",
                      "CPF": "180.212.778-07",
                      "DataNascimento": "216615600",
                      "Salario": "2461.68",
                      "DataAdmissao": "1725246000",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718766000",
                      "DataMod": "1770865200",
                      "Depto": "RT-ENG"
                    },
                    {
                      "ID": "44",
                      "Matricula": "65",
                      "Nome": "Helton Silva Ferreira",
                      "Cargo": "T7.2",
                      "CBO": "300105",
                      "Rg": "441079490",
                      "CPF": "317.404.448-09",
                      "DataNascimento": "400734000",
                      "Salario": "0",
                      "DataAdmissao": "1728874800",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1728961200",
                      "DataMod": "1762916400",
                      "Depto": "RT-ATT"
                    },
                    {
                      "ID": "45",
                      "Matricula": "66",
                      "Nome": "Andre Ramos Mordente",
                      "Cargo": "T9.2",
                      "CBO": "",
                      "Rg": "494785391",
                      "CPF": "405.787.338-46",
                      "DataNascimento": "648183600",
                      "Salario": "0",
                      "DataAdmissao": "",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1758164400",
                      "DataMod": "1763089200",
                      "Depto": "RT-ENG"
                    },
                    {
                      "ID": "46",
                      "Matricula": "67",
                      "Nome": "Gabriel Alves de Souza",
                      "Cargo": "T9.1",
                      "CBO": "313215",
                      "Rg": "626991079",
                      "CPF": "239.075.828-29",
                      "DataNascimento": "1128481200",
                      "Salario": "2556.36",
                      "DataAdmissao": "1737342000",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1737342000",
                      "DataMod": "1770865200",
                      "Depto": "RT-ENG"
                    },
                    {
                      "ID": "47",
                      "Matricula": "68",
                      "Nome": "Vanderlei Cipriano",
                      "Cargo": "Intermitente",
                      "CBO": "",
                      "Rg": "82402896",
                      "CPF": "007.348.429-61",
                      "DataNascimento": "335934000",
                      "Salario": "0",
                      "DataAdmissao": "1738551600",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1741748400",
                      "DataMod": "1751857200",
                      "Depto": "RT-ENG"
                    },
                    {
                      "ID": "48",
                      "Matricula": "69",
                      "Nome": "Haiton Kayky Rocha Carvalho",
                      "Cargo": "T6.4",
                      "CBO": "300105",
                      "Rg": "538323838",
                      "CPF": "538.876.238-60",
                      "DataNascimento": "1094439600",
                      "Salario": "5956.06",
                      "DataAdmissao": "1741575600",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1741748400",
                      "DataMod": "1770865200",
                      "Depto": "RT-ENG"
                    },
                    {
                      "ID": "49",
                      "Matricula": "70",
                      "Nome": "Wellington Fernando Voltarel",
                      "Cargo": "Intermitente",
                      "CBO": "",
                      "Rg": "446071754",
                      "CPF": "385.517.698-12",
                      "DataNascimento": "605156400",
                      "Salario": "0",
                      "DataAdmissao": "1741662000",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1745809200",
                      "DataMod": "1751857200",
                      "Depto": "RT-ENG"
                    },
                    {
                      "ID": "50",
                      "Matricula": "71",
                      "Nome": "Hugo Leonardo Ferreira",
                      "Cargo": "T7.3",
                      "CBO": "300105",
                      "Rg": "37201429",
                      "CPF": "441.551.658-05",
                      "DataNascimento": "862196400",
                      "Salario": "0",
                      "DataAdmissao": "606279600",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1742958000",
                      "DataMod": "1770865200",
                      "Depto": "RT-DIG"
                    },
                    {
                      "ID": "51",
                      "Matricula": "72",
                      "Nome": "João Araujo da Silva",
                      "Cargo": "T6.4",
                      "CBO": "300105",
                      "Rg": "430061924",
                      "CPF": "026.161.933-02",
                      "DataNascimento": "540874800",
                      "Salario": "0",
                      "DataAdmissao": "1743476400",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1743649200",
                      "DataMod": "1770865200",
                      "Depto": "RT-ENG"
                    },
                    {
                      "ID": "52",
                      "Matricula": "73",
                      "Nome": "Alipio Tadeu Teixeira",
                      "Cargo": "T3.3",
                      "CBO": "142705",
                      "Rg": "91851397",
                      "CPF": "053.292.538-61",
                      "DataNascimento": "-294526800",
                      "Salario": "0",
                      "DataAdmissao": "1745809200",
                      "DataDemissao": "",
                      "Status": "Inativo",
                      "DataCad": "1745550000",
                      "DataMod": "1770865200",
                      "Depto": "RT-ADM"
                    },
                    {
                      "ID": "53",
                      "Matricula": "76",
                      "Nome": "Lucca Ocleciano Bisacchi",
                      "Cargo": "T9.1",
                      "CBO": "",
                      "Rg": "557604126",
                      "CPF": "480.236.838-02",
                      "DataNascimento": "1149130800",
                      "Salario": "2556.36",
                      "DataAdmissao": "1733108400",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1734318000",
                      "DataMod": "1770865200",
                      "Depto": "RT-DIG"
                    },
                    {
                      "ID": "54",
                      "Matricula": "915",
                      "Nome": "Giovani Roriz de Abreu",
                      "Cargo": "",
                      "CBO": "",
                      "Rg": "",
                      "CPF": "121.230.936-70",
                      "DataNascimento": "",
                      "Salario": "0",
                      "DataAdmissao": "1538967600",
                      "DataDemissao": "1565319600",
                      "Status": "Inativo",
                      "DataCad": "1758682800",
                      "DataMod": "1758682800",
                      "Depto": ""
                    },
                    {
                      "ID": "55",
                      "Matricula": "992",
                      "Nome": "Matheus Carvalho da Silva",
                      "Cargo": "T3.6",
                      "CBO": "",
                      "Rg": "",
                      "CPF": "449.728.938-93",
                      "DataNascimento": "",
                      "Salario": "0",
                      "DataAdmissao": "",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1770087600",
                      "DataMod": "1770951600",
                      "Depto": ""
                    },
                    {
                      "ID": "56",
                      "Matricula": "993",
                      "Nome": "Luis Carlos Voltolini",
                      "Cargo": "C3.2",
                      "CBO": "",
                      "Rg": "234370099",
                      "CPF": "365.258.555-00",
                      "DataNascimento": "-126655200",
                      "Salario": "0",
                      "DataAdmissao": "1701399600",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718679600",
                      "DataMod": "1770865200",
                      "Depto": "RT-COM"
                    },
                    {
                      "ID": "57",
                      "Matricula": "995",
                      "Nome": "Gabriel Rimoldi Carollo",
                      "Cargo": "A4.7",
                      "CBO": "",
                      "Rg": "54583717",
                      "CPF": "473.285.288-26",
                      "DataNascimento": "913687200",
                      "Salario": "0",
                      "DataAdmissao": "1753066800",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1754017200",
                      "DataMod": "1770865200",
                      "Depto": "RT-ADM"
                    },
                    {
                      "ID": "58",
                      "Matricula": "996",
                      "Nome": "Thais Cuelhar Paes",
                      "Cargo": "T2.2",
                      "CBO": "",
                      "Rg": "37.459.102-7",
                      "CPF": "322.229.798-38",
                      "DataNascimento": "",
                      "Salario": "0",
                      "DataAdmissao": "",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1750129200",
                      "DataMod": "1770865200",
                      "Depto": "RT-DIG"
                    },
                    {
                      "ID": "59",
                      "Matricula": "997",
                      "Nome": "Mileny Cristine Silva Damico",
                      "Cargo": "A3.3",
                      "CBO": "",
                      "Rg": "448984878",
                      "CPF": "367.071.748-00",
                      "DataNascimento": "606279600",
                      "Salario": "0",
                      "DataAdmissao": "1681700400",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718766000",
                      "DataMod": "1770865200",
                      "Depto": "RT-ADM"
                    },
                    {
                      "ID": "60",
                      "Matricula": "998",
                      "Nome": "Barbara Calixto Pinto",
                      "Cargo": "C9.1",
                      "CBO": "",
                      "Rg": "47.436.991 - 2",
                      "CPF": "389.513.528-38",
                      "DataNascimento": "676868400",
                      "Salario": "0",
                      "DataAdmissao": "1667271600",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718766000",
                      "DataMod": "1770865200",
                      "Depto": "RT-COM"
                    },
                    {
                      "ID": "61",
                      "Matricula": "999",
                      "Nome": "Rita de Cassia Rimoldi Carollo",
                      "Cargo": "A3.4",
                      "CBO": "",
                      "Rg": "16.848,200-9",
                      "CPF": "080.016.438-59",
                      "DataNascimento": "-86821200",
                      "Salario": "0",
                      "DataAdmissao": "1555297200",
                      "DataDemissao": "",
                      "Status": "Ativo",
                      "DataCad": "1718766000",
                      "DataMod": "1770865200",
                      "Depto": "RT-ADM"
                    }
                  ]
                },
                "total": {
                  "ID0": [
                    {
                      "name": "Total de Funcion&aacute;rios",
                      "value": "61",
                      "type": "string"
                    }
                  ]
                }
              }
            },
            "webhookUrl": "https://n8n.srv1252717.hstgr.cloud/webhook/vhsys-router",
            "executionMode": "production"
          }
        }
      }
    ]
  },
  "connections": {
    "When called by another workflow": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Transform Employees",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Validation Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Employees": {
      "main": [
        [
          {
            "node": "Loop Over Employees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Employees": {
      "main": [
        [
          {
            "node": "Upsert Employees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Employees": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build DB Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Validation Error Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build DB Error Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ed651cf5-6bf5-450b-b4c8-99db682155d4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "ul7KFJNXYYJCida6",
  "tags": []
}