EXTENSION_SERVER/n8n_diagrams/VHSYS-nf_service_labels_ids.json
{
  "name": "VHSYS-nf_service_labels_ids",
  "nodes": [
    {
      "parameters": {},
      "id": "9948919c-bc88-4f54-9877-09efd98962ea",
      "name": "When called by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1360,
        768
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  \"codigo\",\n  \"numeronfs\",\n  \"cliente\",\n  \"status\"\nFROM auxiliary.\"NF_ServiceMetadata\"\nWHERE \"status\" = 'ATIVO'\nORDER BY \"codigo\";",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "single"
        }
      },
      "id": "07561cf7-1fce-4c41-95a9-aba3fd8d0e8c",
      "name": "SELECT Active Service Labels",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -1120,
        768
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// VHSYS :: nf_service_labels_ids\n// Rota   : GET /nf_service_labels_ids\n// Fase 5 : Fluxos NF\n// ─────────────────────────────────────────────\n// Input  : Nenhum (GET)\n// Output : [{ codigo_servico, descricao, aliquota_iss, ativo }] HTTP 200\n// Banco  : SELECT nf_service_labels WHERE ativo = true\n// ─────────────────────────────────────────────\n// CRÍTICO: Retorna ARRAY DIRETO — NÃO encapsulado\n// A extensão Chrome espera: [...] não { data: [...] }\n// ─────────────────────────────────────────────\n\nconst allRecords = $input.all();\nconst labels = allRecords.map(item => item.json);\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'nf_service_labels_ids',\n  event: 'labels_read',\n  total_labels: labels.length,\n  level: 'info'\n}));\n\n// statusCode 200 para GET (não 201)\nreturn {\n  statusCode: 200,\n  body: labels\n};"
      },
      "id": "2c9b0286-1d69-470f-bdd5-90eea83683ac",
      "name": "Format as Direct Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "// Erro de leitura do banco\nconst errData = $input.first().json;\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'nf_service_labels_ids',\n  event: 'db_read_error',\n  message: errData.message || 'Unknown DB error',\n  level: 'error'\n}));\n\nreturn {\n  statusCode: 500,\n  body: { ok: false, error: 'Database read error', message: 'Could not read service labels' }\n};"
      },
      "id": "87fdd240-97d1-4c76-bae8-7609e4e813b7",
      "name": "Build DB Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        848
      ]
    },
    {
      "parameters": {
        "jsCode": "// Return the response data as-is\nconst response = $input.first().json;\nreturn response;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        768
      ],
      "id": "3bec6d3c-8419-493d-acd9-9be85526f86b",
      "name": "Return Response"
    }
  ],
  "pinData": {},
  "connections": {
    "When called by another workflow": {
      "main": [
        [
          {
            "node": "SELECT Active Service Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECT Active Service Labels": {
      "main": [
        [
          {
            "node": "Format as Direct Array",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build DB Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format as Direct Array": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build DB Error Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3cd247b5-32cb-49fb-86ab-b83a0a5d3adf",
  "meta": {
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "vEyfgH4ys8g1pu2E",
  "tags": []
}