EXTENSION_SERVER/n8n_diagrams/VHSYS-Router-v1.json
{
  "name": "VHSYS-Router-v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "=",
        "path": "vhsys-router",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "64499cf7-c491-4605-94b1-47132e822b7d",
      "name": "Webhook Router",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -4016,
        5856
      ],
      "webhookId": "vhsys-router-webhook"
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// VHSYS Router — Extract Route\n// Extrai rota lógica e monta envelope canônico\n// para todos os sub-workflows.\n// ─────────────────────────────────────────────\nconst req   = $input.item.json;\nconst route = (req.query?.route || req.body?.route || 'unknown').toString().trim();\nconst method = (req.method || 'GET').toString().toUpperCase();\nconst body   = req.body  || {};\nconst query  = req.query || {};\n\n// Log estruturado — sem campos sensíveis\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  event:     'router_request',\n  route,\n  method,\n  has_body:  Object.keys(body).length > 0,\n  level:     'info'\n}));\n\nreturn { route, method, body, query, original_request: req };"
      },
      "id": "255ba81a-7a90-4535-83b1-9c402b776c24",
      "name": "Extract Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3792,
        5856
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "health",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7b09074e-9a4f-4cab-9461-2eb540b39439"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "health"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "update_services",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "92d750c9-2487-4dfc-824a-ab62e2dc0e63"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "update_services"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "get_update_extension_service_data",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3322ab4d-bc1e-4541-842a-165e1e8e5378"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cc_report_manage/status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bcfb283a-a58f-4b01-a0d6-80876eaa2a49"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cc_status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cc_report_manage/next_url",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "223823ad-8814-475a-8df1-c699ce23e806"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cc_next_url"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cc_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b4b83d55-7d96-4a7d-be89-16dad08ed1d2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cc_report"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "regular_bills",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "03d536be-45c4-4b21-aab4-4a810530f214"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "regular_bills"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "sales_nf_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7af00f20-a048-445f-b6f7-819b5726bb28"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sales_nf_report"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "service_nf_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d7dd7569-0d4c-4c92-a76e-7d36708e3d57"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "service_nf_report"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "nf_service_labels",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f5987dad-339a-4175-90b6-1b0909d1eda6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nf_service_labels"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "nf_service_labels_ids",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bb3c2280-bf01-43d4-8a60-e622d3d5a9e1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nf_service_labels_ids"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "nf_service_info",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9b29f752-02f8-49b2-8366-dd5b006b23ab"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nf_service_info"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "employers_general_data",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7d7c1960-68a6-4757-86fb-2b032e84ee8d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "employers_general_data"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "employers_plus",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "642b9043-02f9-4a12-a727-1ca788fa1e56"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "employers_plus"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "employers_plus_info",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a9f79d56-b57b-4fc6-8df1-43a6cc2965a5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "employers_plus_info"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "a9c07b3c-2677-4905-bbbe-b51d314729a5",
      "name": "Route Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -3568,
        5632
      ]
    },
    {
      "parameters": {
        "jsCode": "// Placeholder Fase 6\nconsole.log(JSON.stringify({ timestamp: new Date().toISOString(), route: 'regular_bills', event: 'route_not_implemented', level: 'warn' }));\nreturn { statusCode: 501, body: { error: 'Not implemented', route: 'regular_bills', message: 'Phase 6' } };"
      },
      "id": "b6fe7a9c-2e43-478f-8613-71a267b057c4",
      "name": "Placeholder: Regular Bills",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3072,
        5376
      ]
    },
    {
      "parameters": {
        "jsCode": "// Placeholder Fase 5\nconsole.log(JSON.stringify({ timestamp: new Date().toISOString(), route: 'sales_nf_report', event: 'route_not_implemented', level: 'warn' }));\nreturn { statusCode: 501, body: { error: 'Not implemented', route: 'sales_nf_report', message: 'Phase 5' } };"
      },
      "id": "bd4f5d3f-3502-44f2-a006-c7ec39fb77f0",
      "name": "Placeholder: Sales NF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3072,
        5568
      ]
    },
    {
      "parameters": {
        "jsCode": "// Placeholder Fase 5\nconsole.log(JSON.stringify({ timestamp: new Date().toISOString(), route: 'service_nf_report', event: 'route_not_implemented', level: 'warn' }));\nreturn { statusCode: 501, body: { error: 'Not implemented', route: 'service_nf_report', message: 'Phase 5' } };"
      },
      "id": "c84029ad-91b5-4bb2-bdf0-cd00646dbc2c",
      "name": "Placeholder: Service NF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3072,
        5952
      ]
    },
    {
      "parameters": {
        "jsCode": "// Placeholder Fase 5\nconsole.log(JSON.stringify({ timestamp: new Date().toISOString(), route: 'nf_service_labels', event: 'route_not_implemented', level: 'warn' }));\nreturn { statusCode: 501, body: { error: 'Not implemented', route: 'nf_service_labels', message: 'Phase 5' } };"
      },
      "id": "fdb1880a-19c6-4281-aa26-4f83104d9ed4",
      "name": "Placeholder: NF Labels",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3072,
        6144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Placeholder Fase 5\nconsole.log(JSON.stringify({ timestamp: new Date().toISOString(), route: 'nf_service_labels_ids', event: 'route_not_implemented', level: 'warn' }));\nreturn { statusCode: 501, body: { error: 'Not implemented', route: 'nf_service_labels_ids', message: 'Phase 5' } };"
      },
      "id": "5c25b901-1b83-4ccf-bfde-72d6f3569903",
      "name": "Placeholder: NF Labels IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3072,
        6336
      ]
    },
    {
      "parameters": {
        "jsCode": "// Placeholder Fase 5\nconsole.log(JSON.stringify({ timestamp: new Date().toISOString(), route: 'nf_service_info', event: 'route_not_implemented', level: 'warn' }));\nreturn { statusCode: 501, body: { error: 'Not implemented', route: 'nf_service_info', message: 'Phase 5' } };"
      },
      "id": "1d5dcb9e-27d1-41dd-ba65-91084891cb49",
      "name": "Placeholder: NF Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3072,
        6528
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ul7KFJNXYYJCida6",
          "mode": "list",
          "cachedResultUrl": "/workflow/ul7KFJNXYYJCida6",
          "cachedResultName": "VHSYS-employers_general_data-v1"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "8912548f-b1e3-4a81-85e7-b15dacd33399",
      "name": "Execute: Employers General",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -3072,
        6912
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Is8AcAK4ePg3oCM2",
          "mode": "list",
          "cachedResultUrl": "/workflow/Is8AcAK4ePg3oCM2",
          "cachedResultName": "VHSYS-employers_plus-v1"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "9c96f9a5-48f7-46bc-9228-cef69edcfc3b",
      "name": "Execute: Employers Plus",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -3072,
        7104
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "8j8GgE8PfT45Teb9",
          "mode": "list",
          "cachedResultUrl": "/workflow/8j8GgE8PfT45Teb9",
          "cachedResultName": "VHSYS-employers_plus_info-v1"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "30acc43e-dc67-4dcf-b17b-9423504c3389",
      "name": "Execute: Employers Plus Info",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -3072,
        7296
      ]
    },
    {
      "parameters": {
        "jsCode": "// ── 404 Not Found ──\nconst route = $input.item.json.route || 'unknown';\nconsole.log(JSON.stringify({ timestamp: new Date().toISOString(), event: 'route_not_found', route, level: 'error' }));\nreturn {\n  statusCode: 404,\n  body: {\n    error: 'Route not found',\n    route,\n    available_routes: [\n      'health','update_services','get_update_extension_service_data',\n      'cc_report_manage/status','cc_report_manage/next_url','cc_report',\n      'regular_bills','sales_nf_report','service_nf_report',\n      'nf_service_labels','nf_service_labels_ids','nf_service_info',\n      'employers_general_data','employers_plus','employers_plus_info'\n    ]\n  }\n};"
      },
      "id": "71077a7a-f3c2-4acd-8642-d71fe3fed219",
      "name": "404 Not Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3072,
        6720
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// Respond to Webhook — Serializador universal\n// Suporta:\n//   body = array  → serializa como JSON array direto\n//   body = object → serializa como JSON object\n//   body = string → serializa como string\n// Preserva statusCode de cada sub-workflow.\n// ─────────────────────────────────────────────\nconst result = $input.first().json;\nconst statusCode = result.statusCode || 200;\nconst body = result.body !== undefined ? result.body : result;\n\nreturn {\n  statusCode,\n  body\n};"
      },
      "id": "a7581cbc-5916-4d8e-8964-48b642b043de",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2736,
        5856
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.body }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "id": "8002cc0e-6be8-4178-bdd2-3ea8fb65a0a9",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -2512,
        5856
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UkWE6rMcSqAwTgKB",
          "mode": "list",
          "cachedResultUrl": "/workflow/UkWE6rMcSqAwTgKB",
          "cachedResultName": "VHSYS-cc_status-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -3072,
        4800
      ],
      "id": "2d16671a-e87c-48ca-9ff9-245a6275efc5",
      "name": "Execute: CC Status"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vlGDMc64g0AUKBON",
          "mode": "list",
          "cachedResultUrl": "/workflow/vlGDMc64g0AUKBON",
          "cachedResultName": "VHSYS-update_services-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -3072,
        4608
      ],
      "id": "4486c08b-4770-401c-8cca-a54de5313d0f",
      "name": "Execute: Update Services"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sjWsEoIsUa8qrPcp",
          "mode": "list",
          "cachedResultUrl": "/workflow/sjWsEoIsUa8qrPcp",
          "cachedResultName": "VHSYS-health-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -3072,
        4416
      ],
      "id": "1bf9924a-baad-4d9e-a429-eeff8455906d",
      "name": "Execute: Health"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YPMQGm7hD5eBn1da",
          "mode": "list",
          "cachedResultUrl": "/workflow/YPMQGm7hD5eBn1da",
          "cachedResultName": "VHSYS-cc_next_url-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -3072,
        4992
      ],
      "id": "5e8575d5-8d50-4bd7-9dcd-89406f58a89f",
      "name": "Execute: CC Next URL"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DoAXp1U7yQ5UOjgZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/DoAXp1U7yQ5UOjgZ",
          "cachedResultName": "VHSYS-cc_report-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -3072,
        5184
      ],
      "id": "0034121f-338d-40cc-a389-26f074209c40",
      "name": "Execute: CC Report"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ul6IjUpAqixCTDc3",
          "mode": "list",
          "cachedResultUrl": "/workflow/ul6IjUpAqixCTDc3",
          "cachedResultName": "VHSYS-get_update_extension_service_data-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -3072,
        5760
      ],
      "id": "7cc52e67-cd8c-4a21-bc8d-1f88d805ac71",
      "name": "Call 'VHSYS-get_update_extension_service_data-v1'"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Router": {
      "main": [
        [
          {
            "node": "Extract Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Route": {
      "main": [
        [
          {
            "node": "Route Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Switch": {
      "main": [
        [
          {
            "node": "Execute: Health",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: Update Services",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: Get Status1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'VHSYS-get_update_extension_service_data-v1'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: CC Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: CC Next URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: CC Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Placeholder: Regular Bills",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Placeholder: Sales NF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Placeholder: Service NF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Placeholder: NF Labels",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Placeholder: NF Labels IDs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Placeholder: NF Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: Employers General",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: Employers Plus",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: Employers Plus Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "404 Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Placeholder: Regular Bills": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Placeholder: Sales NF": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Placeholder: Service NF": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Placeholder: NF Labels": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Placeholder: NF Labels IDs": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Placeholder: NF Info": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "404 Not Found": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Employers Plus Info": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Employers Plus": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Employers General": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Update Services": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Health": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: CC Status": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: CC Next URL": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: CC Report": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'VHSYS-get_update_extension_service_data-v1'": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f2d6517a-12c5-4289-912b-0ba1764e4071",
  "meta": {
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "8z3TTNgiuypY3Nca",
  "tags": []
}