EXTENSION_SERVER/n8n_diagrams/VHSYS-employers_plus-v1.json
{
  "name": "VHSYS-employers_plus-v1",
  "nodes": [
    {
      "parameters": {},
      "id": "cd2cdd34-71ab-4a3b-8c14-84abda0fd636",
      "name": "When called by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -512,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// VHSYS :: employers_plus\n// Rota   : POST /employers_plus\n// Fase 4 : Fluxo EMPLOYERS\n// ─────────────────────────────────────────────\n// Input  : { xml_ref: '<![CDATA[<html>...</html>]]>' }\n// Output : { message: '...', ids: [{codigo:'...'}, ...] } HTTP 200\n// Banco  : NENHUM — apenas extrai códigos do HTML\n// ─────────────────────────────────────────────\n\nconst body = $input.first().json.body || $input.first().json;\n\nif (!body.xml_ref) {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { ok: false, error: 'Missing required field: xml_ref' }\n  };\n}\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route    : 'employers_plus',\n  event    : 'input_validated',\n  level    : 'info'\n}));\n\nreturn { _valid: true, xml_ref: body.xml_ref };"
      },
      "id": "89b27fe3-da85-4553-bcf3-7b013da0ac72",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e256b528-cb2c-4f55-8930-d2f2231102ff",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -80,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// Extrai códigos de funcionários do HTML dentro do CDATA.\n// CORRIGIDO: regex busca atributo 'codigo' em qualquer posição\n// dentro da tag <tr>, independente da ordem dos atributos.\n// Equivale ao BeautifulSoup row.get('codigo') do Flask.\n// ─────────────────────────────────────────────\n\nconst xmlString = $input.first().json.xml_ref;\n\n// Extrai conteúdo do CDATA\nconst cdataMatch = xmlString.match(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/);\nif (!cdataMatch) {\n  throw new Error('No CDATA section found in the provided XML.');\n}\n\nconst htmlContent = cdataMatch[1].trim();\n\n// Busca todas as tags <tr> com class=\"table-row-body\" que tenham atributo codigo\n// Ordem dos atributos não importa — funciona com codigo antes ou depois de class\nconst trRegex = /<tr\\b[^>]*\\bclass=\"table-row-body\"[^>]*\\bcodigo=\"([^\"]+)\"[^>]*>/gi;\nconst trRegexAlt = /<tr\\b[^>]*\\bcodigo=\"([^\"]+)\"[^>]*\\bclass=\"table-row-body\"[^>]*>/gi;\n\nconst codes = [];\nconst seen  = new Set();\n\nfor (const regex of [trRegex, trRegexAlt]) {\n  let match;\n  while ((match = regex.exec(htmlContent)) !== null) {\n    const codigo = match[1].trim();\n    if (codigo && !seen.has(codigo)) {\n      seen.add(codigo);\n      codes.push({ codigo });\n    }\n  }\n}\n\nif (codes.length === 0) {\n  throw new Error('No table rows with class \"table-row-body\" and codigo attribute found.');\n}\n\nconsole.log(JSON.stringify({\n  timestamp   : new Date().toISOString(),\n  route       : 'employers_plus',\n  event       : 'codes_extracted',\n  codes_count : codes.length,\n  level       : 'info'\n}));\n\nreturn { ids: codes };"
      },
      "id": "bb2360b2-a4b9-4bc6-b94e-8662846638bd",
      "name": "Extract Codes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "// HTTP 200 — preserva compatibilidade com Flask\nconst data = $input.first().json;\n\nreturn {\n  statusCode: 200,\n  body: {\n    message : 'Employee codes extracted successfully.',\n    ids     : data.ids\n  }\n};"
      },
      "id": "be26ddac-a3ea-4816-8f99-996afb3e2dcd",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Erro de validação ou extração\nconst input = $input.first().json;\n\nconsole.log(JSON.stringify({\n  timestamp : new Date().toISOString(),\n  route     : 'employers_plus',\n  event     : 'error',\n  message   : input.message || input.error || 'Unknown error',\n  level     : 'error'\n}));\n\nreturn {\n  statusCode: input.statusCode || 400,\n  body      : input.body || { ok: false, error: input.message || 'Validation or extraction failed' }\n};"
      },
      "id": "548ba5c1-c769-44d5-bccc-f79e307cb9e2",
      "name": "Build Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        128
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When called by another workflow": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Extract Codes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Codes": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5fa4f01b-928d-4010-88dc-055461d3c4b1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "Is8AcAK4ePg3oCM2",
  "tags": []
}