EXTENSION_SERVER/n8n_diagrams/VHSYS-Router-v1.json
{
  "name": "VHSYS-Router-v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "=",
        "path": "vhsys-router",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0dd7995b-c87a-4810-9a9f-1c7fea562b9b",
      "name": "Webhook Router",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -2288,
        5360
      ],
      "webhookId": "vhsys-router-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract route parameter and prepare payload\nconst route = $input.item.json.query?.route || 'unknown';\nconst method = $input.item.json.method || 'GET';\nconst body = $input.item.json.body || {};\nconst query = $input.item.json.query || {};\n\n// Structured logging (without sensitive data)\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  event: 'router_request',\n  route: route,\n  method: method,\n  has_body: Object.keys(body).length > 0\n}));\n\nreturn {\n  route: route,\n  method: method,\n  body: body,\n  query: query,\n  original_request: $input.item.json\n};"
      },
      "id": "a5101488-d5a0-4b9f-acf9-eeec9f3b10dd",
      "name": "Extract Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2064,
        5360
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "health",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7b09074e-9a4f-4cab-9461-2eb540b39439"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "health"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "update_services",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "92d750c9-2487-4dfc-824a-ab62e2dc0e63"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "update_services"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "get_update_extension_service_data",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3322ab4d-bc1e-4541-842a-165e1e8e5378"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cc_report_manage/status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bcfb283a-a58f-4b01-a0d6-80876eaa2a49"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cc_status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cc_report_manage/next_url",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "223823ad-8814-475a-8df1-c699ce23e806"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cc_next_url"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cc_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b4b83d55-7d96-4a7d-be89-16dad08ed1d2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cc_report"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "regular_bills",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "03d536be-45c4-4b21-aab4-4a810530f214"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "regular_bills"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "sales_nf_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7af00f20-a048-445f-b6f7-819b5726bb28"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sales_nf_report"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "service_nf_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d7dd7569-0d4c-4c92-a76e-7d36708e3d57"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "service_nf_report"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "nf_service_labels",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f5987dad-339a-4175-90b6-1b0909d1eda6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nf_service_labels"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "nf_service_labels_ids",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bb3c2280-bf01-43d4-8a60-e622d3d5a9e1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nf_service_labels_ids"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "nf_service_info",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9b29f752-02f8-49b2-8366-dd5b006b23ab"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nf_service_info"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "employers_general_data",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7d7c1960-68a6-4757-86fb-2b032e84ee8d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "employers_general_data"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "employers_plus",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "642b9043-02f9-4a12-a727-1ca788fa1e56"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "employers_plus"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "employers_plus_info",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a9f79d56-b57b-4fc6-8df1-43a6cc2965a5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "employers_plus_info"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "9fa7456e-66c8-40ab-b60b-9e00f6ed1713",
      "name": "Route Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1840,
        5136
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ 'VHSYS-health-v1' }}",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "96ba61fe-84dd-4409-b887-a7bd8d75ec27",
      "name": "Execute: Health",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -1296,
        4240
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ 'VHSYS-update_services-v1' }}",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "88c13dc4-bd3f-4a2d-9273-97bc3a2441fa",
      "name": "Execute: Update Services",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -1296,
        4432
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ 'VHSYS-get_update_extension_service_data-v1' }}",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "b6a565e9-c4b0-47a0-a7bd-ccd02618f54d",
      "name": "Execute: Get Status",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -1296,
        4624
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ 'VHSYS-cc_status-v1' }}",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "32efec10-dae7-4eb1-9875-1b41b86018c4",
      "name": "Execute: CC Status",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -1296,
        4816
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ 'VHSYS-cc_next_url-v1' }}",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "638ec29e-e3e5-4203-a1ec-dc5702df658a",
      "name": "Execute: CC Next URL",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -1296,
        5008
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ 'VHSYS-cc_report-v1' }}",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "baf3ad6c-d72a-484b-8386-24e64b6ffd30",
      "name": "Execute: CC Report",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -1296,
        5200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Placeholder for Phase 6 - Regular Bills workflow\n// TODO: Implement VHSYS-regular_bills-v1 workflow\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  event: 'route_not_implemented',\n  route: 'regular_bills'\n}));\n\nreturn {\n  statusCode: 501,\n  body: {\n    error: 'Not implemented',\n    route: 'regular_bills',\n    message: 'This route will be implemented in Phase 6'\n  }\n};"
      },
      "id": "78936827-3ce9-44ec-9006-c4d7020c2854",
      "name": "Placeholder: Regular Bills",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        5392
      ]
    },
    {
      "parameters": {
        "jsCode": "// Placeholder for Phase 5 - Sales NF Report workflow\n// TODO: Implement VHSYS-sales_nf_report-v1 workflow\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  event: 'route_not_implemented',\n  route: 'sales_nf_report'\n}));\n\nreturn {\n  statusCode: 501,\n  body: {\n    error: 'Not implemented',\n    route: 'sales_nf_report',\n    message: 'This route will be implemented in Phase 5'\n  }\n};"
      },
      "id": "319d4b89-0610-4441-aad1-d498151b1419",
      "name": "Placeholder: Sales NF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        5584
      ]
    },
    {
      "parameters": {
        "jsCode": "// Placeholder for Phase 5 - Service NF Report workflow\n// TODO: Implement VHSYS-service_nf_report-v1 workflow\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  event: 'route_not_implemented',\n  route: 'service_nf_report'\n}));\n\nreturn {\n  statusCode: 501,\n  body: {\n    error: 'Not implemented',\n    route: 'service_nf_report',\n    message: 'This route will be implemented in Phase 5'\n  }\n};"
      },
      "id": "f4792f13-3a3f-42cd-ab6b-ed55fb6e2b73",
      "name": "Placeholder: Service NF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        5776
      ]
    },
    {
      "parameters": {
        "jsCode": "// Placeholder for Phase 5 - NF Service Labels workflow\n// TODO: Implement VHSYS-nf_service_labels-v1 workflow\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  event: 'route_not_implemented',\n  route: 'nf_service_labels'\n}));\n\nreturn {\n  statusCode: 501,\n  body: {\n    error: 'Not implemented',\n    route: 'nf_service_labels',\n    message: 'This route will be implemented in Phase 5'\n  }\n};"
      },
      "id": "b6f72363-c161-469b-ab26-87ac0cc2149d",
      "name": "Placeholder: NF Labels",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        5968
      ]
    },
    {
      "parameters": {
        "jsCode": "// Placeholder for Phase 5 - NF Service Labels IDs workflow\n// TODO: Implement VHSYS-nf_service_labels_ids-v1 workflow\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  event: 'route_not_implemented',\n  route: 'nf_service_labels_ids'\n}));\n\nreturn {\n  statusCode: 501,\n  body: {\n    error: 'Not implemented',\n    route: 'nf_service_labels_ids',\n    message: 'This route will be implemented in Phase 5'\n  }\n};"
      },
      "id": "c2af2c7d-c22d-4c15-be8c-934819e2c61f",
      "name": "Placeholder: NF Labels IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        6160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Placeholder for Phase 5 - NF Service Info workflow\n// TODO: Implement VHSYS-nf_service_info-v1 workflow\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  event: 'route_not_implemented',\n  route: 'nf_service_info'\n}));\n\nreturn {\n  statusCode: 501,\n  body: {\n    error: 'Not implemented',\n    route: 'nf_service_info',\n    message: 'This route will be implemented in Phase 5'\n  }\n};"
      },
      "id": "17f42b08-85e0-4c6f-8186-3d220b713467",
      "name": "Placeholder: NF Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        6352
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ 'VHSYS-employers_general_data-v1' }}",
        "options": {}
      },
      "id": "ec19fd72-09a7-414d-aded-ee40a3b40f8a",
      "name": "Execute: Employers General",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -1296,
        6736
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ 'VHSYS-employers_plus-v1' }}",
        "options": {}
      },
      "id": "d8abbe0f-ea9b-408f-98aa-7f97fbac6545",
      "name": "Execute: Employers Plus",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -1296,
        6960
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ 'VHSYS-employers_plus_info-v1' }}",
        "options": {}
      },
      "id": "0e3d2f44-bb68-4309-892f-0fc6d4789ad2",
      "name": "Execute: Employers Plus Info",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -1296,
        7184
      ]
    },
    {
      "parameters": {
        "jsCode": "// 404 Not Found handler\nconst route = $input.item.json.route || 'unknown';\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  event: 'route_not_found',\n  route: route,\n  level: 'error'\n}));\n\nreturn {\n  statusCode: 404,\n  body: {\n    error: 'Route not found',\n    route: route,\n    message: `The route '${route}' is not registered in VHSYS router`,\n    available_routes: [\n      'health',\n      'update_services',\n      'get_update_extension_service_data',\n      'cc_report_manage/status',\n      'cc_report_manage/next_url',\n      'cc_report',\n      'regular_bills',\n      'sales_nf_report',\n      'service_nf_report',\n      'nf_service_labels',\n      'nf_service_labels_ids',\n      'nf_service_info',\n      'employers_general_data',\n      'employers_plus',\n      'employers_plus_info'\n    ]\n  }\n};"
      },
      "id": "0c7fea77-f385-4f29-aedc-1795df89f07e",
      "name": "404 Not Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        6544
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.body || $json }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "id": "8a0867c1-e86a-4416-9a9c-e1412d8332a5",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -800,
        5392
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Router": {
      "main": [
        [
          {
            "node": "Extract Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Route": {
      "main": [
        [
          {
            "node": "Route Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Switch": {
      "main": [
        [
          {
            "node": "Execute: Health",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: Update Services",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: Get Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: CC Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: CC Next URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: CC Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Placeholder: Regular Bills",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Placeholder: Sales NF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Placeholder: Service NF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Placeholder: NF Labels",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Placeholder: NF Labels IDs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Placeholder: NF Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: Employers General",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: Employers Plus",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: Employers Plus Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "404 Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Health": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Update Services": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Get Status": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: CC Status": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: CC Next URL": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: CC Report": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Placeholder: Regular Bills": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Placeholder: Sales NF": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Placeholder: Service NF": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Placeholder: NF Labels": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Placeholder: NF Labels IDs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Placeholder: NF Info": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "404 Not Found": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Employers Plus Info": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Employers Plus": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Employers General": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "94b6deb3-f890-4e2c-bd5b-c380ce8c24fb",
  "meta": {
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "8z3TTNgiuypY3Nca",
  "tags": []
}