EXTENSION_SERVER/n8n_diagrams/VHSYS-cc_reset.json
{
  "name": "VHSYS-cc_reset",
  "nodes": [
    {
      "parameters": {},
      "id": "24e0b4a1-9c7f-4965-8373-6fa9b9e0ef9a",
      "name": "When called by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -672,
        176
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE auxiliary.update_cc_report_status\nSET\n  entries_runned = 0,\n  outputs_runned = 0,\n  updated_at = (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp\nRETURNING cc_id, entries_runned, outputs_runned, updated_at;",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "single"
        }
      },
      "id": "bb66f3e7-18ff-41e4-8c29-80862dbce67b",
      "name": "Reset CC Report Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -448,
        176
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json);\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'cc_report/reset',\n  event: 'cc_report_reset',\n  total_rows: rows.length,\n  level: 'info'\n}));\n\nreturn {\n  statusCode: 201,\n  body: { message: 'CC REPORT UPDATE RESETED' }\n};"
      },
      "id": "057924b1-4279-4fc5-9b92-1c996e6bc5cc",
      "name": "Build Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const errData = $input.first().json;\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'cc_report/reset',\n  event: 'db_error',\n  message: errData.message || 'Unknown DB error',\n  level: 'error'\n}));\n\nreturn {\n  statusCode: 500,\n  body: { ok: false, error: 'Database error', message: 'Could not reset cc report status' }\n};"
      },
      "id": "8428491e-a4e8-441a-8f3e-457b7c52fd1b",
      "name": "Build DB Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        272
      ]
    },
    {
      "parameters": {
        "content": "## Arquitetura do Fluxo\n\nReinicia o status de processamento de todos os CC.\n\nFluxo:\n1) update global\n2) resposta 201 no sucesso\n3) resposta 500 em erro",
        "height": 236,
        "width": 360,
        "color": 7
      },
      "id": "d1140d73-7d55-4105-a7a5-cca3f2211591",
      "name": "Arquitetura do Fluxo",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1072,
        112
      ]
    },
    {
      "parameters": {
        "content": "## Reset de Flags\n\nExecuta UPDATE em update_cc_report_status:\n- entries_runned = 0\n- outputs_runned = 0\n- updated_at = agora",
        "height": 204,
        "color": 6
      },
      "id": "3348972d-c613-48be-90cf-411129444754",
      "name": "Reset de Flags",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -512,
        -64
      ]
    },
    {
      "parameters": {
        "content": "## Resposta de Sucesso\n\nQuando o update conclui, retorna 201 com mensagem de reset realizado.",
        "height": 138,
        "width": 280,
        "color": 2
      },
      "id": "64ab2aa5-de62-4ac9-84f2-2f6c8d1fec14",
      "name": "Resposta de Sucesso",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        64
      ]
    },
    {
      "parameters": {
        "content": "## Caminho de Erro\n\nSe o Postgres falhar, usa a saida de erro e retorna 500 padrao.",
        "height": 130,
        "width": 280,
        "color": 3
      },
      "id": "dc1be017-4ffc-4ec4-9a85-d88c945c3b29",
      "name": "Caminho de Erro",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        256
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When called by another workflow": {
      "main": [
        [
          {
            "node": "Reset CC Report Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset CC Report Status": {
      "main": [
        [
          {
            "node": "Build Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build DB Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4f91bd92-b837-429e-97f8-7e1002fd7443",
  "meta": {
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "FqR4ELOJHENehiJO",
  "tags": []
}