EXTENSION_SERVER/n8n_diagrams/VHSYS-employers_plus_info.json
{
  "name": "VHSYS-employers_plus_info-v1",
  "nodes": [
    {
      "parameters": {},
      "id": "7027b509-5aee-4e26-8ff7-48fc690c518c",
      "name": "When called by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1472,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// VHSYS :: employers_plus_info\n// Rota   : POST /employers_plus_info\n// Fase 4 : Fluxo EMPLOYERS\n// ─────────────────────────────────────────────\n// Input  : { xml_ref: '<xjx><cmd t=\"campo\">valor</cmd>...</xjx>' }\n// Output : { message: '...', transformed_data: {...} } HTTP 201\n// Banco  : UPSERT employersData + UPSERT/DELETE dependents + UPSERT/DELETE benefits\n// Chave  : id_funcionario (main), SHA-256(id+nome_dep) (deps), SHA-256(id+nome_ben) (benefits)\n// ─────────────────────────────────────────────\n\nconst body = $input.first().json.body || $input.first().json;\n\nif (!body.xml_ref) {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { ok: false, error: 'Missing required field: xml_ref' }\n  };\n}\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route    : 'employers_plus_info',\n  event    : 'input_validated',\n  level    : 'info'\n}));\n\nreturn { _valid: true, xml_ref: body.xml_ref };"
      },
      "id": "bb58c262-532f-4d62-bd19-aa02cd3daac1",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1674d3ef-7f0c-4f1b-8192-42670900d3cc",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1024,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// Parse XML + Transform + Decode HTML + Parse Dates + Parse Floats\n// Tudo em 1 nó para evitar perda de contexto entre nós.\n// CORRIGIDO: sem require('xml2js') — parser nativo via regex.\n// Equivale ao xmltodict.parse + transform_user_data do Flask.\n// ─────────────────────────────────────────────\n\nconst xmlString = $input.first().json.xml_ref;\n\n// ── 1. Parse XML <xjx><cmd t='campo'>valor</cmd></xjx> ──\nconst cmdRegex = /<cmd[^>]+t=[\"']([^\"']+)[\"'][^>]*>([\\s\\S]*?)<\\/cmd>/gi;\nconst rawDict  = {};\nlet match;\nwhile ((match = cmdRegex.exec(xmlString)) !== null) {\n  const key = match[1].trim();\n  const val = match[2].trim();\n  if (key) rawDict[key] = val;\n}\n\nif (Object.keys(rawDict).length === 0) {\n  throw new Error('XML must contain a <xjx><cmd t=\"...\"> structure.');\n}\n\n// ── 2. Decode HTML entities ──\nfunction decodeHtml(s) {\n  if (typeof s !== 'string') return s;\n  return s\n    .replace(/&amp;/g,  '&')\n    .replace(/&lt;/g,   '<')\n    .replace(/&gt;/g,   '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g,  \"'\")\n    .replace(/&nbsp;/g, ' ');\n}\n\n// ── 3. transform_user_data: separa dependentes e benefícios por sufixo numérico ──\nconst dependentes = {};\nconst beneficios  = {};\nconst globalData  = {};\nconst numSuffix   = /_(\\d+)$/;\n\nfor (const [key, rawVal] of Object.entries(rawDict)) {\n  const val   = decodeHtml(rawVal);\n  const mNum  = key.match(numSuffix);\n  if (!mNum) {\n    globalData[key] = val;\n    continue;\n  }\n  const num     = mNum[1];\n  const baseKey = key.substring(0, mNum.index);\n  if (baseKey.includes('dependente')) {\n    if (!dependentes[num]) dependentes[num] = {};\n    dependentes[num][baseKey] = val;\n  } else if (baseKey.includes('beneficio')) {\n    if (!beneficios[num]) beneficios[num] = {};\n    beneficios[num][baseKey] = val;\n  }\n}\n\n// ── 4. Parse datas DD/MM/YYYY → ISO ──\nfunction parseDate(s) {\n  if (!s || typeof s !== 'string') return null;\n  const m = s.match(/(\\d{2})\\/(\\d{2})\\/(\\d{4})/);\n  if (!m) return null;\n  return `${m[3]}-${m[2]}-${m[1]}T00:00:00.000Z`;\n}\n\n// ── 5. Parse float BR (1.234,56 → 1234.56) ──\nfunction parseBRFloat(v) {\n  if (!v) return 0.0;\n  let s = String(v).replace(/[^\\d,.]/g, '');\n  if (s.includes(',') && s.includes('.')) s = s.replace(/\\./g, '').replace(',', '.');\n  else if (s.includes(',')) s = s.replace(',', '.');\n  return parseFloat(s) || 0.0;\n}\n\n// ── 6. Gera SHA-256 ──\nconst crypto = require('crypto');\nfunction sha256(s) {\n  return crypto.createHash('sha256').update(String(s)).digest('hex');\n}\n\nconst idFuncionario  = globalData.id_funcionario  || '';\nconst nomeFuncionario = globalData.nome_funcionario || '';\n\nconst dependentesArr = Object.values(dependentes).map(dep => ({\n  dependents_id    : sha256(`${idFuncionario}-${dep.nome_dependente || ''}`),\n  id_funcionario   : idFuncionario,\n  nome_funcionario : nomeFuncionario,\n  nome_dependente  : dep.nome_dependente  || null,\n  tipo_dependente  : dep.tipo_dependente  || null,\n  fone_dependente  : dep.fone_dependente  || null,\n  rg               : dep.rg               || null,\n  cpf              : dep.cpf              || null,\n  data_nascimento  : parseDate(dep.data_nascimento_dependente)\n})).filter(d => d.nome_dependente);\n\nconst beneficiosArr = Object.values(beneficios).map(ben => ({\n  benefit_id       : sha256(`${idFuncionario}-${ben.nome_beneficio || ''}`),\n  id_funcionario   : idFuncionario,\n  nome_funcionario : nomeFuncionario,\n  nome             : ben.nome_beneficio   || null,\n  valor            : parseBRFloat(ben.valor_beneficio)\n})).filter(b => b.nome);\n\nconst transformed = {\n  ...globalData,\n  salario_funcionario          : parseBRFloat(globalData.salario_funcionario),\n  data_admissao_funcionario    : parseDate(globalData.data_admissao_funcionario),\n  data_nascimento_funcionario  : parseDate(globalData.data_nascimento_funcionario),\n  dependentes : dependentesArr,\n  beneficios  : beneficiosArr\n};\n\nconsole.log(JSON.stringify({\n  timestamp        : new Date().toISOString(),\n  route            : 'employers_plus_info',\n  event            : 'xml_parsed_and_transformed',\n  id_funcionario   : idFuncionario,\n  nome_funcionario : nomeFuncionario,\n  dependentes_count: dependentesArr.length,\n  beneficios_count : beneficiosArr.length,\n  level            : 'info'\n}));\n\nreturn { transformed_data: transformed };"
      },
      "id": "38701032-4709-4841-9e3a-f2bfe69531c5",
      "name": "Parse + Transform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO \"auxiliary.employersData\" (\n  id_funcionario, nome_funcionario, rg_funcionario, cpf_funcionario,\n  matricula_funcionario, sexo_funcionario, local_nascimento_funcionario,\n  orgao_emissor_rg, serie_ctps_funcionario, cep_funcionario,\n  endereco_funcionario, numero_funcionario, bairro_funcionario,\n  cidade_funcionario, uf_funcionario, complemento_funcionario,\n  celular_funcionario, fone_funcionario, email_funcionario,\n  nome_pai_funcionario, nome_mae_funcionario, observacoes_funcionario,\n  pis_funcionario, ctps_funcionario, uf_ctps_funcionario,\n  banco_funcionario, agencia_funcionario, conta_funcionario,\n  cargo_funcionario, cbo_funcionario, departamento_funcionario,\n  trabalho_inicio, trabalho_termino, intervalo_inicio, intervalo_termino,\n  salario_funcionario, status_funcionario,\n  data_admissao_funcionario, data_nascimento_funcionario,\n  created_at, updated_at\n) VALUES (\n  $1,$2,$3,$4,$5,$6,$7,$8,$9,$10,\n  $11,$12,$13,$14,$15,$16,$17,$18,$19,$20,\n  $21,$22,$23,$24,$25,$26,$27,$28,$29,$30,\n  $31,$32,$33,$34,$35,$36,$37,\n  $38::timestamp, $39::timestamp,\n  (CURRENT_TIMESTAMP AT TIME ZONE 'America/Sao_Paulo')::timestamp,\n  (CURRENT_TIMESTAMP AT TIME ZONE 'America/Sao_Paulo')::timestamp\n)\nON CONFLICT (id_funcionario) DO UPDATE SET\n  nome_funcionario            = EXCLUDED.nome_funcionario,\n  rg_funcionario              = EXCLUDED.rg_funcionario,\n  cpf_funcionario             = EXCLUDED.cpf_funcionario,\n  matricula_funcionario       = EXCLUDED.matricula_funcionario,\n  sexo_funcionario            = EXCLUDED.sexo_funcionario,\n  cargo_funcionario           = EXCLUDED.cargo_funcionario,\n  cbo_funcionario             = EXCLUDED.cbo_funcionario,\n  departamento_funcionario    = EXCLUDED.departamento_funcionario,\n  salario_funcionario         = EXCLUDED.salario_funcionario,\n  status_funcionario          = EXCLUDED.status_funcionario,\n  data_admissao_funcionario   = EXCLUDED.data_admissao_funcionario,\n  data_nascimento_funcionario = EXCLUDED.data_nascimento_funcionario,\n  updated_at = (CURRENT_TIMESTAMP AT TIME ZONE 'America/Sao_Paulo')::timestamp\nRETURNING id_funcionario, nome_funcionario;",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "single"
        }
      },
      "id": "33e4e5d8-7b32-40e4-80e4-1b4415571616",
      "name": "Upsert Employer Main Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -576,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Expande cada dependente para um item separado\n// Recupera transformed_data do nó de parse\nconst ctx = $('Parse + Transform').first().json.transformed_data;\nconst deps = ctx.dependentes || [];\n\nif (deps.length === 0) {\n  return [{ _no_deps: true, id_funcionario: ctx.id_funcionario, dependentes_ids: [] }];\n}\n\nreturn deps.map(dep => ({ ...dep, _all_ids: deps.map(d => d.dependents_id) }));"
      },
      "id": "7a5627d8-31fe-45a4-aeaa-de41edbfb2a3",
      "name": "Split Dependents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._no_deps }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5efe0d6f-5f7b-42da-b95f-6f7540bd7858",
      "name": "Has Dependents?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -128,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO \"auxiliary.employersDependents\" (\n  dependents_id, id_funcionario, nome_funcionario,\n  nome_dependente, tipo_dependente, fone_dependente,\n  rg, cpf, data_nascimento, created_at, updated_at\n) VALUES (\n  $1,$2,$3,$4,$5,$6,$7,$8,\n  $9::timestamp,\n  (CURRENT_TIMESTAMP AT TIME ZONE 'America/Sao_Paulo')::timestamp,\n  (CURRENT_TIMESTAMP AT TIME ZONE 'America/Sao_Paulo')::timestamp\n)\nON CONFLICT (dependents_id) DO UPDATE SET\n  nome_dependente  = EXCLUDED.nome_dependente,\n  tipo_dependente  = EXCLUDED.tipo_dependente,\n  fone_dependente  = EXCLUDED.fone_dependente,\n  rg               = EXCLUDED.rg,\n  cpf              = EXCLUDED.cpf,\n  data_nascimento  = EXCLUDED.data_nascimento,\n  updated_at       = (CURRENT_TIMESTAMP AT TIME ZONE 'America/Sao_Paulo')::timestamp\nRETURNING dependents_id;",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "independently"
        }
      },
      "id": "0c168d4c-7808-44fd-aee5-c5f4ebcf7c99",
      "name": "Upsert Dependent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        112,
        -16
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM \"auxiliary.employersDependents\"\nWHERE id_funcionario = $1\n  AND dependents_id <> ALL($2::text[])\nRETURNING dependents_id, nome_dependente;",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "single"
        }
      },
      "id": "956a4f8b-1059-4a87-835c-0ca926a3b66f",
      "name": "Cleanup Obsolete Dependents",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        320,
        -32
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Expande cada benefício para um item separado\nconst ctx = $('Parse + Transform').first().json.transformed_data;\nconst bens = ctx.beneficios || [];\n\nif (bens.length === 0) {\n  return [{ _no_bens: true, id_funcionario: ctx.id_funcionario, beneficios_ids: [] }];\n}\n\nreturn bens.map(ben => ({ ...ben, _all_ids: bens.map(b => b.benefit_id) }));"
      },
      "id": "71d8fe4a-db17-43d2-b5d2-aecb88b2ef4c",
      "name": "Split Benefits",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._no_bens }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3666edeb-9a31-4a1e-8847-6a3a7784e02f",
      "name": "Has Benefits?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO \"auxiliary.employersBenefits\" (\n  benefit_id, id_funcionario, nome_funcionario,\n  nome, valor, created_at, updated_at\n) VALUES (\n  $1,$2,$3,$4,$5::numeric,\n  (CURRENT_TIMESTAMP AT TIME ZONE 'America/Sao_Paulo')::timestamp,\n  (CURRENT_TIMESTAMP AT TIME ZONE 'America/Sao_Paulo')::timestamp\n)\nON CONFLICT (benefit_id) DO UPDATE SET\n  nome       = EXCLUDED.nome,\n  valor      = EXCLUDED.valor,\n  updated_at = (CURRENT_TIMESTAMP AT TIME ZONE 'America/Sao_Paulo')::timestamp\nRETURNING benefit_id;",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "independently"
        }
      },
      "id": "f6b1afeb-92b6-464d-9f36-f3d7e9cc2e01",
      "name": "Upsert Benefit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        64,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM \"auxiliary.employersBenefits\"\nWHERE id_funcionario = $1\n  AND benefit_id <> ALL($2::text[])\nRETURNING benefit_id, nome;",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "single"
        }
      },
      "id": "344a8e90-23c8-458c-b2e6-90f2521df8a1",
      "name": "Cleanup Obsolete Benefits",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        256,
        288
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Sucesso — HTTP 201 preserva compatibilidade com Flask\nconst ctx = $('Parse + Transform').first().json.transformed_data;\n\nconsole.log(JSON.stringify({\n  timestamp        : new Date().toISOString(),\n  route            : 'employers_plus_info',\n  event            : 'employers_plus_info_completed',\n  id_funcionario   : ctx.id_funcionario,\n  nome_funcionario : ctx.nome_funcionario,\n  level            : 'info'\n}));\n\nreturn {\n  statusCode: 201,\n  body: {\n    message          : 'Data processed and saved successfully.',\n    transformed_data : ctx\n  }\n};"
      },
      "id": "4360c027-2a80-4834-8fb5-3533f252229c",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Erro de validação\nconst input = $input.first().json;\nreturn {\n  statusCode: input.statusCode || 400,\n  body      : input.body || { ok: false, error: 'Validation failed' }\n};"
      },
      "id": "7b736858-fdbc-406b-840c-f0049d0049df",
      "name": "Build Validation Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "// Erro de banco\nconst errData = $input.first().json;\n\nconsole.log(JSON.stringify({\n  timestamp : new Date().toISOString(),\n  route     : 'employers_plus_info',\n  event     : 'db_error',\n  message   : errData.message || 'Unknown DB error',\n  level     : 'error'\n}));\n\nreturn {\n  statusCode: 500,\n  body: { ok: false, error: 'Database error', message: 'Could not process employer data' }\n};"
      },
      "id": "4ec4f4ae-5734-4456-97d5-3f76c0d73c5c",
      "name": "Build DB Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        240
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When called by another workflow": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Parse + Transform",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Validation Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Transform": {
      "main": [
        [
          {
            "node": "Upsert Employer Main Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Employer Main Data": {
      "main": [
        [
          {
            "node": "Split Dependents",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Benefits",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build DB Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Dependents": {
      "main": [
        [
          {
            "node": "Has Dependents?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Dependents?": {
      "main": [
        [
          {
            "node": "Upsert Dependent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Dependent": {
      "main": [
        [
          {
            "node": "Cleanup Obsolete Dependents",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build DB Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Obsolete Dependents": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build DB Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Benefits": {
      "main": [
        [
          {
            "node": "Has Benefits?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Benefits?": {
      "main": [
        [
          {
            "node": "Upsert Benefit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Benefit": {
      "main": [
        [
          {
            "node": "Cleanup Obsolete Benefits",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build DB Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Obsolete Benefits": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build DB Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5f5b705e-9198-4ecf-b0ef-b9a689f4852c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "8j8GgE8PfT45Teb9",
  "tags": []
}