EXTENSION_SERVER/n8n_diagrams/VHSYS-employers_general_data-v1.json
{
  "name": "VHSYS-employers_general_data-v1",
  "nodes": [
    {
      "parameters": {},
      "id": "a67a240a-d183-4c6f-925a-6d8476937b12",
      "name": "When called by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1040,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// VHSYS :: employers_general_data\n// Rota   : POST /employers_general_data\n// Fase 4 : Fluxo EMPLOYERS\n// ─────────────────────────────────────────────\n// Input  : { data: { source: { itens: [{Matricula, Nome, Cargo, Status, ...}] } } }\n// Output : { status: 'success', message: '...' } HTTP 201\n// Banco  : UPDATE employersData status_funcionario + nome_cargo_funcionario\n//          DELETE employersData onde matricula não está mais na API\n// Chave  : matricula_funcionario\n// ─────────────────────────────────────────────\n\nconst body = $input.first().json.body || $input.first().json;\n\nif (!body.data || !body.data.source || !body.data.source.itens) {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { ok: false, error: 'Missing required structure: data.source.itens' }\n  };\n}\n\nconst itens = body.data.source.itens;\n\nif (!Array.isArray(itens) || itens.length === 0) {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { ok: false, error: 'itens must be a non-empty array' }\n  };\n}\n\n// Lista de matrículas da API (para DELETE dos demitidos)\nconst matriculas = itens\n  .map(i => String(i.Matricula || '').trim())\n  .filter(m => m !== '');\n\nconsole.log(JSON.stringify({\n  timestamp : new Date().toISOString(),\n  route     : 'employers_general_data',\n  event     : 'input_validated',\n  count     : itens.length,\n  level     : 'info'\n}));\n\nreturn { _valid: true, itens, matriculas };"
      },
      "id": "c6096195-8705-4f33-9168-128916fd6d65",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        -48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "44b95515-44d8-49a8-9f24-4944dbf63f44",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -592,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "// Expande cada item para um registro separado preservando lista de matrículas\nconst ctx = $input.first().json;\nreturn ctx.itens.map(item => ({\n  matricula  : String(item.Matricula || '').trim(),\n  status     : String(item.Status    || '').trim(),\n  cargo      : String(item.Cargo     || '').trim(),\n  matriculas : ctx.matriculas\n}));"
      },
      "id": "61f331b5-7d90-4285-8c54-cccc414ea714",
      "name": "Split Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        -144
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"auxiliary.employersData\"\nSET\n  status_funcionario      = $1,\n  nome_cargo_funcionario  = $2,\n  updated_at              = (CURRENT_TIMESTAMP AT TIME ZONE 'America/Sao_Paulo')::timestamp\nWHERE matricula_funcionario = $3\n  AND (\n    status_funcionario     IS DISTINCT FROM $1\n    OR nome_cargo_funcionario IS DISTINCT FROM $2\n  )\nRETURNING matricula_funcionario, nome_funcionario, status_funcionario, nome_cargo_funcionario;",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "independently"
        }
      },
      "id": "6d9e45d3-90dd-41eb-86d0-f39422a395fd",
      "name": "Update Status and Position",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -144,
        -144
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Recupera lista de matrículas do primeiro item\n// (todos os itens carregam a mesma lista)\nconst allItems = $input.all();\nconst first = allItems.find(i => i.json.matriculas);\nconst matriculas = first ? first.json.matriculas : [];\n\nconsole.log(JSON.stringify({\n  timestamp  : new Date().toISOString(),\n  route      : 'employers_general_data',\n  event      : 'updates_done_preparing_cleanup',\n  matriculas_count: matriculas.length,\n  level      : 'info'\n}));\n\nreturn { matriculas };"
      },
      "id": "6ac2863d-5047-456d-b117-b5e4e9da015c",
      "name": "Prepare Cleanup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Delete employers que existem no banco mas não estão mais na API (demitidos)\nDELETE FROM \"auxiliary.employersData\"\nWHERE matricula_funcionario NOT IN (\n  SELECT unnest($1::text[])\n)\nRETURNING matricula_funcionario, nome_funcionario;",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "single"
        }
      },
      "id": "ea7905e1-1977-4ca2-ad92-f35d65a1b3cb",
      "name": "Delete Obsolete Employers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        304,
        -208
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Sucesso\nconst deleted = $input.all().filter(i => i.json.matricula_funcionario);\n\nconsole.log(JSON.stringify({\n  timestamp     : new Date().toISOString(),\n  route         : 'employers_general_data',\n  event         : 'employers_general_data_completed',\n  deleted_count : deleted.length,\n  level         : 'info'\n}));\n\nreturn {\n  statusCode: 201,\n  body: {\n    status  : 'success',\n    message : 'Employers general data processed successfully.'\n  }\n};"
      },
      "id": "c6890505-3650-4be9-8840-a182f420cc95",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -256
      ]
    },
    {
      "parameters": {
        "jsCode": "// Erro de validação\nconst input = $input.first().json;\nreturn {\n  statusCode: input.statusCode || 400,\n  body      : input.body || { ok: false, error: 'Validation failed' }\n};"
      },
      "id": "c9610ed8-a71d-40cc-840d-bc3d70684e03",
      "name": "Build Validation Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Erro de banco\nconst errData = $input.first().json;\n\nconsole.log(JSON.stringify({\n  timestamp : new Date().toISOString(),\n  route     : 'employers_general_data',\n  event     : 'db_error',\n  message   : errData.message || 'Unknown DB error',\n  level     : 'error'\n}));\n\nreturn {\n  statusCode: 500,\n  body: { ok: false, error: 'Database error', message: 'Could not process employers general data' }\n};"
      },
      "id": "04df923d-b867-49e4-8d2f-f86ce98c407e",
      "name": "Build DB Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -48
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When called by another workflow": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Split Records",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Validation Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Records": {
      "main": [
        [
          {
            "node": "Update Status and Position",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status and Position": {
      "main": [
        [
          {
            "node": "Prepare Cleanup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build DB Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Cleanup": {
      "main": [
        [
          {
            "node": "Delete Obsolete Employers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Obsolete Employers": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build DB Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a1f636cd-36b7-48a3-a3c0-2e9a084ef390",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "ul7KFJNXYYJCida6",
  "tags": []
}