EXTENSION_SERVER/n8n_diagrams/VHSYS-nf_service_labels.json
{
  "name": "VHSYS-nf_service_labels",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Return the response data as-is\nconst response = $input.first().json;\nreturn response;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        272
      ],
      "id": "02374222-8bba-4b0b-97c3-dab7aacac232",
      "name": "Return Response"
    },
    {
      "parameters": {
        "jsCode": "// Erro de banco\nconst errData = $input.first().json;\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'nf_service_labels',\n  event: 'db_error',\n  message: errData.message || 'Unknown DB error',\n  level: 'error'\n}));\n\nreturn {\n  statusCode: 500,\n  body: { ok: false, error: 'Database error', message: 'Could not update service labels' }\n};"
      },
      "id": "553ae71c-1dcc-49ed-b104-d8e0fa2d256e",
      "name": "Build DB Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "// Erro de validação\nconst input = $input.first().json;\nreturn {\n  statusCode: input.statusCode || 400,\n  body: input.body || { ok: false, error: 'Validation failed' }\n};"
      },
      "id": "b40aa45d-3618-40d0-9f38-032847b8c487",
      "name": "Build Validation Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// Conta registros afetados e constrói resposta\nconst affectedRecords = $input.all()\n  .filter(item => item.json && item.json.codigo_servico)\n  .length;\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'nf_service_labels',\n  event: 'service_labels_upserted',\n  labels_updated: affectedRecords,\n  level: 'info'\n}));\n\n// statusCode 201 — preserva compatibilidade com Flask original\nreturn {\n  statusCode: 201,\n  body: {\n    message: 'Service labels updated successfully',\n    labels_updated: affectedRecords\n  }\n};"
      },
      "id": "21e5a3c0-574c-46cc-bc08-dcb41e0cdd0a",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        64
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO auxiliary.nf_service_labels (\n  codigo_servico, descricao, aliquota_iss, ativo, observacoes,\n  created_at, updated_at\n) VALUES (\n  $1, $2, $3::numeric, $4::boolean, $5,\n  (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp,\n  (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp\n)\nON CONFLICT (codigo_servico)\nDO UPDATE SET \n  descricao = EXCLUDED.descricao,\n  aliquota_iss = EXCLUDED.aliquota_iss,\n  ativo = EXCLUDED.ativo,\n  observacoes = EXCLUDED.observacoes,\n  updated_at = (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp\nWHERE \n  nf_service_labels.descricao IS DISTINCT FROM EXCLUDED.descricao\n  OR nf_service_labels.aliquota_iss IS DISTINCT FROM EXCLUDED.aliquota_iss\n  OR nf_service_labels.ativo IS DISTINCT FROM EXCLUDED.ativo\n  OR nf_service_labels.observacoes IS DISTINCT FROM EXCLUDED.observacoes\nRETURNING codigo_servico, descricao, aliquota_iss, ativo;",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "independently"
        }
      },
      "id": "d3638448-15e4-4821-a466-594373d7f28d",
      "name": "Upsert Service Labels",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -336,
        176
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Transform e normaliza dados dos labels de serviço\n// Expande cada label para um item separado\nconst ctx = $input.first().json;\nconst labels = ctx.labels;\n\n// Decode HTML entities function (reutilizada)\nfunction decodeHtml(obj) {\n  if (typeof obj === 'string') {\n    return obj\n      .replace(/&amp;/g,  '&')\n      .replace(/&lt;/g,   '<')\n      .replace(/&gt;/g,   '>')\n      .replace(/&quot;/g, '\"')\n      .replace(/&#39;/g,  \"'\")\n      .replace(/&#x27;/g, \"'\")\n      .replace(/&#x2F;/g, '/')\n      .replace(/&nbsp;/g, ' ');\n  }\n  if (Array.isArray(obj)) return obj.map(decodeHtml);\n  if (typeof obj === 'object' && obj !== null) {\n    const out = {};\n    for (const k in obj) out[k] = decodeHtml(obj[k]);\n    return out;\n  }\n  return obj;\n}\n\nconst decodedLabels = decodeHtml(labels);\n\nconst transformedLabels = decodedLabels.map((label, index) => {\n  const codigo = String(label.codigo || label.Codigo || label.CodigoServico || '').trim();\n  \n  if (!codigo) {\n    console.log(JSON.stringify({\n      timestamp: new Date().toISOString(),\n      route: 'nf_service_labels',\n      event: 'label_skipped_no_codigo',\n      label_index: index,\n      label_data: label,\n      level: 'warn'\n    }));\n    return null;\n  }\n\n  return {\n    codigo_servico: codigo,\n    descricao: String(label.descricao || label.Descricao || label.Nome || '').trim(),\n    aliquota_iss: parseFloat(String(label.aliquota_iss || label.AliquotaISS || label.Aliquota || '0').replace(',', '.')) || 0,\n    ativo: Boolean(label.ativo !== undefined ? label.ativo : label.Ativo !== undefined ? label.Ativo : true),\n    observacoes: String(label.observacoes || label.Observacoes || label.Obs || '').trim()\n  };\n}).filter(label => label !== null);\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'nf_service_labels',\n  event: 'labels_transformed',\n  valid_labels: transformedLabels.length,\n  total_input: decodedLabels.length,\n  level: 'info'\n}));\n\nreturn transformedLabels;"
      },
      "id": "fe02af2f-7b74-4c88-9980-e018d89cfb73",
      "name": "Transform Service Labels",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f14e0ce8-5851-479e-b473-a784b54d1aec",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -816,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// VHSYS :: nf_service_labels\n// Rota   : POST /nf_service_labels\n// Fase 5 : Fluxos NF\n// ─────────────────────────────────────────────\n// Input  : { data: { labels: [{ codigo, descricao, ... }] } }\n// Output : { message: 'Service labels updated successfully', labels_updated: number } HTTP 201\n// Banco  : UPSERT nf_service_labels por codigo\n// Chave  : codigo_servico\n// ─────────────────────────────────────────────\n\nconst body = $input.first().json.body || $input.first().json;\n\nif (!body.data) {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { ok: false, error: 'Missing required field: data' }\n  };\n}\n\nif (!body.data.labels || !Array.isArray(body.data.labels)) {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { ok: false, error: 'Missing or invalid labels array' }\n  };\n}\n\nconst labels = body.data.labels;\n\nif (labels.length === 0) {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { ok: false, error: 'Labels array cannot be empty' }\n  };\n}\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'nf_service_labels',\n  event: 'input_validated',\n  labels_count: labels.length,\n  level: 'info'\n}));\n\nreturn { _valid: true, labels };"
      },
      "id": "30fab90f-f31f-4a51-a3b9-80ca5b4d235e",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        272
      ]
    },
    {
      "parameters": {},
      "id": "e01a2e61-97bd-4cdd-838f-53e914875f50",
      "name": "When called by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1296,
        272
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Build DB Error Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Validation Error Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Service Labels": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build DB Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Service Labels": {
      "main": [
        [
          {
            "node": "Upsert Service Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Transform Service Labels",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Validation Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When called by another workflow": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fff389fc-f0af-432c-84c1-364a05509f1b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "AKxeodqxnWTSbis3",
  "tags": []
}