EXTENSION_SERVER/n8n_diagrams/VHSYS-cc_next_url-v1.json
{
  "name": "VHSYS-cc_next_url-v1",
  "nodes": [
    {
      "parameters": {},
      "id": "3e1c3c53-32cf-4919-8b3c-1afd788dc17a",
      "name": "When called by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1024,
        384
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  cc_id,\n  entries_runned,\n  outputs_runned\nFROM auxiliary.update_cc_report_status\nWHERE entries_runned = 0 OR outputs_runned = 0\nORDER BY RANDOM()\nLIMIT 1;",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "single"
        }
      },
      "id": "e74c57d0-ebd7-4788-a869-ee37ef5a59fb",
      "name": "Get Random Pending CC",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -800,
        384
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.cc_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e067e15d-f9aa-46ad-8f32-a5deefe49f5a",
      "name": "Has Pending?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -576,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// Monta URL do VHSYS com data BRT correta.\n// CRÍTICO: type = 'entrada'/'saida' (lowercase) para o banco\n//          Tipo = 'Entrada'/'Saida' (capitalizado) para a URL do VHSYS\n// ─────────────────────────────────────────────\nconst row          = $input.first().json;\nconst ccId         = row.cc_id;\nconst entryRunned  = parseInt(row.entries_runned);\nconst outputRunned = parseInt(row.outputs_runned);\n\n// Data atual em BRT (America/Sao_Paulo)\nconst now = new Date();\nconst brtOffset = -3 * 60; // UTC-3 em minutos\nconst brtDate   = new Date(now.getTime() + (now.getTimezoneOffset() + brtOffset) * 60000);\nconst day   = String(brtDate.getDate()).padStart(2, '0');\nconst month = String(brtDate.getMonth() + 1).padStart(2, '0');\nconst year  = brtDate.getFullYear();\nconst currentDate = `${day}/${month}/${year}`;\n\n// Determina tipo — prioridade: entrada antes de saida\nlet type, urlTipo;\nif (entryRunned === 0) {\n  type    = 'entrada';\n  urlTipo = 'Entrada';\n} else {\n  type    = 'saida';\n  urlTipo = 'Saida';\n}\n\nconst url = `https://app.vhsys.com.br/Relatorio/Relatorio.CentroCustos.JSON.php?considerarData=pagamento&Data1=01/01/2002&Data2=${currentDate}&ListarCentroAtivoSemLancamento=1&modelo=2&Nome=&Cod=&Tipo=${urlTipo}&Centro=${ccId}&Categoria=null&buscar=1`;\n\nconsole.log(JSON.stringify({\n  timestamp      : new Date().toISOString(),\n  route          : 'cc_report_manage/next_url',\n  event          : 'cc_next_url_generated',\n  cc_id          : ccId,\n  type           : type,\n  date_brt       : currentDate,\n  entries_runned : entryRunned,\n  outputs_runned : outputRunned,\n  level          : 'info'\n}));\n\n// statusCode 201 — preserva compatibilidade com Flask original\nreturn {\n  statusCode: 201,\n  body: { url, cc_id: ccId, type }\n};"
      },
      "id": "23de2957-6f9f-4f70-ad0c-190ded2998f8",
      "name": "Build Next URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "// Nenhum CC pendente — tudo processado\nconsole.log(JSON.stringify({\n  timestamp : new Date().toISOString(),\n  route     : 'cc_report_manage/next_url',\n  event     : 'cc_next_url_no_pending',\n  level     : 'info'\n}));\n\nreturn {\n  statusCode: 201,\n  body: { url: null, cc_id: null, type: null, message: 'No pending CCs found' }\n};"
      },
      "id": "d24295c8-f706-46e6-8451-f041e1a71725",
      "name": "No Pending Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "// Erro de banco\nconst errData = $input.first().json;\n\nconsole.log(JSON.stringify({\n  timestamp : new Date().toISOString(),\n  route     : 'cc_report_manage/next_url',\n  event     : 'db_error',\n  message   : errData.message || 'Unknown DB error',\n  level     : 'error'\n}));\n\nreturn {\n  statusCode: 500,\n  body: { ok: false, error: 'Database error', message: 'Could not fetch next CC URL' }\n};"
      },
      "id": "50558703-0956-457a-aae8-f660cae42247",
      "name": "Build DB Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        480
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When called by another workflow": {
      "main": [
        [
          {
            "node": "Get Random Pending CC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Random Pending CC": {
      "main": [
        [
          {
            "node": "Has Pending?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build DB Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pending?": {
      "main": [
        [
          {
            "node": "Build Next URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Pending Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "saveDataErrorExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "95a2fd35-ef68-46a1-9445-3dc1b6f540ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "YPMQGm7hD5eBn1da",
  "tags": []
}