EXTENSION_SERVER/n8n_diagrams/VHSYS-cc_status.json
{
  "name": "VHSYS-cc_status",
  "nodes": [
    {
      "parameters": {},
      "id": "584ce86b-c989-41db-9749-4fd7fb7ff809",
      "name": "When called by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1520,
        880
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Conta o status de processamento dos centros de custo\nSELECT \n  COUNT(*) as total_lines,\n  SUM(CASE WHEN entries_runned = 1 THEN 1 ELSE 0 END) as number_of_entries,\n  SUM(CASE WHEN outputs_runned = 1 THEN 1 ELSE 0 END) as number_of_outputs\nFROM auxiliary.update_cc_report_status;",
        "options": {}
      },
      "id": "54c4fe11-bc0f-4e70-99f5-6b03d783297d",
      "name": "Get CC Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -1296,
        880
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build status response\nconst row = $input.first().json;\n\nconst totalLines = parseInt(row.total_lines || 0);\nconst numEntries = parseInt(row.number_of_entries || 0);\nconst numOutputs = parseInt(row.number_of_outputs || 0);\n\n// Se entries e outputs processados = total, então não está rodando\nconst running = !(numEntries === totalLines && numOutputs === totalLines);\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'cc_status',\n  event: 'status_checked',\n  running: running,\n  total_lines: totalLines,\n  entries: numEntries,\n  outputs: numOutputs,\n  level: 'info'\n}));\n\nreturn {\n  running: running,\n  total_lines: totalLines,\n  number_of_entries: numEntries,\n  number_of_outputs: numOutputs\n};"
      },
      "id": "7003269d-4dce-4736-acd7-0ca647f528df",
      "name": "Build Status Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        880
      ]
    },
    {
      "parameters": {
        "content": "## Arquitetura do Fluxo\n\nResume o estado global do processamento de CC.\n\nRetorna:\n- running\n- total_lines\n- number_of_entries\n- number_of_outputs",
        "height": 230,
        "width": 372,
        "color": 7
      },
      "id": "b45c00ca-3431-459b-83f4-0afba5762241",
      "name": "Arquitetura do Fluxo",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1952,
        816
      ]
    },
    {
      "parameters": {
        "content": "## Agregacao no Banco\n\nConsulta update_cc_report_status e calcula totais:\n- linhas\n- entries_runned\n- outputs_runned",
        "height": 194,
        "width": 324,
        "color": 6
      },
      "id": "07df2d8d-bb85-42ec-9605-4e489dd0b4c5",
      "name": "Agregacao no Banco",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1392,
        656
      ]
    },
    {
      "parameters": {
        "content": "## Regra de Running\n\nrunning = false somente quando:\n- entries == total_lines\n- e outputs == total_lines\n\nQualquer pendencia => running = true.",
        "height": 200,
        "width": 316,
        "color": 4
      },
      "id": "cda562a1-27c7-4fbd-9db6-a54f7f2a154d",
      "name": "Regra de Running",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -864,
        816
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When called by another workflow": {
      "main": [
        [
          {
            "node": "Get CC Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get CC Status": {
      "main": [
        [
          {
            "node": "Build Status Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4b4e1828-9208-4cf4-ab0f-230d786914c0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "UkWE6rMcSqAwTgKB",
  "tags": []
}