EXTENSION_SERVER/n8n_diagrams/VHSYS-cc_next_url.json
{
  "name": "Extensao VHSYS - CC Proxima URL",
  "nodes": [
    {
      "parameters": {},
      "id": "56ee883e-a42e-41f5-ba71-8ef35f06a55c",
      "name": "Quando Chamado por Outro Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -2416,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Busca o próximo centro de custo que precisa ser processado\n-- Filtra onde entries_runned=0 OU outputs_runned=0\nSELECT cc_id, entries_runned, outputs_runned\nFROM auxiliary.update_cc_report_status\nWHERE entries_runned = 0 OR outputs_runned = 0\nORDER BY RANDOM()\nLIMIT 1;",
        "options": {}
      },
      "id": "e1ce5cee-c913-40f9-af80-34b1d080c0dd",
      "name": "Buscar Proximo CC",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -2176,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Monta URL e resposta com base no que ainda falta processar\nconst row = $input.first().json;\n\nif (!row || !row.cc_id) {\n  return { message: 'Nenhum CC para processar' };\n}\n\nconst ccId = row.cc_id;\nconst entryDone = row.entries_runned === 1;\nconst outputDone = row.outputs_runned === 1;\n\n// Determina qual tipo processar\nlet type = 'entrada';\nlet urlType = 'Entrada';\n\nif (entryDone && !outputDone) {\n  type = 'saida';\n  urlType = 'Saida';\n}\n\n// Gera URL do VHSYS\nconst today = new Date();\nconst dd = String(today.getDate()).padStart(2, '0');\nconst mm = String(today.getMonth() + 1).padStart(2, '0');\nconst yyyy = today.getFullYear();\nconst dateStr = `${dd}/${mm}/${yyyy}`;\n\nconst vhsysUrl = `https://app.vhsys.com.br/Relatorio/Relatorio.CentroCustos.JSON.php?considerarData=pagamento&Data1=01/01/2002&Data2=${dateStr}&ListarCentroAtivoSemLancamento=1&modelo=2&Nome=&Cod=&Tipo=${urlType}&Centro=${ccId}&Categoria=null&buscar=1`;\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'cc_next_url',\n  event: 'url_gerada',\n  cc_id: ccId,\n  type: type,\n  level: 'info'\n}));\n\n// IMPORTANTE: TypeScript espera data.url.url (estrutura aninhada)\n// Linha 64 do updateReportCC.ts faz: const { url: dataUrl } = data\n// Linha 71 faz: await getData(dataUrl.url)\nreturn {\n  url: {\n    url: vhsysUrl,\n    cc_id: ccId,\n    type: type\n  }\n};"
      },
      "id": "6058ad97-f5ac-46d0-9875-6f42024f5b9e",
      "name": "Montar Resposta de URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1936,
        -80
      ]
    },
    {
      "parameters": {
        "content": "## Arquitetura do Fluxo\n\nSeleciona o proximo CC pendente e monta a URL do VHSYS.\n\nSaida:\n- data.url.url\n- cc_id\n- type",
        "height": 224,
        "width": 420,
        "color": 7
      },
      "id": "959b0e20-ec17-4eaa-a78a-e28fc1cecff9",
      "name": "Arquitetura do Fluxo",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2912,
        -160
      ]
    },
    {
      "parameters": {
        "content": "## Selecao de Pendencia\n\nConsulta update_cc_report_status e pega 1 cc_id com processamento incompleto.\n\nFiltro:\n- entries_runned = 0\n- ou outputs_runned = 0",
        "height": 218,
        "width": 360,
        "color": 6
      },
      "id": "54bf4863-dcf6-4262-8601-df65d2745722",
      "name": "Selecao de Pendencia",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2272,
        -352
      ]
    },
    {
      "parameters": {
        "content": "## Montagem de URL\n\nDecide type (entrada ou saida) e gera URL com data atual.\n\nCompatibilidade:\n- retorno em data.url.url",
        "height": 184,
        "width": 336,
        "color": 4
      },
      "id": "af1265f5-4827-426e-82c4-182c1bf47697",
      "name": "Montagem de URL",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1744,
        -144
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Quando Chamado por Outro Workflow": {
      "main": [
        [
          {
            "node": "Buscar Proximo CC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Proximo CC": {
      "main": [
        [
          {
            "node": "Montar Resposta de URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "saveDataErrorExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "eed396c9-bb58-424f-beea-a3af961375a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "YPMQGm7hD5eBn1da",
  "tags": []
}