EXTENSION_SERVER/n8n_diagrams/VHSYS-service_nf_report.json
{
  "name": "VHSYS-service_nf_report",
  "nodes": [
    {
      "parameters": {},
      "id": "9bde48a5-7436-4cdd-b610-ccb82f40dae6",
      "name": "When called by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -4080,
        624
      ]
    },
    {
      "parameters": {
        "jsCode": "\n\nconst body = $input.first().json.body || $input.first().json;\n\nif (!body.data) {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { ok: false, error: 'Missing required field: data' }\n  };\n}\n\nif (!body.data.source || !body.data.source.itens) {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { ok: false, error: 'Missing required structure: data.source.itens' }\n  };\n}\n\nif (!Array.isArray(body.data.source.itens)) {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { ok: false, error: 'itens must be an array' }\n  };\n}\n\nconst itens = body.data.source.itens;\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'service_nf_report',\n  event: 'input_validated',\n  itens_count: itens.length,\n  level: 'info'\n}));\n\nreturn { _valid: true, itens };"
      },
      "id": "8455d807-0a59-4f6f-8ada-0ef0abbe0286",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3840,
        624
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json._valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "2422c9a1-43bd-4598-8111-8fe3e4c80972"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ad4731be-2671-499b-9b23-f601de7d484f",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3600,
        624
      ]
    },
    {
      "parameters": {
        "jsCode": "// Decode HTML entities + Transform Service NF data\nconst ctx = $input.first().json;\nconst itens = ctx.itens;\n\n// Decode HTML entities recursivamente\nfunction decodeHtml(obj) {\n  if (typeof obj === 'string') {\n    return obj\n      .replace(/&amp;/g,  '&')\n      .replace(/&lt;/g,   '<')\n      .replace(/&gt;/g,   '>')\n      .replace(/&quot;/g, '\"')\n      .replace(/&#39;/g,  \"'\")\n      .replace(/&#x27;/g, \"'\")\n      .replace(/&#x2F;/g, '/')\n      .replace(/&nbsp;/g, ' ');\n  }\n  if (Array.isArray(obj)) return obj.map(decodeHtml);\n  if (typeof obj === 'object' && obj !== null) {\n    const out = {};\n    for (const k in obj) out[k] = decodeHtml(obj[k]);\n    return out;\n  }\n  return obj;\n}\n\n// Helper para converter data\nfunction parseDate(dateStr) {\n  if (!dateStr) return null;\n  const cleaned = String(dateStr).replace(/[^0-9]/g, '');\n  if (cleaned.length === 8) {\n    const year1 = cleaned.substring(0, 4);\n    const year2 = cleaned.substring(4, 8);\n    if (year1.startsWith('20') || year1.startsWith('19')) {\n      return `${year1}-${cleaned.substring(4, 6)}-${cleaned.substring(6, 8)}`;\n    } else {\n      return `${year2}-${cleaned.substring(2, 4)}-${cleaned.substring(0, 2)}`;\n    }\n  }\n  return dateStr;\n}\n\n// Helper para converter valor\nfunction parseValue(value) {\n  if (!value) return 0;\n  const cleaned = String(value).replace(/[^0-9.,]/g, '').replace(',', '.');\n  const num = parseFloat(cleaned);\n  return isNaN(num) ? 0 : num;\n}\n\n// Helper para gerar chave única\nfunction generateKey(item) {\n  const numero = String(item.NumeroNFS || item.Numero || '').trim();\n  const serie = String(item.SerieNFS || item.Serie || '').trim();\n  const dataEmissao = parseDate(item.DataEmissao || item.Data || '');\n  const cnpjPrestador = String(item.CnpjPrestador || item.CNPJ || '').replace(/\\D/g, '');\n  \n  return `${numero}-${serie}-${dataEmissao}-${cnpjPrestador}`;\n}\n\nconst decodedItens = decodeHtml(itens);\n\nconst transformedNFs = decodedItens.map((item, index) => {\n  const key = generateKey(item);\n  \n  if (!key || key === '---') {\n    console.log(JSON.stringify({\n      timestamp: new Date().toISOString(),\n      route: 'service_nf_report',\n      event: 'nf_skipped_invalid_key',\n      item_index: index,\n      item_data: item,\n      level: 'warn'\n    }));\n    return null;\n  }\n\n  const dataEmissao = parseDate(item.DataEmissao || item.Data || '');\n  \n  return {\n    chave_nf: key,\n    numero_nf: String(item.NumeroNFS || item.Numero || '').trim(),\n    serie_nf: String(item.SerieNFS || item.Serie || '').trim(),\n    data_emissao: dataEmissao || 'NULL_VALUE', // Marca especial para NULL\n    cnpj_prestador: String(item.CnpjPrestador || item.CNPJ || '').replace(/\\D/g, ''),\n    razao_social_prestador: String(item.RazaoSocialPrestador || item.Prestador || '').trim(),\n    cnpj_tomador: String(item.CnpjTomador || item.CNPJTomador || '').replace(/\\D/g, ''),\n    razao_social_tomador: String(item.RazaoSocialTomador || item.Tomador || '').trim(),\n    valor_servico: parseValue(item.ValorServico || item.Valor || 0),\n    valor_deducoes: parseValue(item.ValorDeducoes || 0),\n    base_calculo: parseValue(item.BaseCalculo || 0),\n    aliquota_iss: parseValue(item.AliquotaISS || 0),\n    valor_iss: parseValue(item.ValorISS || 0),\n    valor_pis: parseValue(item.ValorPIS || 0),\n    valor_cofins: parseValue(item.ValorCOFINS || 0),\n    valor_inss: parseValue(item.ValorINSS || 0),\n    valor_ir: parseValue(item.ValorIR || 0),\n    valor_csll: parseValue(item.ValorCSLL || 0),\n    discriminacao_servico: String(item.DiscriminacaoServico || item.Servico || '').trim(),\n    codigo_servico: String(item.CodigoServico || '').trim(),\n    situacao: String(item.Situacao || item.Status || 'Normal').trim()\n  };\n}).filter(nf => nf !== null);\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'service_nf_report',\n  event: 'nfs_transformed',\n  valid_nfs: transformedNFs.length,\n  total_input: decodedItens.length,\n  level: 'info'\n}));\n\nreturn transformedNFs;"
      },
      "id": "a2278278-0ea7-4c84-8a66-b6de9f4aafdf",
      "name": "Decode + Transform Service NFs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3360,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "// SIMPLIFICADO: Não precisa de enriquecimento externo\n// Os dados de centro de custo já vêm nos dados da NF (quando existem)\nconst allNFs = $input.all();\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'service_nf_report',\n  event: 'nfs_ready_for_upsert',\n  total_nfs: allNFs.length,\n  level: 'info'\n}));\n\n// Retorna dados sem modificação\nreturn allNFs.map(item => item.json);"
      },
      "id": "7d3e5ed9-3bdb-4e76-a8e0-ef7315c501c3",
      "name": "Combine Enrichment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2880,
        336
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO auxiliary.\"serviceNFReport\" (\n  \"RPS\", \"Chave\", \"Cliente\", \"CNPJ\", \"ValorServicos\", \n  \"ValorDeducoes\", \"Aliquota\", \"ValorISS\", \"ValorCOFINS\",\n  \"ValorPIS\", \"ValorCSLL\", \"ValorIR\", \"ValorINSS\",\n  \"Descricao\", \"DataEmissao\", \"Situacao\", \n  \"created_at\", \"updated_at\"\n) VALUES (\n  '{{ $json.numero_nf }}',\n  '{{ $json.chave_nf }}',\n  '{{ $json.razao_social_tomador }}',\n  '{{ $json.cnpj_tomador }}',\n  {{ $json.valor_servico }},\n  {{ $json.valor_deducoes }},\n  {{ $json.aliquota_iss }},\n  {{ $json.valor_iss }},\n  {{ $json.valor_cofins }},\n  {{ $json.valor_pis }},\n  {{ $json.valor_csll }},\n  {{ $json.valor_ir }},\n  {{ $json.valor_inss }},\n  '{{ $json.discriminacao_servico }}',\n  CASE WHEN '{{ $json.data_emissao }}' = 'NULL_VALUE' THEN NULL ELSE '{{ $json.data_emissao }}' END,\n  '{{ $json.situacao }}',\n  (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp,\n  (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp\n)\nON CONFLICT (\"RPS\")\nDO UPDATE SET \n  \"Chave\" = EXCLUDED.\"Chave\",\n  \"Cliente\" = EXCLUDED.\"Cliente\",\n  \"CNPJ\" = EXCLUDED.\"CNPJ\",\n  \"ValorServicos\" = EXCLUDED.\"ValorServicos\",\n  \"ValorDeducoes\" = EXCLUDED.\"ValorDeducoes\",\n  \"Aliquota\" = EXCLUDED.\"Aliquota\",\n  \"ValorISS\" = EXCLUDED.\"ValorISS\",\n  \"ValorCOFINS\" = EXCLUDED.\"ValorCOFINS\",\n  \"ValorPIS\" = EXCLUDED.\"ValorPIS\",\n  \"ValorCSLL\" = EXCLUDED.\"ValorCSLL\",\n  \"ValorIR\" = EXCLUDED.\"ValorIR\",\n  \"ValorINSS\" = EXCLUDED.\"ValorINSS\",\n  \"Descricao\" = EXCLUDED.\"Descricao\",\n  \"DataEmissao\" = EXCLUDED.\"DataEmissao\",\n  \"Situacao\" = EXCLUDED.\"Situacao\",\n  \"updated_at\" = (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp\nWHERE \n  \"serviceNFReport\".\"Chave\" IS DISTINCT FROM EXCLUDED.\"Chave\"\n  OR \"serviceNFReport\".\"Cliente\" IS DISTINCT FROM EXCLUDED.\"Cliente\"\n  OR \"serviceNFReport\".\"CNPJ\" IS DISTINCT FROM EXCLUDED.\"CNPJ\"\n  OR \"serviceNFReport\".\"ValorServicos\" IS DISTINCT FROM EXCLUDED.\"ValorServicos\"\n  OR \"serviceNFReport\".\"ValorDeducoes\" IS DISTINCT FROM EXCLUDED.\"ValorDeducoes\"\n  OR \"serviceNFReport\".\"ValorISS\" IS DISTINCT FROM EXCLUDED.\"ValorISS\"\n  OR \"serviceNFReport\".\"ValorCOFINS\" IS DISTINCT FROM EXCLUDED.\"ValorCOFINS\"\n  OR \"serviceNFReport\".\"ValorPIS\" IS DISTINCT FROM EXCLUDED.\"ValorPIS\"\n  OR \"serviceNFReport\".\"ValorCSLL\" IS DISTINCT FROM EXCLUDED.\"ValorCSLL\"\n  OR \"serviceNFReport\".\"ValorIR\" IS DISTINCT FROM EXCLUDED.\"ValorIR\"\n  OR \"serviceNFReport\".\"ValorINSS\" IS DISTINCT FROM EXCLUDED.\"ValorINSS\"\n  OR \"serviceNFReport\".\"Descricao\" IS DISTINCT FROM EXCLUDED.\"Descricao\"\n  OR \"serviceNFReport\".\"DataEmissao\" IS DISTINCT FROM EXCLUDED.\"DataEmissao\"\n  OR \"serviceNFReport\".\"Situacao\" IS DISTINCT FROM EXCLUDED.\"Situacao\"\nRETURNING \"RPS\", \"Chave\", \"ValorServicos\", \"Situacao\";",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "independently"
        }
      },
      "id": "d9ef618e-5570-4c3f-9191-c714eceb7339",
      "name": "Upsert Service NF",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -2640,
        336
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Conta registros afetados e constrói resposta\nconst affectedRecords = $input.all()\n  .filter(item => item.json && item.json.RPS)\n  .length;\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'service_nf_report',\n  event: 'service_nf_upserted',\n  services_updated: affectedRecords,\n  level: 'info'\n}));\n\n// statusCode 201 — preserva compatibilidade com Flask original\nreturn {\n  statusCode: 201,\n  body: {\n    message: 'Service NF report processed successfully',\n    services_updated: affectedRecords\n  }\n};"
      },
      "id": "2e705d64-04e9-413f-a573-ff1bcb8d897f",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2400,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "// Erro de validação\nconst input = $input.first().json;\nreturn {\n  statusCode: input.statusCode || 400,\n  body: input.body || { ok: false, error: 'Validation failed' }\n};"
      },
      "id": "a08869e5-7349-44a1-bd22-5a130059ce4c",
      "name": "Build Validation Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3360,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "// Erro de banco\nconst errData = $input.first().json;\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'service_nf_report',\n  event: 'db_error',\n  message: errData.message || 'Unknown DB error',\n  level: 'error'\n}));\n\nreturn {\n  statusCode: 500,\n  body: { ok: false, error: 'Database error', message: 'Could not process service NF report' }\n};"
      },
      "id": "deffe015-99c3-4515-b647-73aa7a54eeae",
      "name": "Build DB Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2400,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "// Return the response data as-is\nconst response = $input.first().json;\nreturn response;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2160,
        528
      ],
      "id": "76077dd8-017a-4683-b508-2964ab2cbd3d",
      "name": "Return Response"
    }
  ],
  "pinData": {},
  "connections": {
    "When called by another workflow": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Decode + Transform Service NFs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Validation Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode + Transform Service NFs": {
      "main": [
        [
          {
            "node": "Combine Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich with Centro Custo": {
      "main": [
        [
          {
            "node": "Combine Enrichment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build DB Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Enrichment": {
      "main": [
        [
          {
            "node": "Upsert Service NF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Service NF": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build DB Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Validation Error Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build DB Error Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bcce1c3f-623a-475c-affb-3467906448e6",
  "meta": {
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "21NZxIQ62yae77mQ",
  "tags": []
}