EXTENSION_SERVER/n8n_diagrams/VHSYS-Router.json
{
  "name": "VHSYS-Router",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "EP5jvsjGYWMEROje",
          "mode": "list",
          "cachedResultUrl": "/workflow/EP5jvsjGYWMEROje",
          "cachedResultName": "VHSYS-nf_service_info"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -6304,
        7520
      ],
      "id": "f0feb88e-b04e-4e8e-b56d-abee8757c1ae",
      "name": "Execute: NF Service"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vEyfgH4ys8g1pu2E",
          "mode": "list",
          "cachedResultUrl": "/workflow/vEyfgH4ys8g1pu2E",
          "cachedResultName": "VHSYS-nf_service_labels_ids"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -6304,
        7328
      ],
      "id": "3bf0207c-9c50-45da-9917-a3899f739b8a",
      "name": "Execute: NF label Id's"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AKxeodqxnWTSbis3",
          "mode": "list",
          "cachedResultUrl": "/workflow/AKxeodqxnWTSbis3",
          "cachedResultName": "VHSYS-nf_service_labels"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -6304,
        7136
      ],
      "id": "87cecae0-2383-4518-a196-6f6295cbab48",
      "name": "Execute: NF label"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ti5vujrnafguyYzG",
          "mode": "list",
          "cachedResultUrl": "/workflow/ti5vujrnafguyYzG",
          "cachedResultName": "VHSYS-sales_nf_report"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -6304,
        6752
      ],
      "id": "89e3f43c-b303-4fcc-961f-f77e6e47d2ce",
      "name": "Execute: NF Sales"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "21NZxIQ62yae77mQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/21NZxIQ62yae77mQ",
          "cachedResultName": "VHSYS-service_nf_report"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -6304,
        6944
      ],
      "id": "0ca7083c-0289-437b-8f1a-34d53957d4f9",
      "name": "Execute: Service NF"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "PUT",
          "GET",
          "POST"
        ],
        "path": "vhsys-router",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b845038e-ff53-4e2f-b10a-6aeac381faec",
      "name": "Webhook Router",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -7184,
        6752
      ],
      "webhookId": "vhsys-router-webhook"
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// VHSYS Router — Extract Route & Parameters\n// Extrai rota lógica, parâmetros de query e monta\n// envelope canônico para todos os sub-workflows.\n// ─────────────────────────────────────────────\nconst req   = $input.item.json;\nconst method = (req.method || 'GET').toString().toUpperCase();\nconst body   = req.body  || {};\nconst query  = req.query || {};\n\n// Extrair rota de múltiplas fontes possíveis\nlet route = 'unknown';\n\n// 1. Verificar query parameter ?route=\nif (query.route) {\n  route = query.route.toString().trim();\n} \n// 2. Verificar body.route (para POST)\nelse if (body.route) {\n  route = body.route.toString().trim();\n}\n// 3. Verificar path da URL (para /webhook/vhsys-router/employers_general_data)\nelse if (req.params && req.params.path) {\n  const pathParts = req.params.path.split('/');\n  const lastPart = pathParts[pathParts.length - 1];\n  if (lastPart && lastPart !== 'vhsys-router') {\n    route = lastPart.toString().trim();\n  }\n}\n// 4. Tentar extrair do webhook path completo\nelse if (req.webhookUrl || req.url) {\n  const url = req.webhookUrl || req.url;\n  const match = url.match(/\\/([^/?]+)(\\?|$)/);\n  if (match && match[1] && match[1] !== 'vhsys-router') {\n    route = match[1].toString().trim();\n  }\n}\n\n// Limpar a rota de qualquer parâmetro que possa ter \"grudado\"\nroute = route.split('?')[0].split('&')[0];\n\n// Extrair parâmetros específicos comuns\nconst parameters = {\n  rt_token: query.rt_token || null,\n  // Outros parâmetros podem ser adicionados aqui conforme necessário\n};\n\n// Remover parâmetros já extraídos do query object para evitar duplicação\nconst cleanQuery = { ...query };\ndelete cleanQuery.route;\ndelete cleanQuery.rt_token;\n\n// Log estruturado — sem campos sensíveis (mascarar token)\nconst logData = {\n  timestamp: new Date().toISOString(),\n  event:     'router_request',\n  route,\n  method,\n  has_body:  Object.keys(body).length > 0,\n  has_rt_token: !!parameters.rt_token,\n  other_params: Object.keys(cleanQuery).length,\n  url: req.webhookUrl || req.url || 'unknown',\n  level:     'info'\n};\n\n// Log com token mascarado para segurança\nif (parameters.rt_token) {\n  logData.rt_token_prefix = parameters.rt_token.substring(0, 8) + '...';\n}\n\nconsole.log(JSON.stringify(logData));\n\nreturn { \n  route, \n  method, \n  body, \n  query: cleanQuery, \n  parameters, \n  original_request: req \n};"
      },
      "id": "96041cae-df62-4c1a-b592-951d1f65db93",
      "name": "Extract Route & Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6960,
        6768
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FzPagGsvwuKAIHwM",
          "mode": "list",
          "cachedResultUrl": "/workflow/FzPagGsvwuKAIHwM",
          "cachedResultName": "VHSYS-regular_bills"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -6304,
        6560
      ],
      "id": "c5fa5bd6-8e18-466a-915b-fb584f91dba9",
      "name": "Execute: Regular Bills"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ul7KFJNXYYJCida6",
          "mode": "list",
          "cachedResultUrl": "/workflow/ul7KFJNXYYJCida6",
          "cachedResultName": "VHSYS-employers_general_data"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "7c389ee7-813c-47bc-a4cd-8039b8b7ae82",
      "name": "Execute: Employers General",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -6304,
        7904
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Is8AcAK4ePg3oCM2",
          "mode": "list",
          "cachedResultUrl": "/workflow/Is8AcAK4ePg3oCM2",
          "cachedResultName": "VHSYS-employers_plus_info"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "56d60202-e84d-4940-a82b-3a90043557a5",
      "name": "Execute: Employers Plus",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -6304,
        8096
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Is8AcAK4ePg3oCM2",
          "mode": "list",
          "cachedResultUrl": "/workflow/Is8AcAK4ePg3oCM2",
          "cachedResultName": "VHSYS-employers_plus_info"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "5c470c51-bf79-45e2-8a58-7f37e15e701b",
      "name": "Execute: Employers Plus Info",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -6304,
        8288
      ]
    },
    {
      "parameters": {
        "jsCode": "// ── 404 Not Found ──\nconst route = $input.item.json.route || 'unknown';\nconsole.log(JSON.stringify({ timestamp: new Date().toISOString(), event: 'route_not_found', route, level: 'error' }));\nreturn {\n  statusCode: 404,\n  body: {\n    error: 'Route not found',\n    route,\n    available_routes: [\n      'health','update_services','get_update_extension_service_data',\n      'cc_report_manage/status','cc_report_manage/next_url','cc_report',\n      'regular_bills','sales_nf_report','service_nf_report',\n      'nf_service_labels','nf_service_labels_ids','nf_service_info',\n      'employers_general_data','employers_plus','employers_plus_info'\n    ]\n  }\n};"
      },
      "id": "d2ab7ca5-11b8-43e8-905d-a89b7359823d",
      "name": "404 Not Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6304,
        7712
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// Respond to Webhook — Serializador universal\n// Suporta:\n//   body = array  → serializa como JSON array direto\n//   body = object → serializa como JSON object\n//   body = string → serializa como string\n// Preserva statusCode de cada sub-workflow.\n// ─────────────────────────────────────────────\nconst result = $input.first().json;\nconst statusCode = result.statusCode || 200;\nconst body = result.body !== undefined ? result.body : result;\n\nreturn {\n  statusCode,\n  body\n};"
      },
      "id": "808b3132-d449-4451-87eb-5d9e2dfd6f38",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5872,
        6752
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.body }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "id": "72a435b9-00df-49a4-9759-5adc7698ac28",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -5648,
        6752
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UkWE6rMcSqAwTgKB",
          "mode": "list",
          "cachedResultUrl": "/workflow/UkWE6rMcSqAwTgKB",
          "cachedResultName": "VHSYS-cc_status"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -6304,
        5984
      ],
      "id": "5f1564fa-322f-46f3-bfa4-78dc7685ca15",
      "name": "Execute: CC Status"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vlGDMc64g0AUKBON",
          "mode": "list",
          "cachedResultUrl": "/workflow/vlGDMc64g0AUKBON",
          "cachedResultName": "VHSYS-update_services"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -6304,
        5600
      ],
      "id": "d047f982-010b-4064-b0f6-ea05bfda0147",
      "name": "Execute: Update Services"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sjWsEoIsUa8qrPcp",
          "mode": "list",
          "cachedResultUrl": "/workflow/sjWsEoIsUa8qrPcp",
          "cachedResultName": "VHSYS-health"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -6304,
        5408
      ],
      "id": "9dbae5c8-a965-4026-b2a2-841a7feb8092",
      "name": "Execute: Health"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YPMQGm7hD5eBn1da",
          "mode": "list",
          "cachedResultUrl": "/workflow/YPMQGm7hD5eBn1da",
          "cachedResultName": "VHSYS-cc_next_url"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -6304,
        6176
      ],
      "id": "6f481633-4334-4410-9bde-7b4ce71b7de5",
      "name": "Execute: CC Next URL"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DoAXp1U7yQ5UOjgZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/DoAXp1U7yQ5UOjgZ",
          "cachedResultName": "VHSYS-cc_report"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -6304,
        6368
      ],
      "id": "660257f8-4571-4820-9f83-72f1783fb828",
      "name": "Execute: CC Report"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ul6IjUpAqixCTDc3",
          "mode": "list",
          "cachedResultUrl": "/workflow/ul6IjUpAqixCTDc3",
          "cachedResultName": "VHSYS-get_update_extension_service_data"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -6304,
        5792
      ],
      "id": "87d4b381-b2a0-42aa-a4b6-41f9ea80d2d7",
      "name": "Call 'VHSYS-get_update_extension_service_data-v1'"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "health",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a6fcc763-f8c4-4e23-bf63-1ddbb4e5b544"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "health"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9667381f-7951-4ad0-b127-de93291420a8",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "update_services",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "update_services"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4bce8d92-72a4-407a-af6b-086bd88998bd",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "get_update_extension_service_data",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "74e20558-1a1b-4550-9eec-bbb4e8e1a858",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cc_report_manage/status",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cc_status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b1258e89-f648-4ddf-8a04-24554c867e88",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cc_report_manage/next_url",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cc_next_url"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "72bca3e5-8322-4220-9049-5491b2f3ccf2",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cc_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cc_report"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6a5803f1-b81c-4ec8-bf52-26e55c79be45",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "regular_bills",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "regular_bills"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a9828eb8-246f-4156-9c30-ffe2ac2f7365",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "sales_nf_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sales_nf_report"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "service-nf-001",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "service_nf_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "service_nf_report"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6b99f32b-e7cd-45a4-ad24-f69cc38480cc",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "nf_service_labels",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nf_labels"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a9ce97ec-fbef-460f-bb08-b7a1738c9962",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "nf_service_labels_ids",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nf_labels_ids"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8120abf5-cba5-425b-8556-4974d38302f7",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "nf_service_info",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nf_info"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7b442430-e51c-4f23-a6ec-b1dc9bdbf790",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "employers_general_data",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "employers_general_data"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a064bfd5-7959-4475-b6ef-77c969daf96d",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "employers_plus",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "employers_plus"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c923b735-3846-4419-b29a-7f5717f22234",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "employers_plus_info",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "employers_plus_info"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -6736,
        6544
      ],
      "id": "638f39a4-afee-45c7-8a6b-1e6bb3ebc643",
      "name": "Switch"
    },
    {
      "parameters": {
        "errorMessage": "Route not found"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -5872,
        7712
      ],
      "id": "71c29ac8-0cf7-4ba6-85a7-8c11f0e5fbc7",
      "name": "Stop and Error"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Router": {
      "main": [
        [
          {
            "node": "Extract Route & Parameters",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Route & Parameters",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Route & Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: NF Service": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: NF label Id's": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: NF label": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: NF Sales": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Service NF": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Route & Parameters": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Regular Bills": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Employers General": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Employers Plus": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Employers Plus Info": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "404 Not Found": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: CC Status": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Update Services": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Health": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: CC Next URL": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: CC Report": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'VHSYS-get_update_extension_service_data-v1'": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Execute: Health",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: Update Services",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'VHSYS-get_update_extension_service_data-v1'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: CC Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: CC Next URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: CC Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: Regular Bills",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: NF Sales",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: Service NF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: NF label",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: NF label Id's",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: NF Service",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: Employers General",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: Employers Plus",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: Employers Plus Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "404 Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "80bcfd24-f2a4-4675-a986-e94e711310f2",
  "meta": {
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "8z3TTNgiuypY3Nca",
  "tags": []
}