EXTENSION_SERVER/n8n_diagrams/VHSYS-nf_service_info.json
{
  "name": "VHSYS-nf_service_info",
  "nodes": [
    {
      "parameters": {},
      "id": "2af01213-9f75-42aa-993a-a974af2134b8",
      "name": "When called by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1680,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// VHSYS :: nf_service_info\n// Rota   : POST /nf_service_info\n// Fase 5 : Fluxos NF\n// ─────────────────────────────────────────────\n// Input  : { data: { services: [{ chave_nf, detalhes... }] } }\n// Output : { message: 'Service info updated successfully', services_info_updated: number } HTTP 201\n// Banco  : UPSERT nf_service_info por chave_nf + enriquecimento com labels\n// Chave  : chave_nf\n// ─────────────────────────────────────────────\n\nconst body = $input.first().json.body || $input.first().json;\n\nif (!body.data) {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { ok: false, error: 'Missing required field: data' }\n  };\n}\n\nif (!body.data.services || !Array.isArray(body.data.services)) {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { ok: false, error: 'Missing or invalid services array' }\n  };\n}\n\nconst services = body.data.services;\n\nif (services.length === 0) {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { ok: false, error: 'Services array cannot be empty' }\n  };\n}\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'nf_service_info',\n  event: 'input_validated',\n  services_count: services.length,\n  level: 'info'\n}));\n\nreturn { _valid: true, services };"
      },
      "id": "3c576f5a-57d7-45c4-a9ff-2353b4fd2bd5",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2eb0c222-f59f-4cc9-bad2-24f32f0da0d7",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1200,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// Transform e normaliza dados das informações de serviço\n// Expande cada serviço para um item separado\nconst ctx = $input.first().json;\nconst services = ctx.services;\n\n// Decode HTML entities function (reutilizada)\nfunction decodeHtml(obj) {\n  if (typeof obj === 'string') {\n    return obj\n      .replace(/&amp;/g,  '&')\n      .replace(/&lt;/g,   '<')\n      .replace(/&gt;/g,   '>')\n      .replace(/&quot;/g, '\"')\n      .replace(/&#39;/g,  \"'\")\n      .replace(/&#x27;/g, \"'\")\n      .replace(/&#x2F;/g, '/')\n      .replace(/&nbsp;/g, ' ');\n  }\n  if (Array.isArray(obj)) return obj.map(decodeHtml);\n  if (typeof obj === 'object' && obj !== null) {\n    const out = {};\n    for (const k in obj) out[k] = decodeHtml(obj[k]);\n    return out;\n  }\n  return obj;\n}\n\n// Helper para converter valor\nfunction parseValue(value) {\n  if (!value) return 0;\n  const cleaned = String(value).replace(/[^0-9.,]/g, '').replace(',', '.');\n  const num = parseFloat(cleaned);\n  return isNaN(num) ? 0 : num;\n}\n\nconst decodedServices = decodeHtml(services);\n\nconst transformedServices = decodedServices.map((service, index) => {\n  const chaveNf = String(service.chave_nf || service.ChaveNF || service.id || '').trim();\n  \n  if (!chaveNf) {\n    console.log(JSON.stringify({\n      timestamp: new Date().toISOString(),\n      route: 'nf_service_info',\n      event: 'service_skipped_no_chave',\n      service_index: index,\n      service_data: service,\n      level: 'warn'\n    }));\n    return null;\n  }\n\n  return {\n    chave_nf: chaveNf,\n    codigo_servico: String(service.codigo_servico || service.CodigoServico || '').trim(),\n    item_lista_servico: String(service.item_lista_servico || service.ItemListaServico || '').trim(),\n    codigo_cnae: String(service.codigo_cnae || service.CodigoCNAE || '').trim(),\n    codigo_tributacao_municipio: String(service.codigo_tributacao_municipio || service.CodigoTributacaoMunicipio || '').trim(),\n    discriminacao_detalhada: String(service.discriminacao_detalhada || service.DiscriminacaoDetalhada || service.Discriminacao || '').trim(),\n    quantidade: parseValue(service.quantidade || service.Quantidade || 1),\n    valor_unitario: parseValue(service.valor_unitario || service.ValorUnitario || 0),\n    valor_desconto: parseValue(service.valor_desconto || service.ValorDesconto || 0),\n    valor_outras_retencoes: parseValue(service.valor_outras_retencoes || service.ValorOutrasRetencoes || 0),\n    base_calculo_issqn: parseValue(service.base_calculo_issqn || service.BaseCalculoISSQN || 0),\n    aliquota_issqn: parseValue(service.aliquota_issqn || service.AliquotaISSQN || 0),\n    valor_issqn: parseValue(service.valor_issqn || service.ValorISSQN || 0),\n    municipio_incidencia: String(service.municipio_incidencia || service.MunicipioIncidencia || '').trim(),\n    numero_processo: String(service.numero_processo || service.NumeroProcesso || '').trim(),\n    observacoes: String(service.observacoes || service.Observacoes || '').trim()\n  };\n}).filter(service => service !== null);\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'nf_service_info',\n  event: 'services_transformed',\n  valid_services: transformedServices.length,\n  total_input: decodedServices.length,\n  level: 'info'\n}));\n\nreturn transformedServices;"
      },
      "id": "fc64b8ef-1118-4102-b00b-f81ca6b67bdc",
      "name": "Transform Service Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        272
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Enriquecimento com dados do label de serviço\nSELECT \n  $1 as chave_nf,\n  lbl.descricao as label_descricao,\n  lbl.aliquota_iss as label_aliquota_iss\nFROM auxiliary.nf_service_labels lbl\nWHERE lbl.codigo_servico = $2\n  AND lbl.ativo = true\nLIMIT 1;",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "independently"
        }
      },
      "id": "d0cdc4b6-62e5-4d0a-968a-50b3dd192c70",
      "name": "Enrich with Service Labels",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -720,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Combina dados do serviço com enriquecimento de labels\nconst enrichmentResults = $input.all();\nconst originalServices = $('Transform Service Info').all();\n\n// Cria mapa de enriquecimento\nconst enrichmentMap = {};\nenrichmentResults.forEach(result => {\n  if (result.json && result.json.chave_nf) {\n    enrichmentMap[result.json.chave_nf] = {\n      label_descricao: result.json.label_descricao,\n      label_aliquota_iss: result.json.label_aliquota_iss\n    };\n  }\n});\n\n// Aplica enriquecimento\nconst enrichedServices = originalServices.map(serviceItem => {\n  const service = serviceItem.json;\n  const enrichment = enrichmentMap[service.chave_nf] || {};\n  \n  return {\n    ...service,\n    label_descricao: enrichment.label_descricao || null,\n    label_aliquota_iss: enrichment.label_aliquota_iss || null\n  };\n});\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'nf_service_info',\n  event: 'services_enriched',\n  enriched_count: enrichedServices.filter(s => s.label_descricao).length,\n  total_services: enrichedServices.length,\n  level: 'info'\n}));\n\nreturn enrichedServices;"
      },
      "id": "4f25a511-c99f-4325-a973-d58cc3081f25",
      "name": "Combine Service Enrichment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO auxiliary.\"NF_Service\" (\n  \"id_servico\", \"obs_interno_pedido\", \"obs_pedido\", \"numero_processo\",\n  \"condicao_pagamento\", \"condicao_pagamento_id\", \"valor_iss\", \"aliq_iss\",\n  \"valor_ir\", \"aliq_ir\", \"valor_contribuicao\", \"aliq_contribuicao\",\n  \"valor_pis\", \"aliq_pis\", \"valor_cofins\", \"aliq_cofins\", \"valor_material\",\n  \"valor_tributos_mun\", \"valor_aliq_tributos_mun\", \"valor_tributos\",\n  \"valor_aliq_tributos\", \"valor_imposto\", \"valor_aliquota\", \"valor_base_calculo\",\n  \"valor_condicionado\", \"valor_incondicionado\", \"valor_deducoes\",\n  \"itemLista_servico\", \"valor_total_nota\", \"valor_total_servicos\",\n  \"desc_servicos\", \"serie_nota\", \"id_pedido\", \"vendedor_pedido_id\",\n  \"vendedor_pedido\", \"ultrapassar_limite_credito\", \"contas_pedido\",\n  \"id_cliente\", \"nome_cliente\", \"cc_ref\", \"created_at\", \"updated_at\"\n) VALUES (\n  $1, $2, $3, $4, $5, $6, $7::numeric, $8::numeric,\n  $9::numeric, $10::numeric, $11::numeric, $12::numeric,\n  $13::numeric, $14::numeric, $15::numeric, $16::numeric, $17::numeric,\n  $18::numeric, $19::numeric, $20::numeric,\n  $21::numeric, $22::numeric, $23::numeric, $24::numeric,\n  $25::numeric, $26::numeric, $27::numeric,\n  $28, $29::numeric, $30::numeric,\n  $31, $32, $33, $34, $35, $36, $37, $38, $39, $40,\n  (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp,\n  (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp\n)\nON CONFLICT (\"id_servico\")\nDO UPDATE SET \n  \"obs_interno_pedido\" = EXCLUDED.\"obs_interno_pedido\",\n  \"obs_pedido\" = EXCLUDED.\"obs_pedido\",\n  \"valor_total_nota\" = EXCLUDED.\"valor_total_nota\",\n  \"valor_total_servicos\" = EXCLUDED.\"valor_total_servicos\",\n  \"nome_cliente\" = EXCLUDED.\"nome_cliente\",\n  \"cc_ref\" = EXCLUDED.\"cc_ref\",\n  \"updated_at\" = (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp\nWHERE \n  \"NF_Service\".\"obs_interno_pedido\" IS DISTINCT FROM EXCLUDED.\"obs_interno_pedido\"\n  OR \"NF_Service\".\"valor_total_nota\" IS DISTINCT FROM EXCLUDED.\"valor_total_nota\"\n  OR \"NF_Service\".\"valor_total_servicos\" IS DISTINCT FROM EXCLUDED.\"valor_total_servicos\"\n  OR \"NF_Service\".\"nome_cliente\" IS DISTINCT FROM EXCLUDED.\"nome_cliente\"\n  OR \"NF_Service\".\"cc_ref\" IS DISTINCT FROM EXCLUDED.\"cc_ref\"\nRETURNING \"id_servico\", \"nome_cliente\", \"valor_total_nota\", \"cc_ref\";",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "independently"
        }
      },
      "id": "e32df8d2-3c79-4cdf-8f4c-99e0e62dacdf",
      "name": "Upsert Service Info",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -240,
        80
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Conta registros afetados e constrói resposta\nconst affectedRecords = $input.all()\n  .filter(item => item.json && item.json.chave_nf)\n  .length;\n\nconst enrichedCount = $input.all()\n  .filter(item => item.json && item.json.label_descricao)\n  .length;\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'nf_service_info',\n  event: 'service_info_upserted',\n  services_info_updated: affectedRecords,\n  enriched_with_labels: enrichedCount,\n  level: 'info'\n}));\n\n// statusCode 201 — preserva compatibilidade com Flask original\nreturn {\n  statusCode: 201,\n  body: {\n    message: 'Service info updated successfully',\n    services_info_updated: affectedRecords,\n    enriched_with_labels: enrichedCount\n  }\n};"
      },
      "id": "44f76390-ed9d-407d-8724-b927670524b9",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Erro de validação\nconst input = $input.first().json;\nreturn {\n  statusCode: input.statusCode || 400,\n  body: input.body || { ok: false, error: 'Validation failed' }\n};"
      },
      "id": "b36d20ac-5a6e-4d74-97dc-257c0e5bc67a",
      "name": "Build Validation Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "// Erro de banco\nconst errData = $input.first().json;\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'nf_service_info',\n  event: 'db_error',\n  message: errData.message || 'Unknown DB error',\n  level: 'error'\n}));\n\nreturn {\n  statusCode: 500,\n  body: { ok: false, error: 'Database error', message: 'Could not update service info' }\n};"
      },
      "id": "910b3551-3d0d-495d-a10a-c647615ad678",
      "name": "Build DB Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Return the response data as-is\nconst response = $input.first().json;\nreturn response;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        272
      ],
      "id": "fd3a35db-4c28-42ab-b21f-322fe8db1ec4",
      "name": "Return Response"
    }
  ],
  "pinData": {},
  "connections": {
    "When called by another workflow": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Transform Service Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Validation Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Service Info": {
      "main": [
        [
          {
            "node": "Enrich with Service Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich with Service Labels": {
      "main": [
        [
          {
            "node": "Combine Service Enrichment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build DB Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Service Enrichment": {
      "main": [
        [
          {
            "node": "Upsert Service Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Service Info": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build DB Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Validation Error Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build DB Error Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7cffcce4-f5c1-4bc9-92c3-47320ddd9611",
  "meta": {
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "EP5jvsjGYWMEROje",
  "tags": []
}