EXTENSION_SERVER/n8n_diagrams/VHSYS-cc_status.json
{
  "name": "VHSYS-cc_status",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-cc-status-001",
      "name": "When called by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [-400, 200]
    },
    {
      "parameters": {
        "query": "SELECT cc_id, entries_runned, outputs_runned, updated_at FROM \"update_cc_report_status\" ORDER BY updated_at DESC LIMIT 1;"
      },
      "id": "get-cc-status-001",
      "name": "Get CC Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [-160, 200]
    },
    {
      "parameters": {
        "jsCode": "// Retornar status do CC Report\nconst result = $input.first().json;\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'cc_report_manage/status',\n  event: 'status_retrieved',\n  level: 'info'\n}));\n\n// Se não há dados, retornar status inicial\nconst status = result.length > 0 ? result[0] : {\n  cc_id: 'initial',\n  entries_runned: 0,\n  outputs_runned: 0,\n  updated_at: new Date().toISOString()\n};\n\nreturn {\n  statusCode: 200,\n  body: status\n};"
      },
      "id": "format-cc-status-001",
      "name": "Format CC Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [80, 200]
    }
  ],
  "connections": {
    "When called by another workflow": {
      "main": [
        [
          {
            "node": "Get CC Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get CC Status": {
      "main": [
        [
          {
            "node": "Format CC Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-03-22T22:59:00.000Z"
}