EXTENSION_SERVER/n8n_diagrams/VHSYS-clean_up.json
{
  "name": "VHSYS-clean_up",
  "nodes": [
    {
      "parameters": {},
      "id": "be99b5e3-60d2-4f6a-8ea6-10a76e33ddd4",
      "name": "When called by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ─────────────────────────────────────────────\n-- VHSYS :: clean_up\n-- Rota   : PUT /clean_up\n-- Fase 2 : Núcleo de status e controle\n-- ─────────────────────────────────────────────\n-- Reseta TODOS os serviços para RUN_STATUS = 0 (parado/idle).\n-- Usado como botão de emergência quando algum serviço\n-- trava em RUN_STATUS = 1 (rodando) ou -1 (erro).\n-- RUN_STATUS: -1=erro, 0=parado, 1=rodando, 2=finalizado\n-- ─────────────────────────────────────────────\nUPDATE update_extension_services\nSET\n  \"RUN_STATUS\"  = 0,\n  \"LAST_UPDATE\" = (CURRENT_TIMESTAMP AT TIME ZONE 'America/Sao_Paulo')::timestamp\nRETURNING \"ACTION\", \"RUN_STATUS\", \"LAST_UPDATE\";",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "single"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -240,
        112
      ],
      "id": "3a591436-cdb6-4fed-8a37-db86bbb69d60",
      "name": "RESET ALL RUN_STATUS to 0",
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// ── Sucesso: todos os serviços resetados para RUN_STATUS = 0 ──\nconst allRows = $input.all();\nconst resetted = allRows.map(item => item.json);\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'clean_up',\n  event: 'all_services_reset',\n  total_resetted: resetted.length,\n  services: resetted.map(r => r.ACTION),\n  level: 'info'\n}));\n\nreturn {\n  statusCode: 201,\n  body: { message: 'Update extension service status' }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "1e67a628-8289-4987-b290-d652adc509e2",
      "name": "Build Success Response"
    },
    {
      "parameters": {
        "jsCode": "// ── Erro do Postgres durante o reset ──\nconst errData = $input.first().json;\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'clean_up',\n  event: 'db_error',\n  message: errData.message || 'Unknown DB error',\n  level: 'error'\n}));\n\nreturn {\n  statusCode: 500,\n  body: { ok: false, error: 'Database error', message: 'Could not reset extension services status' }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        224
      ],
      "id": "30a876db-a5c3-49ff-b9f1-36ec555b4fff",
      "name": "Build DB Error Response"
    }
  ],
  "pinData": {},
  "connections": {
    "When called by another workflow": {
      "main": [
        [
          {
            "node": "RESET ALL RUN_STATUS to 0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RESET ALL RUN_STATUS to 0": {
      "main": [
        [
          {
            "node": "Build Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build DB Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ab0db850-f2fb-4a24-a17f-9344ae76047c",
  "meta": {
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "VQsdVpBigGsHo5Eo",
  "tags": []
}