EXTENSION_SERVER/n8n_diagrams/VHSYS-cc_report.json
{
  "name": "VHSYS-cc_report",
  "nodes": [
    {
      "parameters": {},
      "id": "2fe4c68b-a9aa-4083-8a6d-74e2696a914d",
      "name": "When called by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -2576,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// VHSYS :: cc_report\n// Rota   : POST /cc_report\n// Fase 3 : Fluxo CC_REPORT completo\n// ─────────────────────────────────────────────\n// Input  : { data: {...}, type: 'entrada'|'saida', cc_id: string }\n// Output : { message: 'GET A NEW CC_REPORT BY CC id' } HTTP 201\n// Banco  : INSERT/DELETE relatorio_cc + UPDATE update_cc_report_status\n// Chave  : ID = SHA-256(INDEX-CC_ID-NOME_DESPESA-VENCIMENTO-...)\n// ─────────────────────────────────────────────\n\nconst body = $input.first().json.body || $input.first().json;\n\nif (!body.data || !body.type || !body.cc_id) {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { ok: false, error: 'Missing required fields: data, type, cc_id' }\n  };\n}\n\nif (body.type !== 'entrada' && body.type !== 'saida') {\n  return {\n    _valid: false,\n    statusCode: 400,\n    body: { ok: false, error: 'Invalid type: must be \"entrada\" or \"saida\"' }\n  };\n}\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'cc_report',\n  event: 'cc_report_received',\n  cc_id: body.cc_id,\n  type: body.type,\n  level: 'info'\n}));\n\nreturn { _valid: true, ...body };"
      },
      "id": "daf42e6c-0f50-4cd4-8974-e679cc69e566",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2352,
        528
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2128,
        528
      ],
      "id": "8e9112a3-e7fe-4c91-a090-b997e8833821",
      "name": "Is Valid?"
    },
    {
      "parameters": {
        "jsCode": "// ── Decode HTML entities + Transform ──\n// Combina decode + transform em 1 nó para evitar problema\n// de passar contexto entre nós separados.\n\nconst payload = $input.first().json;\n\n// Decode HTML entities recursivamente\nfunction decodeHtml(obj) {\n  if (typeof obj === 'string') {\n    return obj\n      .replace(/&amp;/g,  '&')\n      .replace(/&lt;/g,   '<')\n      .replace(/&gt;/g,   '>')\n      .replace(/&quot;/g, '\"')\n      .replace(/&#39;/g,  \"'\")\n      .replace(/&nbsp;/g, ' ');\n  }\n  if (Array.isArray(obj)) return obj.map(decodeHtml);\n  if (typeof obj === 'object' && obj !== null) {\n    const out = {};\n    for (const k in obj) out[k] = decodeHtml(obj[k]);\n    return out;\n  }\n  return obj;\n}\n\nconst decoded   = decodeHtml(payload);\nconst ccData    = decoded.data;\nconst type      = decoded.type;\nconst ccId      = decoded.cc_id;\n\n// Verificar se a página tem dados válidos\nif (!ccData || !ccData.source || !ccData.source.subItens) {\n  console.log(JSON.stringify({\n    timestamp: new Date().toISOString(),\n    route: 'cc_report',\n    event: 'cc_report_page_invalid',\n    cc_id: ccId,\n    level: 'warn'\n  }));\n  return { cc_id: ccId, type, records: [], valid: false };\n}\n\nconst source  = ccData.source;\nconst ccLabel = source.itens && source.itens[0] ? source.itens[0].CentroCustos : '';\nconst subItens = (source.subItens && source.subItens.ID1) ? [...source.subItens.ID1] : [];\n\n// Agrupar registros iguais e flattar com índice\n// (replica lógica de group_equal_dicts do Flask)\nconst grouped = [];\nlet index = 0;\nconst remaining = [...subItens];\nwhile (remaining.length > 0) {\n  const current = remaining.shift();\n  const group = [{ _index: index, ...current }];\n  for (let i = remaining.length - 1; i >= 0; i--) {\n    if (JSON.stringify(current) === JSON.stringify(remaining[i])) {\n      group.push({ _index: index, ...remaining[i] });\n      remaining.splice(i, 1);\n    }\n  }\n  group.forEach(item => grouped.push(item));\n  index++;\n}\n\n// Gerar tokens SHA-256\n// SEED exata: \"{INDEX}-{CC_ID}-{NOME_DESPESA}-{VENCIMENTO}-{FORNECEDOR}-{VALOR}-{SITUACAO}-{TYPE}-{CATEGORIA}\"\nconst crypto = require('crypto');\n\nconst records = grouped.map(item => {\n  const IDX        = item._index;\n  const VENCIMENTO = item.Vencimento  || '';\n  const FORNECEDOR = item.Fornecedor  || '';\n  const NOME       = item.NomeDespesa || '';\n  const SITUACAO   = item.Situacao    || '';\n  const VALOR      = item.Valor       || '';\n  const CATEGORIA  = item.Categoria   || '';\n\n  const SEED  = `${IDX}-${ccId}-${NOME}-${VENCIMENTO}-${FORNECEDOR}-${VALOR}-${SITUACAO}-${type}-${CATEGORIA}`;\n  const TOKEN = crypto.createHash('sha256').update(SEED).digest('hex');\n\n  return {\n    ID:          TOKEN,\n    ID_SEED:     SEED,\n    CC_LABEL:    ccLabel,\n    CC_ID:       ccId,\n    VENCIMENTO,\n    FORNECEDOR,\n    NOME_DESPESA: NOME,\n    SITUACAO,\n    CATEGORIA,\n    VALOR,\n    TYPE:        type\n  };\n});\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'cc_report',\n  event: 'cc_report_transformed',\n  cc_id: ccId,\n  type,\n  records_count: records.length,\n  level: 'info'\n}));\n\nreturn { cc_id: ccId, type, cc_label: ccLabel, records, valid: true };"
      },
      "id": "038df881-c7e6-4635-acc0-57cb5682a6ff",
      "name": "Decode + Transform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1904,
        448
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \"ID\"\nFROM auxiliary.relatorio_cc\nWHERE \"ID_CC\" = {{ $json.cc_id }}\n  AND \"TYPE\"  = {{ $json.type }};",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "single"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -1680,
        448
      ],
      "id": "32dd2d2b-5b91-4591-982f-c1c0bc9829df",
      "name": "Get Existing IDs",
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// ── Calcular diff: o que inserir e o que deletar ──\n// Bug E corrigido: não usar $input.last().\n// O nó Postgres devolve os registros do banco como items.\n// Os dados do Transform chegam via o mesmo fluxo linear:\n// cada item do Postgres tem o campo json com os IDs do banco.\n// Para recuperar o contexto do Transform usamos $('Decode + Transform').first()\n\nconst transformCtx = $('Decode + Transform').first().json;\nconst cc_id    = transformCtx.cc_id;\nconst type     = transformCtx.type;\nconst cc_label = transformCtx.cc_label;\nconst records  = transformCtx.records;\nconst valid    = transformCtx.valid;\n\n// Se página inválida, pular insert/delete e só atualizar status\nif (!valid || records.length === 0) {\n  console.log(JSON.stringify({\n    timestamp: new Date().toISOString(),\n    route: 'cc_report',\n    event: 'cc_report_empty_page',\n    cc_id,\n    type,\n    level: 'warn'\n  }));\n  return { cc_id, type, to_insert: [], to_delete: [] };\n}\n\n// IDs da API\nconst apiIds = new Set(records.map(r => r.ID));\n\n// IDs do banco (podem vir como array de items ou vazio)\nconst dbItems  = $input.all();\nconst dbIds    = new Set(\n  dbItems\n    .map(i => i.json.ID)\n    .filter(id => id !== undefined && id !== null)\n);\n\nconst toInsert = records.filter(r => !dbIds.has(r.ID));\nconst toDelete = [...dbIds].filter(id => !apiIds.has(id));\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'cc_report',\n  event: 'cc_report_diff',\n  cc_id,\n  type,\n  to_insert: toInsert.length,\n  to_delete: toDelete.length,\n  level: 'info'\n}));\n\nreturn { cc_id, type, cc_label, to_insert: toInsert, to_delete: toDelete };"
      },
      "id": "ac4b3606-e29b-4513-98e1-32045119796b",
      "name": "Calculate Diff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        384
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.to_insert.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6a81f3a2-86b3-4ba9-9536-c6747d1e87be",
      "name": "Has Inserts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1232,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Expande cada record para um item separado, mantendo contexto cc_id/type\nconst ctx = $input.first().json;\nreturn ctx.to_insert.map(record => ({\n  cc_id:    ctx.cc_id,\n  type:     ctx.type,\n  cc_label: ctx.cc_label,\n  record\n}));"
      },
      "id": "ab51219e-1ad9-4bc0-87d6-a228e2d8b369",
      "name": "Split for Insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO auxiliary.relatorio_cc (\n  \"ID\", \"ID_SEED\", \"ID_CC\", \"CC\", \"CC_LABEL\",\n  \"VENCIMENTO\", \"FORNECEDOR\", \"NOME_DESPESA\",\n  \"SITUACAO\", \"DATA_PAGAMENTO\", \"CATEGORIA\",\n  \"VALOR\", \"TYPE\", created_at, updated_at\n) VALUES (\n  {{ $json.record.ID }}, {{ $json.record.ID_SEED }}, {{ $json.cc_id }},\n  'NO-SET',\n  {{ $json.cc_label }},\n  to_timestamp({{ $json.record.VENCIMENTO }}::bigint),\n  {{ $json.record.FORNECEDOR }}, {{ $json.record.NOME_DESPESA }}, {{ $json.record.SITUACAO }}, {{ $json.record.DATA_PAGAMENTO }}, {{ $json.record.CATEGORIA }},\n  {{ $json.record.VALOR }}::numeric,\n  {{ $json.type }},\n  NOW() AT TIME ZONE 'America/Sao_Paulo',\n  NOW() AT TIME ZONE 'America/Sao_Paulo'\n)\nON CONFLICT (\"ID\") DO NOTHING;",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "independently"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -784,
        208
      ],
      "id": "f6323b83-ef3a-4fff-b273-f25487cdc2d5",
      "name": "Insert Record",
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.to_delete.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9246fcfc-62b2-4b28-9b4b-ef99e105177e",
      "name": "Has Deletes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1232,
        592
      ]
    },
    {
      "parameters": {
        "jsCode": "// Expande cada ID a deletar para um item separado\nconst ctx = $input.first().json;\nreturn ctx.to_delete.map(id => ({\n  cc_id: ctx.cc_id,\n  type:  ctx.type,\n  id_to_delete: id\n}));"
      },
      "id": "d4371016-4b78-44fe-99fc-1bb07977abaf",
      "name": "Split for Delete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        592
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM auxiliary.relatorio_cc\nWHERE \"ID\" = {{ $json.id_to_delete }};",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "independently"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -784,
        592
      ],
      "id": "775c9b27-980c-4640-8a5d-05946defcbc4",
      "name": "Delete Record",
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// ── Preparar dados para Update Status ──\n// Bug G/H corrigido: recuperar cc_id e type do contexto\n// do Calculate Diff independentemente do caminho percorrido.\nconst ctx = $('Calculate Diff').first().json;\nreturn {\n  cc_id: ctx.cc_id,\n  type:  ctx.type\n};"
      },
      "id": "1fcf233e-6ec5-479e-827a-66d8ab712969",
      "name": "Prepare Status Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE auxiliary.update_cc_report_status\nSET\n  entries_runned = CASE WHEN {{ $json.type }} = 'entrada' THEN 1 ELSE entries_runned END,\n  outputs_runned = CASE WHEN {{ $json.type }} = 'saida'   THEN 1 ELSE outputs_runned END,\n  updated_at     = (NOW() AT TIME ZONE 'America/Sao_Paulo')::timestamp\nWHERE cc_id = {{ $json.cc_id }};",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "single"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -1008,
        400
      ],
      "id": "c37e1706-c049-466b-83ba-76f83c79363e",
      "name": "Update CC Status",
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Bug F corrigido: retornar statusCode + body\nconst ctx = $('Calculate Diff').first().json;\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'cc_report',\n  event: 'cc_report_completed',\n  cc_id: ctx.cc_id,\n  type:  ctx.type,\n  inserted: ctx.to_insert ? ctx.to_insert.length : 0,\n  deleted:  ctx.to_delete ? ctx.to_delete.length : 0,\n  level: 'info'\n}));\n\nreturn {\n  statusCode: 201,\n  body: { message: 'GET A NEW CC_REPORT BY CC id' }\n};"
      },
      "id": "32cbf4ce-c560-44e5-8dba-a5f28faf2675",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn {\n  statusCode: input.statusCode || 400,\n  body: input.body || { ok: false, error: 'Validation failed' }\n};"
      },
      "id": "43acc538-888a-4606-bec8-bacfef7e1aa2",
      "name": "Build Invalid Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        704
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When called by another workflow": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Decode + Transform",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Invalid Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode + Transform": {
      "main": [
        [
          {
            "node": "Get Existing IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing IDs": {
      "main": [
        [
          {
            "node": "Calculate Diff",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Invalid Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Diff": {
      "main": [
        [
          {
            "node": "Has Inserts?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has Deletes?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Status Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Inserts?": {
      "main": [
        [
          {
            "node": "Split for Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split for Insert": {
      "main": [
        [
          {
            "node": "Insert Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Deletes?": {
      "main": [
        [
          {
            "node": "Split for Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split for Delete": {
      "main": [
        [
          {
            "node": "Delete Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Status Update": {
      "main": [
        [
          {
            "node": "Update CC Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update CC Status": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Invalid Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Record": {
      "main": [
        [],
        [
          {
            "node": "Build Invalid Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Record": {
      "main": [
        [],
        [
          {
            "node": "Build Invalid Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4213d6cf-9243-4416-a6fa-0bece6c03496",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "DoAXp1U7yQ5UOjgZ",
  "tags": []
}