EXTENSION_SERVER/n8n_diagrams/VHSYS-nf_service_labels_ids.json
{
  "name": "VHSYS-nf_service_labels_ids",
  "nodes": [
    {
      "parameters": {},
      "id": "a17d6a0d-e537-42af-9253-da98d3744535",
      "name": "When called by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  \"codigo\",\n  \"numeronfs\",\n  \"cliente\",\n  \"status\"\nFROM auxiliary.\"NF_ServiceMetadata\"\nWHERE \"status\" = 'ATIVO'\nORDER BY \"codigo\";",
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "single"
        }
      },
      "id": "4574b00a-71fb-4f5f-bd42-817bc92972f0",
      "name": "SELECT Active Service Labels",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -240,
        80
      ],
      "credentials": {
        "postgres": {
          "id": "tnATsHmPQ4uK6XL9",
          "name": "Dev Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// VHSYS :: nf_service_labels_ids\n// Rota   : GET /nf_service_labels_ids\n// Fase 5 : Fluxos NF\n// ─────────────────────────────────────────────\n// Input  : Nenhum (GET)\n// Output : [{ codigo_servico, descricao, aliquota_iss, ativo }] HTTP 200\n// Banco  : SELECT nf_service_labels WHERE ativo = true\n// ─────────────────────────────────────────────\n// CRÍTICO: Retorna ARRAY DIRETO — NÃO encapsulado\n// A extensão Chrome espera: [...] não { data: [...] }\n// ─────────────────────────────────────────────\n\nconst allRecords = $input.all();\nconst labels = allRecords.map(item => item.json);\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'nf_service_labels_ids',\n  event: 'labels_read',\n  total_labels: labels.length,\n  level: 'info'\n}));\n\n// statusCode 200 para GET (não 201)\nreturn {\n  statusCode: 200,\n  body: labels\n};"
      },
      "id": "d5560266-cb09-4813-a80a-084fbf8600cf",
      "name": "Format as Direct Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Erro de leitura do banco\nconst errData = $input.first().json;\n\nconsole.log(JSON.stringify({\n  timestamp: new Date().toISOString(),\n  route: 'nf_service_labels_ids',\n  event: 'db_read_error',\n  message: errData.message || 'Unknown DB error',\n  level: 'error'\n}));\n\nreturn {\n  statusCode: 500,\n  body: { ok: false, error: 'Database read error', message: 'Could not read service labels' }\n};"
      },
      "id": "0d32afb7-20d5-4b07-aefb-2988594553e1",
      "name": "Build DB Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Return the response data as-is\nconst response = $input.first().json;\nreturn response;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        80
      ],
      "id": "e4a70b75-14c0-4a7f-bd98-45db0a36517c",
      "name": "Return Response"
    }
  ],
  "pinData": {},
  "connections": {
    "When called by another workflow": {
      "main": [
        [
          {
            "node": "SELECT Active Service Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECT Active Service Labels": {
      "main": [
        [
          {
            "node": "Format as Direct Array",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build DB Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format as Direct Array": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build DB Error Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bcee129d-dd4c-49cb-848b-35e576506061",
  "meta": {
    "instanceId": "175ab660dd3bf17d65cf916e76a2ea001cc6c2fa4fe3df8877aac583db87767c"
  },
  "id": "vEyfgH4ys8g1pu2E",
  "tags": []
}